<template>
    <div class="app-container">
        <div class="filter-container" style="text-align: right">
            <el-button class="filter-item" style="margin-left: 10px;" type="primary"
                       @click="handleCreate">
                <v-icon name="plus"/>
                Добавить должность
            </el-button>
        </div>
        <div class="filter-container">
            <el-input :placeholder="$t('filter.name')" v-model="listQuery.name" style="width: 200px;"
                      class="filter-item"/>
            <el-select v-model="listQuery.type" :placeholder="$t('filter.positionType')" clearable
                       class="filter-item" value="">
                <el-option v-for="(type,index) in types" :key="type.id" :label="type.name" :value="type.id"/>
            </el-select>
            <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter"
                       @keypress.enter="handleFilter">
                {{$t('form.apply')}}
            </el-button>
        </div>
        <el-table
                v-loading="loading"
                :data="positions"
                style="width: 100%"
                border
                stripe>
            <el-table-column prop="id" label="ID" width="70px"></el-table-column>

            <el-table-column prop="name" label="Наименование"></el-table-column>
            <el-table-column label="Количество сотрудников" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.countEmployees}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('table.type')" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.type|positionType}}</span>
                </template>
            </el-table-column>

            <el-table-column label="Действия">
                <template slot-scope="scope">
                    <div>
                        <el-button type="primary" icon="el-icon-edit" circle
                                   @click="handleUpdate(scope.row)"></el-button>
                        <el-button type="danger" icon="el-icon-delete" @click="handleDelete(scope.row)"
                                   circle v-if="scope.row.isRemove"></el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {positionTypes, buttons} from '@/constants'
    import {fetchList, deletePosition} from "@/api/contingent/position";
    import createPosition from "./createPositionModal";
    import editPositionModal from './editPositionModal';

    export default {
        name: "PositionsList",
        components: {createPosition},
        data() {
            return {
                positions: null,
                loading: true,
                total: 0,
                types: positionTypes,
                labelPosition: 'top',
                listQuery: {
                    page: 1,
                    limit: 10,
                    name: '',
                    type: '',
                },
            }
        },
        mounted() {
            this.getList()
        },
        methods: {
            getList() {
                this.loading = true;
                fetchList(this.listQuery).then((response) => {
                    this.total = response.data.total;
                    this.positions = response.data.positions;
                    this.loading = false;
                });
            },
            handleFilter() {
                this.listQuery.page = 1
                this.getList()
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },
            handleCreate() {
                this.$modal.show(createPosition, {},
                    {
                        name: 'createPositionModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    },
                    {
                        'before-close': (event) => {
                            console.log(event);
                            if (event.params.success) {
                                this.getList()
                            }
                        }
                    }
                );
            },
            handleUpdate(position) {
                this.$modal.show(editPositionModal,
                    {position},
                    {
                        name: 'editPositionModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    },
                    {
                        'before-close': (event) => {
                            console.log(event);
                            if (event.params.success) {
                                this.getList()
                            }
                        }
                    }
                );
            },
            deletePosition(id) {

            },
            handleDelete(position) {

                this.$swal({
                    title: 'Подтвердите удаление',
                    type: 'question',
                    html: `<b>Вы действительно хотите удалить должность «${position.name}»?</b>`,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: buttons.delete,
                    cancelButtonText: buttons.cancel,
                }).then(result => {
                    if (result.value) {
                        this.loading = true;
                        deletePosition(position.id).then(response => {
                            console.dir(response);
                            if (response.data.success) {
                                this.getList();
                            } else {
                                this.loading = false;
                                this.$swal({
                                    title: 'Удаление невозможно',
                                    type: 'warning',
                                    html: `<b>${response.data.message}</b>`,
                                });
                            }
                        })
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>