<template>
    <div>
        <div class="modal-content">
            <v-dialog v-model="model" persistent max-width="900px">
                <v-card>
                    <v-card-title>
                        <el-row :gutter="10" class="w100">
                            <el-col :span="12">
                                <span class="headline">Печать списка справок о стипендии</span>
                            </el-col>

                            <el-col :span="12" style="text-align: right">
                                <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                    <i class="fa fa-close"></i>
                                </el-button>
                            </el-col>
                        </el-row>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10" v-loading="loading">
                            <el-alert v-if="serverErrors.length >0"
                                      title="Что-то пошло не по плану"
                                      type="error"
                                      description="more text description"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in serverErrors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                            <el-form ref="StudyReferenceForm"
                                     :rules="rules" :model="model"
                                     label-position="top">
                                <el-col :span="12">
                                    <el-form-item prop="start_date" label="Начало периода">
                                        <el-date-picker
                                                v-mask="'##.##.####'"
                                                value-format="yyyy-MM-dd"
                                                format="dd.MM.yyyy"
                                                type="date"
                                                :placeholder="$t('label.changeDate')"
                                                v-model="model.start_date"
                                                class="w100"
                                                :picker-options="startPickerOptions"
                                                :disabled="loading">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item prop="end_date" label="Конец периода">
                                        <el-date-picker
                                                v-mask="'##.##.####'"
                                                value-format="yyyy-MM-dd"
                                                format="dd.MM.yyyy"
                                                type="date"
                                                :placeholder="$t('label.changeDate')"
                                                v-model="model.end_date"
                                                class="w100"
                                                :picker-options="endPickerOptions" :disabled="loading">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                            </el-form>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handlePrint">
                            <i class="fa fa-print"></i> {{$t('form.print')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    import {DateTime} from 'luxon';
    import {printMoneyReference} from "../../api/reference";

    export default {
        name: "PrintMoneyReferenceModal",
        data() {
            return {
                serverErrors: [],
                hasError: false,
                loading: false,
                model: {
                    start_date: null,
                    end_date: null
                },
                rules: {
                    start_date: [
                        {required: true, message: 'Не заполнена дата начала периода', trigger: 'blur'}
                    ],
                    end_date: [
                        {required: true, message: 'Не заполнена дата окончания периода', trigger: 'blur'}
                    ]
                },
                startPickerOptions: this.$pickerConfig({
                    disabledDate: time => {
                        return time.getTime() >= DateTime.fromISO(this.model.end_date)
                    }
                }),
                endPickerOptions: this.$pickerConfig({
                    disabledDate: time => {
                        return time.getTime() <= DateTime.fromISO(this.model.start_date)
                    }
                })
            }
        },
        mounted() {
            let now = DateTime.local().toISODate();
            let startDate = DateTime.local().minus({days: 7}).toISODate();
            this.model.start_date = startDate;
            this.model.end_date = now;
        },
        methods: {
            handleClose() {
                this.$modal.hide('PrintMoneyReferenceModal')
            },
            handlePrint() {
                this.loading = true;
                printMoneyReference(this.model).then(response => {
                    this.handleClose();
                    let pdfTab = window.open('', '_blank');
                    let win = pdfTab.document.createElement('embed');
                    win.width = "100%";
                    win.height = "100%";
                    win.src = `data:application/pdf;base64,${response.data}`;
                    win.type = `application/pdf`;
                    win.name = `plugin`;
                    pdfTab.document.body.style = "height: 100%; width: 100%; overflow: hidden; margin: 0px; background-color: rgb(82, 86, 89);";
                    pdfTab.document.body.appendChild(win);
                    this.$bus.emit('refresh-references-list');
                }, error => {
                    let response = error.response.data;
                    this.serverErrors = [];
                    if (response.message) {
                        this.serverErrors.push(response.message);
                    }
                    if (response.errors) {
                        this.serverErrors = response.errors;
                    }
                    this.hasError = true;
                    this.loading = false;
                })
            }
        }
    }
</script>

<style scoped>

</style>