<template>
    <div class="app-container">
        <div class="filter-container">
            <el-row>
                <el-col :span="12" class="text-left">
                    <el-button type="danger" @click="handlePrintMoneyReferences">
                        <i class="fa fa-print"></i> Список справок о стипендии
                    </el-button>
                </el-col>
                <el-col :span="12" class="text-right">

                </el-col>
            </el-row>
        </div>
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="20">
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-select clearable filterable v-model="listQuery.filter.type"
                                       placeholder="Тип справки"
                                       class="w100" v-loading="loading">
                                <el-option
                                        v-for="(type,key) in referencesType"
                                        :label="type.name"
                                        :key="type.key"
                                        :value="type.key"></el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary" @click="handleFilter">
                        Применить
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <div>
            <el-table
                    v-loading="loading"
                    element-loading-text="Загружаю справки, это может длиться долго, можете пока налить чаю..."
                    element-loading-spinner="el-icon-loading"
                    :data="references"
                    style="width: 100%"
                    :row-class-name="tableRowClassName"
                    border>
                <el-table-column prop="id" label="ID" width="80px" fixed></el-table-column>
                <el-table-column label="Студент">
                    <template slot-scope="scope">
                        <span>{{scope.row.student.lastname}} {{scope.row.student.firstname}} {{scope.row.student.middlename}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Тип" width="150">
                    <template slot-scope="scope">
                        <span>{{scope.row.type|referenseType}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Даты">
                    <template slot-scope="scope">
                        <ul>
                            <li v-if="scope.row.date_of_application">Дата заказа {{scope.row.date_of_application}}</li>
                            <li v-if="scope.row.date_of_issue">Дата выдачи {{scope.row.date_of_issue}}</li>
                        </ul>
                    </template>
                </el-table-column>
                <el-table-column label="Параметры">
                    <template slot-scope="scope">
                        <ul>
                            <li v-for="(paramValue,key) in scope.row.params">
                                {{key|referenseParam}}: <span
                                    v-if="key==='period'">{{paramValue|referensePeriod}}</span> <span v-else>{{paramValue}}</span>
                            </li>
                        </ul>
                    </template>
                </el-table-column>
                <el-table-column label="Статус" width="100">
                    <template slot-scope="scope">
                        <span>{{scope.row.status|referenseStatus}}</span>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('table.actions')" fixed="right" width="150">
                    <template slot-scope="scope">
                        <div>
                            <el-button type="primary" round @click="handlePrint(scope.row)"
                                       v-if="scope.row.type!=='military'">
                                <i class="fa fa-print"></i>
                            </el-button>
                            <el-button type="danger" @click="handlePrintMilitaryReference(scope.row)" round
                                       v-if="scope.row.type==='military'">
                                <i class="fa fa-print"></i>
                            </el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[15,25,50,75,100,200]"
                               :page-size="listQuery.limit" :total="total" background
                               layout="total, sizes, prev, pager, next, jumper"
                               @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
            </div>
        </div>
    </div>
</template>

<script>
    import {list} from "../../api/reference";
    import PrintReferenceModal from './PrintReferenceModal'
    import PrintMoneyReferenceModal from './PrintMoneyReferenceModal'
    import PrintMilitaryReference from './PrintMilitaryReference'
    import {referencesType} from "../../constants";

    export default {
        name: "references-list",
        data() {
            return {
                referencesType,
                references: [],
                loading: true,
                total: 0,
                listQuery: {
                    page: 1,
                    limit: 15,
                    filter: {
                        all: false,
                        type: null,
                    }
                },
            }
        },
        mounted() {
            this.$bus.on('refresh-references-list', data => {
                this.getList();
            });
            this.getList();
        },
        methods: {
            tableRowClassName({row, rowIndex}) {
                return row.type;
            },
            getList() {
                this.loading = true;
                list(this.listQuery).then(response => {
                    this.references = response.data.references;
                    this.total = response.data.total;
                    this.loading = false;
                }, error => {
                    this.loading = false;
                });
            },
            handleFilter() {
                this.getList();
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },
            handlePrint(reference) {
                this.$store.dispatch('SET_STUDENT', reference.student)
                this.$modal.show(PrintReferenceModal, {
                        referense: reference
                    },
                    {
                        name: 'PrintReferenceModal',
                        width: 0,
                        height: 0,
                        'z-index': 2000
                    })
            },
            handlePrintMoneyReferences() {
                this.$modal.show(PrintMoneyReferenceModal, {},
                    {
                        name: 'PrintMoneyReferenceModal',
                        width: 0,
                        height: 0,
                        'z-index': 150
                    })
            },
            handlePrintMilitaryReference(data) {
                this.$store.dispatch('SET_STUDENT', data.student);
                this.$store.dispatch('SET_MILITARY_REFERENCE', data);
                let student = {
                    id: data.student.id,
                    decrees: data.student.decrees,
                    start_date: data.params.start_date,
                    end_date: data.params.end_date,
                    ref_id: data.id
                };

                this.$modal.show(PrintMilitaryReference,
                    {'student': student},
                    {
                        name: 'PrintMilitaryReferenceModal',
                        width: 0,
                        height: 0,
                        'display': 'block',
                        'z-index': 950
                    })
            }
        }
    }
</script>

<style>
    .el-table .money {
        background-color: #f0f9eb;
        border-color: #e1f3d8;
    }

    .el-table .training {
        background-color: #ecf8ff;
        border-color: #50bfff;
    }
</style>