<template>
    <div class="committee-report-form">
        <el-form>
            <el-row :gutter="10">
                <el-col :span="24" class="text-right">
                    <el-button type="danger" v-if="hasEntrants" @click="handlePrint">
                        <i class="fa fa-file-pdf-o"></i> Печать
                    </el-button>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="Программа">
                        <el-select v-model="model.profession_program_id" class="w100" clearable filterable>
                            <el-option v-for="(program,index) in programs" :key="index" :value="program.id"
                                       :label="`${program.program.name} (${program.program.duration})`"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item>
                        <el-checkbox v-model="model.onlyPriority" :disabled="!model.profession_program_id">Только
                            приоритетных
                        </el-checkbox>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="Статус документа">
                        <el-select v-model="model.document_status" class="w100" clearable>
                            <el-option value="onlyHasOriginal" label="Только c оригиналами"></el-option>
                            <el-option value="onlyHasNoOriginal" label="Только без оригиналов"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="Потребность в общежитии">
                        <el-select v-model="model.need_hostel" class="w100" clearable>
                            <el-option :value="1" label="Только нуждающиеся"></el-option>
                            <el-option :value="0" label="Только не нуждающиеся"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="Льготные категории">
                        <el-select v-model="model.privilegedCategories" class="w100" clearable multiple filterable>
                            <el-option :value="category.id" :label="category.name"
                                       v-for="(category,index) in privilegedCategories" :key="index"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="Пол">
                        <el-select v-model="model.gender" class="w100" clearable>
                            <el-option v-for="(gender,index) in genders" :key="index" :value="gender.id"
                                       :label="gender.name"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="Сортировка по среднему баллу">
                        <el-select v-model="model.sortByAverage" class="w100" clearable>
                            <el-option value="asc" label="По возрастанию"></el-option>
                            <el-option value="desc" label="По убыванию"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <h4>Показывать столбцы</h4>
                    <br>
                    <ul>
                        <li v-for="(column,index) in columns" :key="index">
                            <el-checkbox v-model="columns[index]">{{index|tableColumn}}</el-checkbox>
                        </li>
                    </ul>
                </el-col>
                <el-col :span="24" class="text-center mt-10">
                    <el-button type="primary" @click="makeReport">
                        Сформировать отчет
                    </el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
    import {getProgramsActiveCommittee} from "../../../api/selection-committies/recruitment-programs";
    import {enumirate} from "../../../filters";
    import {yesAndNo, privilegedCategories, genders} from "../../../constants";
    import {makeEntrantReport} from "../../../api/selection-committies/committee";

    export default {
        name: "report-form",
        data() {
            return {
                programs: [],
                logicList: [],
                hasEntrants: false,
                privilegedCategories,
                genders,
                columns: {
                    gender: true,
                    birthday: true,
                    program: true,
                    document_give_date: true,
                    has_original: true,
                    contract_target_set: true,
                    phone: true,
                    need_hostel: true,
                    registration_address: true,
                    preferential_categories: true,
                    files:true,
                    totalRow: true
                },
                model: {
                    profession_program_id: '',
                    document_status: '',
                    need_hostel: '',
                    privilegedCategories: [],
                    sortByAverage: '',
                    gender: '',
                    onlyPriority: false
                }
            }
        },
        mounted() {
            this.getPrograms();
        },
        computed: {
            _logic() {
                return enumirate(yesAndNo, 'yesAndNo')
            }
        },
        methods: {
            getPrograms() {
                let loading = this.$lockScreen({text: 'Получаю список программ'});

                getProgramsActiveCommittee()
                    .then(response => response.data)
                    .then(data => {
                        this.programs = data.programs;
                        loading.close();
                    })
            },
            makeReport() {
                let lockScreen = this.$lockScreen({text: 'Формирую отчет'});
                if (!this.model.profession_program_id) {
                    this.model.onlyPriority = false;
                }
                makeEntrantReport(this.model)
                    .then(response => response.data)
                    .then(data => {
                        let selectedProgram = null;
                        if (this.model.profession_program_id) {
                            selectedProgram = this.programs.filter(program => program.id === this.model.profession_program_id)[0];
                        }
                        lockScreen.close();
                        this.hasEntrants = data.entrants.length > 0;
                        this.$bus.emit('update-entrants-report-table', {...{columns: this.columns}, ...{entrants: data.entrants}, ...{selectedProgram}});
                    }, error => {
                        lockScreen.close();
                    });
            },
            handlePrint() {
                let url = this.routeByName('api.export.pdf.entrant-report');
                let params = `params=${JSON.stringify(this.model)}&columns=${JSON.stringify(this.columns)}`;
                window.open(`${url}&${params}`, '_blank');
            }
        }
    }
</script>

<style scoped lang="scss">
    ul {
        list-style: none;
    }
</style>
