<template>
  <div class="dashboard-container">
    <admin-dashboard></admin-dashboard>
    <student-dashboard></student-dashboard>
  </div>
</template>

<script>
import adminDashboard from './admin'
import StudentDashboard from "./student/StudentDashboard";

export default {
  name: 'Dashboard',
  components: {StudentDashboard, adminDashboard}
}
</script>
