<template>
    <div>
        <el-radio-group v-model="showPanel">
            <el-radio-button label="table"><i class="fa fa-table" aria-hidden="true"></i> Таблица</el-radio-button>
            <el-radio-button label="diagram"><i class="fa fa-bar-chart" aria-hidden="true"></i> График</el-radio-button>
        </el-radio-group>
        <div v-if="showPanel==='table'" style="padding: 10px 0">
            <table class="table is-fullwidth is-bordered">
                <tr>
                    <th>Дата</th>
                    <th>Кол-во</th>
                    <th>Список студентов</th>
                </tr>
                <tr v-for="(item,key) in _statistic" :key="key">
                    <td>{{key|dateFormat}}</td>
                    <td>{{item.count}}</td>
                    <td>
                        <ul>
                            <li v-for="(people,key) in item.peoples">{{people.full_name}}</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div v-if="showPanel==='diagram'">
            <reception-chart-by-day></reception-chart-by-day>
        </div>
    </div>
</template>

<script>
    import ReceptionChartByDay from "./reception-chart-by-day";

    export default {
        name: "statistic-by-days",
        components: {ReceptionChartByDay},
        computed: {
            _statistic() {
                return this.$store.getters.recruitmentProgramGraphicStatistic.day_recruit;
            }
        },
        data() {
            return {
                showPanel: 'diagram'
            }
        }
    }
</script>

<style scoped>

</style>