<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="AddCourseForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить курс</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.name')"
                                              prop="title">
                                    <el-input
                                            :placeholder="$t('label.name')"
                                            v-model="model.title" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <div class="block">
                                    <el-form-item label="Период прохождения"
                                                  prop="dates">
                                        <el-date-picker
                                                class="w100"
                                                value-format="yyyy-MM-dd"
                                                v-model="model.dates"
                                                format="dd.MM.yyyy"
                                                type="daterange"
                                                range-separator=" по "
                                                start-placeholder="Дата начата"
                                                end-placeholder="Дата окончания"
                                                @change="calcHours">
                                        </el-date-picker>
                                    </el-form-item>
                                </div>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Количество часов" prop="hours">
                                    <el-input-number v-model="model.hours" :min="6" :max="120"
                                                     class="w100"></el-input-number>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {DateTime, Interval} from 'luxon';
    import {addCourse} from "@/api/contingent/employee";
    import {Message} from 'element-ui';

    export default {
        name: "add-course",
        props: ['employee_id'],
        data() {
            return {
                loading: false,
                hasError: false,
                serverErrors: [],
                model: {
                    title: null,
                    dates: null,
                    hours: 6
                },
                rules: {
                    title: [
                        {required: true, message: 'Заполините название', trigger: 'blur'}
                    ],
                    dates: [
                        {required: true, message: 'Укажите период прохождения', trigger: 'blur'}
                    ],
                    hours: [
                        {required: true, message: 'Укажите количество часов', trigger: 'blur'}
                    ],
                }
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('AddCourseModal')
            },
            handleCreate() {
                this.$refs['AddCourseForm'].validate(valid => {
                    if (valid) {
                        let data = Object.assign({}, this.model)
                        data.employee_id = this.employee_id;
                        data.start_date = this.model.dates[0];
                        data.end_date = this.model.dates[0] === this.model.dates[1] ? null : this.model.dates[1];

                        addCourse(data).then(response => {
                            data.id = response.data.id;
                            this.$bus.emit('update-course-list', {course: data});
                            this.$store.dispatch('UPDATE_CURRENT_EMPLOYEE_COURSES', data);
                            Message({
                                message: response.data.message,
                                type: 'success',
                                duration: 5 * 1000
                            });
                            this.handleClose();
                        }, error => {
                            let response = error.response.data;
                            this.serverErrors = [];
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            this.serverErrors = response.errors;
                            this.hasError = true;
                            this.loading = false;
                        });
                    }
                })
            },
            calcHours() {
                let start = DateTime.fromISO(this.model.dates[0]);
                let end = DateTime.fromISO(this.model.dates[1]);
                let interval = Interval.fromDateTimes(start, end).length('days');

                let intervalInDays = interval === 0 ? 1 : interval + 1;
                console.log(this.model.dates[0] === this.model.dates[1]);
                this.model.hours = (intervalInDays * 6);
            }
        }
    }
</script>

<style scoped>

</style>
