<template>
    <div class="app-container">
        <div class="program_header">
            <h2>{{program.profession.name}} | {{program.educationForm|educationForm}}</h2>
        </div>
        <el-tabs tab-position="top">
            <el-tab-pane label="Документы">
                <program-documents :program="program"></program-documents>
            </el-tab-pane>
            <el-tab-pane label="Дисциплины">
                <subjects></subjects>
                <!--                <subjects-list :program="program" :program_id="program.id"></subjects-list>-->
            </el-tab-pane>
            <el-tab-pane label="Методички">Методички</el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import {getOne} from '@/api/education/profession-programs';
    import SubjectsList from "./components/subjects-list";
    import ProgramDocuments from "./components/program-documents";
    import Subjects from "./components/subjects";

    export default {
        name: "DetailPage",
        components: {Subjects, ProgramDocuments, SubjectsList},
        props: ['id'],
        data() {
            return {
                program: null
            }
        },
        computed: {
            //...mapActions(['SET_PROFESSION_PROGRAM_ID','SET_ACADEMIC_YEARS'])
        },
        created() {
            this.getProgram();
        },
        methods: {
            getProgram() {
                const loading = this.$lockScreen({text: 'Идет загрузка образовательной программы'});
                getOne(this.$route.params.id)
                    .then(response => {
                        this.program = response.data;
                        let id = parseInt(this.$route.params.id);
                        this.$store.dispatch('SET_PROFESSION_PROGRAM_ID', id);
                        this.$store.dispatch('SET_ACADEMIC_YEARS', response.data.academic_years);
                        loading.close()
                    })
                    .catch(exception => {
                        console.dir(exception);
                        loading.close();
                    });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .program_header {
        margin: 10px 0;

        h2 {
            font-size: 200%;
        }
    }
</style>