<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="UpdateProgramForm" label-position="top">
                <v-card>
                    <v-card-title>
                        <span class="headline">Редактировать ОПОП</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.profession')" prop="profession">
                                    <el-select v-model="model.profession" :placeholder="$t('label.profession')"
                                               class="w100" disabled="">
                                        <el-option
                                                v-for="(profession,key) in professions"
                                                :label="profession.full_name"
                                                :value="profession.id"
                                                :key="profession.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.education_form')" prop="form">
                                    <el-select v-model="model.form" :placeholder="$t('label.education_form')"
                                               class="w100" disabled="">
                                        <el-option
                                                v-for="(form,key) in educationForms"
                                                :label="form.name"
                                                :value="form.id"
                                                :key="form.id"
                                        ></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="licence" :label="$t('label.accreditation')">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.changeDate')"
                                            v-model="model.licence"
                                            class="w100"
                                            :picker-options="pickerOptions">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.duration')" prop="duration">
                                    <el-input-number v-model="model.duration" :min="10" :max="120"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="  ">
                                    <span v-if="model.duration>=12">{{_.floor(model.duration/12)|pluralize(['год','года','лет'])}}</span>
                                    <span v-if="model.duration%12">{{model.duration%12|pluralize(['месяц','месяца','месяцев'])}}</span>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.program_type')" prop="type">
                                    <el-select v-model="model.type" :placeholder="$t('label.program_type')"
                                               class="w100" disabled="">
                                        <el-option
                                                v-for="(type,key) in professionProgramTypes"
                                                :label="type.name"
                                                :value="type.id"
                                                :key="type.id"
                                        ></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.qualification')" prop="qualification">
                                    <el-input :placeholder="$t('label.qualification')"
                                              v-model="model.qualification"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.sort')" prop="sort">
                                    <el-input-number v-model="model.sort" :min="1" :max="999"
                                                     class="w100"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-switch
                                        v-model="model.top_fifty"
                                        active-text="Топ 50"
                                        inactive-text="Не ТОП 50">
                                </el-switch>
                            </el-col>
                            <el-col :span="24">
                                <el-switch
                                        v-model="model.active"
                                        active-text="Активная"
                                        inactive-text="Не активная">
                                </el-switch>
                            </el-col>
                            <el-col :span="24">
                                <el-switch
                                        v-model="model.on_site"
                                        active-text="Показывать на сайте"
                                        inactive-text="Не показывать на сайте">
                                </el-switch>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleUpdate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {updateProgram} from "@/api/education/profession-programs";
    import {Message} from 'element-ui'

    export default {
        name: "UpdateProgramModal",
        props: ['educationForms', 'professionProgramTypes', 'professions', 'program'],
        data() {
            return {
                loading: false,
                menu: false,
                hasError: false,
                serverErrors: null,
                types: [],
                model: {
                    id: this.program.id,
                    profession: this.program.profession.id,
                    form: this.program.educationForm,
                    licence: this.program.licence,
                    duration: this.program.duration,
                    type: this.program.type,
                    qualification: this.program.qualification,
                    sort: this.program.sort,
                    on_site: this.program.on_site,
                    top_fifty: this.program.top_fifty,
                    active: this.program.active
                },
                pickerOptions: this.$pickerConfig(),
                rules: {
                    qualification: [
                        {required: true, message: 'Заполните поле Квалификации', trigger: 'blur'},
                    ],
                    duration: [
                        {
                            required: true,
                            message: 'Заполните срок обучения',
                            trigger: 'blur'
                        }
                    ]
                }
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('UpdateProgramModal');
            },
            handleStopLoading() {
                this.loading = false;
            },
            handleUpdate() {
                this.loading = true;
                this.$refs['UpdateProgramForm'].validate((valid) => {
                        if (valid) {
                            const loading = this.$loading({
                                lock: true,
                                text: 'Обновляю программу, пожалуйста, подождите',
                                spinner: 'el-icon-loading',
                                background: 'rgba(240, 240, 240, 0.8)'
                            });
                            updateProgram(this.model).then(
                                response => {
                                    this.handleStopLoading();
                                    this.hasError = false;
                                    this.$notify({
                                        message: response.data.message,
                                        type: 'success',
                                        title: 'Успешно'
                                    });
                                    this.handleClose();
                                    loading.close();
                                    this.$bus.emit('refresh-program-list');
                                },
                                res => {
                                    let response = res.response.data;
                                    this.serverErrors = [];
                                    if (response.message) {
                                        this.serverErrors.push(response.message);
                                    }
                                    if (response.errors !== undefined) {
                                        this.serverErrors.push(response.errors);
                                    }
                                    this.hasError = true;
                                    this.loading = false;
                                    loading.close();
                                }).catch(res => {
                                console.dir(res);
                                this.loading = false;
                            })
                        } else {
                            this.loading = false;
                            return false;
                        }
                    }
                );
            }
        }
    }
</script>

<style scoped>

</style>