<template>
    <div class="app-container">
        <div class="filter-container" style="text-align: right">
            <el-button class="filter-item" style="margin-left: 10px;" type="primary"
                       @click="handleCreate">
                <v-icon name="plus"/>
                Добавить программу
            </el-button>
        </div>
        <div class="filter-container">
            <v-container grid-list-md fluid>
                <v-layout row wrap>
                    <v-flex xs12 sm10 md10>
                        <v-layout row wrap>
                            <v-flex xs6>
                                <el-select v-model="listQuery.filter.type" placeholder="Тип программы"
                                           clearable
                                           class="filter-item w100" value="">
                                    <el-option v-for="type in professionProgramTypes" :key="type.id"
                                               :label="type.name" :value="type.id"/>
                                </el-select>
                            </v-flex>
                            <v-flex xs6>
                                <el-select v-model="listQuery.filter.form" :placeholder="$t('label.educationForm')"
                                           clearable
                                           class="filter-item w100" value="">
                                    <el-option v-for="(educationForm,index) in educationForms" :key="educationForm.id"
                                               :label="educationForm.name" :value="educationForm.id"/>
                                </el-select>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex xs12 md2 sm2 text-xs-center>
                        <el-button v-waves class="filter-item" type="primary" icon="el-icon-search"
                                   @click="handleFilter"
                                   @keypress.enter="handleFilter">
                            {{$t('form.apply')}}
                        </el-button>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
        <el-table
                v-loading="loading"
                :data="programs"
                style="width: 100%"
                border
                stripe>
            <el-table-column prop="id" label="ID" width="50px"></el-table-column>

            <el-table-column label="Профессия" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.profession.name}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Форма" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.educationForm|educationForm}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Тип" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.type|professionProgramType}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.duration')" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.duration>12">{{_.floor(scope.row.duration/12)|pluralize(['год','года','лет'])}}</span>
                    <span v-if="scope.row.duration%12">{{scope.row.duration%12|pluralize(['месяц','месяца','месяцев'])}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.sort')" align="center">
                <template slot-scope="scope">
                    {{scope.row.sort}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.image')" align="center">
                <template slot-scope="scope">
                    <div>
                        <span v-if="scope.row.has_image">
                            <el-button type="text">
                                Открыть
                            </el-button>
                        </span>
                        <span v-else>
                            Не загруженно
                        </span>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="Показывать на сайте" align="center">
                <template slot-scope="scope">
                    {{scope.row.on_site|logic}}
                </template>
            </el-table-column>
            <el-table-column label="Действия" fixed="right">
                <template slot-scope="scope">
                    <div>
                        <router-link :to="{name:'opop.detail',params:{id:scope.row.id}}">
                            <el-button type="success" icon="el-icon-document" circle>
                            </el-button>
                        </router-link>
                        <el-button type="warning" circle @click="handleOpenUploadWindow(scope.row.id)">
                            <i class="fa fa-refresh"></i>
                        </el-button>
                        <input type="file" :ref="`image_${scope.row.id}`" class="hide"
                               @change="handleUploadPhoto(scope.row.id)" accept="image/*">
                        <el-button type="primary" icon="el-icon-edit" circle
                                   @click="handleUpdate(scope.row)"></el-button>
                        <el-button type="danger" icon="el-icon-delete" @click="handleDelete(scope.row)"
                                   circle v-if="scope.row.isRemove"></el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {getProfessions} from "@/api/services";
    import {educationForms, professionProgramTypes} from "@/constants";
    import {fetchList} from "@/api/education/profession-programs";
    import CreateProgramModal from './CreateProgramModal'
    import UpdateProgramModal from './UpdateProgramModal'
    import {putImage} from "../../../api/education/profession-programs";

    export default {
        name: "profession-programs-list",
        data() {
            return {
                programs: null,
                professions: [],
                loading: true,
                total: 0,
                educationForms,
                professionProgramTypes,
                labelPosition: 'top',
                listQuery: {
                    page: 1,
                    limit: 10,
                    filter: {
                        type: null,
                        form: null
                    }
                },
            }
        },
        mounted() {
            this.getList();
            this.getProfessions();
            this.$bus.on('refresh-program-list', data => {
                this.getList();
            })
        },
        methods: {
            getList() {
                this.loading = true;
                fetchList(this.listQuery).then((response) => {
                    this.total = response.data.total;
                    this.programs = response.data.programs;
                    this.loading = false;
                });
            },
            handleOpenUploadWindow(id) {
                this.$refs['image_' + id].click();
            },
            handleUploadPhoto(id) {
                console.dir(this.$refs['image_' + id]);
                let input = this.$refs['image_' + id];
                let file = input.files[0];
                const loading = this.$loading({
                    lock: true,
                    text: 'Обновляю изображение, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                putImage(id, file)
                    .then(response => {
                        this.$notify.success({
                            title: 'Успешно',
                            message: 'Изображение было успешно обновлено'
                        });
                        loading.close();
                        this.getList();
                    }, error => error.response.data)
                    .then(data => {
                        loading.close();
                        this.$alert(data.message, 'Внимание, ошибка', {
                            confirmButtonText: 'OK',
                            callback: action => {
                            }
                        });
                    });
                input.type = 'text';
                input.type = 'file';
            },
            getProfessions() {
                getProfessions().then(response => {
                    this.professions = response.data;
                });
            },
            handleFilter() {
                this.listQuery.page = 1
                this.getList()
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },
            handleCreate() {
                this.$modal.show(CreateProgramModal, {
                    educationForms,
                    professionProgramTypes,
                    professions: this.professions
                }, {
                    name: 'createProgramModal',
                    height: 0,
                    width: 0,
                    'z-index': 100
                });
            },
            handleUpdate(program) {
                this.$modal.show(UpdateProgramModal, {
                        educationForms,
                        professionProgramTypes,
                        professions: this.professions,
                        program
                    }, {
                        name: 'UpdateProgramModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    },
                    {
                        'before-close': (event) => {
                            console.log(event);
                            if (event.params.success) {
                                this.getList()
                            }
                        }
                    });
            },
            handleDelete(program) {

            }

        }
    }
</script>

<style lang="scss">

</style>