<template>
    <div class="app-container">
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="19" class="text-right">
                    <el-select v-model="currentYear" @change="handleGetCalendars" filterable>
                        <el-option v-for="(academicYear,index) in academicYears" :key="index"
                                   :value="academicYear.year"
                                   :label="academicYear.label"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="5">
                    <el-button type="primary" @click="handleCreateCalendar">
                        <i class="fa fa-plus"></i> Добавить календарь
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <div class="content mt-10">
            <el-row :gutter="10">
                <el-col :span="19">
                    <no-report title="Нет календарей на выбранный учебный год" v-if="!_hasCalendars">
                        Попробуйте выбрать другой год
                    </no-report>
                    <div class="calendars" v-if="_hasCalendars">
                        <training-calendar :key="Math.random()" :calendar="calendar"
                                           v-for="(calendar,index) in _.sortBy(calendars,'name')"></training-calendar>
                    </div>
                </el-col>
                <el-col :span="5">
                    <holidays :holidays="holidays"></holidays>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
    import {getCurrentPeriod, buildAcademicYears} from '@/utils/training-periods';
    import {list} from "../../../api/education/training-calendars";
    import NoReport from "../../../components/NoReport/no-report";
    import {DateTime} from 'luxon';
    import TrainingCalendar from "./components/training-calendar";
    import Holidays from "./components/holidays";
    import CreateCalendarModal from './components/CreateCalendarModal'

    export default {
        name: "calendars-page",
        components: {Holidays, TrainingCalendar, NoReport},
        data() {
            return {
                currentYear: getCurrentPeriod(),
                academicYears: buildAcademicYears(),
                calendars: [],
                holidays: []
            }
        },
        computed: {
            _hasCalendars() {
                return this.calendars.length > 0;
            },
        },
        mounted() {
            this.$bus.on('update-calendars-list', data => {
                this.calendars.push(data);
                this.calendars = _.sortBy(this.calendars, 'name');
            });
            this.handleGetCalendars();
        },
        methods: {
            handleGetCalendars() {
                let loading = this.$lockScreen({text: 'Получаю учебные календари'});
                this.academicYears = buildAcademicYears(this.currentYear);
                list({year: this.currentYear})
                    .then(response => response.data)
                    .then(data => {
                        this.calendars = _.sortBy(data, 'name');
                        loading.close();
                    }, error => {

                    })
            },
            handleCreateCalendar() {
                this.$modal.show(CreateCalendarModal,
                    {
                        year: this.currentYear
                    },
                    {
                        name: 'CreateCalendarModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    }
                );
            }

        }
    }
</script>

<style lang="scss" scoped>
    .calendars {

    }
</style>
