<template>
    <div>
        <el-row :gutter="10">
            <el-col :span="16">
                <el-table
                        :data="activities"
                        style="width: 100%"
                        stripe
                        border
                        highlight-current-row
                        @current-change="handleCurrentChangeRow"
                >
                    <el-table-column prop="created_at" label="Дата и время" fixed></el-table-column>
                    <el-table-column label="Пользователь" prop="user">
                        <template slot-scope="scope">
                            {{scope.row.user|personShortName}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Объект">
                        <template slot-scope="scope">
                            {{scope.row.log_name|activityEntity}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Действие">
                        <template slot-scope="scope">
                            {{scope.row.event|activityEvent}}
                        </template>
                    </el-table-column>
                    <!--<el-table-column label="Описание">
                        <template slot-scope="scope">
                            {{scope.row.description}}
                        </template>
                    </el-table-column>-->
                </el-table>
                <div class="pagination-container">
                    <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[15,25,50,75,100,200]"
                                   :page-size="listQuery.limit" :total="total" background
                                   layout="total, sizes, prev, pager, next, jumper"
                                   @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
                </div>
            </el-col>
            <el-col :span="8">
                <current-event-activity :activity="currentLog"
                                        v-if="enableActivity&&currentLog"></current-event-activity>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {activities} from "../../api/services";
    import CurrentEventActivity from "./current-event-activity";

    export default {
        name: "activities-list",
        components: {CurrentEventActivity},
        data() {
            return {
                total: 0,
                activities: [],
                enableActivity: false,
                currentLog: {},
                listQuery: {
                    page: 1,
                    limit: 15,
                    filter: {
                        dates: null,
                        event: null,
                        log_name: null,
                        subject_id: null
                    },
                },
            }
        },
        mounted() {
            this.getActivities();
            this.$bus.on('filter-auditlog', data => {
                if (!_.isUndefined(data)) {
                    this.$set(this.listQuery, 'filter', data);
                }

                this.getActivities();
            })
        },
        methods: {
            getActivities() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Получаю список активностей, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                this.enableActivity = false;
                this.currentLog = {};
                activities(this.listQuery).then(response => {
                    this.total = response.data.total;
                    this.activities = response.data.data;
                    loading.close();
                }, error => {
                    loading.close();
                })
            },
            handleSizeChange(val) {
                this.listQuery.limit = val;
                this.getActivities()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val;
                this.getActivities()
            },
            handleCurrentChangeRow(row) {
                this.enableActivity = true;
                this.currentLog = row;
            }
        }
    }
</script>

<style scoped>

</style>