<template>
    <div>
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :xs="24" :md="20">
                    <el-row :gutter="10">
                        <el-col :span="8">
                            <el-date-picker
                                    class="w100"
                                    v-model="model.dates"
                                    type="daterange"
                                    align="right"
                                    unlink-panels
                                    range-separator="по"
                                    start-placeholder="Начало"
                                    end-placeholder="Конец"
                                    :picker-options="pickerOptions"
                                    format="dd.MM.yyyy"
                                    value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="6">
                            <el-select v-model="model.event" placeholder="Действие" class="w100" clearable>
                                <el-option
                                        v-for="(event,key) in activityEvents"
                                        :key="key"
                                        :label="event"
                                        :value="key">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="6">
                            <el-select v-model="model.log_name" placeholder="Объект" class="w100" clearable>
                                <el-option
                                        v-for="(item,key) in activityEntities"
                                        :key="key"
                                        :label="item"
                                        :value="key">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="4">
                            <el-input
                                    placeholder="ID объекта"
                                    v-model="model.subject_id"
                                    clearable>
                            </el-input>
                        </el-col>
                    </el-row>
                </el-col>
                <el-col :xs="24" :md="4">
                    <el-button type="primary" @click="handleFilter">
                        <i class="fa-fa-search"></i> Применить
                    </el-button>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
    import {activityEvents, activityEntities} from "../../constants";

    export default {
        name: "activities-filter",
        data() {
            return {
                activityEvents,
                activityEntities,
                model: {
                    dates: null,
                    event: null,
                    log_name: null,
                    subject_id: null
                },
                pickerOptions: this.$pickerConfig()
            }
        },
        methods: {
            handleFilter() {
                this.$bus.emit('filter-auditlog', this.model);
            }
        }
    }
</script>

<style scoped>

</style>