<template>
    <div class="app-container">
        <activities-filter></activities-filter>
        <activities-list></activities-list>
    </div>
</template>

<script>
    import ActivitiesFilter from "./activities-filter";
    import ActivitiesList from "./activities-list";
    export default {
        name: "activity",
        components: {ActivitiesList, ActivitiesFilter}
    }
</script>

<style scoped>

</style>