<template>
    <div>
        <span v-if="_.isBoolean(propValue)">{{propValue|logic}}</span>
        <span v-else-if="_.isObject(propValue)">
        <ul>
            <li v-for="(val,key) in propValue">{{key|activityProp(logName)}}:{{val}}</li>
        </ul>
    </span>
        <span v-else-if="isDate(propValue)">
       {{propValue|dateFormat}}
    </span>
        <span v-else>{{propValue|activityPropValue(logName,propKey)}}</span>
    </div>
</template>

<script>
    import {DateTime} from 'luxon';

    export default {
        name: "prop-format",
        props: {
            propValue: {},
            propKey: {
                type: String
            },
            logName: {
                type: String
            }
        }, methods: {
            isDate(date) {
                if (!_.isObject(date) && !_.isNull(date)) {
                    if (date.length >= 10) {
                        return DateTime.fromSQL(date).isValid;
                    }
                }

                return false;
            }
        }
    }
</script>

<style scoped>

</style>