<template>
    <div class="entrant-additional-information">
        <el-tabs tab-position="top">
            <el-tab-pane label="Паспорт">
                <user-nationality :user="entrant"></user-nationality>
            </el-tab-pane>
            <el-tab-pane label="Образование">
                <user-education-component :user="entrant"></user-education-component>
            </el-tab-pane>
            <el-tab-pane label="Родители">
                <user-parents :user="entrant"></user-parents>
            </el-tab-pane>
            <el-tab-pane label="Адреса">
                <user-addresses-list :user="entrant"></user-addresses-list>
            </el-tab-pane>
            <el-tab-pane label="Сведения о здоровье">
                <user-health :user="entrant"></user-health>
            </el-tab-pane>
            <el-tab-pane label="Воинский учет">
                <military-registration :user="entrant"></military-registration>
            </el-tab-pane>
            <el-tab-pane label="Комментарий" v-if="this.checkPermission(['super.admin'])">
                <user-comment-profile :user="entrant"></user-comment-profile>
            </el-tab-pane>
            <el-tab-pane label="Файлы" v-if="this.checkPermission(['super.admin'])">
                <user-files :user_id="entrant.id" :files="entrant.files"></user-files>
            </el-tab-pane>
            <!--<el-tab-pane label="Выгрузки" v-if="this.checkPermission(['super.admin'])">-->
            <!--<el-button type="primary" @click="handleExportToAsuRso">-->
            <!--<i class="fa fa-upload"></i> Выгрузка в АСУ РСО-->
            <!--</el-button>-->
            <!--</el-tab-pane>-->
        </el-tabs>
    </div>
</template>

<script>
    import UserCommentProfile from "../../../../components/User/user-comment-profile";
    import UserAddressesList from "../../../../components/User/user-addresses-list";
    import MilitaryRegistration from "../../../../components/User/military-registration";
    import UserParents from "../../../../components/User/components/user-parents";
    import UserHealth from "../../../../components/User/user-health";
    import UserNationality from "../../../../components/User/user-nationality";
    import UserEducationComponent from "../../../../components/User/user-education-component";
    import UserFiles from "../../../../components/User/user-files";

    export default {
        name: "additional-information",
        components: {
            UserFiles,
            UserEducationComponent,
            UserNationality,
            UserHealth, UserParents, MilitaryRegistration, UserAddressesList, UserCommentProfile
        },
        props: ['entrant']
    }
</script>

<style scoped>

</style>