<template>
    <v-dialog persistent max-width="900px">
        <v-card>
            <v-card-title>
                <span class="headline">Удаление абитуриентов</span>
            </v-card-title>
            <v-card-text>
                <el-row :gutter="10">
                    <el-col :span="24">
                        <el-alert v-if="errors.length>0"
                                  title="Произошла ошибка"
                                  type="error"
                                  show-icon>
                            <ul>
                                <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                            </ul>
                        </el-alert>
                    </el-col>
                    <el-col :span="24">
                        <table class="table is-bordered is-striped is-fullwidth mt-10">
                            <tr>
                                <th>№п/п</th>
                                <th>ID</th>
                                <th>ФИО</th>
                                <th>Программа</th>
                                <th v-if="_isDeletedEntrants"></th>
                            </tr>
                            <tr v-for="(entrant,index) in _entrants" :key="Math.random()+index">
                                <td>{{index+1}}</td>
                                <td>{{entrant.id}}</td>
                                <td>{{entrant.full_name}}</td>
                                <td>{{entrant.profession_program.program.full_name}}</td>
                                <td v-if="_isDeletedEntrants">
                                    <el-button type="danger" @click="handleDeleteEntrantFromList(entrant.id)" round>
                                        <i class="fa fa-trash"></i>
                                    </el-button>
                                </td>
                            </tr>
                        </table>
                    </el-col>
                </el-row>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <el-button round @click="handleClose">
                    {{$t('form.cancel')}}
                </el-button>
                <el-button type="primary" round
                           @click="handleDelete">
                    {{$t('form.delete')}}
                </el-button>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {deleteEntrants} from "../../../../api/contingent/entrants";

    export default {
        name: "DeleteEntrantsModal",
        data() {
            return {
                errors: []
            }
        },
        computed: {
            _entrants() {
                return this.$store.getters.selectedEntrants;
            },
            _isDeletedEntrants() {
                return this._entrants.length > 1;
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('DeleteEntrantsModal')
            },
            handleDelete() {
                let ids = this._entrants.map(entrant => {
                    return entrant.id;
                });

                const loading = this.$lockScreen({text: 'Удаляю абитуриентов'});

                this.errors = [];

                deleteEntrants(ids)
                    .then(response => response.data)
                    .then(data => {
                        loading.close();
                        this.$notify({
                            type: 'success',
                            title: 'Успешно',
                            message: 'Абитуриенты были успешно удалены'
                        });

                        this.$bus.emit('refresh-entrants-list');
                        this.handleClose();
                        this.$store.dispatch('SET_ENTRANTS', []);
                    }).catch(error => {
                    loading.close();
                    this.errors.push(error.error.message);
                })
            },
            handleDeleteEntrantFromList(id) {
                let entrantIndex = this._entrants.findIndex((entrant) => {
                    return entrant.id === id;
                });

                let entrants = this._entrants.filter((entrant, index) => {
                    return index !== entrantIndex;
                });


                this.$store.dispatch('SET_ENTRANTS', entrants);
            }
        }
    }
</script>

<style scoped>

</style>