<template>
    <v-dialog persistent max-width="1200px">
        <v-card>
            <v-card-title>
                <span class="headline">Зачисление абитуриентов</span>
            </v-card-title>
            <v-card-text>
                <el-row :gutter="10">
                    <el-col :span="24">
                        <el-alert v-if="errors.length>0"
                                  title="Произошла ошибка"
                                  type="error"
                                  show-icon>
                            <ul>
                                <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                            </ul>
                        </el-alert>
                    </el-col>
                    <el-col :span="16">
                        <table class="table is-bordered is-striped is-fullwidth mt-10">
                            <tr>
                                <th>№п/п</th>
                                <th>ID</th>
                                <th>ФИО</th>
                                <th>Программа</th>
                                <th>Поименный номер</th>
                                <th v-if="_isDeletedEntrants"></th>
                            </tr>
                            <tr v-for="(entrant,index) in entrants" :key="index">
                                <td>{{index+1}}</td>
                                <td>{{entrant.id}}</td>
                                <td>{{entrant.full_name}}</td>
                                <td>{{entrant.profession_program.program.full_name}}</td>
                                <td>
                                    <el-input-number v-model="entrant.nominal_number"></el-input-number>
                                </td>
                                <td v-if="_isDeletedEntrants">
                                    <el-button type="danger" @click="handleDeleteEntrantFromList(entrant.id)" round>
                                        <i class="fa fa-trash"></i>
                                    </el-button>
                                </td>
                            </tr>
                        </table>
                    </el-col>
                    <el-col :span="8">
                        <el-form ref="EnrollmentEntrantsForm" :rules="rules" :model="model">
                            <el-col :span="16">
                                <el-form-item label="Начинать нумерацию с" class="w-100">
                                    <el-input-number v-model="mix_number"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <br>
                                <br>
                                <el-button type="primary" round class="text-center" @click="handleApplyNumbers">
                                    Применить
                                </el-button>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.training_group')" prop="group_id">
                                    <el-select filterable v-model="model.group_id"
                                               :placeholder="$t('label.training_group')"
                                               class="w100">
                                        <el-option
                                                v-for="(group,key) in _sortGroups"
                                                :label="group.name"
                                                :key="group.id"
                                                :value="group.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.decree_number')" prop="decree_number">
                                    <el-input v-model="model.decree_number"
                                              :placeholder="$t('label.decree_number')"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item prop="decree_date" :label="$t('label.decree_date')">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            :picker-options="pickerOptions"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.decree_date')"
                                            v-model="model.decree_date"
                                            class="w100">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-form>
                    </el-col>
                </el-row>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <el-button round @click="handleClose">
                    {{$t('form.cancel')}}
                </el-button>
                <el-button type="primary" round
                           @click="handleEnrollment">
                    {{$t('form.enrollment')}}
                </el-button>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {getTrainingGroups} from "../../../../api/services";
    import {enrollment} from "../../../../api/contingent/entrants";
    import {DateTime} from 'luxon';

    export default {
        name: "enrollment-entrant-modal",
        data() {
            return {
                errors: [],
                entrants: [],
                groups: [],
                data: {},
                pickerOptions: this.$pickerConfig({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                }),
                model: {
                    group_id: null,
                    decree_number: null,
                    decree_date: DateTime.local().toISODate()
                },
                rules: {
                    group_id: [
                        {required: true, message: 'Не выбрана учебная группа', trigger: 'change'}
                    ],
                    decree_number: [
                        {required: true, message: 'Не указан номер приказа', trigger: 'blur'}
                    ],
                    decree_date: [
                        {required: true, message: 'Не выбрана дата приказа', trigger: 'blur'}
                    ]

                },
                mix_number: 0
            }
        },
        computed: {
            _entrants() {
                return this.$store.getters.selectedEntrants.map(entrant => {
                    entrant.nominal_number = 0;

                    return entrant;
                });
            },
            _sortGroups() {
                return _.sortBy(this.groups, 'name')
            },
            _isDeletedEntrants() {
                return this._entrants.length > 1;
            }
        },
        mounted() {
            this.entrants = _.cloneDeep(this._entrants);
            for (let [key, entrant] of this._entrants.entries()) {
                this.data[key] = {id: entrant.id, nominal_number: 0};
            }
            this.handleGetTrainingGroups();
        },
        methods: {
            handleClose() {
                this.$modal.hide('EnrollmentEntrantModal')
            },
            handleEnrollment() {
                this.$refs.EnrollmentEntrantsForm.validate(valid => {
                    if (valid) {
                        this.errors = [];
                        let entrantsData = {};

                        for (let entrant of this.entrants) {
                            entrantsData[entrant.id] = entrant.nominal_number;
                        }

                        let data = {...{entrantsData}, ...this.model};

                        const loading = this.$lockScreen({text: 'Зачисляю абитуриентов'});

                        enrollment(data)
                            .then(response => response.data)
                            .then(data => {
                                loading.close();
                                this.handleClose();
                                this.$bus.emit('refresh-entrants-list');
                                this.$notify({
                                    type: 'success',
                                    title: 'Успешно',
                                    message: 'Абитуриенты были успешно зачислены'
                                });
                            })
                            .catch(exception => {
                                loading.close();
                                this.errors = exception;
                            })
                    } else {
                        return false;
                    }
                })
            },
            handleGetTrainingGroups() {
                const lockScreen = this.$lockScreen({text: 'Идет загрузка учебных групп'});
                getTrainingGroups()
                    .then(response => response.data)
                    .then(data => {
                        lockScreen.close();
                        this.groups = data;
                    }, error => {
                        lockScreen.close();
                    })
            },
            handleApplyNumbers() {
                for (let i = 0; i < this.entrants.length; i++) {
                    this.entrants[i].nominal_number = this.mix_number + i;
                }
            }
        }
    }
</script>

<style scoped>

</style>
