<template>
    <div class="report_container">
        <no-report :title="message.title" v-if="entrants.length === 0">
            <p>{{message.text}}</p>
        </no-report>
        <div class="report_wrapper" v-if="entrants.length > 0">
            <div class="report_header">
                <h2>Отчет по абитуриентам</h2>
                <h4 v-if="selectedProgram">{{selectedProgram.program.name}}</h4>
            </div>
            <table class="table is-fullwidth is-bordered is-striped">
                <tr>
                    <th>№п/п</th>
                    <th>ФИО</th>
                    <th v-if="columns.gender">Пол</th>
                    <th v-if="columns.birthday">Дата рождения</th>
                    <th v-if="columns.program">Программа</th>
                    <th v-if="columns.document_give_date">Дата подачи документа</th>
                    <th v-if="columns.has_original">Оригинал документа</th>
                    <th v-if="columns.contract_target_set">Целевой набор</th>
                    <th v-if="columns.phone">Телефон</th>
                    <th v-if="columns.need_hostel">Потребность в общежитии</th>
                    <th v-if="columns.registration_address">Адрес регистрации</th>
                    <th v-if="columns.preferential_categories">Льготные категории</th>
                    <th>Средний балл</th>
                </tr>
                <tr v-for="(entrant,index) in entrants" :key="index">
                    <td>{{index+1}}</td>
                    <td>{{entrant.lastname}} {{entrant.firstname}} {{entrant.middlename}}</td>
                    <td v-if="columns.gender">{{entrant.gender|gender}}</td>
                    <td v-if="columns.birthday">{{entrant.birthday|dateFormat}}</td>
                    <td v-if="columns.program">{{entrant.profession_program.program.name_with_form}}</td>
                    <td v-if="columns.document_give_date">{{entrant.start_date|dateFormat}}</td>
                    <td v-if="columns.has_original">{{entrant.has_original|logic}}</td>
                    <td v-if="columns.contract_target_set">{{entrant.contract_target_set|logic}}</td>
                    <td v-if="columns.phone">{{entrant.phone}}</td>
                    <td v-if="columns.need_hostel">{{entrant.need_hostel|logic}}</td>
                    <td v-if="columns.registration_address">{{entrant.addresses.registration}}</td>
                    <td v-if="columns.preferential_categories">
                        <ul v-if="entrant.preferential_categories.length >0">
                            <li v-for="(category,index) in entrant.preferential_categories">
                                {{category|privilegedCategory}}
                            </li>
                        </ul>
                        <span v-else>
                            Нет льгот
                        </span>
                    </td>
                    <td>{{entrant.avg}}</td>
                </tr>
                <tr v-if="columns.totalRow">
                    <th :colspan="_countActiveColumns+2" class="text-right">Средний балл по выборке</th>
                    <th>{{_totalAverage}}</th>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    import NoReport from "../../../components/NoReport/no-report";

    export default {
        name: "report-table",
        components: {NoReport},
        props: {
            reportData: {
                type: Object
            },
            message: {
                type: Object
            }
        },
        computed: {
            _countActiveColumns() {
                let activeColumns = _.pickBy(this.columns, value => value);

                return (Object.keys(activeColumns).length) - 1;
            },
            _totalAverage() {
                let entrantsAvg = this.entrants.map(entrant => entrant.avg);

                let totalAvg = _.sum(entrantsAvg) / this.entrants.length;

                return Math.round(totalAvg * 10000) / 10000;
            }
        },
        data() {
            return {
                entrants: this.reportData.entrants,
                columns: this.reportData.columns,
                selectedProgram: this.reportData.selectedProgram
            }
        },
        mounted() {
        },
        watch: {
            reportData: function (newValue, oldValue) {
                this.entrants = newValue.entrants;
                this.columns = newValue.columns;
                this.selectedProgram = newValue.selectedProgram;
            }
        }
    }
</script>

<style scoped lang="scss">
    .report_wrapper {
        overflow: hidden;
        overflow-x: auto;
        background: #FFF;
        border: 1px solid #EEE;
        border-color: rgba(0, 0, 0, .1);
        box-shadow: 0 0 3px rgba(0, 0, 0, .08);
        font-family: "Times New Roman", Times, serif;
        line-height: 1.25;
    }

    .report_header {
        text-align: center;
        margin: 10px 0;
    }
</style>