<template>
    <div>
        <el-form ref="StudyReferenceForm" :rules="rules" :model="model" label-position="top">
            <form-group title="Период обучения">
                <el-col :span="12">
                    <el-form-item prop="start_date" label="Начало обучения">
                        <el-date-picker
                                v-mask="'##.##.####'"
                                value-format="yyyy-MM-dd"
                                format="dd.MM.yyyy"
                                type="date"
                                :placeholder="$t('label.changeDate')"
                                v-model="model.start_date"
                                class="w100"
                                :picker-options="pickerOptions"
                                :disabled="loading">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item prop="end_date" label="Конец обучения">
                        <el-date-picker
                                v-mask="'##.##.####'"
                                value-format="yyyy-MM-dd"
                                format="dd.MM.yyyy"
                                type="date"
                                :placeholder="$t('label.changeDate')"
                                v-model="model.end_date"
                                class="w100"
                                :picker-options="pickerOptions" :disabled="loading">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
            </form-group>
            <el-col :span="24">
                <el-form-item prop="decree_id" label="Приказ">
                    <el-select v-model="model.decree_id" placeholder="Выберите приказ"
                               :disabled="loading"
                               class="w100">
                        <el-option
                                v-for="(decree,key) in _decrees"
                                :label="decree.number"
                                :key="decree.id"
                                :value="decree.id">
                            <span>{{decree.decree.number}} от {{decree.decree.date|dateFormat}}</span>
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item prop="date" label="Число">
                    <el-date-picker
                            v-mask="'##.##.####'"
                            value-format="yyyy-MM-dd"
                            format="dd.MM.yyyy"
                            type="date"
                            :placeholder="$t('label.changeDate')"
                            v-model="model.date"
                            class="w100"
                            :picker-options="pickerOptions" :disabled="loading">
                    </el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :span="24" style="text-align: center">
                <el-button type="danger" @click="printReferense">
                    <i class="fa fa-print"></i> Печать
                </el-button>
            </el-col>
        </el-form>
    </div>
</template>

<script>
    import {DateTime} from 'luxon';
    import FormGroup from "../../../../../components/FormGroup/index";
    import {makeTrainingReference} from "@/api/contingent/student";

    export default {
        name: "study-reference",
        components: {FormGroup},
        props: ['student'],
        data() {
            return {
                loading: false,
                model: {},
                rules: {
                    start_date: [
                        {required: true, message: 'Не заполнена дата начала обучения', trigger: 'blur'}
                    ],
                    end_date: [
                        {required: true, message: 'Не заполнена дата окончания обучения', trigger: 'blur'}
                    ],
                    decree_id: [
                        {required: true, message: 'Не выбран приказ', trigger: 'change'}
                    ],
                    date: [
                        {required: true, message: 'Не выбрана дата', trigger: 'blur'}
                    ]
                },
                pickerOptions: this.$pickerConfig({
                    disabledDate: time => {
                        return (time.getTime() < DateTime.fromISO(this.model.start_date)) || (time.getTime() > DateTime.fromISO(this.model.end_date));
                    },
                })
            }
        },
        computed: {
            _student() {
                return this.$store.getters.getCurrentStudent;
            },
            _decrees() {
                return this.$store.getters.studentDecrees;
            }
        },
        created() {
            this.model = {
                student_id: this._student.id,
                start_date: this._student.start_date,
                end_date: this._student.end_date,
                decree_id: this._student.enrollment_decree.id,
                date: DateTime.local().toISODate()
            }
        },
        mounted() {
            this.$bus.on('update-decrees-list', data => {
                this.decrees = data;
            });
        },
        methods: {
            printReferense() {
                this.$refs['StudyReferenceForm'].validate(valid => {
                    this.loading = true;
                    if (valid) {
                        let route = this.routeByName('api.student.make-training-reference', {id: this._student.id});
                        let params = {
                            start_date: this.model.start_date,
                            end_date: this.model.end_date,
                            decree_id: this.model.decree_id,
                            date: this.model.date
                        }
                        let paramsToString = new URLSearchParams(params).toString();
                        let url = `${route}&${paramsToString}`;
                        window.open(url, '_blank');
                    }
                })
                this.loading = false;
            }
        }

    }
</script>

<style scoped>

</style>