<template>
    <div>
        <el-form ref="VoenkomatReferenceForm" :rules="rules" :model="model" label-position="top">
            <el-row :gutter="10">
                <el-col :span="12">
                    <el-form-item prop="start_date" label="Начало обучения">
                        <el-date-picker
                                v-mask="'##.##.####'"
                                value-format="yyyy-MM-dd"
                                format="dd.MM.yyyy"
                                type="date"
                                :placeholder="$t('label.changeDate')"
                                v-model="model.start_date"
                                class="w100"
                                :picker-options="pickerOptions"
                                :disabled="loading">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item prop="end_date" label="Конец обучения">
                        <el-date-picker
                                v-mask="'##.##.####'"
                                value-format="yyyy-MM-dd"
                                format="dd.MM.yyyy"
                                type="date"
                                :placeholder="$t('label.changeDate')"
                                v-model="model.end_date"
                                class="w100"
                                :picker-options="pickerOptions" :disabled="loading">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item prop="decree_id" label="Приказ">
                        <el-select v-model="model.decree_id" placeholder="Выберите приказ"
                                   :disabled="loading"
                                   class="w100">
                            <el-option
                                    v-for="(decree,key) in _decrees"
                                    :label="decree.number"
                                    :key="decree.id"
                                    :value="decree.id">
                                <span>{{decree.decree.number}} от {{decree.decree.date|dateFormat}}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item prop="recruitment_center_name" label="Название военкомата">
                        <el-input v-model="model.recruitment_center_name" placeholder="Название военкомата"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item prop="date" label="Дата выдачи">
                        <el-date-picker
                                v-mask="'##.##.####'"
                                value-format="yyyy-MM-dd"
                                format="dd.MM.yyyy"
                                type="date"
                                placeholder="Дата выдачи"
                                v-model="model.date"
                                class="w100"
                                :picker-options="pickerOptions" :disabled="loading">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="24" style="text-align: center">
                    <el-button type="danger" @click="printReference">
                        <i class="fa fa-print"></i> Печать
                    </el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
    import {DateTime} from 'luxon';
    import {makeVoenkomatReference} from "../../../../../api/contingent/student";
    import FormGroup from "../../../../../components/FormGroup/index";

    export default {
        name: "voenkomat-reference",
        components: {FormGroup},
        data() {
            return {
                loading: false,
                model: {},
                rules: {
                    date: [
                        {required: true, message: 'Не заполнена дата выдачи', trigger: 'blur'}
                    ],
                    start_date: [
                        {required: true, message: 'Не заполнена дата начала обучения', trigger: 'blur'}
                    ],
                    end_date: [
                        {required: true, message: 'Не заполнена дата окончания обучения', trigger: 'blur'}
                    ],
                    decree_id: [
                        {required: true, message: 'Не выбран приказ', trigger: 'change'}
                    ],
                    recruitment_center_name: [
                        {required: true, message: 'Не указано название военкомата', trigger: 'blur'}
                    ]
                },
                pickerOptions: this.$pickerConfig({
                    disabledDate: time => {
                        return (time.getTime() < DateTime.fromISO(this.model.start_date)) || (time.getTime() > DateTime.fromISO(this.model.end_date));
                    },
                })
            }
        },
        created() {
            this.model = {
                start_date: this._student.start_date,
                end_date: this._student.end_date,
                decree_id: this._student.enrollment_decree.id,
                date: DateTime.local().toISODate(),
                recruitment_center_name: null
            }
        },
        computed: {
            _student() {
                return this.$store.getters.getCurrentStudent;
            },
            _decrees() {
                return this.$store.getters.studentDecrees;
            },
            _militaryReference() {
                return this.$store.getters.militaryReference;
            }
        },
        methods: {
            printReference() {
                this.$refs['VoenkomatReferenceForm'].validate(valid => {
                    if (valid) {
                        let route = this.routeByName('api.student.make-military-reference', {id: this._student.id});
                        let reference_id = null;
                        console.log(_.isEmpty(this._militaryReference));
                        if (!_.isEmpty(this._militaryReference)) {
                            reference_id = this._militaryReference.id;
                        }
                        let params = {
                            start_date: this.model.start_date,
                            end_date: this.model.end_date,
                            decree_id: this.model.decree_id,
                            reference_id,
                            recruitment_center_name: this.model.recruitment_center_name,
                            date: this.model.date
                        }
                        let paramsToString = new URLSearchParams(params).toString();
                        let url = `${route}&${paramsToString}`;
                        this.$store.dispatch('SET_MILITARY_REFERENCE',{});
                        window.open(url, '_blank');
                        this.$bus.emit('refresh-references-list');
                    }
                })
                this.loading = false;
            }
        }
    }
</script>

<style scoped>

</style>
