<template>
    <div class="current-subject" v-if="_subject.name">
        <h2>{{_subject.name}}</h2>
        <table class="table table-bordered table-striped w-100">
            <tr>
                <th>Семестр</th>
                <th>Период</th>
                <th>Кол-ов часов</th>
                <th>Вычитано часов</th>
                <th>Преподаватель</th>
                <th></th>
            </tr>
            <tr v-for="(period,index) in _subject.periods" :key="index">
                <td>{{period.semester}} семестр</td>
                <td>{{period.calendar.start}} - {{period.calendar.end}}</td>
                <td>{{period.plan}}</td>
                <td>
                    {{_terms[(period.semester-1)]}}
                </td>
                <td>{{period.employee.full_name}}</td>
                <td></td>
            </tr>
        </table>
        <div>
            <el-row :gutter="10">
                <el-col :span="4">
                    <ul class="subjects-list">
                        <li v-for="(month,index) in _subject.months" @click="getMonth(month)"
                            :class="{selected:selectedMonth===month.id}">{{month.name|month}}
                        </li>
                    </ul>
                </el-col>
                <el-col :span="20">
                    <div v-if="selectedMonth">
                        <current-month-lessons></current-month-lessons>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
    import {getMonthItem} from "../../api/education/teacher_load";
    import CurrentMonthLessons from "./current-month-lessons";

    export default {
        name: "current-subject",
        components: {CurrentMonthLessons},
        data() {
            return {
                selectedMonth: null,
            }
        },
        computed: {
            _subject() {
                return this.$store.getters.currentSubject;
            },
            _terms() {
                return this._(this._subject.months)
                    .map((item) => (
                            {count_lessons: item.count_lessons, semester: item.semester}
                        )
                    )
                    .groupBy('semester')
                    .map(item => {
                        return item.reduce((sum, current) => {
                            return sum + current.count_lessons;
                        }, 0);
                    })
                    .value();
            }
        },
        methods: {
            getMonth(month) {
                const params = {
                    id: this.$route.params.id,
                    subject_id: this._subject.id,
                    month_id: month.id
                }
                const lockScreen = this.$lockScreen({text: 'Получаю список проведенных занятий'});
                getMonthItem(params).then(response => {
                    const {lessons} = response.data;
                    this.selectedMonth = month.id;
                    this.$store.dispatch('SET_CURRENT_MONTH', month);
                    this.$store.dispatch('SET_CURRENT_MONTH_LESSONS', lessons);
                }).catch(e => {

                }).finally(e => {
                    lockScreen.close();
                })
            },
        }
    }
</script>

<style scoped lang="scss">
    .current-subject {
        padding: 10px;

        h2 {
            font-size: 24px;
        }
    }

    .subjects-list {
        list-style: none;
        font-weight: 600;
        letter-spacing: -0.04em;
        margin: 0;
        font-size: 16px;

        li {
            color: #888;
            margin: 1px 0;
            line-height: 1;
            display: block;
            padding: 0.5em;
            cursor: pointer;
            position: relative;
            border-right: 2px solid #DDD;

            &.selected {
                color: #000;
                background: #F6F6F6;
                border-color: #09E;
            }
        }
    }
</style>
