<template>
    <div>
        <div class="month">
            <h3>{{_month.name|month}}</h3>
            <small>{{_month.start_date|dateFormat}} - {{_month.end_date|dateFormat}}</small>
        </div>
        <div class="lessons">
            <div class="top-button">
                <el-row>
                    <el-col :span="4">
                        <span class="counter">
                           {{_countLessons|pluralize(['час','часа','часов'])}}
                        </span>
                    </el-col>
                    <el-col :span="20" style="text-align: right">
                        <el-button type="primary" @click="handleAddLesson">
                            <i class="fa fa-plus"></i> Добавить
                        </el-button>
                    </el-col>
                </el-row>
            </div>
            <table class="table table-bordered table-striped w100">
                <tr>
                    <th>Дата</th>
                    <th>День недели</th>
                    <th>Номер урока</th>
                    <th>Кол-во часов</th>
                    <th></th>
                </tr>
                <tr v-if="_countLessons===0">
                    <th colspan="4" style="text-align: center">Занятия отсутствуют</th>
                </tr>
                <tr v-else v-for="(lesson,index) in _lessons" :key="index">
                    <td>{{lesson.date|dateFormat}}</td>
                    <td>{{lesson.date|dateFormat('dddd')}}</td>
                    <td>{{lesson.number}}</td>
                    <td>{{lesson.count}}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    import AddLessonModal from "./modals/AddLessonModal";

    export default {
        name: "current-month-lessons",
        computed: {
            _month() {
                return this.$store.getters.currentMonth;
            },
            _lessons() {
                return this.$store.getters.currentMonthLessons;
            },
            _countLessons() {
                return this._lessons.reduce((sum, current) => {
                    return sum + current.count;
                }, 0)
            }
        },
        methods: {
            handleAddLesson() {
                this.$modal.show(AddLessonModal,
                    {},
                    {
                        name: 'AddLessonModal',
                        width: 0,
                        height: 0,
                        'z-index': 0
                    })
            }
        }
    }
</script>

<style scoped lang="scss">
    .month {
        font-size: 16px;
        border-bottom: 1px solid gray;
    }

    .top-button {
        margin: 10px 0;
    }

    .counter {
        font-size: 250%;
        line-height: 0.9;
        font-weight: 300;
        text-align: center;
        display: inline-block;
        letter-spacing: -0.06em;

        small {
            display: block;
            line-height: 1.1;
            font-weight: 600;
            letter-spacing: normal;
            text-transform: uppercase;
        }
    }
</style>
