<template>
    <div class="app-container">
        <el-page-header :content="title" title="К списку групп">
        </el-page-header>
        <subjects></subjects>
    </div>
</template>

<script>
    import {getGroupLoad} from "../../api/education/teacher_load";
    import Subjects from './subjects'

    export default {
        name: "detail",
        components: {Subjects},
        data() {
            return {title: ''}
        },
        mounted() {
            this.getGroupLoad();
        },
        methods: {
            getGroupLoad() {
                const id = this.$route.params.id;
                const lockScreen = this.$lockScreen({text: 'Идет загрузка дисциплин'});
                getGroupLoad(id)
                    .then(response => {
                        const {group} = response.data;
                        this.$store.dispatch('SET_CURRENT_GROUP', group);
                        this.title = `Группа ${group.name}`;
                    }).finally(e => {
                    lockScreen.close();
                })
            }
        }
    }
</script>

<style scoped>

</style>
