<template>
    <div>
        <div class="term-item" v-for="(groups,key) in _groups" :key="key">
            <dl>
                <dt>
                    <h2>{{key}} курс</h2>
                    <span>

                </span>
                </dt>
                <dd class="group-list">
                    <span v-for="(group,key) in groups" :key="group.id">
                        <router-link :to="{name:'teaching-load.detail',params:{id:group.id}}" class="group-list-item">
                            {{group.name}}
                        </router-link>
                    </span>
                </dd>
            </dl>
        </div>
    </div>
</template>

<script>
    export default {
        name: "groups",
        computed: {
            _groups() {
                const groups = this.$store.getters.currentTeacherLoadAcademicYearGroups;
                return this._.groupBy(groups, 'course');
            }
        }
    }
</script>

<style scoped lang="scss">
    .term-item {
        border-top: 1px solid #ccc;
        padding: 2%;

        &:first-child {
            border-top: none;
        }

        dl {
            display: flex;

            dt {
                color: black;
                font-size: 14px;
                width: 15%;
                text-align: right;
                padding-right: 20px;

                h2 {
                    font-size: 250% !important;
                    height: auto;
                }
            }

            dd {
                vertical-align: middle;
                width: 85%;
            }
        }

    }

    .group-list {
        //padding: 1%;
        &-item{
            width: 20%;
            float: left;
            display: block;
            line-height: 1.3;
            overflow: hidden;
            transition: none;
            white-space: nowrap;
            padding: 0.3em 0.5em;
            box-sizing: border-box;
            text-overflow: ellipsis;
            color: #0d95e8;
            &:hover{
                background: #dff3ff;
            }
        }

    }
</style>
