<template>
    <div class="app-container">
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="24" class="text-right">
                    <el-button type="primary" @click="handleAddGroup">
                        Добавить группу
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="21">
                    <el-row :gutter="10" style="margin-bottom: 10px">
                        <el-col :span="24">
                            <el-select clearable filterable v-model="year"
                                       placeholder="Период"
                                       class="w100" :loading="loading">
                                <el-option
                                        v-for="(year,key) in academicYears"
                                        :key="year.key"
                                        :value="year.key"
                                        :label="year.label"
                                >
                                </el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                </el-col>
                <el-col :span="3" style="padding: 0 10px">
                    <el-button v-waves class="filter-item" type="primary" icon="el-icon-search"
                               @click="handleFilter"
                               @keypress.enter="handleFilter" :loading="loading">
                        {{$t('form.apply')}}
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <groups></groups>
    </div>
</template>

<script>
    import {academicYears} from "../../constants";
    import {getCurrentPeriod} from "../../utils/training-periods";
    import {getGroups} from "../../api/education/teacher_load";
    import CreateReplacingModal from "../replacing-classes/CreateReplacingModal";
    import AddGroupModal from "./modals/AddGroupModal";
    import Groups from "./groups";

    export default {
        name: "index",
        components: {Groups},
        data() {
            return {
                academicYears,
                year: getCurrentPeriod(),
                loading: false,
            }
        },
        mounted() {
            this.getGroups();
        },
        methods: {
            handleFilter() {

            },
            handleAddGroup() {
                this.$modal.show(AddGroupModal,
                    {},
                    {
                        name: 'AddGroupModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            },
            getGroups() {
                const loading = this.$lockScreen({text: 'Идет загрука групп'});
                getGroups(this.year)
                    .then(response => {
                        const {groups} = response.data;
                        this.$store.dispatch('SET_CURRENT_YEAR_GROUPS', groups);
                    }).finally(e => {
                    loading.close();
                })
            }
        }
    }
</script>

<style scoped>

</style>
