<template>
    <div>
        <el-row>
            <el-col :span="6">
                <div style="text-align: right;margin: 10px 0;" @click="handleAddSubject">
                    <el-button type="primary">Добавить дисциплину</el-button>
                </div>
                <ul class="subjects-list" v-if="_subjects.length>0">
                    <li v-for="(subject,key) in _subjects" :key="subject.id" @click="getDetailSubject(subject)"
                        :class="{selected:activeSubjectId===subject.id}">
                        {{subject.name}}
                    </li>
                </ul>
            </el-col>
            <el-col :span="18">
                <current-subject></current-subject>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import AddSubjectModal from "./modals/AddSubjectModal";
    import CurrentSubject from "./current-subject";
    import {getDetailSubject} from "../../api/education/teacher_load";

    export default {
        name: "subjects",
        components: {CurrentSubject},
        data() {
            return {
                activeSubjectId: null,
            }
        },
        computed: {
            _subjects() {
                return this.$store.getters.currentGroupSubjects;
            }
        },
        mounted() {
            this.$store.dispatch('SET_CURRENT_SUBJECT', {})
        },
        methods: {
            handleAddSubject() {
                this.$modal.show(AddSubjectModal,
                    {},
                    {
                        name: 'AddSubjectModal',
                        width: 0,
                        height: 0,
                        'z-index': 1500
                    })
            },
            getDetailSubject(subject) {
                this.activeSubjectId = subject.id;
                const params = {
                    id: this.$route.params.id,
                    subject_id: subject.id
                };
                const lockScreen = this.$lockScreen({text: `Получаю дисциплину ${subject.name}`});
                getDetailSubject(params)
                    .then(response => {
                        const data = {...subject, ...response.data};
                        this.$store.dispatch('SET_CURRENT_SUBJECT', data)
                    })
                    .finally(e => {
                        lockScreen.close();
                    })
            }
        }
    }
</script>

<style scoped lang="scss">
    .subjects-list {
        list-style: none;
        font-weight: 600;
        letter-spacing: -0.04em;
        margin: 0;
        font-size: 20px;

        li {
            color: #888;
            margin: 1px 0;
            line-height: 1;
            display: block;
            padding: 0.5em;
            cursor: pointer;
            position: relative;
            border-right: 2px solid #DDD;

            &.selected {
                color: #000;
                background: #F6F6F6;
                border-color: #09E;
            }
        }
    }
</style>
