.jes-dropdown {
  &-bp__btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px !important;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;

    &--active {
      color: #fff;
      background-color: #409eff !important;
      border-color: #409eff;
    }
  }

  &-bp__body {
    ul {
      list-style: none;
      text-align: left;
      padding-left: 0;
    }
  }
}