.text {
  &-right {
    text-align: right;
  }

  &-justify {
    text-align: justify;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }
}

.fgblue {
  color: #07B;

  &:hover {
    color: white;
    background-color: #07B;
  }
}
.fgred {
  color: #C00;
  &:hover {
    color: white;
    background-color: #C00;
  }
}

h1, h2, h3, h4 {
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: -.06em;
  font-family: 'Roboto',Arial,Helvetica,sans-serif;
}

h2{
  font-size: 250%;
}
