@import "text";
@import "dropdown";

.margin0auto {
  margin: 0 auto;
}

.hidden {
  display: none;
}

@for $i from 1 through 10 {

  $value: $i*10;
  .w-#{$value} {
    width: #{$i*10%} !important;
  }
}

@for $i from 2 through 20 {
  $value: $i*5;
  .pt-#{$value} {
    padding-top: #{$i*5px};
  }
  .pb-#{$value} {
    padding-bottom: #{$i*5px};
  }

  .pl-#{$value} {
    padding-left: #{$i*5px};
  }
  .pr-#{$value} {
    padding-right: #{$i*5px};
  }

  .mt-#{$value} {
    margin-top: #{$i*5px};
  }
  .mb-#{$value} {
    margin-bottom: #{$i*5px};
  }

  .ml-#{$value} {
    margin-left: #{$i*5px};
  }
  .mr-#{$value} {
    margin-right: #{$i*5px};
  }
}