<template>
    <div>
        <div class="modal-content">
            <v-dialog v-model="model" persistent max-width="900px">
                <v-card>
                    <v-card-title>
                        <el-row :gutter="10" class="w100">
                            <el-col :span="12">
                                <span class="headline">Отчет по количеству контингента</span>
                            </el-col>

                            <el-col :span="12" style="text-align: right">
                                <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                    <i class="fa fa-close"></i>
                                </el-button>
                            </el-col>
                        </el-row>
                    </v-card-title>
                    <v-card-text>
                        <el-alert v-if="serverErrors.length >0"
                                  title="Что-то пошло не по плану"
                                  type="error"
                                  description="more text description"
                                  show-icon>
                            <ul>
                                <li v-for="(error,key) in serverErrors" :key="key">{{error}}</li>
                            </ul>
                        </el-alert>
                        <el-form name="CountContingentForm" ref="CountContingentForm" :model="model" :rules="rules"
                                 v-loading="loading" element-loading-text="Считаем человеков...">
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item prop="report_date" :label="$t('label.report_date')">
                                        <el-date-picker
                                                v-mask="'##.##.####'"
                                                :picker-options="pickerOptions"
                                                value-format="yyyy-MM-dd"
                                                format="dd.MM.yyyy"
                                                type="date"
                                                :placeholder="$t('label.report_date')"
                                                v-model="model.report_date"
                                                class="w100">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleMakeReport">
                            {{$t('form.make_report')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    import {DateTime} from 'luxon'
    import {countContingent} from "../../../../api/reports";

    export default {
        name: "CountContingentModal",
        data() {
            return {
                loading: false,
                serverErrors: [],
                model: {
                    report_date: DateTime.fromObject({day: 1}).toISODate()
                },
                rules: {
                    report_date: [
                        {required: true, message: 'Не выбрана дата формирования отчета', trigger: 'blur'}
                    ]
                },
                pickerOptions: this.$pickerConfig({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                }),
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('CountContingentModal')
            },
            handleMakeReport() {
                this.$refs.CountContingentForm.validate(valid => {
                    this.serverErrors = [];
                    if (valid) {
                        this.loading = true;
                        countContingent(this.model).then(response => {
                            this.loading = false;
                            let pdfTab = window.open('', '_blank');
                            let win = pdfTab.document.createElement('embed');
                            win.width = "100%";
                            win.height = "100%";
                            win.src = `data:application/pdf;base64,${response.data}`;
                            win.type = `application/pdf`;
                            win.name = `plugin`;
                            pdfTab.document.body.style = "height: 100%; width: 100%; overflow: hidden; margin: 0px; background-color: rgb(82, 86, 89);";
                            pdfTab.document.body.appendChild(win);
                            setTimeout(() => {
                                this.handleClose();
                            }, 1000)
                        }, error => {
                            console.dir(error);
                            this.loading = false;
                            this.serverErrors = [];
                            let response = error.response.data;
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            if (response.errors) {
                                this.serverErrors = response.errors;
                            }
                        })

                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>