<template>
    <div>
        <div class="modal-content">
            <v-dialog v-model="model" persistent max-width="900px">
                <v-card>
                    <v-card-title>
                        <el-row :gutter="10" class="w100">
                            <el-col :span="12">
                                <span class="headline">Добавить приказ</span>
                            </el-col>

                            <el-col :span="12" style="text-align: right">
                                <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                    <i class="fa fa-close"></i>
                                </el-button>
                            </el-col>
                        </el-row>
                    </v-card-title>
                    <v-card-text>
                        <el-alert v-if="serverErrors.length >0"
                                  title="Что-то пошло не по плану"
                                  type="error"
                                  description="more text description"
                                  show-icon>
                            <ul>
                                <li v-for="(error,key) in serverErrors" :key="key">{{error}}</li>
                            </ul>
                        </el-alert>
                        <enrollment-information v-model="model" :groups="groups"></enrollment-information>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    import EnrollmentInformation from "../../../../components/User/components/enrollment-information";
    import {getTrainingGroups} from "../../../../api/services";
    import {DateTime} from 'luxon';
    import {createDecree} from "../../../../api/contingent/student";

    export default {
        name: "CreateStudentDecreeModal",
        props: ['student_id'],
        components: {EnrollmentInformation},
        data() {
            return {
                serverErrors: [],
                hasError: false,
                groups: [],
                loading: false,
                model: {
                    student_id: this.student_id,
                    group_id: null,
                    reason: 'OtherEducationOrganizations',
                    decree_number: null,
                    decree_date: DateTime.local().toISODate()
                }
            }
        },
        mounted() {
            this.$bus.on('validate-enrollment-data-status', data => {
                if (data) {
                    this.handleCreateDecree();
                }
                this.$bus.off('validate-enrollment-data-status')
            });
            getTrainingGroups().then(response => {
                this.groups = response.data;
            }, error => {

            });
        },
        methods: {
            handleClose() {
                this.$modal.hide('CreateStudentDecreeModal')
            },
            handleCreate() {
                this.$bus.emit('validate-enrollment-data-form');
            },
            handleCreateDecree() {
                createDecree(this.model).then(response => {
                    this.handleClose();
                    this.$bus.emit('update-decrees-list', response.data.decrees);
                    this.$notify({
                        title: 'Успешно',
                        message: response.data.message,
                        type: 'success'
                    });
                }, error => {
                    let response = error.response.data;
                    this.serverErrors = [];
                    if (response.message) {
                        this.serverErrors.push(response.message);
                    }
                    if (response.errors) {
                        this.serverErrors = response.errors;
                    }
                    this.hasError = true;
                    this.loading = false;
                })
            }
        }
    }
</script>

<style scoped>

</style>