<template>
    <div>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>Движение студента</span>
                <el-button style="float: right;" type="primary" round @click="handleCreateDecree" v-if="this.checkPermission(['student.edit'])"><i
                        class="fa fa-plus"></i>
                </el-button>
            </div>
            <div>
                <el-table
                        :data="decrees"
                        border
                        style="width: 100%">
                    <el-table-column width="70"
                            prop="decree_id"
                            :label="$t('table.id')">
                    </el-table-column>
                    <el-table-column width="70"
                            prop="id"
                            label="ID связи">
                    </el-table-column>
                    <el-table-column
                            prop="type"
                            :label="$t('label.type')">
                        <template slot-scope="scope">
                            {{scope.row.type|decreeType}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="number"
                            label="№ приказа">
                    </el-table-column>
                    <el-table-column
                            prop="decreeText"
                            label="Текст приказа">
                    </el-table-column>
                    <el-table-column
                            prop="reason"
                            :label="$t('label.reason')">
                        <template slot-scope="scope">
                            {{scope.row.reason|reason}}
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-card>
    </div>
</template>

<script>
    import {reasons} from "../../../../constants";
    import CreateStudentDecreeModal from './CreateStudentDecreeModal'

    export default {
        name: "decrees",
        props: ['student'],
        data() {
            return {
                reasons,
                decrees: []
            }
        },
        mounted() {
            this.$bus.on('update-decrees-list', data => {
                this.decrees = data;
            });
            this.decrees = this.student.decrees;
        },
        methods: {
            handleCreateDecree() {
                this.$modal.show(CreateStudentDecreeModal,
                    {
                        student_id: this.student.id
                    },
                    {
                        name: 'CreateStudentDecreeModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    }
                )
            }
        }
    }
</script>

<style scoped>

</style>