<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="EditStudentPersonalInformationForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Обновление персональной информации</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Поименный номер"
                                              prop="nominal_number">
                                    <el-input
                                            placeholder="Поименный номер"
                                            v-model="model.nominal_number" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.lastname')"
                                              prop="lastname">
                                    <el-input
                                            :placeholder="$t('label.lastname')"
                                            v-model="model.lastname" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.firstname')"
                                              prop="firstname">
                                    <el-input
                                            :placeholder="$t('label.firstname')"
                                            v-model="model.firstname" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.middlename')"
                                              prop="middlename">
                                    <el-input
                                            :placeholder="$t('label.middlename')"
                                            v-model="model.middlename" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.gender')" prop="gender">
                                    <el-select v-model="model.gender" :placeholder="$t('label.gender')"
                                               :disabled="loading"
                                               class="w100">
                                        <el-option
                                                v-for="(gender,key) in genders"
                                                :label="gender.name"
                                                :key="gender.id"
                                                :value="gender.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="birthday" :label="$t('label.birthday')">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.birthday')"
                                            v-model="model.birthday"
                                            class="w100"
                                            :picker-options="pickerOptions"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.snils')"
                                              prop="snils">
                                    <el-input v-mask="'###########'"
                                              :placeholder="$t('label.snils')"
                                              v-model="model.snils" :disabled="loading" :maxlength="11">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.inn')"
                                              prop="inn">
                                    <el-input
                                            :placeholder="$t('label.inn')"
                                            v-model="model.inn" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.phone')"
                                              prop="phone">
                                    <el-input
                                            :placeholder="$t('label.phone')"
                                            v-model="model.phone" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="enrollment_date"
                                              :label="$t('label.enrollment_date')">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.enrollment_date')"
                                            v-model="model.enrollment_date"
                                            class="w100"
                                            :picker-options="pickerOptions"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="date_of_actual_transfer"
                                              :label="$t('label.date_of_actual_transfer')">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.date_of_actual_transfer')"
                                            v-model="model.date_of_actual_transfer"
                                            class="w100"
                                            :picker-options="pickerOptions"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.how_find_out')" prop="how_find_out">
                                    <el-select v-model="model.how_find_out"
                                               :placeholder="$t('label.how_find_out')"
                                               class="w100" filterable clearable>
                                        <el-option
                                                v-for="(sourse,key) in _howFindOutSources"
                                                :label="sourse.text"
                                                :key="sourse.value"
                                                :value="sourse.value"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24" style="margin-bottom: 10px">
                                <el-checkbox v-model="model.long_absent">Длительно отсутствующий</el-checkbox>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Группа в которую перейдет из АО" prop="reinstate_group_id">
                                    <el-select v-model="model.reinstate_group_id"
                                               placeholder="Группа в которую перейдет из АО"
                                               class="w100" filterable clearable @change="setReinstateGroup">
                                        <el-option
                                                v-for="(group,key) in training_groups"
                                                :label="group.name"
                                                :key="group.id"
                                                :value="group.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleUpdate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {educations, genders, howFindOutSourses, privilegedCategories} from "@/constants";
    import FormGroup from "../../../../components/FormGroup/index";
    import {enumirate} from "../../../../filters";
    import {getTrainingGroups} from "../../../../api/services";

    import {updatePersonal} from "@/api/contingent/student";

    export default {
        name: "EditStudentModal",
        components: {FormGroup},
        data() {
            return {
                serverErrors: [],
                hasError: false,
                loading: false,
                training_groups: [],
                genders,
                educations,
                privilegedCategories,
                model: {},
                pickerOptions: {
                    firstDayOfWeek: 1,
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                },
                reinstate_group: {},
                rules: {
                    lastname: [
                        {required: true, message: 'Заполните фамилию', trigger: 'blur'}
                    ],
                    enrollment_date: [
                        {required: true, message: 'Заполните дату зачисления', trigger: 'blur'}
                    ],
                    firstname: [
                        {required: true, message: 'Заполните имя', trigger: 'blur'}
                    ],
                    birthday: [
                        {required: true, message: 'Укажите дату рождения', trigger: 'blur'}
                    ]
                },
            }
        },
        computed: {
            _howFindOutSources() {
                return enumirate(howFindOutSourses, 'howFindOutSourse');
            },
            _student() {
                return this.$store.getters.getCurrentStudent;
            }
        },
        mounted() {
            this.model = {
                id: this._student.id,
                lastname: this._student.lastname,
                firstname: this._student.firstname,
                middlename: this._student.middlename,
                gender: this._student.gender,
                birthday: this._student.birthday,
                snils: this._student.snils,
                inn: this._student.inn,
                phone: this._student.phone,
                enrollment_date: this._student.enrollment_date,
                date_of_actual_transfer: this._student.date_of_actual_transfer,
                long_absent: this._student.long_absent,
                nominal_number: this._student.nominal_number,
                how_find_out: this._student.how_find_out,
                reinstate_group_id: this._student.reinstate_group ? this._student.reinstate_group.id : null,
            };
            this.reinstate_group = this._student.reinstate_group;
            this.getGroups();
        },
        methods: {
            getGroups() {
                getTrainingGroups()
                    .then(response => response.data)
                    .then(data => {
                        this.training_groups = _.sortBy(data, 'name');
                    })
            },
            setReinstateGroup(value) {
                this.reinstate_group = this.training_groups.find(group => group.id === value);
            },
            handleClose() {
                this.loading = false;
                this.$modal.hide('EditStudentModal')
            },
            handleUpdate() {
                this.loading = true;
                this.$refs['EditStudentPersonalInformationForm'].validate(valid => {
                    if (valid) {
                        const loading = this.$lockScreen({text: 'Обновляю данные студента'});
                        updatePersonal(this.model).then(response => {
                            this.$bus.emit('update-student-data', {student: this.model});
                            this.$store.dispatch('UPDATE_STUDENT', {...this.model, ...{reinstate_group: this.reinstate_group}});
                            this.handleClose();
                            this.$notify({
                                message: 'Персональная информация студента была успешно обновлена',
                                type: 'success',
                                title: 'Успешно'
                            });
                            loading.close();
                        }, error => {
                            let response = error.response.data;
                            this.serverErrors = [];
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            if (response.errors) {
                                this.serverErrors = response.errors;
                            }
                            this.hasError = true;
                            this.loading = false;
                            loading.close();
                        })
                    }
                });
            }
        },

    }
</script>

<style scoped>
    .el-form-item {
        margin-bottom: 5px;
    }
</style>