<template>
    <div>
        <div class="modal-content">
            <v-dialog v-model="model" persistent max-width="900px">
                <v-card>
                    <v-card-title>
                        <el-row :gutter="10" class="w100">
                            <el-col :span="12">
                                <span class="headline">Массовая печать справок в военкоматы</span>
                            </el-col>

                            <el-col :span="12" style="text-align: right">
                                <el-button round @click.native="handleClose">
                                    <i class="fa fa-close"></i>
                                </el-button>
                            </el-col>
                        </el-row>
                    </v-card-title>
                    <v-card-text>
                        <el-alert v-if="errors.length >0"
                                  title="Что-то пошло не по плану"
                                  type="error"
                                  description="more text description"
                                  show-icon>
                            <ul>
                                <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                            </ul>
                        </el-alert>
                        <el-form name="MassPrintReferencesForm" ref="MassPrintReferencesForm" :model="model"
                                 :rules="rules">
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item prop="recruit_center_id" label="Военный комиссариат">
                                        <el-select v-model="model.recruit_center_id" placeholder="Военный комиссариат"
                                                   filterable
                                                   class="w100">
                                            <el-option
                                                    v-for="center in centers"
                                                    :key="center.id"
                                                    :label="center.name"
                                                    :value="center.id">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" round
                                   @click.native="handlePrint">
                            Запилить
                        </el-button>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    import {massPrintMilitaryReferences} from "../../../../api/contingent/student";

    export default {
        name: "MassPrintReferencesModal",
        props: {
            recruitmentCenters: {
                type: Array
            }
        },
        data() {
            return {
                centers: [],
                errors: [],
                model: {
                    recruit_center_id: null
                },
                rules: {
                    recruit_center_id: [
                        {required: true, message: 'Не выбран военный комиссариат', trigger: 'change'}
                    ]
                }
            }
        },
        created() {
            this.centers = this.recruitmentCenters;
        },
        methods: {
            handleClose() {
                this.$modal.hide('MassPrintReferencesModal')
            },
            handlePrint() {
                this.$refs['MassPrintReferencesForm'].validate(valid => {
                    if (valid) {
                        const loading = this.$loading({
                            lock: true,
                            text: 'Загрузчик крутится, справки мутятся, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        this.errors = [];
                        massPrintMilitaryReferences(this.model)
                            .then(response => response.data)
                            .then(data => {
                                let pdfTab = window.open('', '_blank');
                                let win = pdfTab.document.createElement('embed');
                                win.width = "100%";
                                win.height = "100%";
                                win.src = `data:application/pdf;base64,${data}`;
                                win.type = `application/pdf`;
                                pdfTab.document.body.style = "height: 100%; width: 100%; overflow: hidden; margin: 0px; background-color: rgb(82, 86, 89);";
                                pdfTab.document.body.appendChild(win);
                                loading.close();
                                this.handleClose();
                            }, error => {
                                loading.close();
                                this.errors = error.response.data.errors
                            })
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>