<template>
    <div>
        <v-dialog v-model="model" persistent max-width="1200px">
            <v-card>
                <v-card-title>
                    <el-row :gutter="10" class="w100">
                        <el-col :span="12">
                            <span class="headline">Отчисление студентов</span>
                        </el-col>
                        <el-col :span="12" style="text-align: right">
                            <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                <i class="fa fa-close"></i>
                            </el-button>
                        </el-col>
                    </el-row>
                </v-card-title>
                <v-card-text>
                    <el-alert v-if="serverErrors.length >0"
                              title="Что-то пошло не по плану"
                              type="error"
                              description="more text description"
                              show-icon>
                        <ul>
                            <li v-for="(error,key) in serverErrors" :key="key">{{error}}</li>
                        </ul>
                    </el-alert>
                    <el-row :gutter="10">
                        <el-col :span="16">
                            <el-table :data="studentsList" style="width: 100%"
                                      stripe
                                      border>
                                <el-table-column label="ФИО">
                                    <template slot-scope="scope">
                                        {{scope.row.lastname}} {{scope.row.firstname}} {{scope.row.middlename}}
                                    </template>
                                </el-table-column>
                                <el-table-column label="Группа">
                                    <template slot-scope="scope">
                                        {{scope.row.training_group.name}}
                                    </template>
                                </el-table-column>
                                <el-table-column label="Действия" width="100px" fixed="right">
                                    <template slot-scope="scope">
                                        <el-button type="danger" round @click="handleDelete(scope.$index)"
                                                   v-if="studentsList.length >1">
                                            <i class="fa fa-trash"></i>
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-col>
                        <el-col :span="8">
                            <el-form name="RetireStudentForm" ref="RetireStudentForm" :model="model" :rules="rules">
                                <el-row :gutter="10">
                                    <el-col :span="24">
                                        <el-form-item :label="$t('label.reason')" prop="reason">
                                            <el-select filterable v-model="model.reason"
                                                       :placeholder="$t('label.reason')"
                                                       class="w100">
                                                <el-option
                                                        v-for="(reason,key) in sortReasons"
                                                        :label="reason.name"
                                                        :key="reason.key"
                                                        :value="reason.key"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="24">
                                        <el-form-item :label="$t('label.decree_number')" prop="decree_number">
                                            <el-input v-model="model.decree_number"
                                                      :placeholder="$t('label.decree_number')"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="24">
                                        <el-form-item prop="decree_date" :label="$t('label.decree_date')">
                                            <el-date-picker
                                                    v-mask="'##.##.####'"
                                                    :picker-options="pickerOptions"
                                                    value-format="yyyy-MM-dd"
                                                    format="dd.MM.yyyy"
                                                    type="date"
                                                    :placeholder="$t('label.decree_date')"
                                                    v-model="model.decree_date"
                                                    class="w100">
                                            </el-date-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                        </el-col>
                    </el-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" :loading="loading" :disabled="loading" round
                               @click.native="handleRetire">
                        {{$t('form.retire')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {reasons} from "../../../../constants";
    import {DateTime} from 'luxon';
    import {retireStudents} from "../../../../api/contingent/student";

    export default {
        name: "RetireStudentModal",
        props: ['students'],
        data() {
            return {
                reasons: reasons['allocation'],
                hasError: false,
                serverErrors: [],
                studentsList: this.students,
                loading: false,
                model: {
                    reason: 'voluntarilyLeftTheEducationalInstitution',
                    decree_number: null,
                    decree_date: DateTime.local().toISODate()
                },
                pickerOptions: this.$pickerConfig({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                }),
                rules: {
                    reason: [
                        {required: true, message: 'Не указана причина', trigger: 'change'}
                    ],
                    decree_number: [
                        {required: true, message: 'Не указан номер приказа', trigger: 'blur'}
                    ],
                    decree_date: [
                        {required: true, message: 'Не выбрана дата приказа', trigger: 'blur'}
                    ]
                }
            }
        },
        computed: {
            sortReasons() {
                return _.sortBy(this.reasons, 'name')
            }
        },
        methods: {
            handleDelete(index) {
                this.$delete(this.studentsList, index);
                if (this.studentsList.length === 0) {
                    this.handleClose();
                }
            },
            handleClose() {
                this.$modal.hide('RetireStudentModal')
            },
            handleRetire() {
                this.$refs.RetireStudentForm.validate((valid) => {
                    this.hasError = false;
                    if (valid) {
                        let ids = this.studentsList.map(function (student) {
                            return student.id;
                        });
                        let data = {...{ids}, ...this.model};
                        retireStudents(data).then(response => {
                            this.handleClose();
                            this.$bus.emit('refresh-student-list');
                            this.$notify({
                                title: 'Успешно',
                                message: response.data.message,
                                type: 'success'
                            });
                        }, error => {
                            this.serverErrors = [];
                            let response = error.response.data;
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            if (response.errors) {
                                this.serverErrors = response.errors;
                            }
                            this.hasError = true;
                        });
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>