<template>

    <div class="modal-content">
        <v-dialog v-model="educationModel" persistent max-width="900px">
            <v-card>
                <v-card-title>
                    <el-row :gutter="10" class="w100">
                        <el-col :span="12">
                            <span class="headline">Обновление образования</span>
                        </el-col>

                        <el-col :span="12" style="text-align: right">
                            <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                <i class="fa fa-close"></i>
                            </el-button>
                        </el-col>
                    </el-row>
                </v-card-title>
                <v-card-text>
                    <el-alert v-if="errors.length >0"
                              title="Что-то пошло не по плану"
                              type="error"
                              description="more text description"
                              show-icon>
                        <ul>
                            <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                        </ul>
                    </el-alert>
                    <el-form :model="educationModel" ref="UserEducationForm" name="UserEducationForm" :rules="rules">
                        <el-checkbox v-model="educationModel.has_original" :disabled="isOriginalDisable"
                                     @change="setRequiredStatusInEducationForm">
                            Подан оригинал документа
                        </el-checkbox>
                        <user-education-form v-model="educationModel"></user-education-form>
                    </el-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" :loading="loading" :disabled="loading" round @click="handleUpdate">
                        {{$t('form.update')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import UserEducation from "./user-education";
    import UserEducationForm from "../ContingentForms/user-education-form";
    import {updateData} from "../../api/contingent/universalContingentApi";


    export default {
        name: "EditEducationModal",
        components: {UserEducationForm, UserEducation},
        props: ['user_id', 'education', 'status'],
        data() {
            return {
                educationModel: {},
                errors: [],
                loading: false,
                isOriginalDisable: false,
                rules: {
                    education_id: [
                        {required: true, message: 'Не выбран уровень образования', trigger: 'change'}
                    ],
                    graduation_organization_name:
                        [
                            {
                                required: true,
                                message: 'Не заполнена предыдущая образовательная организация',
                                trigger: 'blur'
                            }
                        ],
                    graduation_organization_place:
                        [
                            {
                                required: true,
                                message: 'Не указано местоположение предыдущей образовательной организации',
                                trigger: 'blur'
                            }
                        ],
                    graduation_date: [
                        {
                            required: true,
                            message: 'Не указана дата окончания предыдущей организации',
                            trigger: 'blur'
                        }
                    ]
                }
            }
        },
        created() {
            this.educationModel = _.cloneDeep(this.education);
            this.isOriginalDisable = this.status !== 'enrollee';
            this.setRequiredStatusInEducationForm()
        },
        methods: {
            handleClose() {
                this.$modal.hide('EditEducationModal');
            },
            setRequiredStatusInEducationForm() {
                let data = {
                    education_id: [
                        {
                            required: this.educationModel.has_original,
                            message: 'Не выбран уровень образования',
                            trigger: 'change'
                        }
                    ],
                    graduation_organization_name: [
                        {
                            required: this.educationModel.has_original,
                            message: 'Не выбран уровень образования',
                            trigger: 'blur'
                        }
                    ],
                    graduation_organization_place: [
                        {
                            required: this.educationModel.has_original,
                            message: 'Не указано местоположение предыдущей образовательной организации',
                            trigger: 'blur'
                        }
                    ],
                    graduation_date: [
                        {
                            required: this.educationModel.has_original,
                            message: 'Не указана дата окончания предыдущей организации',
                            trigger: 'blur'
                        }
                    ]
                }

                this.rules = data;
            },
            handleUpdate() {
                this.$refs.UserEducationForm.validate(valid => {
                    if (valid) {
                        const loading = this.$loading({
                            lock: true,
                            text: 'Обновляю данные об образовании, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        updateData(this.user_id, this.educationModel).then(response => {
                            this.$bus.emit('update-user-education-data', this.educationModel);
                            this.$notify({
                                title: 'Успешно',
                                message: 'Данные образования были успешно обновлены',
                                type: 'success'
                            });
                            this.handleClose();
                            loading.close();
                        }, error => {
                            this.serverErrors = [];
                            loading.close();
                            let response = error.response.data;
                            this.errors = response.errors;
                        })
                    } else {
                        return false;
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>