<template>
    <div class="user-photo">
        <div class="userpic">
            <img :src="photo_url" alt="Фотка" v-if="photo_url">
            <ul class="actions">
                <li class="fgblue">Загрузить фото
                    <input type="file" accept="image/*" ref="student_photo" @change="uploadPhoto">
                </li>
                <li class="fgred" v-if="photo_url" @click="deletePhoto">
                    Удалить фото
                </li>
            </ul>
        </div>
    </div>
</template>

<script>

    import {uploadPhoto, deletePhoto} from "../../api/contingent/student";

    export default {
        name: "user-photo",
        props: {
            user_id: {
                type: Number
            },
            photo: {
                type: String
            }
        },
        data() {
            return {
                id: this.user_id,
                photo_url: this.photo,
                allowTypes: ['image/jpeg', 'image/png']
            }
        },
        methods: {
            uploadPhoto() {
                let file = this.$refs['student_photo'].files[0];
                let type = file.type;
                if (this.allowTypes.includes(type)) {
                    const loading = this.$loading({
                        lock: true,
                        text: 'Загружаю фотографию, пожалуйста, подождите',
                        spinner: 'el-icon-loading',
                        background: 'rgba(240, 240, 240, 0.8)'
                    });
                    uploadPhoto(this.user_id, file).then(response => {
                        loading.close();
                        this.photo_url = response.data.photo;
                        this.$notify({
                            title: 'Успешно',
                            message: 'Фотография была успешно загружена',
                            type: 'success'
                        });
                    }, error => {
                        loading.close();
                        this.$alert(error.response.data.message, 'Внимание', {
                            confirmButtonText: 'Хорошо',
                        });
                    });
                } else {
                    this.$alert('Недопустимый формат изображения. Допустимые форматы JPEG и PNG', 'Внимание', {
                        confirmButtonText: 'Хорошо',
                    });
                }
                this.$refs['student_photo'].type = 'text';
                this.$refs['student_photo'].type = 'file';
            },
            deletePhoto() {
                this.$confirm('Вы действительно хотите удалить фотографию?', 'Подтвердите удаление', {
                    confirmButtonText: 'Да',
                    cancelButtonText: 'Отмена',
                    type: 'info'
                }).then(() => {
                    const loading = this.$loading({
                        lock: true,
                        text: 'Удаляю фотографию, пожалуйста, подождите',
                        spinner: 'el-icon-loading',
                        background: 'rgba(240, 240, 240, 0.8)'
                    });

                    deletePhoto(this.user_id).then(response => {
                        loading.close();
                        this.photo_url = null;
                        this.$notify({
                            title: 'Успешно',
                            message: 'Фотография была успешно удалена',
                            type: 'success'
                        });
                    }, error => {
                        loading.close();
                        this.$alert(error.response.data.message, 'Внимание', {
                            confirmButtonText: 'Хорошо',
                        });
                    });
                }).catch(() => {

                });
            }
        }
    }
</script>

<style scoped>

</style>