<template>
    <div>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>Адреса</span>
                <el-button style="float: right;" type="primary" round @click="handleEdit"
                           v-if="this.checkPermission(['student.edit','enrollees.edit'])"><i class="fa fa-edit"></i>
                </el-button>
            </div>
            <div>
                <div class="information" v-for="(address,key) in addresses">
                    <div v-if="_.isObject(address)">
                        <h4>{{key|addressType}}</h4>
                        <p>
                            <span data-prefix="Область: ">{{address.region}}</span>
                            <span data-prefix="Район областной: ">{{address.area}}</span>
                            <span data-prefix="Город: ">{{address.city}}</span>
                            <span data-prefix="Район городской: ">{{address.city_area}}</span>
                            <span data-prefix="Населенный пункт: ">{{address.settlement}}</span>
                            <span data-prefix="Индекс: ">{{address.index}}</span>
                            <span data-prefix="Улица: ">{{address.street}}</span>
                            <span data-prefix="Дом: ">{{address.house_number}}</span>
                            <span data-prefix="Корпус: ">{{address.housing}}</span>
                            <span data-prefix="Квартира: ">{{address.apartment_number}}</span>
                            <span data-prefix="Дата регистрации: ">{{address.registration_date|dateFormat}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </el-card>
    </div>
</template>

<script>
    import EditAddressesModal from './EditAddressesModal'

    export default {
        name: "user-addresses-list",
        props: ['user'],
        data() {
            return {
                addresses: this.user.addresses
            }
        },
        mounted() {
            this.$bus.on('update-addresses-list', data => {
                this.addresses = data;
            })
        },
        methods: {
            handleEdit() {
                this.$modal.show(EditAddressesModal,
                    {
                        user_id: this.user.id,
                        addresses: this.addresses
                    },
                    {
                        name: 'EditAddressesModal',
                        width: 0,
                        height: 0,
                        'z-index': 1000
                    }
                )
            }
        }
    }
</script>

<style scoped>

</style>