<template>
    <div>
        <el-form :model="value" :rules="rules"
                 label-position="right"
                 ref="StudentEducation">
            <el-row :gutter="10">
                <el-col :span="24">
                    <el-form-item :label="$t('label.education_level')" prop="education_id">
                        <el-select v-model="value.education_id"
                                   :placeholder="$t('label.education_level')"
                                   class="w100">
                            <el-option
                                    v-for="(education,key) in sortEducations"
                                    :label="education.name"
                                    :key="education.id"
                                    :value="education.id"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="24" v-if="value.has_original">
                    <el-form-item :label="$t('label.organization_name')"
                                  prop="graduation_organization_name">
                        <el-autocomplete
                                style="width: 100%"
                                :placeholder="$t('label.organization_name')"
                                v-model="value.graduation_organization_name"
                                :fetch-suggestions="searchOrganization"
                                :trigger-on-focus="false"
                                @select="selectOrganization"
                        >
                            <template slot-scope="{ item }">
                                <div style="word-break: break-all">
                                    {{item}}
                                </div>
                            </template>
                        </el-autocomplete>

                    </el-form-item>
                </el-col>
                <el-col :span="24" v-if="value.has_original">
                    <el-form-item :label="$t('label.organization_place')"
                                  prop="graduation_organization_place">
                        <el-autocomplete
                                style="width: 100%"
                                :placeholder="$t('label.organization_place')"
                                v-model="value.graduation_organization_place"
                                :fetch-suggestions="searchOrganizationPlace"
                                :trigger-on-focus="false"
                                @select="selectOrganizationPlace"
                        >
                            <template slot-scope="{ item }">
                                <div style="word-break: break-all">
                                    {{item}}
                                </div>
                            </template>
                        </el-autocomplete>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item prop="avg" :label="$t('label.avg')" v-if="value.has_original">
                        <el-col :span="20">
                            <el-input-number class="w100" v-model="value.avg" :step="0.0001"
                                             :max="5"></el-input-number>
                        </el-col>
                        <el-col :span="4">
                            <el-button type="primary" @click="handleCalculateAverageScoreModal">
                                <i class="fa fa-calculator"></i>
                            </el-button>
                        </el-col>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item prop="graduation_date" :label="$t('label.graduation_date')" v-if="value.has_original">
                        <el-date-picker
                                v-mask="'##.##.####'"
                                :picker-options="pickerOptions"
                                value-format="yyyy-MM-dd"
                                format="dd.MM.yyyy"
                                type="date"
                                :placeholder="$t('label.graduation_date')"
                                v-model="value.graduation_date"
                                class="w100"
                        >
                        </el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
    import {genders, documentsTypes, educations} from "@/constants";
    import {
        educationalOrganization,
        locationsOfEducationalInstitutions
    } from "@/api/cache";
    import FormGroup from "../FormGroup/index";
    import CalculateAverageScore from "./CalculateAverageScore";

    export default {
        name: "user-education",
        components: {CalculateAverageScore, FormGroup},
        props: ['value'],
        data() {
            return {
                educationalOrganizations: [],
                locationsOfEducationalInstitutions: [],
                rules: {
                    graduation_organization_name: [
                        {
                            required: this.value.has_original,
                            message: 'Не заполнено наименование предыдущей образовательной организации',
                            trugger: 'blur'
                        }
                    ],
                    graduation_organization_place: [
                        {
                            required: this.value.has_original,
                            message: 'Не заполнен населенный пункт предыдущего учреждения',
                            trugger: 'blur'
                        }
                    ]
                    ,
                    graduation_date: [
                        {
                            required: this.value.has_original,
                            message: 'Не заполнена дата окончания предыдущей организации',
                            trugger: 'change'
                        }
                    ]
                },
                pickerOptions: this.$pickerConfig({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                }),
            }
        },
        computed: {
            sortEducations() {
                return _.sortBy(educations, 'name')
            }
        },
        mounted() {
            let vm = this;
            this.$bus.on('validate-education-form', data => {
                this.validate();
            });

            this.$bus.on('end-calculate-average-score', data => {
                vm.value.avg = data.average;
                vm.value.ratings_map = data.ratingMap;
            });
            educationalOrganization().then(response => {
                this.educationalOrganizations = response.data;
            }, error => {
                this.$notify.error({
                    title: 'Ошибка',
                    message: 'Произошла ошибка при загрузке списка организаций. Автозаполнение недоступно'
                });
            });
            locationsOfEducationalInstitutions().then(response => {
                this.locationsOfEducationalInstitutions = response.data;
            }, error => {
                this.$notify.error({
                    title: 'Ошибка',
                    message: 'Произошла ошибка при загрузке списка мест обр. организаций. Автозаполнение недоступно'
                });
            })
        },
        methods: {
            validate() {
                this.$refs.StudentEducation.validate((valid) => {
                    this.$bus.emit('student-education-form-status', valid);
                })
            },
            searchOrganization(queryString, cb) {
                var organizations = this.educationalOrganizations;
                var results = queryString ? organizations.filter(
                    function (organization) {
                        return (organization.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                    }
                ) : organizations;
                cb(results);
            },
            selectOrganization(item) {
                this.value.graduation_organization_name = item;
            },
            searchOrganizationPlace(queryString, cb) {
                var places = this.locationsOfEducationalInstitutions;
                var results = queryString ? places.filter(
                    function (place) {
                        return (place.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                    }
                ) : results;
                cb(results);
            },
            selectOrganizationPlace(item) {
                this.value.graduation_organization_place = item;
            },
            handleCalculateAverageScoreModal() {
                this.$modal.show(CalculateAverageScore, {
                    ratings: this.value.ratings_map
                }, {
                    name: 'CalculateAverageScoreModal',
                    height: 0,
                    width: 0,
                    'z-index': 100
                })
            }
        },
        watch: {}
    }
</script>

<style scoped>

</style>