<template>
    <div class="user-health">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>Сведения о здоровье и льготы</span>
                <el-button style="float: right;" type="primary" round @click="editHealth"
                           v-if="this.checkPermission(['student.edit','enrollees.edit'])"><i class="fa fa-edit"></i>
                </el-button>
            </div>
            <div>
                <div class="information">
                    <p>
                        <span data-prefix="Справка 086-у: ">{{health.has_certificate|logic}}</span>
                        <span data-prefix="Лицо с ограниченными возможностями: ">{{health.person_with_disabilities|logic}}</span>
                        <span data-prefix="Номер медицинского полиса: ">{{health.medical_policy_number}}</span>
                        <span data-prefix="Категория здоровья: ">{{health.health_category|healthCategory}}</span>
                        <span data-prefix="Инвалидность: ">{{health.disability|disability}}</span>
                        <span v-if="health.preferential_categories.length === 0" data-prefix="ЛЬготные категории: ">Льгот нет</span>
                    </p>
                    <div v-if="health.preferential_categories.length > 0">
                        <h4>Льготные категориии</h4>
                        <ul>
                            <li v-for="(category,key) in health.preferential_categories" :key="key">
                                {{category|privilegedCategory}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </el-card>
    </div>
</template>

<script>

    import EditHealthModal from './components/EditHealthModal';

    export default {
        name: "user-health",
        props: {
            user: {},
        },
        data() {
            return {
                health: {},
                id: null
            }
        },
        mounted() {
            this.health = this.user.health;
            this.id = this.user.id;
            this.$bus.on('update-health-list', data => {
                this.health = {...{},...data};
            })
        },
        methods: {
            editHealth() {
                this.$modal.show(EditHealthModal,
                    {
                        id: this.id,
                        health: this.health
                    },
                    {
                        name: 'EditHealthModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    }
                )
            }
        }
    }
</script>

<style scoped>

</style>