<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="AddEmployeeForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить сотрудника</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.lastname')"
                                              prop="lastname">
                                    <el-input v-only-letter :value="model.lastname"
                                            :placeholder="$t('label.lastname')"
                                            v-model="model.lastname" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.firstname')"
                                              prop="firstname">
                                    <el-input
                                            :placeholder="$t('label.firstname')"
                                            v-model="model.firstname" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.middlename')"
                                              prop="middlename">
                                    <el-input
                                            :placeholder="$t('label.middlename')"
                                            v-model="model.middlename" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.gender')" prop="gender">
                                    <el-select v-model="model.gender" :placeholder="$t('label.gender')"
                                               :disabled="loading"
                                               class="w100">
                                        <el-option
                                                v-for="(gender,key) in genders"
                                                :label="gender.name"
                                                :key="gender.id"
                                                :value="gender.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="birthday" :label="$t('label.birthday')">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            :picker-options="pickerOptions"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.birthday')"
                                            v-model="model.birthday"
                                            class="w100"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <form-group title="Образование">
                                <el-col :span="24">
                                    <el-form-item :label="$t('label.education_level')" prop="education.education_id">
                                        <el-select v-model="model.education.education_id"
                                                   :placeholder="$t('label.education')"
                                                   :disabled="loading"
                                                   class="w100">
                                            <el-option
                                                    v-for="(education,key) in educations"
                                                    :label="education.name"
                                                    :key="education.id"
                                                    :value="education.id"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('label.direction_of_preparation')"
                                                  prop="direction_of_preparation">
                                        <el-input
                                                :placeholder="$t('label.direction_of_preparation')"
                                                v-model="model.education.direction_of_preparation"
                                                :disabled="loading">
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('label.qualification')"
                                                  prop="qualification">
                                        <el-input
                                                :placeholder="$t('label.qualification')"
                                                v-model="model.education.qualification" :disabled="loading">
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                            </form-group>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.category')" prop="category">
                                    <el-select v-model="model.category" :placeholder="$t('label.category')"
                                               :disabled="loading"
                                               class="w100">
                                        <el-option
                                                v-for="(categories,key) in categories"
                                                :label="categories.name"
                                                :key="categories.id"
                                                :value="categories.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="category_date" :label="$t('label.category_date')">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.category_date')"
                                            v-model="model.category_date"
                                            class="w100"
                                            v-mask="'##.##.####'"
                                            :picker-options="categoryPickerConfig"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.general_experience')" prop="general_experience">
                                    <el-input-number v-model="model.general_experience" :min="0" :max="100"
                                                     :disabled="loading"
                                                     class="w100"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="speciality_experience" :label="$t('label.speciality_experience')">
                                    <el-input-number v-model="model.specialty_exp" :min="0" :max="100"
                                                     :disabled="loading"
                                                     class="w100"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.scientific_degree')" prop="scientific_degree">
                                    <el-input
                                            :placeholder="$t('label.scientific_degree')"
                                            v-model="model.scientific_degree" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="academic_title" :label="$t('label.academic_title')">
                                    <el-input
                                            :placeholder="$t('label.academic_title')"
                                            v-model="model.academic_title" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <form-group title="Должность">
                                <el-col :span="24">
                                    <el-form-item :label="$t('label.position')" prop="position.position_id">
                                        <el-select v-model="model.position.position_id"
                                                   :placeholder="$t('label.position')"
                                                   :disabled="loading"
                                                   class="w100">
                                            <el-option
                                                    v-for="(position,key) in positions"
                                                    :label="position.name"
                                                    :key="position.id"
                                                    :value="position.id"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item :label="$t('label.type')" prop="position.type">
                                        <el-select v-model="model.position.type" :placeholder="$t('label.type')"
                                                   :disabled="loading"
                                                   class="w100">
                                            <el-option
                                                    v-for="(type,key) in employeePositionType"
                                                    :label="type.name"
                                                    :key="type.id"
                                                    :value="type.id"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item prop="position.start_date" label="Дата назначения">
                                        <el-date-picker
                                                value-format="yyyy-MM-dd"
                                                format="dd.MM.yyyy"
                                                type="date"
                                                :placeholder="$t('label.start_date')"
                                                v-model="model.position.start_date"
                                                v-mask="'##.##.####'"
                                                :picker-options="pickerOptions"
                                                class="w100"
                                                :disabled="loading">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                            </form-group>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {genders, categories, educations, employeePositionType} from "@/constants";
    import {Message} from 'element-ui';
    import FormGroup from "../../../components/FormGroup/index";
    import {DateTime} from 'luxon';
    import {createEmployee} from "@/api/contingent/employee";

    export default {
        name: "create-employee",
        components: {FormGroup},
        props: ['positions'],
        data() {
            return {
                genders,
                employeePositionType,
                categories,
                educations,
                loading: false,
                hasError: false,
                serverErrors: [],
                model: {
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    birthday: null,
                    gender: 0,
                    category: 1,
                    category_date: null,
                    general_experience: 0,
                    specialty_exp: 0,
                    scientific_degree: null,
                    academic_title: null,
                    status: 'work',
                    education: {
                        education_id: 7,
                        direction_of_preparation: null,
                        qualification: null,
                    },
                    position: {
                        position_id: null,
                        type: 0,
                        start_date: DateTime.local().toISODate()
                    }
                },
                rules: {
                    lastname: [
                        {required: true, message: 'Заполните фамилию', trigger: 'blur'}
                    ],
                    firstname: [
                        {required: true, message: 'Заполните имя', trigger: 'blur'}
                    ],
                    birthday: [
                        {required: true, message: 'Укажите дату рождения', trigger: 'blur'}
                    ],
                    'position.position_id': [
                        {required: true, message: 'Выберите должность', trigger: 'change'}
                    ],
                    'position.start_date': [
                        {required: true, message: 'Укажите дату назначения', trigger: 'change'}
                    ]
                },
                categoryPickerConfig: this.$pickerConfig(),
                pickerOptions: this.$pickerConfig({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                }),
            }
        },
        mounted() {
            console.log(this.$pickerConfig())
        },
        methods: {
            handleClose() {
                this.$modal.hide('CreateEmployeeModal');
            },
            handleCreate() {
                this.$refs['AddEmployeeForm'].validate(valid => {
                    if (valid) {
                        this.model.start_work_date = this.model.position.start_date;
                        createEmployee(this.model).then(response => {
                            this.handleClose();
                            this.$bus.emit('update-employees-list');
                            Message({
                                message: response.data.message,
                                type: 'success',
                                duration: 5 * 1000
                            });
                        }, error => {
                            let response = error.response.data;
                            this.serverErrors = [];
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            if (response.errors) {
                                this.serverErrors = response.errors;
                            }
                            this.hasError = true;
                            this.loading = false;
                        });
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>