<template>
    <div class="app-container">
        <el-row>
            <el-col :span="12" style="text-align: left">
                <el-dropdown split-button type="primary" @command="handleCommand">
                    Действия
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="military_list">
                            Список военнообязанных
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
            <el-col :span="12" style="text-align: right">
                <el-button class="filter-item" style="margin-left: 10px;" type="primary"
                           @click="handleCreate">
                    <v-icon name="plus"/>
                    Добавить сотрудника
                </el-button>
            </el-col>
        </el-row>
        <div class="filter-container">
            <v-container grid-list-md fluid>
                <v-layout row wrap>
                    <v-flex xs12 sm10 md10>
                        <v-layout row wrap>
                            <v-flex xs4>
                                <el-input clearable="" v-model="listQuery.filter.lastname"
                                          :placeholder="$t('label.lastname')"></el-input>
                            </v-flex>
                            <v-flex xs4>
                                <el-select clearable filterable v-model="listQuery.filter.position_id"
                                           :placeholder="$t('label.position')"
                                           class="w100">
                                    <el-option
                                            v-for="(position,key) in positions"
                                            :label="position.name"
                                            :key="position.id"
                                            :value="position.id"></el-option>
                                </el-select>
                            </v-flex>
                            <v-flex xs4>
                                <el-select clearable filterable v-model="listQuery.filter.category_id"
                                           :placeholder="$t('label.category')"
                                           class="w100">
                                    <el-option
                                            v-for="(category,key) in sortCategories"
                                            :label="category.name"
                                            :key="category.id"
                                            :value="category.id"></el-option>
                                </el-select>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex xs12 md2 sm2 text-xs-center>
                        <el-button v-waves class="filter-item" type="primary" icon="el-icon-search"
                                   @click="handleFilter"
                                   @keypress.enter="handleFilter">
                            {{$t('form.apply')}}
                        </el-button>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
        <el-table
                v-loading="loading"
                element-loading-text="Загружаю сотрудников..."
                element-loading-spinner="el-icon-loading"
                :data="employees"
                style="width: 100%"
                border
                stripe>
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column prop="id" label="ID" width="50px"></el-table-column>
            <el-table-column label="ФИО" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.full_name}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.birthday')" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.birthday|dateFormat}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.age')" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.age|pluralize(['год','года','лет'])}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Должности" align="center">
                <template slot-scope="scope">
                    <ul>
                        <li v-for="position in scope.row.positions.filter(position=> position.date_layoff===null)">
                            {{position.position.name}}
                        </li>
                    </ul>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.category')" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.category|qualificationCategory}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Действия" fixed="right">
                <template slot-scope="scope">
                    <div>
                        <router-link :to="{name:'employee.profile',params:{id:scope.row.id}}">
                            <el-button type="primary" circle>
                                <i class="fa fa-user"></i>
                            </el-button>
                        </router-link>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[15,30,45]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>

    import {getPositions} from "@/api/services";
    import {categories} from "@/constants";
    import {fetchAll} from "@/api/contingent/employee";
    import CreateEmployee from './create-employee';

    export default {
        name: "employees-list",
        data() {
            return {
                employees: [],
                positions: [],
                plans: [],
                loading: true,
                total: 0,
                listQuery: {
                    page: 1,
                    limit: 15,
                    filter: {
                        lastname: null,
                        position_id: null,
                        category_id: null
                    }
                },
            }
        },
        computed: {
            sortCategories() {
                return _.sortBy(categories, 'name');
            }
        },
        mounted() {

            this.$bus.on('update-employees-list', data => {
                this.getList();
            });

            this.getPositions();
            this.getList();
        },
        methods: {
            handleCommand(command) {
                switch (command) {
                    case 'military_list':
                        this.handleMakeMilitaryList();
                        break;
                    case 'deleteEntrants':

                        break;
                    case 'refreshEntrantsCount':

                        break;
                    case 'enrollmentEntrants':

                        break;
                }
            },
            handleMakeMilitaryList(){
                let route = this.routeByName('api.export.military-list');
                window.open(route, '_blank');
            },
            getList() {
                this.loading = true;
                fetchAll(this.listQuery).then(response => {
                    this.employees = response.data.employees;
                    this.total = response.data.total;
                    this.loading = false;
                }, error => {
                    this.loading = false;
                })
            },
            getPositions() {
                getPositions().then(response => {
                    this.positions = response.data;
                }).catch(exception => {
                    this.$swal({
                        title: 'Внимание! Ошибка!',
                        type: 'error',
                        html: `Произошла ошибка при загрузке должностей`,
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ок',
                    });
                });
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },
            handleCreate() {
                this.$modal.show(CreateEmployee,
                    {
                        positions: this.positions
                    },
                    {
                        name: 'CreateEmployeeModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    }
                )
            },
            handleFilter() {
                this.listQuery.page = 1
                this.getList()
            }
        }
    }
</script>

<style scoped>

</style>
