<!--<template>-->
<!--    <div>-->

<!--    </div>-->
<!--</template>-->

<script>
    import {Bar} from 'vue-chartjs';
    import {dateFormat} from "../../../filters";

    export default {
        name: "reception-chart-by-day",
        extends: Bar,
        data() {
            return {
                labels: [],
                data: []
            }
        },
        computed: {
            _statistic() {
                return this.$store.getters.recruitmentProgramGraphicStatistic;
            }
        },
        mounted() {
            let statistic = this._statistic;
            let day_recruit = statistic.day_recruit;

            for (let key in day_recruit) {
                this.labels.push(dateFormat(key));
                this.data.push(day_recruit[key]['count']);
            }
            let max = _.max(this.data);
            max++;
            let options = {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max
                        }
                    }]
                }
            };

            let chartData = {
                labels: this.labels,
                datasets: [{
                    label: 'Абитуриенты',
                    backgroundColor: '#409EFF',
                    data: this.data,

                }]
            };

            this.renderChart(chartData, options)
        }
    }
</script>

<style scoped>
    #bar-chart {
        height: 500px !important;
    }
</style>