<template>
    <div>
        <span v-if="hasProperty(periodObject.years)">{{_.floor(periodObject.years)|pluralize(['год','года','лет'])}}</span>
        <span v-if="hasProperty(periodObject.months)">{{periodObject.months|pluralize(['месяц','месяца','месяцев'])}}</span>
        <span v-if="hasProperty(periodObject.days)">{{_.floor(periodObject.days)|pluralize(['день','дня','дней'])}}</span>
    </div>
</template>

<script>
    import {DateTime} from 'luxon';

    export default {
        name: 'time-period',
        props: ['start_date', 'end_date', 'block'],
        data() {
            return {
                periodObject: null,
                start: null,
                end: null
            }
        },
        created() {
            this.findPeriod();
        },
        mounted() {

        },
        watch: {
            start_date: function () {
                console.log('изменен старт дейт');
                this.findPeriod();
            },
            end_date: function () {
                console.log('изменен енд дейт');
                this.findPeriod();
            }
        },
        methods: {
            findPeriod() {
                let start = DateTime.fromISO(this.start_date);
                let end = _.isNull(this.end_date) ? DateTime.local() : DateTime.fromISO(this.end_date);

                this.periodObject = end.diff(start, this.block).toObject();
            },
            hasProperty(property) {
                return !_.isNull(property) && (property > 0)
            }
        }

    }
</script>

<style scoped>

</style>