<template>
    <div class="form-group">
        <h4 class="form-group-header">{{title}}</h4>
        <div class="form-group-content">
            <slot></slot>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "form-group",
        props: ['title']
    }
</script>

<style scoped lang="scss">
    $color: #606266;
    .form-group {
        &-header {
            color: $color;
            margin: 0 0 10px 5px;
        }
        &-content {
            border: 1px solid #dcdfe6;
            //border-bottom: 1px solid #dcdfe6;
        }
    }
</style>