<template>
    <div>
        <el-tabs tab-position="top">
            <el-tab-pane label="Движение студента">
                <decrees :student="student"></decrees>
            </el-tab-pane>
            <el-tab-pane label="Справка об обучении" v-if="this.checkPermission(['student.make-reference'])">
                <study-reference></study-reference>
            </el-tab-pane>
            <el-tab-pane label="Справка в военкомат"
                         v-if="this.checkPermission(['student.make-reference','student.military'])">
                <voenkomat-reference></voenkomat-reference>
            </el-tab-pane>
            <el-tab-pane label="Образование">
                <user-education-component :user="student"></user-education-component>
            </el-tab-pane>
            <el-tab-pane label="Паспорт">
                <user-nationality :user="student"></user-nationality>
            </el-tab-pane>
            <el-tab-pane label="Здоровье и льготы">
                <user-health :user="student"></user-health>
            </el-tab-pane>
            <el-tab-pane label="Родители">
                <user-parents :user="student"></user-parents>
            </el-tab-pane>
            <el-tab-pane label="Адреса">
                <user-addresses-list :user="student"></user-addresses-list>
            </el-tab-pane>
            <el-tab-pane label="Воинский учет">
                <military-registration :user="student"></military-registration>
            </el-tab-pane>
            <el-tab-pane label="Комментарий" v-if="this.checkPermission(['super.admin'])">
                <user-comment-profile :user="student"></user-comment-profile>
            </el-tab-pane>
            <el-tab-pane label="Файлы" v-if="this.checkPermission(['super.admin'])">
                <user-files :user_id="student.id" :files="student.files"></user-files>
            </el-tab-pane>
            <el-tab-pane label="Выгрузки" v-if="this.checkPermission(['super.admin'])">
                <el-button type="primary" @click="handleExportToAsuRso">
                    <i class="fa fa-upload"></i> Выгрузка в АСУ РСО
                </el-button>
                <el-button type="primary" @click="handleMakeT2">
                    <i class="fa fa-file-word-o" aria-hidden="true"></i> Сгенерировать Карту Т2
                </el-button>
                <el-button type="primary" @click="handleMakeProfile">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Выгрузить досье
                </el-button>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
    import StudyReference from "./references/study-reference";
    import UserPassport from "../../../../components/User/user-passport";
    import Decrees from "./decrees";
    import UserAddressesList from "../../../../components/User/user-addresses-list";
    import UserEducationInformation from "../../../../components/User/components/user-education-information";
    import VoenkomatReference from "./references/voenkomat-reference";
    import UserParents from "../../../../components/User/components/user-parents";
    import MilitaryRegistration from "../../../../components/User/military-registration";
    import {exportToAsuRso} from "../../../../api/contingent/student";
    import UserCommentProfile from "../../../../components/User/user-comment-profile";
    import UserFiles from "../../../../components/User/user-files";
    import UserNationality from "../../../../components/User/user-nationality";
    import UserEducationComponent from "../../../../components/User/user-education-component";
    import UserHealth from "../../../../components/User/user-health";
    import {getToken} from "../../../../utils/auth";

    export default {
        name: "additional-information",
        components: {
            UserHealth,
            UserEducationComponent,
            UserNationality,
            UserFiles,
            UserCommentProfile,
            MilitaryRegistration,
            UserParents,
            VoenkomatReference,
            UserEducationInformation, UserAddressesList, Decrees, UserPassport, StudyReference
        },
        props: ['student'],
        methods: {
            handleOpenFile(path) {
                let token = getToken();
                console.log(token);
                window.open(`${path}?token=${token}`, '_blank');

            },
            handleExportToAsuRso() {
                //api.students.profile-to-asurso
                let path = this.routeByName('api.students.profile-to-asurso', {id: this.student.id});
                window.open(path, '_blank');
            },
            handleMakeT2() {
                let route = this.routeByName('api.export.word.t2-form', {id: this.student.id});
                window.open(route, '_blank');
            },
            handleMakeProfile() {
                let path = this.routeByName('api.export.pdf.student-profile-pdf', {id: this.student.id});
                window.open(path, '_blank');
            }
        }
    }
</script>

<style scoped>

</style>