<template>
    <div>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <el-row :gutter="10">
                    <el-col :span="21">
                        <h3>Основная информация</h3>
                    </el-col>
                    <el-col :span="3">
                        <el-button style="float: right;" type="primary" @click="handleUpdate" round
                                   v-if="this.checkPermission(['student.edit'])">
                            <i class="fa fa-edit"></i>
                        </el-button>
                    </el-col>
                </el-row>
            </div>
            <div>
                <user-photo :user_id="_student.id" :photo="_student.photo"></user-photo>
            </div>
            <div>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">ID</el-col>
                    <el-col :span="12">{{_student.id}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">№ П/П</el-col>
                    <el-col :span="12">{{_student.nominal_number}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Пол</el-col>
                    <el-col :span="12">{{_student.gender|gender}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Дата рождения</el-col>
                    <el-col :span="12">{{_student.birthday|dateFormat}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Возраст</el-col>
                    <el-col :span="12">
                        <time-period :start_date="_student.birthday" :end_date="null" :block="['years']"></time-period>
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Возраст на конец года</el-col>
                    <el-col :span="12">
                        <time-period :start_date="_student.birthday" :end_date="end_year"
                                     :block="['years']"></time-period>
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Группа</el-col>
                    <el-col :span="12">
                        {{_student.training_group.name}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px" v-if="_student.reinstate_group">
                    <el-col :span="12">Группа в которую восстановится из АО</el-col>
                    <el-col :span="12">
                        {{_student.reinstate_group.name}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Статус</el-col>
                    <el-col :span="12">
                        {{_student.status|humanStatus}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Телефон</el-col>
                    <el-col :span="12">
                        {{_student.phone}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Длительно отсутствующий</el-col>
                    <el-col :span="12">
                        {{_student.long_absent|logic}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">СНИЛС</el-col>
                    <el-col :span="12">
                        {{_student.snils|snils}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">ИНН</el-col>
                    <el-col :span="12">
                        {{_student.inn}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px" v-if="_student.give_document_date">
                    <el-col :span="12">Дата подачи документов</el-col>
                    <el-col :span="12">
                        {{_student.give_document_date|dateFormat}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Дата зачисления.</el-col>
                    <el-col :span="12">
                        {{_student.enrollment_date|dateFormat}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Дата факт.зач.</el-col>
                    <el-col :span="12">
                        {{_student.date_of_actual_transfer|dateFormat}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Приказ о зачсл.</el-col>
                    <el-col :span="12">
                        {{_student.enrollment_decree.number}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Откуда узнал</el-col>
                    <el-col :span="12">
                        {{_student.how_find_out|howFindOutSourse}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px" v-if="_student.invited_student">
                    <el-col :span="12">Пригласивший студент</el-col>
                    <el-col :span="12">
                        {{_student.invited_student.name_with_group}}
                    </el-col>
                </el-row>
            </div>
        </el-card>
    </div>
</template>

<script>
    import TimePeriod from "@/components/TimePeriod/index";
    import EditStudentModal from './EditStudentModal';
    import UserPhoto from "../../../../components/User/user-photo";
    import {DateTime} from 'luxon';

    export default {
        name: "basic-information",
        components: {UserPhoto, TimePeriod},
        data() {
            return {
                loading: true,
                end_year: DateTime.fromObject({month: 12, day: 31}).toISODate(),
            }
        },
        computed: {
            _student() {
                return this.$store.getters.getCurrentStudent;
            }
        },
        mounted() {
            //this.data = this.student;
            this.$bus.on('update-student-data', data => {
                this.data = {...this.data, ...data.student};
            });
        },
        methods: {
            handleUpdate() {
                this.$modal.show(EditStudentModal,
                    {},
                    {
                        name: 'EditStudentModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    },)
            }
        }
    }
</script>

<style scoped>

</style>
