<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="900px">
            <v-card>
                <v-card-title>
                    <el-row :gutter="10" class="w100">
                        <el-col :span="12">
                            <span class="headline">Добавить студента</span>
                        </el-col>

                        <el-col :span="12" style="text-align: right">
                            <el-button :loading="loading" :disabled="loading" round type="primary" @click="repearForm"
                                       v-if="hasDataInStorage">
                                Восстановить
                            </el-button>
                            <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                <i class="fa fa-close"></i>
                            </el-button>
                        </el-col>
                    </el-row>
                </v-card-title>
                <v-card-text>
                    <el-alert v-if="serverErrors.length >0"
                              title="Что-то пошло не по плану"
                              type="error"
                              description="more text description"
                              show-icon>
                        <ul>
                            <li v-for="(error,key) in serverErrors" :key="key">{{error}}</li>
                        </ul>
                    </el-alert>
                    <form-wizard @on-complete="onComplete" title="" subtitle="" shape="tab" color="#20a0ff"
                                 error-color="#ff4949">
                        <tab-content title="Персональная информация" icon="fa fa-user"
                                     :before-change="validatePersonal">
                            <el-form :model="model" :rules="rules.personal"
                                     label-position="right" :loading="loading"
                                     ref="StudentPersonal">
                                <el-row :gutter="10">
                                    <el-col :span="24">
                                        <el-form-item :label="$t('label.lastname')"
                                                      prop="lastname" class="w100">
                                            <el-input :value="model.lastname"
                                                      :placeholder="$t('label.lastname')"
                                                      v-model="model.lastname" :disabled="loading">
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="24">
                                        <el-form-item :label="$t('label.firstname')"
                                                      prop="firstname" class="w100">
                                            <el-input class="w100"
                                                      :placeholder="$t('label.firstname')"
                                                      v-model="model.firstname" :disabled="loading">
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="24">
                                        <el-form-item :label="$t('label.middlename')"
                                                      prop="middlename">
                                            <el-input class="w100"
                                                      :placeholder="$t('label.middlename')"
                                                      v-model="model.middlename" :disabled="loading">
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item :label="$t('label.gender')" prop="gender">
                                            <el-select v-model="model.gender" :placeholder="$t('label.gender')"
                                                       :disabled="loading"
                                                       class="w100">
                                                <el-option
                                                        v-for="(gender,key) in genders"
                                                        :label="gender.name"
                                                        :key="gender.id"
                                                        :value="gender.id"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item prop="birthday" :label="$t('label.birthday')">
                                            <el-date-picker
                                                    v-mask="'##.##.####'"
                                                    :picker-options="pickerOptions"
                                                    value-format="yyyy-MM-dd"
                                                    format="dd.MM.yyyy"
                                                    type="date"
                                                    :placeholder="$t('label.birthday')"
                                                    v-model="model.birthday"
                                                    class="w100"
                                                    :disabled="loading">
                                            </el-date-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                        </tab-content>
                        <tab-content title="Паспорт" icon="fa fa-address-card" :before-change="validatePassport">
                            <div class="fixed-body">
                                <el-form :model="model.passport" :rules="rules.passport"
                                         label-position="right"
                                         ref="StudentPassport">
                                    <el-row :gutter="10" style="margin: 0">
                                        <el-col :span="24">
                                            <el-form-item :label="$t('label.documentType')" prop="documentType">
                                                <el-select filterable v-model="model.passport.documentType"
                                                           :placeholder="$t('label.documentType')"
                                                           :disabled="loading"
                                                           class="w100">
                                                    <el-option
                                                            v-for="(type,key) in sortDocumentsTypes"
                                                            :label="type.name"
                                                            :key="type.id"
                                                            :value="type.id"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item :label="$t('label.series')"
                                                          prop="series">
                                                <el-input
                                                        :placeholder="$t('label.series')"
                                                        v-model="model.passport.series" :disabled="loading">
                                                </el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item :label="$t('label.number')"
                                                          prop="number">
                                                <el-input
                                                        :placeholder="$t('label.number')"
                                                        v-model="model.passport.number" :disabled="loading">
                                                </el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item :label="$t('label.subdivisionCode')"
                                                          prop="subdivisionCode">
                                                <el-input
                                                        :placeholder="$t('label.subdivisionCode')"
                                                        id="subdivision" :disabled="loading"
                                                        v-model="model.passport.subdivisionCode">
                                                </el-input>
                                                <!--<input id="subdivision" class="form-control" type="text"-->
                                                <!--:placeholder="$t('label.subdivisionCode')">-->
                                                <uiv-typeahead v-model="model.passport.subdivisionCode"
                                                               target="#subdivision"
                                                               :data="subdivisionCodes" item-key="code">
                                                    <template slot="item" slot-scope="props">
                                                        <li v-for="(item, index) in props.items"
                                                            :class="{active:props.activeIndex===index}"
                                                            @click="handleSelect(item)">
                                                            <a role="button" @click="props.select(item)">
                                                                {{item.code}} {{item.issued}}
                                                            </a>
                                                        </li>
                                                    </template>
                                                </uiv-typeahead>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item prop="issuanceDate" :label="$t('label.issuanceDate')">
                                                <el-date-picker
                                                        v-mask="'##.##.####'"
                                                        value-format="yyyy-MM-dd"
                                                        format="dd.MM.yyyy"
                                                        type="date"
                                                        :placeholder="$t('label.issuanceDate')"
                                                        v-model="model.passport.issuanceDate"
                                                        class="w100"
                                                        :picker-options="pickerOptions"
                                                        :disabled="loading">
                                                </el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="24">
                                            <el-form-item :label="$t('label.issued')"
                                                          prop="issued">
                                                <el-input type="textarea"
                                                          :placeholder="$t('label.issued')"
                                                          v-model="model.passport.issued" :disabled="loading">
                                                </el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="24">
                                            <el-form-item :label="$t('label.birthPlace')"
                                                          prop="birthPlace">
                                                <el-autocomplete
                                                        style="width: 100%"
                                                        :placeholder="$t('label.birthPlace')"
                                                        v-model="model.passport.birthPlace" :disabled="loading"
                                                        :fetch-suggestions="searchBirthPlace"
                                                        :trigger-on-focus="false"
                                                        @select="handleSelectBirthPlace"
                                                >
                                                    <template slot-scope="{ item }">
                                                        <div style="word-break: break-all">
                                                            {{item}}
                                                        </div>
                                                    </template>
                                                </el-autocomplete>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </div>
                        </tab-content>
                        <tab-content title="Адреса" icon="fa fa-map-marker">
                            <user-addresses v-model="model.addresses"></user-addresses>
                        </tab-content>
                        <tab-content title="Образование" icon="fa fa-university" :before-change="validateEducation">
                            <user-education v-model="model.education"></user-education>
                            <enrollment-information v-model="model.enrollment_information"
                                                    :groups="groups"></enrollment-information>
                        </tab-content>
                        <tab-content title="Дополнительная" icon="fa fa-bars">
                            <additional-information v-model="model"></additional-information>
                        </tab-content>

                        <el-button type="primary" slot="prev" round :loading="loading" :disabled="loading">Назад
                        </el-button>
                        <el-button type="primary" slot="next" round :loading="loading" :disabled="loading"
                                   @click="putToStorage">Далее
                        </el-button>
                        <el-button type="primary" slot="finish" round :loading="loading" :disabled="loading">Добавить
                        </el-button>
                    </form-wizard>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {genders, documentsTypes} from "../../../../constants";
    import {
        subdivision,
        birthPlaces,
    } from "@/api/cache";
    import {DateTime} from 'luxon';
    import {checkUnique, createStudent} from "@/api/contingent/student";
    import FormGroup from "../../../../components/FormGroup/index";
    import UserEducation from "../../../../components/User/user-education";
    import UserAddresses from "../../../../components/User/user-addresses";
    import EnrollmentInformation from "../../../../components/User/components/enrollment-information";
    import AdditionalInformation from "../../../../components/User/components/additional-information";
    import {mapGetters} from 'vuex'

    export default {
        name: "CreateStudentModal",
        components: {AdditionalInformation, EnrollmentInformation, UserAddresses, UserEducation, FormGroup},
        props: ['groups'],
        data() {
            return {
                hasDataInStorage: false,
                serverErrors: [],
                genders,
                documentsTypes,
                subdivisionCodes: [],
                birthPlaces: [],
                loading: false,
                pickerOptions: this.$pickerConfig({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                }),
                model: {
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    gender: 0,
                    birthday: null,
                    snils: null, //снилс
                    inn: null,//ИНН
                    medical_policy_number: null,//Номер медицинского полиса
                    language: 'english', //Изучаемый язык
                    nationality: 'russia', //Гражданство
                    preferential_categories: [], //Льготная категория
                    person_with_disabilities: false, //Является ли лицом с ОВЗ
                    need_hostel: false, //Нуждается в общежитии
                    phone: null, //Номер телефона
                    has_certificate: true, //Медсправка
                    disability: null, //Инвалидность
                    status: 'student',
                    passport: {
                        documentType: 21,
                        series: null,
                        number: null,
                        issuanceDate: DateTime.local().toISODate(),
                        subdivisionCode: null,
                        issued: null,
                        birthPlace: null,
                    },
                    addresses: {
                        isAddressSimilar: false, //Адрес регистрации совпадает с адресом проживания
                        isAddressPlaceOfStay: false, //Адрес регистрации совпадает с адресом регистрации по месту пребывания
                        registration: {//Адрес регистрации
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                        residential: {//Адрес проживания
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                        place_of_stay: {//Адрес регистрации по месту пребывания
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                    },
                    education: {
                        education_id: 2,
                        has_original: true,
                        graduation_organization_name: null,
                        graduation_organization_place: null,
                        graduation_date: DateTime.fromObject({month: 6, day: 30}).toISODate(),
                        avg: null,
                        ratings_map: {
                            threes: 0,
                            fours: 0,
                            fives: 0,
                        },
                    },
                    enrollment_information: {
                        group_id: null,
                        reason: 'OtherEducationOrganizations',
                        decree_number: null,
                        decree_date: DateTime.local().toISODate()
                    }
                },
                rules: {
                    personal: {
                        lastname: [
                            {required: true, message: 'Заполните фамилию', trigger: 'blur'}
                        ],
                        firstname: [
                            {required: true, message: 'Заполните имя', trigger: 'blur'}
                        ],
                        birthday: [
                            {required: true, message: 'Укажите дату рождения', trigger: 'blur'}
                        ]
                    },
                    passport: {
                        documentType: [
                            {required: true, message: 'Не выбран тип документа', trigger: 'change'}
                        ],
                        number: [
                            {required: true, message: 'Не заполнен номер документа', trigger: 'blur'},
                        ],
                        issuanceDate: [
                            {required: true, message: 'Не указана дата выдачи документа', trigger: 'change'}
                        ],
                        subdivisionCode: [
                            {required: true, message: 'Не указан Код подразделения', trigger: 'change'}
                        ],
                        issued: [
                            {required: true, message: 'Не указан орган выдавший документ', trigger: 'blur'}
                        ],
                        birthPlace: [
                            {required: true, message: 'Не указано место рождения', trigger: 'change'}
                        ]
                    }
                },
                isValidEducationForm: false,
                isValidEnrollmentDataForm: false
            }
        },
        computed: {
            ...mapGetters([
                'createStudentFormData'
            ]),
            sortDocumentsTypes() {
                return _.sortBy(documentsTypes, 'name')
            }
        },
        mounted() {
            subdivision().then(response => {
                this.subdivisionCodes = response.data;
            })

            birthPlaces().then(response => {
                this.birthPlace = response.data;
            })
            this.hasDataInStorage = localStorage.getItem("createStudentForm") ? true : false;
        },
        methods: {
            handleClose() {
                this.$modal.hide('CreateStudentModal');
                this.clearStorage();
            },
            handleCreate() {

            },
            showErrors(error) {
                this.serverErrors = [];
                let response = error.response.data;
                if (response.message) {
                    this.serverErrors.push(response.message);
                }
                if (response.errors) {
                    this.serverErrors = response.errors;
                }
            },
            validatePersonal() {
                this.serverErrors = [];
                return new Promise((resolve, reject) => {
                    this.$refs.StudentPersonal.validate((valid) => {
                        if (valid) {
                            console.log(valid);
                            this.loading = true;
                            let data = {
                                lastname: this.model.lastname,
                                firstname: this.model.firstname,
                                middlename: this.model.middlename,
                                birthday: this.model.birthday
                            }
                            checkUnique(data).then(response => {
                                this.loading = false;
                                resolve(valid);
                            }, error => {
                                reject(valid);
                                console.log(valid);
                                this.loading = false;
                                this.showErrors(error);
                            });
                        }
                    });
                });
            },
            validatePassport() {
                return new Promise((resolve, reject) => {
                    this.$refs.StudentPassport.validate((valid) => {
                        resolve(valid);
                    });
                })
            },
            validateEducation() {
                this.$bus.emit('validate-education-form');
                this.$bus.emit('validate-enrollment-data-form');
                let vm = this;
                this.$bus.on('student-education-form-status', data => {
                    vm.isValidEducationForm = data;
                });

                this.$bus.on('validate-enrollment-data-status', data => {
                    vm.isValidEnrollmentDataForm = data;
                });

                return new Promise((resolve, reject) => {
                    if (this.isValidEducationForm && this.isValidEnrollmentDataForm) {
                        resolve(this.isValidEducationForm);
                    } else {
                        reject(true);
                    }
                })
            },
            handleSelect(item) {
                this.model.passport.subdivisionCode = item.code;
                this.model.passport.issued = item.issued;
            },
            querySearch(queryString, cb) {
                var codes = this.subdivisionCodes;
                var results = queryString ? codes.filter(
                    function (code) {
                        return (code.code.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                    }
                ) : codes;
                cb(results);
            },
            searchBirthPlace(queryString, cb) {
                var places = this.birthPlace;
                var results = queryString ? places.filter(
                    function (place) {
                        return (place.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                    }
                ) : places;
                cb(results);
            },
            handleSelectBirthPlace(item) {
                this.model.passport.birthPlace = item;
            },
            onComplete() {
                this.model.start_date = this.model.enrollment_information.decree_date;
                this.model.enrollment_date = this.model.enrollment_information.decree_date;
                const loading = this.$loading({
                    lock: true,
                    text: 'Добавляю студента, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                createStudent(this.model).then(response => {
                    this.$bus.emit('refresh-student-list');
                    this.handleClose();
                    this.$notify({
                        title: 'Успешно',
                        message: response.data.message,
                        type: 'success'
                    });
                    loading.close();
                }, error => {
                    loading.close();
                    this.showErrors(error);
                })
            },
            clearStorage() {
                localStorage.removeItem("createStudentForm");
            },
            putToStorage() {
                if (this.model.lastname) {
                    localStorage.setItem("createStudentForm", JSON.stringify(this.model));
                }
            },
            repearForm() {
                this.model = JSON.parse(localStorage.getItem("createStudentForm"));
            }
        }
    }
</script>

<style lang="scss" scoped>
    .fixed-body {
        max-height: 700px;
        overflow: auto;
    }
</style>