<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="AddSubjectForm" label-position="top" v-loading="loading"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить дисциплину</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="serverErrors.length >0"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul>
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Учебный год" prop="program_academic_year_id">
                                    <el-select v-model="model.program_academic_year_id" placeholder="Секция" class="w100" :disabled="true">
                                        <el-option
                                                v-for="year in programAcademicYears"
                                                :key="year.id"
                                                :label="year.year_number"
                                                :value="year.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Индекс" prop="index">
                                    <el-input v-model="model.index" placeholder="Индекс">
                                    </el-input>
                                </el-form-item>
                                <el-form-item label="Секция" prop="section_id">
                                    <el-select v-model="model.section_id" placeholder="Секция" class="w100">
                                        <el-option
                                                v-for="item in programSubjectSections"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item :label="$t('label.subject')" prop="subject_id">
                                    <el-select filterable v-model="model.subject_id" placeholder="Выберите дисциплину"
                                               class="w100">
                                        <el-option-group
                                                v-for="type in subjectList"
                                                :key="type.name"
                                                :label="type.name">
                                            <el-option
                                                    v-for="subject in type.subjects"
                                                    :key="subject.id"
                                                    :label="subject.name"
                                                    :value="subject.id">
                                            </el-option>
                                        </el-option-group>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {addSubject} from "@/api/education/profession-program-files";
    import {Message} from 'element-ui';
    import {programSubjectSections} from "../../../../constants";

    export default {
        name: "add-subject",
        props: ['subjectList'],
        data() {
            return {
                programSubjectSections,
                loading: false,
                serverErrors: [],
                programAcademicYears: [],
                hasError: false,
                model: {
                    subject_id: null,
                    index: null,
                    program_id: null,
                    section_id: null,
                    program_academic_year_id: null

                },
                rules: {
                    index: [
                        {required: true, message: 'Не указан индекс', trigger: 'blur'},
                    ],
                    section_id: [
                        {required: true, message: 'Не выбрана секция', trigger: 'change'},
                    ],
                    subject_id: [
                        {required: true, message: 'Выберите дисциплину для добавления', trigger: 'change'},
                    ]
                }
            }
        },
        mounted() {
            this.model = {
                ...this.model, ...{
                    program_id: this.$store.getters.professionProgramID,
                    program_academic_year_id: this.$store.getters.currentAcademicYearInProfessionProgram
                }
            };
            this.programAcademicYears = this.$store.getters.academicYearsList;
        },
        methods: {
            handleClose() {
                this.$modal.hide('AddSubjectModal');
            },
            handleCreate() {
                this.$refs['AddSubjectForm'].validate((valid) => {
                    if (valid) {
                        this.loading = true;
                        this.serverErrors = [];
                        const loading = this.$loading({
                            lock: true,
                            text: 'Добавляю дисциплину, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        addSubject(this.model).then(response => {
                            if (response.data.success) {
                                this.$notify({
                                    title: 'Успешно',
                                    message: `Дисциплина была успешно добавлена`,
                                    type: 'success'
                                });
                                this.$bus.emit('update-subject-list-in-program', response.data.subject);
                                this.handleClose();
                                loading.close()
                            } else {
                                this.serverErrors.push(response.data.message);
                                this.loading = false;
                                loading.close()
                            }

                        }, res => {
                            let response = res.response.data;
                            this.serverErrors = [];
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            if (response.errors !== undefined) {
                                this.serverErrors = response.errors;
                            }
                            loading.close()
                            this.loading = false;
                        }).catch(exp => {
                            console.dir(exp)
                            loading.close()
                            this.loading = false;
                        })
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>