<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="AddAdditionalForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить {{this.type|additionalDocumentType}}</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Дата вступления в силу" prop="date">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.changeDate')"
                                            v-model="model.date"
                                            class="w100"
                                            :picker-options="pickerOptions">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.file')" prop="file">
                                    <input type="file" ref="file" @change="handleChangeFile">
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>
<script>
    import {addAdditional} from "@/api/education/profession-program-files";
    import {Message} from 'element-ui'

    export default {
        name: 'add-additional-modal',
        props: ['type', 'program_id'],
        data() {
            return {
                loading: false,
                serverErrors: [],
                hasError: false,
                model: {
                    date: null,
                    type: this.type,
                    file: null,
                    program_id: this.program_id
                },
                rules: {
                    date: [
                        {required: true, message: 'Укажите дату вступления документа в силу', trigger: 'blur'},
                    ],
                    file:
                        [
                            {required: true, message: 'Выберите файл', trigger: 'blur'},
                        ]
                }
                ,
                pickerOptions: {
                    firstDayOfWeek: 1,
                    shortcuts:
                        [{
                            text: 'Сегодня',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }],
                }
            }
        },
        methods: {
            handleChangeFile() {
                this.model.file = this.$refs.file.files[0];
            },
            handleClose(isAdd = false, responseFile = null) {
                let success = this.$lodash.isBoolean(isAdd) ? isAdd : false;
                let file = _.isNull(responseFile) ? null : responseFile;
                this.$modal.hide('AddAdditionalDocument', {success, file});
            },
            handleCreate() {
                this.$refs['AddAdditionalForm'].validate((valid) => {
                    this.loading = true;
                    const loading = this.$loading({
                        lock: true,
                        text: 'Добавляю документ, пожалуйста, подождите',
                        spinner: 'el-icon-loading',
                        background: 'rgba(240, 240, 240, 0.8)'
                    });
                    if (valid) {
                        addAdditional(this.model).then(response => {
                                this.$notify({
                                    message: `Документ был успешно добавлен`,
                                    type: 'success',
                                    title: 'Успешно'
                                });
                                loading.close();
                                this.handleClose(true, response.data);
                            }

                        ).catch(exp => {
                            loading.close();
                            console.dir(exp);
                            this.loading = false;
                        })
                    }
                    this.loading = false;
                });
            }
        }
    }
</script>
<style scoped lang='scss'>

</style>
