<template>
    <div class="additional-item">
        <h2 ref="title">
            <el-button type="primary" :loading="loading" icon="el-icon-plus" round @click="handleOpenAddModal">
                Добавить документ
            </el-button>
        </h2>
        <div class="files">
            <el-table
                    :data="sortFiles"
                    style="width: 100%">
                <el-table-column
                        prop="id"
                        :label="$t('table.id')"
                        width="70">
                </el-table-column>
                <el-table-column prop="name" :label="$t('table.name')">
                </el-table-column>
                <el-table-column prop="date" label="Действует с">
                </el-table-column>
                <el-table-column prop="link" :label="$t('table.link')" width="180">
                    <template slot-scope="scope">
                        <div>
                            <a :href="scope.row.url" class="link" target="_blank">Открыть</a>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="action" :label="$t('table.actions')">
                    <template slot-scope="scope">
                        <div>
                            <el-button type="success" :loading="loading" icon="el-icon-refresh" circle
                                       @click="handleChangeFile(scope.$index)">
                            </el-button>
                            <input type="file" :ref='scope.$index' style="display: none"
                                   @change="handleUpdateFile(scope.row,scope.$index)">
                            <el-button type="danger" icon="el-icon-delete" circle :loading="loading"
                                       @click="handleDeleteFile(scope.row,scope.$index)">
                            </el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>

<script>
    import {deleteFile, updateFile} from "@/api/education/profession-program-files";
    import {Message} from 'element-ui'
    import {buttons} from "@/constants";
    import AddAdditionalModal from './add-additional-modal';

    export default {
        name: "additional-documents",
        props: ['documents', 'title', 'program_id'],
        data() {
            return {
                loading: false,
                file: null
            }
        },
        computed: {
            sortFiles() {
                return _.sortBy(this.documents, 'name');
            }
        },
        mounted() {
        },
        methods: {
            handleDeleteFile(row, index) {
                this.$swal({
                    title: 'Подтвердите удаление',
                    type: 'question',
                    html: `<b>Вы действительно хотите удалить «${row.name}» id ${row.id}?</b>`,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: buttons.delete,
                    cancelButtonText: buttons.cancel,
                }).then(result => {
                    if (result.value) {
                        this.loading = true;
                        const loading = this.$loading({
                            lock: true,
                            text: 'Удаляю файл, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        deleteFile(row.id).then(response => {
                            if (response.data.success) {
                                this.$notify({
                                    message: response.data.message,
                                    type: 'success',
                                    title: 'Успешно'
                                });
                                this.documents.splice(index, 1);
                                this.loading = false;
                                loading.close();
                            } else {
                                this.loading = false;
                                this.$swal({
                                    title: 'Удаление невозможно',
                                    type: 'warning',
                                    html: `<b>${response.data.message}</b>`,
                                });
                            }
                        })
                    }
                })
            },
            handleOpenAddModal() {
                this.$modal.show(AddAdditionalModal,
                    {
                        type: this.title,
                        program_id: this.program_id
                    }, {
                        name: 'AddAdditionalDocument',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    },
                    {
                        'before-close': (event) => {
                            if (event.params.success) {
                                this.documents.push(event.params.file);
                            }
                        }
                    });
            },
            handleChangeFile(index) {
                this.$refs[index].click();
            },
            handleUpdateFile(row, index) {
                let input = {
                    id: row.id,
                    file: this.$refs[index].files[0],
                    program_id: this.program_id
                };
                const loading = this.$loading({
                    lock: true,
                    text: 'Обновляю файл, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                updateFile(input).then(response => {
                    this.documents[index].url = response.data.url;
                    this.$notify({
                        message: response.data.message,
                        type: 'success',
                        title: 'Успешно'
                    });
                    loading.close();
                }, error => {
                    this.$alert(error.response.data.message, 'Внимание, ошибка', {
                        confirmButtonText: 'OK',
                        type: 'error'
                    });
                    loading.close();
                });
                this.$refs[index].type = 'text';
                this.$refs[index].type = 'file';
            }
        }
    }
</script>

<style scoped>
    .additional-item {
        margin: 20px 0;
    }
</style>