<template>
    <div>
        <h2>Основные документы</h2>
        <el-table
                :data="documents"
                style="width: 100%">
            <el-table-column
                    prop="id"
                    :label="$t('table.id')"
                    width="70">
            </el-table-column>
            <el-table-column prop="name" :label="$t('table.name')">
            </el-table-column>
            <el-table-column prop="link" :label="$t('table.link')" width="180">
                <template slot-scope="scope">
                    <div>
                        <a :href="scope.row.url" class="link" target="_blank">Открыть</a>
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="action" :label="$t('table.actions')">
                <template slot-scope="scope">
                    <div>
                        <el-button type="success" icon="el-icon-refresh" circle
                                   @click="handleChangeFile(scope.$index)">
                        </el-button>
                        <input type="file" :ref='scope.$index' style="display: none"
                               @change="handleUpdateFile(scope.row,scope.$index)">
                    </div>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import {updateBasicDocument} from "@/api/education/profession-program-files";
    import {Message} from 'element-ui'

    export default {
        name: "basic-documents",
        props: ['program'],
        data() {
            return {
                documents: this.program.basicDocuments
            }
        },
        mounted() {

        },
        methods: {
            handleUpdateFile(item, index) {
                let input = {
                    id: item.id,
                    file: this.$refs[index].files[0],
                    type: item.type
                };
                const loading = this.$loading({
                    lock: true,
                    text: 'Обновляю файл, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                updateBasicDocument(input).then(response => {
                    this.documents[index].url = response.data.url;
                    this.$notify({
                        message: response.data.message,
                        type: 'success',
                        title: 'Успешно'
                    });
                    loading.close();
                }, error => {
                    this.$alert(error.response.data.message, 'Внимание, ошибка', {
                        confirmButtonText: 'OK',
                        type: 'error'
                    });
                    loading.close();
                })
            },
            handleChangeFile(index) {
                this.$refs[index].click();
            }
        }
    }
</script>

<style scoped>

</style>