<template>
    <v-dialog v-model="model" persistent max-width="700px">
        <el-form :model="model" :rules="rules" ref="CreateProgramAcademicYear" label-position="top">
            <v-card>
                <v-card-title>
                    <span class="headline">Добавить учебный год</span>
                </v-card-title>
                <v-card-text>
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-alert v-if="errors.length > 0" type="error" title="Что-то пошло не по плану">
                                <ul>
                                    <li v-for="(error,index) in errors" :key="index">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <academic-years-form v-model="model"></academic-years-form>
                    </el-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button round @click.native="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" round
                               @click.native="handleCreate">
                        {{$t('form.add')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </el-form>
    </v-dialog>
</template>

<script>
    import AcademicYearsForm from "./AcademicYearsForm/AcademicYearsForm";

    import {store, copySubjectsFromAnotherYear} from "../../../../api/education/program-academic-years";

    export default {
        name: "CreateProgramAcademicYear",
        components: {AcademicYearsForm},
        data() {
            return {
                errors: [],
                rules: {
                    year_number: [
                        {required: true, message: 'Не выбран учебный год', trigger: 'change'}
                    ],
                    copy_year_id: [
                        {
                            required: true,
                            message: 'Не выбран год, из которого будем копировать дисциплины',
                            trigger: 'change'
                        }
                    ]
                },
                model: {
                    profession_program_id: this.$store.getters.professionProgramID,
                    year_number: null,
                    active: true,
                    copyFromYear: false,
                    copy_year_id: null,
                    inUse: false
                }
            }
        },
        created() {
            this.setCopyYearRules();
        },
        methods: {
            setCopyYearRules() {
                console.dir(11);
                let rules = [
                    {
                        required: this.model.copyFromYear,
                        message: 'Не выбран год, из которого будем копировать дисциплины',
                        trigger: 'change'
                    }
                ];

                this.$set(this.rules, 'copy_year_id', rules);
            },
            handleClose() {
                this.$modal.hide('CreateProgramAcademicYear')
            },
            handleCreate() {
                this.$refs.CreateProgramAcademicYear.validate(valid => {
                    this.errors = [];
                    if (valid) {
                        let loading = this.$lockScreen({text: 'Добавляю новый учебный год'});
                        store(this.model)
                            .then(response => response.data)
                            .then(data => {
                                let year = {...this.model, ...{id: data.id}};
                                this.$store.dispatch('SET_ACADEMIC_YEARS', year);
                                loading.close();
                                this.$notify({
                                    type: "success",
                                    title: 'Успешно',
                                    message: 'Академический год был успешно добавлен'
                                });
                                if (this.model.copyFromYear) {
                                    let loading = this.$lockScreen({text: 'Копирую дисциплины из другого года'});
                                    copySubjectsFromAnotherYear({...this.model, ...{academic_year_id: data.id}})
                                        .then(response => response.data)
                                        .then(data => {
                                            this.$notify({
                                                type: "success",
                                                title: 'Успешно',
                                                message: 'Дисциплины были успешно скопированы'
                                            });
                                            loading.close();
                                        }, error => {
                                            let errors = error.response.data.errors;

                                            let errorsStr = '';
                                            errors.forEach(item => {
                                                errorsStr += `<li>${item}</li>`
                                            })
                                            this.$alert(`<ul>${errorsStr}</ul>`, 'Внимание!', {
                                                dangerouslyUseHTMLString: true,
                                                confirmButtonText: 'OK',
                                            });
                                            loading.close();
                                        }).catch(error => {
                                        let errors = error.response.data.errors;

                                        let errorsStr = '';
                                        errors.forEach(item => {
                                            errorsStr += `<li>${item}</li>`
                                        })
                                        this.$alert(`<ul>${errorsStr}</ul>`, 'Внимание!', {
                                            dangerouslyUseHTMLString: true,
                                            confirmButtonText: 'OK',
                                        });
                                        loading.close();
                                    })
                                }
                                this.handleClose();
                            }, errors => {
                                console.dir(errors);
                                this.errors = errors.response.data.errors;
                                loading.close();
                            });
                    } else {
                        return false;
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
