<template>
    <div style="margin-top: 20px">
        <h3>{{_subject.index}} {{_subject.name}} | {{_subject.section_id|programSubjectSection}}</h3>
        <div style="margin-top: 10px" v-if="!isEditable">
            <el-button class="mt5" round type="primary" icon="el-icon-plus" @click="handleAddDocument">
                Добавить файл
            </el-button>
            <el-button class="mt5" round type="warning" icon="el-icon-edit" @click="editIndex">Редактировать
                дисциплину
            </el-button>
            <el-button class="mt5" round type="danger" icon="el-icon-delete"
                       @click="handleDeleteSubject(_subject.id,_subject.name)">Удалить
                дисциплину
            </el-button>
        </div>
        <div v-if="isEditable">
            <el-row :gutter="10">
                <el-col :span="9">
                    <el-input v-model="model.index" placeholder="Индекс"></el-input>
                </el-col>
                <el-col :span="9">
                    <el-select v-model="model.section_id" placeholder="Секция" class="w100">
                        <el-option
                                v-for="item in programSubjectSections"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="6">
                    <el-button round type="primary" @click="handleUpdate">
                        Применить
                    </el-button>
                    <el-button round type="danger" @click="cancelUpdate">
                        Отмена
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <div style="margin-top: 10px">
            <el-tabs type="border-card" v-if="files.length >0">
                <el-tab-pane :label="file.name" v-for="(file,index) in files" :key="file.id">
                    <program-subject-file :file="file" :index="index" :subject_id="_subject.id"
                                          :key="_subject.id"></program-subject-file>
                </el-tab-pane>
            </el-tabs>
            <no-report title="К дисциплине не загружено ни одного документа" v-else></no-report>
        </div>
    </div>
</template>

<script>
    import ProgramSubjectFile from "./program-subject-file";
    import NoReport from "../../../../components/NoReport/no-report";
    import AddDocumentInSubject from './AddDocumentInSubject';
    import {updateProgramSubject} from "../../../../api/education/profession-program-files";
    import {programSubjectSections} from "../../../../constants";
    import {deleteSubjectFromProgram} from "../../../../api/education/profession-programs";
    import {mapState} from 'vuex';

    export default {
        name: "current-subject",
        components: {NoReport, ProgramSubjectFile},
        data() {
            return {
                programSubjectSections,
                subject: this.$store.getters.getCurrentSubject,
                files: [],
                isEditable: false,
                model: {
                    index: '',
                    section_id: null
                },
            }
        },
        computed: {
            ...mapState([
                'professionPrograms'
            ]),
            _subject() {
                this.model.index = this.professionPrograms.currentSubject.index;
                this.model.section_id = this.professionPrograms.currentSubject.section_id;
                return this.professionPrograms.currentSubject;
            }
        },
        created() {
            this.$bus.on(`update-subject-document-list`, data => {
                this.files.push(data);
            });
        },
        mounted() {
            this.$bus.on(`remove-subject-file`, data => {
                this.$delete(this.files, data);
            });
            this.files = this._subject.files;
        },
        beforeUpdate() {
            this.files = this._subject.files;
        },
        methods: {
            handleAddDocument() {
                this.$modal.show(AddDocumentInSubject, {
                    subject: this._subject
                }, {
                    name: 'AddDocumentInSubject',
                    height: 0,
                    width: 0,
                    'z-index': 100
                })
            },
            editIndex() {
                this.isEditable = true;
            },
            cancelUpdate() {
                this.isEditable = false;
                this.model.index = this._subject.index;
                this.model.section_id = this._subject.section_id;
            },
            handleDeleteSubject(subject_id, subject_name) {
                this.$confirm(`Вы действительно хотите удалить "${subject_name}" из программы? Это удалит все файлы которые относятся к дисциплине`, 'Внимание', {
                    confirmButtonText: 'Удалить',
                    cancelButtonText: 'Отмена',
                    type: 'info'
                }).then(() => {
                    const loading = this.$lockScreen({text: 'Удаляю дисциплину из списка, пожалуйста, подождите',});

                    let params = {
                        profession_program_id: this.$store.getters.professionProgramID,
                        subject_id: this._subject.id
                    };
                    deleteSubjectFromProgram(params).then(response => {
                        this.$notify.success({
                            title: 'Успешно',
                            message: 'Дисциплина была успешно удалена'
                        });
                        this.$bus.emit('delete-subject-from-program-list', this._subject.id);
                        loading.close();
                    }, error => {
                        this.$alert(error.response.data.message, `Внимание, ошибка ${error.status}`, {
                            confirmButtonText: 'Ок',
                            type: 'error'
                        });
                        loading.close();
                    });
                });
            },
            handleUpdate() {
                const loading = this.$lockScreen({text: 'Обновляю индекс, пожалуйста, подождите'});
                let data = {...{id: this._subject.id}, ...{index: this.model.index, section_id: this.model.section_id}};
                updateProgramSubject(data).then(response => {
                    this.isEditable = false;
                    this.subject.index = this.index;
                    this.subject.section_id = this.section_id;
                    this.$bus.emit('update-subject-index', data);
                    this.$notify.success({
                        title: 'Успешно',
                        message: 'Индекс успешно обновлен'
                    });
                    loading.close();
                }, error => {
                    loading.close();
                    this.cancelUpdate();
                    this.$alert(error.response.data.message, 'Произошла ошибка при обновлении индекса', {
                        confirmButtonText: 'OK',
                    })
                });
            }
        },
        watch: {
            subject: function (newSubject, oldSubject) {
                this.model.index = newSubject.index;
                this.model.section_id = newSubject.section_id;
            }
        }
    }
</script>

<style scoped lang="scss">
    h3 {
        font-size: 150%;
    }
</style>