<template>
    <div>
        <section>
            <h3>{{_academicYear}} учебный год</h3>
        </section>
        <el-row :gutter="10">
            <el-col :span="6" style="overflow:hidden">
                <div style="margin: 10px 0">
                    <el-button type="primary" icon="el-icon-plus" round @click="handleAddSubject">
                        Добавить дисциплину/модуль
                    </el-button>
                </div>
                <div class="">
                    <el-select filterable class="w100" @change="setSubject" v-model="currentSubjectId">
                        <el-option
                                v-for="(item,index) in _programSubjectsList"
                                :key="item.id"
                                :label="`${item.index} ${item.name}`"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </div>
            </el-col>
            <el-col :span="18">
                <current-subject v-if="hasSubject"></current-subject>
                <no-report title="Не выбрана дисциплина для отображения" v-if="!hasSubject">
                    Для продолжения работы, выберите дисциплину в выпадающем списке
                </no-report>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    import {mapGetters, mapState} from 'vuex';
    import SubjectsListItem from './subjects-list-item';
    import {getSubjects} from "@/api/services";
    import AddSubject from './add-subject';
    import CurrentSubject from "./current-subject";
    import NoReport from "../../../../components/NoReport/no-report";
    import {getProgramSubjectFiles} from "../../../../api/education/profession-program-files";

    export default {
        name: "subjects-list",
        components: {NoReport, CurrentSubject, SubjectsListItem},
        data() {
            return {
                subjectList: [],
                subjectsList: this.$store.getters.getCurrentYearSubjects,
                currentSubjectId: null,
                hasSubject: false,
                academicYearsList: this.$store.getters.academicYearsList,
                currentYear: this.$store.getters.currentAcademicYearInProfessionProgram
            }
        },
        computed: {
            ...mapGetters({
                programSubjectList: 'getCurrentYearSubjects'
            }),
            ...mapState([
                'professionPrograms'
            ]),
            _programSubjectsList() {
                return this.professionPrograms.currentYearSubjects;
            },
            sortSubjects() {
                return _.sortBy(this.subjectsList, 'index');
            },
            _academicYear() {
                return (this.professionPrograms.academic_years.filter(year => year.id === this.professionPrograms.currentYear))[0].year_number;
            }
        },
        mounted() {
            this.$bus.on('SET_ACADEMIC_YEARS_SUBJECTS', data => {
                this.currentSubjectId = null;
                this.hasSubject = false;
            });
            this.sortProgramSubjects();
            this.getSubjects();
            this.$bus.on('update-subject-list-in-program', data => {
                this.$store.dispatch('PUSH_ACADEMIC_YEARS_SUBJECTS', data);
            });

            this.$bus.on('update-subject-index', data => {
                this.$store.dispatch('UPDATE_SUBJECT_IN_CURRENT_YEAR', data);
            });

            this.$bus.on('delete-subject-from-program-list', data => {
                this.$store.dispatch('DELETE_SUBJECT_IN_CURRENT_YEAR', data);
                this.hasSubject = false;
                this.currentSubjectId = null;
            })
        },
        methods: {
            sortProgramSubjects() {
                this.subjectsList = _.sortBy(this.subjectsList, 'index');
            },
            setSubject() {
                let program_id = this.$route.params.id;
                let current_subject_id = this.currentSubjectId;
                const loading = this.$lockScreen({
                    text: 'Получаю файлы дисциплины, пожалуйста, подождите',
                });
                getProgramSubjectFiles({program_id, current_subject_id})
                    .then(response => response.data)
                    .then(data => {
                        this.hasSubject = true;
                        this.$store.dispatch('SET_CURRENT_SUBJECT', data);
                        loading.close();
                    }, error => {
                        loading.close();
                    })
            },
            getSubjects() {
                getSubjects().then(response => {
                    this.subjectList = response.data;
                })
            },
            handleAddSubject() {
                this.$modal.show(AddSubject, {
                        subjectList: this.subjectList,
                    }, {
                        name: 'AddSubjectModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    }
                )

            },
            removeFromList(index) {
                this.subjectsList.splice(index, 1);
            }
        }
    }
</script>

<style scoped lang="scss">
    section {
        padding: 10px;
        margin-top: 10px;
        background-color: blanchedalmond;

        h3 {
            font-size: 230%;
        }
    }
</style>