<template>
    <div>
        <el-row :gutter="10">
            <el-col :span="24">
                <el-row :gutter="10">
                    <el-col :span="12">
                        <el-button round type="primary" @click="handleAddAcademicYear">
                            <i class="fa fa-plus"></i> Добавить учебный год
                        </el-button>
                    </el-col>
                    <el-col :span="12" class="text-right">
                        <el-button round v-if="!showYearsList" type="primary" @click="showYearsList=true">
                            Показать список учебных годов
                        </el-button>
                        <el-button round v-if="showYearsList" type="primary" @click="showYearsList=false">
                            Cкрыть список учебных годов
                        </el-button>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span="24" class="mt-10" v-if="showYearsList">
                <el-select v-model="selectedYear" class="w100" @change="setCurrentYear">
                    <el-option v-for="(year,index) in _academicYears" :key="index" :value="year.id"
                               :label="year.year_number"></el-option>
                </el-select>
            </el-col>
            <el-col :span="24">
                <no-report title="Не выбран академический год" v-if="!selectedYear">
                    Выберите нужный академический год в списке и дождитесь загрузки списка дисциплин
                </no-report>
                <subjects-list v-if="selectedYear" :subjects="currentSubjects"></subjects-list>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import CreateProgramAcademicYear from './CreateProgramAcademicYear';
    import NoReport from "../../../../components/NoReport/no-report";
    import {getSubjectsByAcademicYear} from "../../../../api/education/profession-programs";
    import SubjectsList from "./subjects-list";

    export default {
        name: "subjects",
        components: {SubjectsList, NoReport},
        data() {
            return {
                selectedYear: null,
                academicYears: [],
                currentSubjects: null,
                profession_program_id: null,
                showYearsList: true
            }
        },
        computed: {
            ...mapGetters(['professionProgramID', 'academicYearsList']),
            ...mapActions(['SET_CURRENT_YEAR']),
            _academicYears() {
                return this.$store.getters.academicYearsList;
            }
        },
        mounted() {
            this.profession_program_id = this.$store.getters.professionProgramID;
        },
        methods: {
            setCurrentYear(year) {
                this.$store.dispatch('SET_CURRENT_YEAR', year);
                let loading = this.$lockScreen({text: 'Загружаю список дисциплин'});
                getSubjectsByAcademicYear({
                    profession_program_id: this.profession_program_id,
                    academic_year_id: year
                }).then(response => response.data)
                    .then(data => {
                        this.currentSubjects = data.subjects;
                        this.$store.dispatch('SET_ACADEMIC_YEARS_SUBJECTS', data.subjects);
                        this.$bus.emit('SET_ACADEMIC_YEARS_SUBJECTS');
                        loading.close();
                    })
            },
            handleAddAcademicYear() {
                this.$modal.show(CreateProgramAcademicYear,
                    {},
                    {
                        name: 'CreateProgramAcademicYear',
                        width: 0,
                        height: 0,
                        'z-index': 0
                    })
            }
        }
    }
</script>

<style scoped>

</style>