<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="600px">
            <el-form :model="model" ref="CalculateAverageScoreForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Рассчет среднего балла</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <div>
                                <table class="table is-bordered is-striped margin0auto">
                                    <tr>
                                        <td>Кол-во оценок</td>
                                        <td>{{totalCountRatings}}</td>
                                    </tr>
                                    <tr>
                                        <td>Средний балл без округления</td>
                                        <td>{{averageWithOutRound?averageWithOutRound:0}}</td>
                                    </tr>
                                    <tr>
                                        <td>Средний балл округленный</td>
                                        <td>{{averageWithRound?averageWithRound:0}}</td>
                                    </tr>
                                </table>
                            </div>
                            <el-col :span="24">
                                <el-form-item label="Кол-во троек">
                                    <el-input-number v-model="model.threes" class="w100" :min="0"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Кол-во четверок">
                                    <el-input-number v-model="model.fours" class="w100" :min="0"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Кол-во пятерок">
                                    <el-input-number v-model="model.fives" class="w100" :min="0"
                                    ></el-input-number>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" round
                                   @click.native="handleEndCalc">
                            {{$t('form.apply')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        name: "CalculateAverageScore",
        props: {
            ratings: {
                type: Object,
                default: null
            }
        },
        data() {
            return {
                model: {
                    threes: 0,
                    fours: 0,
                    fives: 0,
                },
                totalCountRatings: 0,
                averageWithOutRound: 0,
                averageWithRound: 0,
                ball: 0,
                rules: {}
            }
        },
        mounted() {
            if (!_.isNull(this.ratings)) {
                this.model = {...{}, ...this.ratings};
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('CalculateAverageScoreModal')
            },
            handleEndCalc() {
                this.$bus.emit('end-calculate-average-score', {average: this.averageWithRound, ratingMap: this.model});
                this.handleClose();
            },
            handleCalculate() {
                let totalCountRatings = this.totalCountRatings = this.model.threes + this.model.fours + this.model.fives;
                let totalThreesSum = this.model.threes * 3;
                let totalFoursSum = this.model.fours * 4;
                let totalFivesSum = this.model.fives * 5;
                let totalSum = _.sum([totalThreesSum, totalFoursSum, totalFivesSum]);
                let avg = this.averageWithOutRound = (totalSum / totalCountRatings);
                this.averageWithRound = Math.round(avg * 10000) / 10000
            },
        },
        watch: {
            model: {
                handler: function (after, before) {
                    var vm = this;
                    vm.handleCalculate();
                },
                deep: true,
            }
        }
    }
</script>

<style scoped>

</style>