<template>
    <div>
        <div class="modal-content">
            <v-dialog v-model="addressesModel" persistent max-width="900px">
                <v-card>
                    <v-card-title>
                        <el-row :gutter="10" class="w100">
                            <el-col :span="12">
                                <span class="headline">Обновление адресов</span>
                            </el-col>

                            <el-col :span="12" style="text-align: right">
                                <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                    <i class="fa fa-close"></i>
                                </el-button>
                            </el-col>
                        </el-row>
                    </v-card-title>
                    <v-card-text>
                        <el-alert v-if="serverErrors.length >0"
                                  title="Что-то пошло не по плану"
                                  type="error"
                                  description="more text description"
                                  show-icon>
                            <ul>
                                <li v-for="(error,key) in serverErrors" :key="key">{{error}}</li>
                            </ul>
                        </el-alert>
                        <user-addresses v-model="addressesModel"></user-addresses>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleUpdate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    import {updateAddresses} from "../../api/contingent/student";
    import UserAddresses from "./user-addresses";

    export default {
        name: "EditAddressesModal",
        props: ['user_id', 'addresses'],
        components: {UserAddresses},
        data() {
            return {
                addressesModel: {},
                serverErrors: [],
                loading: false,
                hasError: false,
            }
        },
        created() {

        },
        mounted() {
            this.addressesModel = _.cloneDeep(this.addresses);
        },
        methods: {
            handleClose() {
                this.$modal.hide('EditAddressesModal');
            },
            handleUpdate() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Обновляю адреса, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                updateAddresses(this.user_id, this.addressesModel)
                    .then(response => {

                        let addresses = this.addressesModel;

                        if (addresses.isAddressSimilar) {
                            addresses.residential = addresses.registration;
                        }

                        if (addresses.isAddressPlaceOfStay) {
                            addresses.place_of_stay = addresses.registration;
                        }
                        this.$notify({
                            title: 'Успешно',
                            message: response.data.message,
                            type: 'success'
                        });
                        loading.close();
                        this.handleClose();
                        this.$bus.emit('update-addresses-list', addresses);
                    }, error => {
                        loading.close();
                    });
            }
        }
    }
</script>

<style scoped>

</style>