<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="EditPassportForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Обновление документа удостоверяющего личность</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert
                                        v-if="errors.length>0"
                                        title="Что-то пошло не по плану"
                                        type="error"
                                        description="more text description"
                                        show-icon>
                                    <ul>
                                        <li v-for="(error,key) in errors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                        </el-row>
                        <user-passport-form v-model="model"></user-passport-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleUpdate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {documentsTypes} from "../../constants";
    import {DateTime} from 'luxon';
    import {updateData} from "../../api/contingent/universalContingentApi";
    import UserPassportForm from "../ContingentForms/user-passport-form";

    export default {
        name: "EditPassportModal",
        components: {UserPassportForm},
        props: ['passport', 'id'],
        data() {
            return {
                errors: [],
                hasError: false,
                loading: false,
                defaultModel: {
                    documentType: 21,
                    series: null,
                    number: null,
                    issuanceDate: DateTime.local().toISODate(),
                    subdivisionCode: null,
                    issued: null,
                    birthPlace: null,
                },
                model: {},
                rules: {
                    nationality: [
                        {required: true, message: 'Не выбрана страна', trigger: 'change'}
                    ],
                    documentType: [
                        {required: true, message: 'Не выбран тип документа', trigger: 'change'}
                    ],
                    number: [
                        {required: true, message: 'Не заполнен номер документа', trigger: 'blur'},
                        {max: 16, message: 'Номер документа не должен быть больше 16 символов', trigger: 'blur'}
                    ],
                    issuanceDate: [
                        {required: true, message: 'Не указана дата выдачи документа', trigger: 'change'}
                    ],
                    subdivisionCode: [
                        {required: true, message: 'Не указан Код подразделения', trigger: 'change'}
                    ],
                    issued: [
                        {required: true, message: 'Не указан орган выдавший документ', trigger: 'change'}
                    ],
                    birthPlace: [
                        {required: true, message: 'Не указано место рождения', trigger: 'change'}
                    ],
                },
                pickerOptions: this.$pickerConfig({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                })
            }
        },
        computed: {
            sortDocumentsTypes() {
                return _.sortBy(documentsTypes, 'name')
            }
        },
        created() {
            if (_.isNull(this.passport)) {
                this.model = {...{}, ...this.defaultModel};
            } else {
                this.model = {...{}, ...this.passport}
            }
        },
        mounted() {
        },
        methods: {
            handleClose() {
                this.$modal.hide('EditPassportModal')
            },
            handleUpdate() {
                this.$refs['EditPassportForm'].validate(valid => {
                    if (valid) {
                        let data = {
                            nationality: this.model.nationality,
                            passport_issuance_date: this.model.issuanceDate,
                            passport_data: {
                                documentType: this.model.documentType,
                                number: this.model.number,
                                issuanceDate: this.model.issuanceDate,
                                subdivisionCode: this.model.subdivisionCode,
                                issued: this.model.issued,
                                series: this.model.series,
                                birthPlace: this.model.birthPlace,

                            }
                        };
                        const loading = this.$loading({
                            lock: true,
                            text: 'Обновляю данные паспорта, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        updateData(this.id, data).then(response => {
                            this.$notify({
                                title: 'Обновлено',
                                message: 'Данные паспорта были успешно обновлены',
                                type: 'success'
                            });
                            this.handleClose();
                            this.$bus.emit('update-passport-data', this.model);
                            loading.close();
                        }, error => {
                            loading.close();
                            this.errors = error.response.data.errors;
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>
    .el-autocomplete-suggestion .el-popper {
        width: 100% !important;
    }
</style>