<template>
    <div>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>Воинский учет</span>
                <el-button style="float: right;" type="primary" round @click="handleEditMilitaryData"
                           v-if="this.checkPermission(['student.edit','student.military'])">
                    <i class="fa fa-edit"></i>
                </el-button>
            </div>
            <div>
                <div class="information">
                    <p>
                        <span data-prefix="Статус воинского учета: ">{{military.military_status|militaryStatus}}</span>
                        <span data-prefix="Тип документа воинского учета: ">{{military.military_document_type|militaryDocumentType}}</span>
                        <span data-prefix="Номер документа воинского учета: ">{{military.military_document_number||'Не указанно'}}</span>
                        <span data-prefix="Категория годности к ВС: ">{{military.fitness_for_military_service|fitnessForMilitary}}</span>
                        <span data-prefix="Отдел военного комиссариата: ">
                            <span v-if="military.recruitment_center.id">
                                {{military.recruitment_center.name}}
                            </span>
                            <span v-else>
                                Не указанно
                            </span>
                        </span>
                        <span data-prefix="Гражданская специальность: ">{{military.military_specialty||'Не указанно'}}</span>
                        <span data-prefix="Воинское звание: ">{{military.military_rank|militaryRank}}</span>
                        <span data-prefix="Состав: ">{{military.military_composition|militaryComposition}}</span>
                    </p>
                </div>
            </div>
        </el-card>
    </div>
</template>

<script>
    import EditMilitaryData from './components/EditMilitaryData';
    import {index} from "../../api/contingent/recruitentCenters";

    export default {
        name: "military-registration",
        props: {
            user: {
                type: Object
            }
        },
        data() {
            return {
                military: {},
                recruitmentCenters: [],
            }
        },
        created() {
            this.handleGetRecruitmentCenters();
        },
        mounted() {
            this.military = this.user.military;
            this.$bus.on('update-military-data', data => {
                this.military = data;
            })
        },
        methods: {
            handleGetRecruitmentCenters() {
                index()
                    .then(response => response.data)
                    .then(data => {
                        this.recruitmentCenters = data;
                    })
            },
            handleEditMilitaryData() {
                this.$modal.show(EditMilitaryData,
                    {
                        military: {...this.military, ...{recruitment_center_id: this.military.recruitment_center.id}},
                        centers: this.recruitmentCenters,
                        id: this.user.id
                    },
                    {
                        name: 'EditMilitaryDataModal',
                        height: 0,
                        width: 0,
                        'z-index': 9100
                    });
            }
        }
    }
</script>

<style scoped>

</style>