<template>
    <div>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>Документ удств. личность</span>
                <el-button style="float: right;" type="primary" round @click="handleEdit" v-if="this.checkPermission(['student.edit','enrollees.edit'])">
                    <i class="fa fa-edit"></i>
                </el-button>
            </div>
            <div>
                <div v-if="passport" class="information">
                    <p class="big">
                        <span>{{passport.documentType|documentType}}</span>
                        <span>{{passport.series}}</span>
                        <span>№ {{passport.number}}</span>
                        <span>выдан {{passport.issuanceDate|dateFormat}}</span>
                        <span>{{passport.issued}}</span>
                    </p>
                    <p>
                        <span data-prefix="Код подразделения: ">{{passport.subdivisionCode}}</span>
                        <span data-prefix="Место рождения: ">{{passport.birthPlace}}</span>
                    </p>
                </div>
                <div v-else>
                    <p>Данные не заполнены</p>
                </div>
            </div>
        </el-card>
    </div>
</template>

<script>
    import EditPassportModal from './EditPassportModal'

    export default {
        name: "user-passport",
        props: ['user'],
        data() {
            return {
                passport: this.user.passport
            }
        },
        mounted() {
            this.$bus.on('update-passport-data', data => {
                this.passport = data;
            })
        },
        methods: {
            handleEdit() {
                this.$modal.show(EditPassportModal,
                    {
                        passport: this.passport,
                        id: this.user.id
                    },
                    {
                        name: 'EditPassportModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    }
                )
            }
        }
    }
</script>

<style scoped>

</style>