<template>
    <div>
        <el-tabs active-name="registration">
            <el-tab-pane label="Адрес регистрации" name="registration">
                <el-checkbox label="Совпадает с адресом проживания" v-model="value.isAddressSimilar"></el-checkbox>
                <el-checkbox label="Совпадает с рег. по месту приб."
                             v-model="value.isAddressPlaceOfStay"></el-checkbox>
                <br>
                <address-form v-model="value.registration" title="Адрес регистрации"
                              :autocompleteData="autocompleteData"></address-form>
            </el-tab-pane>
            <el-tab-pane label="Адрес проживания" name="residential" v-if="!value.isAddressSimilar">
                <address-form v-model="value.residential" title="Адрес проживания"
                              :autocompleteData="autocompleteData"></address-form>
            </el-tab-pane>
            <el-tab-pane label="Рег. по месту прибывания" name="place_of_stay" v-if="!value.isAddressPlaceOfStay">
                <address-form v-model="value.place_of_stay" title="Рег. по месту проживания"
                              :autocompleteData="autocompleteData"></address-form>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
    import {addressesData} from "../../api/cache";
    import AddressForm from "./components/address-form";

    export default {
        name: "user-addresses",
        components: {AddressForm},
        props: ['value'],
        data() {
            return {
                autocompleteData: [],
            }
        },
        created() {
            addressesData().then(response => {
                this.autocompleteData = {...{}, ...response.data};
                this.$bus.emit('set-addresses-data', this.autocompleteData)
            }, error => {
                this.$notify.error({
                    title: 'Ошибка',
                    dangerouslyUseHTMLString: true,
                    message: 'Произошла ошибка при получении адресов, автозаполнене недоступно<br>' +
                        `${error.response.data.message}`
                });
            })
        },
        mounted() {
        }
    }
</script>

<style scoped>

</style>