<template>
    <div>
        <div style="margin-bottom: 10px">
            <el-button type="primary" @click="handleCreateFile">
                <i class="fa fa-plus"></i> Добавить файл
            </el-button>
        </div>
        <div class="table-responsive text-center">
            <table class="table is-bordered is-hover is-striped is-fullwidth">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Наименование</th>
                    <th>Файл</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="user_files.length>0" v-for="(file,index) in user_files" :key="file.id">
                    <td>{{file.id}}</td>
                    <td>{{file.name}}</td>
                    <td>
                        <a @click="handleOpenFile(file.path)" class="link" target="_blank">Открыть</a>
                    </td>
                    <td>
                        <el-button type="danger" circle @click="deleteFile(file,index)">
                            <i class="fa fa-trash"></i>
                        </el-button>
                    </td>
                </tr>
                <tr v-else>
                    <td colspan="4">
                        Нет загруженных файлов
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import UserCreateFileModal from './components/user-create-file-modal';
    import {deleteFile} from "../../api/contingent/human/files";
    import {getToken} from "../../utils/auth";

    export default {
        name: "user-files",
        props: {
            user_id: {
                type: Number
            },
            files: {
                type: Array,
                default: () => {
                    return [];
                }
            }
        },
        data() {
            return {
                id: this.user_id,
                user_files: this.files
            }
        },
        mounted() {
            this.$bus.on('add-student-file', data => {
                this.files.push(data);
            });
        },
        methods: {
            handleOpenFile(path) {
                let token = getToken();
                console.log(token);
                window.open(`${path}?token=${token}`, '_blank');

            },
            handleCreateFile() {
                this.$modal.show(UserCreateFileModal,
                    {
                        user_id: this.id
                    },
                    {
                        name: 'UserCreateFileModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    });
            },
            deleteFile(file, index) {
                this.$confirm('Вы действительно хотите удалить файл?', 'Подтвердите удаление', {
                    confirmButtonText: 'Да',
                    cancelButtonText: 'Отмена',
                    type: 'info'
                }).then(() => {

                    const params = {
                        human_id:this.id,
                        file:file.id
                    }

                    deleteFile(params).then(response => {
                        this.$notify({
                            title: 'Успешно',
                            message: 'Файл был успешно удален',
                            type: 'success'
                        });
                        this.$delete(this.user_files, index);
                    }, error => {
                        this.$alert(error.response.data.message, 'Произошла ошибка', {
                            confirmButtonText: 'ОК',
                            type: 'danger'
                        })
                    })
                });
            }
        }
    }
</script>

<style scoped>

</style>
