<template>
    <div>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>Комментарий к профилю </span>

                <el-button style="float: right;" type="primary" round @click="handleEdit"
                           v-if="this.checkPermission(['super.admin']) && !isEdit">
                    <i class="fa fa-edit"></i>
                </el-button>
                <el-button-group style="float: right;" v-if="isEdit">
                    <el-button type="primary" round @click="handleApply" icon="el-icon-success"
                               v-if="this.checkPermission(['super.admin']) && isEdit">
                    </el-button>
                    <el-button type="danger" round @click="handleCancel" icon="el-icon-error"
                               v-if="this.checkPermission(['super.admin']) && isEdit">
                    </el-button>
                </el-button-group>
            </div>
            <div>
                <div class="information" v-if="!isEdit">
                    <p>{{comment}}</p>
                </div>
                <div v-if="isEdit">
                    <el-input type="textarea" :rows="8" v-model="commentModel">
                    </el-input>
                </div>
            </div>
        </el-card>
    </div>
</template>

<script>
    import {updateData} from "../../api/contingent/universalContingentApi";

    export default {
        name: "user-comment-profile",
        props: {
            user: {
                type: Object
            }
        },
        data() {
            return {
                isEdit: false,
                comment: null,
                commentModel: null
            }
        },
        mounted() {
            this.comment = this.user.comment;
            this.commentModel = this.user.comment;
        },
        methods: {
            handleEdit() {
                this.isEdit = true;
                this.commentModel = this.comment;
            },
            handleApply() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Обновляю комментарий к делу, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                updateData(this.user.id, {comment: this.commentModel}).then(response => {
                    this.isEdit = false;
                    this.comment = this.commentModel;
                    this.$notify({
                        title: 'Успешно',
                        message: 'Комментарий был успешно обновлен',
                        type: 'success'
                    });
                    loading.close();
                }, error => {
                    this.$notify({
                        title: 'Ошибка',
                        message: 'Произошла ошибка при обновлении',
                        type: 'error'
                    });
                    loading.close();
                })
            },
            handleCancel() {
                this.isEdit = false;
            }
        }
    }
</script>

<style scoped>

</style>