<template>
    <div class="app-container">
        <div class="filter-container text-right">
            <router-link :to="{name:'conferences_create'}">
                <el-button type="primary">
                    <i class="fa fa-plus"></i> Добавить конференцию
                </el-button>
            </router-link>
        </div>
        <el-table
                :data="conferences"
                style="width: 100%"
                stripe
                border>
            <el-table-column prop="id" label="ID" width="80px" fixed></el-table-column>
            <el-table-column label="Наименование">
                <template slot-scope="scope">
                    {{scope.row.title}}
                </template>
            </el-table-column>
            <el-table-column label="Дата проведения">
                <template slot-scope="scope">
                    {{scope.row.date_of_event|dateFormat}}
                </template>
            </el-table-column>
            <el-table-column label="Текст">
                <template slot-scope="scope">
                    <el-button type="text" @click="openFullText(scope.row)">Открыть</el-button>
                </template>
            </el-table-column>
            <el-table-column :label="$t('table.actions')" fixed="right">
                <template slot-scope="scope">
                    <div>
                        <el-button type="warning">
                            <i class="fa fa-edit"></i>
                        </el-button>
                        <el-button type="danger">
                            <i class="fa fa-trash"></i>
                        </el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import {index} from "../../../api/site/conference";

    export default {
        name: "conferences-list",
        data() {
            return {
                conferences: []
            }
        },
        mounted() {
            this.getAll();
        },
        methods: {
            getAll() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Загрузка списка конференций, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                index()
                    .then(response => response.data)
                    .then(data => {
                        this.conferences = data;
                        loading.close();
                    })
                    .catch(error => error.response.data)
                    .catch(data => {
                        console.dir(data);
                        loading.close();
                    })
            },
            openFullText(conference) {
                this.$alert(conference.full_text, conference.title, {
                    dangerouslyUseHTMLString: true
                });
            }
        }
    }
</script>

<style scoped>

</style>