<template>
    <div class="app-container">
        <h3>Добавление конкурса/конференции</h3>
        <sticky :class-name="'sub-navbar draft'">
            <el-button style="margin-left: 10px;" type="success" @click="handleCreate">Добавить
            </el-button>
            <router-link :to="{name:'conferences_list'}">
                <el-button type="danger">Отмена</el-button>
            </router-link>
        </sticky>
        <div class="content" style="margin-top: 10px">
            <el-form ref="CreateConferenceForm" name="CreateConferenceForm" :rules="rules" :model="model">
                <el-row :gutter="10">
                    <el-col :span="24">
                        <el-alert
                                title="Что-то пошло не по плану"
                                type="error"
                                show-icon
                                v-if="errors.length>0">
                            <ul>
                                <li v-for="(error,index) in errors" :key="index">{{error}}</li>
                            </ul>
                        </el-alert>
                    </el-col>
                    <el-col :span="14">
                        <el-col :span="24">
                            <el-form-item label="Наименование конкурса/конференции" prop="title">
                                <el-input v-model="model.title"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item prop="date_of_event" label="Дата проведения">
                                <el-date-picker
                                        v-mask="'##.##.####'"
                                        :picker-options="pickerConfig"
                                        value-format="yyyy-MM-dd"
                                        format="dd.MM.yyyy"
                                        type="date"
                                        placeholder="Дата проведения"
                                        v-model="model.date_of_event"
                                        class="w100"
                                >
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item prop="active" label=" ">
                                <el-checkbox v-model="model.active">Показывать на сайте</el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="24">
                            <el-form-item label="Полный текст" prop="full_text">
                                <div class="editor-container">
                                    <Tinymce ref="fulltext" :height="300" v-model="model.full_text"
                                             id="fulltext"/>
                                </div>
                            </el-form-item>
                        </el-col>
                    </el-col>
                    <el-col :span="10">
                        <el-col :span="24">
                            <AdditionalFilesTable v-model="files"></AdditionalFilesTable>
                        </el-col>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>

<script>
    import Tinymce from '@/components/Tinymce';
    import Sticky from '@/components/Sticky'
    import AdditionalFilesTable from "../../../components/AdditionalFiles/AdditionalFilesTable";
    import {store} from "../../../api/site/conference";


    export default {
        name: "create-conference",
        components: {AdditionalFilesTable, Tinymce, Sticky},
        data() {
            return {
                errors: [],
                model: {
                    title: null,
                    active: true,
                    date_of_event: null,
                    full_text: null
                },
                rules: {
                    title: [
                        {required: true, message: 'Наименование конкурса/конференции не заполнено', trigger: 'blur'}
                    ],
                    date_of_event: [
                        {required: true, message: 'Не заполнена дата проведения', trigger: 'blur'}
                    ],
                    full_text: [
                        {required: true, message: 'Не заполнен текст конференции', trigger: 'blur'}
                    ]
                },
                files: [],
                pickerConfig: this.$pickerConfig()
            }
        },
        methods: {
            handleCreate() {
                this.$refs['CreateConferenceForm'].validate(valid => {
                    if (valid) {
                        this.errors = [];
                        const loading = this.$loading({
                            lock: true,
                            text: 'Добавляю конференцию, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        store(this.model, this.files)
                            .then(response => response.data)
                            .then(data => {
                                this.$notify({
                                    type: 'success',
                                    title: 'Успешно',
                                    message: 'Конференция была успешно добавлена'
                                });
                                this.$router.push({name: 'conferences_list'});
                                loading.close();
                            }, error => error.response.data.errors)
                            .then(errors => {
                                this.errors = errors;
                                loading.close();
                            })
                    } else {
                        return false;
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>