<template>
    <div>
        <v-dialog persistent max-width="700px">
            <v-card>
                <v-card-title>
                    <span class="headline">Добавление замены</span>
                </v-card-title>
                <v-card-text>
                    <el-row :gutter="10">
                        <el-col :span="24" style="margin-bottom: 10px">
                            <el-alert v-if="errors.length>0"
                                      title="Произошла ошибка"
                                      type="error"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <el-form :model="model" :rules="rules" ref="CreateReplacingForm" label-position="top"
                                 class="demo-ruleForm">
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item prop="date_of_replacing">
                                        <el-date-picker
                                                class="w100"
                                                v-model="model.date_of_replacing"
                                                type="date"
                                                placeholder="Выберите дату"
                                                format="dd.MM.yyyy"
                                                value-format="yyyy-MM-dd"
                                                :picker-option="pickerConfig">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24" class="text-left">
                                    <el-form-item prop="fileList">
                                        <el-upload
                                                class="upload-demo"
                                                ref="upload"
                                                action="https://jsonplaceholder.typicode.com/posts/"
                                                :auto-upload="false"
                                                :on-preview="handlePreview"
                                                :on-remove="handleRemove"
                                                :on-change="handleChange"
                                                :on-error="handleError"
                                                multiple
                                                :limit="5"
                                                accept="image/jpeg, image/png"
                                                list-type="text">
                                            <el-button size="small" type="primary">Нажмите для выбора файлов (доступна
                                                множественная загрузка)
                                            </el-button>
                                            <div class="el-upload__tip" slot="tip">jpg/png файлы доступны для загрузки
                                            </div>
                                        </el-upload>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                    </el-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button round @click="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" round
                               @click="handleCreate">
                        {{$t('form.add')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import moment from 'moment';

    import {createReplaces} from "../../api/site/replace-classes";

    export default {
        name: "CreateReplacingModal",
        data() {
            return {
                errors: [],
                allowTypes: ['image/jpeg', 'image/png'],
                model: {
                    date_of_replacing: moment().format('YYYY-MM-DD'),
                    fileList: []
                },
                rules: {
                    date_of_replacing: [
                        {required: true, message: 'Не указанна дата', trigger: 'blur'}
                    ],
                    fileList: [
                        {type: 'array', required: true, message: 'Не выбраны файлы', trigger: 'blur'}
                    ]
                },
                fileList: [],
                pickerConfig: this.$pickerConfig()
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('CreateReplacingModal')
            },
            handleCreate() {
                this.errors = [];
                console.dir(this.errors);
                this.$refs['CreateReplacingForm'].validate(valid => {
                    if (valid) {
                        let hasNotAllowFile = false;
                        let files = this.model.fileList.map(file => {
                            if (!this.allowTypes.includes(file.raw.type)) {
                                hasNotAllowFile = true;
                            }
                            return file.raw;
                        });

                        if (hasNotAllowFile) {
                            this.errors.push('Загруженные файлы недопустимых форматов. Допустимые форматы PNG и JPG');
                            return false;
                        }
                        const loading = this.$loading({
                            lock: true,
                            text: 'Добавляю замену, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        createReplaces({date_of_replacing: this.model.date_of_replacing, files}).then(response => {
                            this.handleClose();
                            this.$bus.emit('update-zamena-list');
                            this.$notify({
                                type: 'success',
                                title: 'Успешно',
                                message: 'Замена была успешно добавлена'
                            });
                            loading.close();
                        }, error => {
                            loading.close();
                            let response = error.response.data;
                            this.errors = [];
                            if (response.message) {
                                this.errors.push(response.message);
                            }
                            this.errors = response.errors;
                        });
                    }
                })
            },
            handlePreview(file, fileList) {

                this.$alert(`<img src="${file.url}" alt="Image" style="display: block; max-width: 80%">`, 'Просмотр изображения', {
                    dangerouslyUseHTMLString: true,
                    customClass: 'full-width'
                });
            },
            handleError(err, file, fileList) {
                console.log(err);
            },
            handleRemove(file, fileList) {
                this.model.fileList = fileList;
            },
            handleChange(file, fileList) {
                this.model.fileList = fileList;
            }
        }
    }
</script>

<style scoped>

</style>