<template>
    <div class="app-container">

        <div class="filter-container text-right">
            <el-button type="primary" @click="handleCreate">
                <i class="fa fa-plus"></i> Добавить замену
            </el-button>
        </div>
        <el-table
                :data="items"
                style="width: 100%"
                stripe
                border>
            <el-table-column prop="id" label="ID" width="80px" fixed></el-table-column>
            <el-table-column label="Дата замены">
                <template slot-scope="scope">
                    <span>
                        {{scope.row.date_of_replacing|dateFormat}}
                    </span>
                </template>
            </el-table-column>
            <el-table-column label="Кол-во файлов">
                <template slot-scope="scope">
                    {{scope.row.count_images}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('table.actions')" fixed="right">
                <template slot-scope="scope">
                    <div>

                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[15,25,50,75,100,200]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {getAllReplaces} from "../../api/site/replace-classes";
    import CreateReplacingModal from './CreateReplacingModal';

    export default {
        name: "replacing-classes-list",
        data() {
            return {
                items: [],
                total: 0,
                listQuery: {
                    page: 1,
                    limit: 15
                },
            }
        },
        methods: {
            getAll() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Загружаю список замен, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                getAllReplaces().then(response => {
                    this.items = response.data.items;
                    this.total = response.data.total;
                    loading.close();
                }, error => {

                });
            },
            handleSizeChange(val) {
                this.listQuery.limit = val;
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val;
                this.getList()
            },
            handleCreate() {
                this.$modal.show(CreateReplacingModal,
                    {},
                    {
                        name: 'CreateReplacingModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            }
        },
        mounted() {
            this.$bus.on('update-zamena-list', data => {
                this.getAll();
            });
            this.getAll();
        }
    }
</script>

<style scoped>

</style>