<template>
    <el-tabs class="w100">
        <el-tab-pane label="Должности">
            <employee-positions :employee="employee"></employee-positions>
        </el-tab-pane>
        <el-tab-pane label="Курсы">
            <qualification-courses :employee="employee"></qualification-courses>
        </el-tab-pane>
        <el-tab-pane label="Образование">
            <employee-educations :employee="employee"></employee-educations>
        </el-tab-pane>
        <el-tab-pane label="Дисциплины">
            <employee-subjects :employee="employee"></employee-subjects>
        </el-tab-pane>
        <el-tab-pane label="Предыдущая работа">
            <previous-jobs></previous-jobs>
        </el-tab-pane>
        <el-tab-pane label="Воинский учёт">
            <military-record></military-record>
        </el-tab-pane>
    </el-tabs>
</template>

<script>
    import EmployeePositions from "./employee-positions";
    import EmployeeEducations from "./employee-educations";
    import EmployeeSubjects from "./employee-subjects";
    import QualificationCourses from "./courses/qualification-courses";
    import EmployeePreviousExp from "./employee-previous-exp";
    import PreviousJobs from "./previous-jobs";
    import MilitaryRecord from "./military-record";

    export default {
        name: "additional-information",
        components: {
            MilitaryRecord,
            PreviousJobs,
            EmployeePreviousExp, QualificationCourses, EmployeeSubjects, EmployeeEducations, EmployeePositions},
        props: ['employee']
    }
</script>

<style scoped>

</style>
