<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="AddSubjectToEmployeeForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить дисциплину/модуль</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.subject')" prop="subject_id">
                                    <el-select filterable v-model="model.subject_id" placeholder="Выберите дисциплину"
                                               class="w100">
                                        <el-option-group
                                                v-for="type in subjectsList"
                                                :key="type.name"
                                                :label="type.name">
                                            <el-option
                                                    v-for="subject in type.subjects"
                                                    :key="subject.id"
                                                    :label="subject.name"
                                                    :value="subject.id">
                                            </el-option>
                                        </el-option-group>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>

    import {addSubjectToEmployee} from "@/api/contingent/employee";
    import {Message} from 'element-ui';


    export default {
        name: "AddSubjectToEmployee",
        props: ['subjectsList', 'employee_id'],
        data() {
            return {
                loading: false,
                serverErrors: [],
                hasError: false,
                model: {
                    employee_id: this.employee_id,
                    subject_id: null
                },
                rules: {
                    subject_id: [
                        {required: true, message: 'Выберите дисциплину для добавления', trigger: 'change'},
                    ]
                }
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('AddSubjectToEmployee')
            },
            handleCreate() {
                this.$refs['AddSubjectToEmployeeForm'].validate(valid => {
                    if (valid) {
                        addSubjectToEmployee(this.model).then(response => {
                            this.loading = true;
                            this.hasError = false;
                            this.$store.dispatch('ADD_CURRENT_EMPLOYEE_SUBJECTS',response.data.subjects)
                            Message({
                                message: response.data.message,
                                type: 'success',
                                duration: 5 * 1000
                            });
                            this.handleClose();
                        }, error => {
                            let response = error.response.data;
                            if (response.errors) {
                                this.serverErrors = response.errors;
                            }
                            // if (response.message) {
                            //     this.serverErrors.push(response.message);
                            // }
                            this.hasError = true;
                            this.loading = false;
                        });
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
