<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="CreatePreviousJobForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить предыдущее место работы</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="serverErrors.length>0"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul>
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="start_date" label="Дата приема">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            class="w100"
                                            v-model="model.start_date"
                                            type="date"
                                            placeholder="Дата приема"
                                            format="dd.MM.yyyy"
                                            value-format="yyyy-MM-dd"
                                            :picker-option="pickerConfig">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="end_date" label="Дата увольнения">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            class="w100"
                                            v-model="model.end_date"
                                            type="date"
                                            placeholder="Дата увольнения"
                                            format="dd.MM.yyyy"
                                            value-format="yyyy-MM-dd"
                                            :picker-option="pickerConfig">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-checkbox v-model="model.is_speciality_exp"
                                             label="Работа по специальности"></el-checkbox>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item prop="organization_name" label="Наименование организации">
                                    <el-input v-model="model.organization_name"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item prop="position_name" label="Должность">
                                    <el-input v-model="model.position_name"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {store as createPreviousJob} from "../../../../api/contingent/employee/previousJobs";
    import {Message} from "element-ui";

    export default {
        name: "CreatePreviousJobModal",
        data() {
            return {
                model: {
                    start_date: null,
                    end_date: null,
                    is_speciality_exp: true,
                    position_name: null,
                    organization_name: null
                },
                loading: false,
                serverErrors: [],
                rules: {
                    start_date: [
                        {required: true, message: 'Не указана дата приема', trigger: 'change'}
                    ],
                    end_date: [
                        {required: true, message: 'Не указана дата увольнения', trigger: 'change'}
                    ]
                },
                pickerConfig: this.$pickerConfig()
            }
        },
        methods: {
            handleCreate() {
                this.$refs['CreatePreviousJobForm'].validate(valid => {
                    if (valid) {
                        let data = {...this.model, ...{employee_id: this.$route.params.id}};
                        createPreviousJob(data)
                            .then(response => {
                                let {id} = response.data;

                                let job = {...this.model, ...{id}};
                                this.handleClose();
                                this.$store.dispatch('ADD_CURRENT_EMPLOYEE_PREVIOUS_JOB', job);
                                Message({
                                    message: 'Предыдущее место работы было успешно добавлено',
                                    type: 'success',
                                    duration: 5 * 1000
                                });
                            });
                    }
                });
            },
            handleClose() {
                this.$modal.hide('CreatePreviousJobModal');
            }
        }
    }
</script>

<style scoped>

</style>
