<template>
    <div>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>Воинский учет</span>
                <el-button style="float: right;" type="primary" round @click="handleEdit">
                    <i class="fa fa-edit"></i>
                </el-button>
            </div>
            <div>
                <div class="information">
                    <p>
                        <span data-prefix="Статус воинского учета: ">{{_militaryData.military_status|militaryStatus}}</span>
                        <span data-prefix="Тип документа воинского учета: ">{{_militaryData.military_document_type|militaryDocumentType}}</span>
                        <span data-prefix="Номер документа воинского учета: ">{{_militaryData.military_document_number||'Не указанно'}}</span>
                        <span data-prefix="Категория годности к ВС: ">{{_militaryData.fitness_for_military_service|fitnessForMilitary}}</span>
                        <span data-prefix="Отдел военного комиссариата: ">
                            <span v-if="_militaryData.recruitment_center">
                                {{_militaryData.recruitment_center.name}}
                            </span>
                            <span v-else>
                                Не указанно
                            </span>
                        </span>
                        <span data-prefix="Cпециальность: ">{{_militaryData.military_specialty||'Не указанно'}}</span>
                        <span data-prefix="Воинское звание: ">{{_militaryData.military_rank|militaryRank}}</span>
                        <span data-prefix="Состав: ">{{_militaryData.military_composition|militaryComposition}}</span>
                        <span data-prefix="Группа учета: ">{{_militaryData.group_of_accounting|groupOfAccounting}}</span>
                        <span data-prefix="Категория запаса: ">{{_militaryData.reserve_category|reserveCategory}}</span>
                        <span data-prefix="Имеет военную подготовку: ">{{_militaryData.has_military_preparation|logic}}</span>
                        <span data-prefix="Состоит на спец.учете: ">{{_militaryData.is_on_special_accounting|logic}}</span>
                    </p>
                </div>
            </div>
        </el-card>
    </div>
</template>

<script>
    import CreateEmployeeEducationModal from "./create-employee-education-modal";
    import EditMilitaryRecordModal from "./EditMilitaryRecordModal";

    export default {
        name: "military-record",
        computed:{
            _militaryData(){
                return this.$store.getters.currentEmployeeMilitaryRecord;
            }
        },
        methods:{
            handleEdit(){
                this.$modal.show(EditMilitaryRecordModal,
                    {},
                    {
                        name: 'EditMilitaryRecordModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    }
                )
            }
        }
    }
</script>

<style scoped>

</style>
