<template>
    <div>
        <div class="" style="margin-bottom: 10px">
            <el-button type="primary" @click="handleCreate()" round>
                <i class="fa fa-plus"/> Добавить предыдущее место работы
            </el-button>
        </div>
        <table class="table is-bordered is-striped">
            <tr>
                <th>ID</th>
                <th>Дата приема</th>
                <th>Дата увольнения</th>
                <th>Cтаж</th>
                <th>Работа по специальности</th>
                <th>Наименование организации</th>
                <th>Должность</th>
            </tr>
            <tr v-for="position in _positions">
                <td>{{position.id}}</td>
                <td>{{position.start_date|dateFormat}}</td>
                <td>{{position.end_date|dateFormat}}</td>
                <td>{{countingExperience(position)}}</td>
                <td>{{position.is_speciality_exp|logic}}</td>
                <td>{{position.organization_name}}</td>
                <td>{{position.position_name}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
    import moment from 'moment';
    import {pluralize} from "../../../../filters";
    import CreatePreviousJobModal from "./CreatePreviousJobModal";

    export default {
        name: "previous-jobs",
        computed: {
            _positions() {
                return this.$store.getters.currentEmployeePreviousJobs;
            }
        },
        methods: {
            countingExperience(position) {
                let start = moment(position.start_date);
                let end = moment(position.end_date);
                let duration = moment.duration(end.diff(start));
                return `${pluralize(duration.years(), 'years')} ${pluralize(duration.months(), 'months')} ${pluralize(duration.days(), 'days')}`
            },
            handleCreate() {
                this.$modal.show(CreatePreviousJobModal,
                    {},
                    {
                        name: 'CreatePreviousJobModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    }
                )
            }
        }
    }
</script>

<style scoped>

</style>
