<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="UpdatePersonalEmployeeInfoForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Обновление персональной информации</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.lastname')"
                                              prop="lastname">
                                    <el-input
                                            :placeholder="$t('label.lastname')"
                                            v-model="model.lastname" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.firstname')"
                                              prop="firstname">
                                    <el-input
                                            :placeholder="$t('label.firstname')"
                                            v-model="model.firstname" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.middlename')"
                                              prop="middlename">
                                    <el-input
                                            :placeholder="$t('label.middlename')"
                                            v-model="model.middlename" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.gender')" prop="gender">
                                    <el-select v-model="model.gender" :placeholder="$t('label.gender')"
                                               :disabled="loading"
                                               class="w100">
                                        <el-option
                                                v-for="(gender,key) in genders"
                                                :label="gender.name"
                                                :key="gender.id"
                                                :value="gender.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="birthday" :label="$t('label.birthday')">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.birthday')"
                                            v-model="model.birthday"
                                            class="w100"
                                            :picker-options="pickerOptions"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.category')" prop="category">
                                    <el-select v-model="model.category" :placeholder="$t('label.category')"
                                               :disabled="loading"
                                               class="w100">
                                        <el-option
                                                v-for="(categories,key) in categories"
                                                :label="categories.name"
                                                :key="categories.id"
                                                :value="categories.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="category_date" :label="$t('label.category_date')">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.category_date')"
                                            v-model="model.category_date"
                                            class="w100"
                                            :picker-options="category_date_pickerOptions"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.general_experience')" prop="general_experience">
                                    <el-input-number v-model="model.general_experience" :min="0" :max="100"
                                                     :disabled="loading"
                                                     class="w100"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="speciality_experience" :label="$t('label.speciality_experience')">
                                    <el-input-number v-model="model.specialty_exp" :min="0" :max="100"
                                                     :disabled="loading"
                                                     class="w100"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.scientific_degree')" prop="scientific_degree">
                                    <el-input
                                            :placeholder="$t('label.scientific_degree')"
                                            v-model="model.scientific_degree" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="academic_title" :label="$t('label.academic_title')">
                                    <el-input
                                            :placeholder="$t('label.academic_title')"
                                            v-model="model.academic_title" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item prop="start_work_date" :label="$t('label.start_work_date')">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.start_work_date')"
                                            v-model="model.start_work_date"
                                            class="w100"
                                            :picker-options="category_date_pickerOptions"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                            <el-checkbox v-model="model.use_dynamic_exp"
                                         label="Использовать динамический стаж"></el-checkbox>

                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleUpdate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>

    import {genders, categories} from "@/constants";
    import {updatePersonalInfo} from "@/api/contingent/employee";
    import {Message} from 'element-ui';

    export default {
        name: "update-employee-data",
        props: ['data'],
        data() {
            return {
                genders,
                categories,
                loading: false,
                hasError: false,
                serverErrors: [],
                model: {},
                category_date_pickerOptions: {
                    firstDayOfWeek: 1,
                },
                pickerOptions: {
                    firstDayOfWeek: 1,
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                },
                rules: {
                    lastname: [
                        {required: true, message: 'Заполните фамилию', trigger: 'blur'}
                    ],
                    firstname: [
                        {required: true, message: 'Заполните имя', trigger: 'blur'}
                    ],
                    birthday: [
                        {required: true, message: 'Укажите дату рождения', trigger: 'blur'}
                    ],
                    start_work_date: [
                        {required: true, message: 'Укажите дату начала работы', trigger: 'blur'}
                    ],
                },
            }
        },
        mounted() {
            this.model = Object.assign({}, this.data);
        },
        methods: {
            handleClose() {
                this.$modal.hide('UpdateEmployeeData')
            },
            handleUpdate() {
                this.$refs['UpdatePersonalEmployeeInfoForm'].validate((valid) => {
                    if (valid) {
                        updatePersonalInfo(this.model).then(response => {
                            this.handleClose();
                            this.$bus.emit('update-employee-data', {employee: this.model});
                            this.$store.dispatch('UPDATE_CURRENT_EMPLOYEE', this.model);
                            Message({
                                message: response.data.message,
                                type: 'success',
                                duration: 5 * 1000
                            });
                        }, error => {
                            let response = error.response.data;
                            if (response.errors) {
                                this.serverErrors = response.errors;
                            }
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            this.hasError = true;
                            this.loading = false;
                        });
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
