<template>
    <div class="dashboard-editor-container">
        <el-calendar>
            <!-- Use 2.5 slot syntax. If you use Vue 2.6, please use new slot syntax-->
            <template
                    slot="dateCell"
                    slot-scope="{date, data}">
                <p class="calendar-link" :class="data.isSelected ? 'is-selected' : ''" @click="handleMove(data)">
                    {{ data.day|dateFormat}}
                </p>
            </template>
        </el-calendar>
    </div>
</template>

<script>

    export default {
        name: 'DashboardAdmin',
        components: {},
        data() {
            return {}
        },
        methods: {
            handleMove(data) {
                console.log(1);
                this.$router.push({name: 'tasks.list', params: {date: data.day}});
            }
        }
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    .calendar-link {
        display: block;
        height: 100%;
    }

    .dashboard-editor-container {
        padding: 32px;
        background-color: rgb(240, 242, 245);

        .chart-wrapper {
            background: #fff;
            padding: 16px 16px 0;
            margin-bottom: 32px;
        }
    }
</style>
