<template>
    <div v-if="data" class="decree-info">
        <h2 style="margin: 0">Детальная информация</h2>
        <div>
            <h4 class="decree-number">Приказ № {{data.number}}</h4>
            <small>от {{data.date|dateFormat}}</small>
        </div>
        <h5 class="decree-type">Тип приказа</h5>
        <hr>
        <div class="detail-info" v-for="(item,key) in data.detail" :key="key">
            <span style="font-size: 16px; line-height: 1.3">{{item.text}}</span>
            <ol>
                <li v-for="(student,key) in item.students" :key="key">
                    <label>{{student.full_name}}</label>
                    <small>{{student.reason|reason}}</small>
                </li>
            </ol>
        </div>
    </div>
</template>

<script>
    export default {
        name: "current-decree",
        props: ['decree'],
        data() {
            return {
                data: this.decree
            }
        }, mounted() {
        },
        watch: {
            decree: function () {
                this.data = this.decree;
            }
        }
    }
</script>

<style scoped lang="scss">
    label {
        position: relative;
        display: inline-block;
        line-height: 1.3;
    }

    .decree-info {
        padding: 0 10px;
    }

    .decree-number {
        font-size: 160%;
        font-weight: 400;
        letter-spacing: -0.04em;
    }

    .decree-type {
        font-weight: 600;
        margin: 0 0 0.2em 0;
        font-size: 16px;
    }

    .detail-info {
        & small {
            color: #888;
            display: block;
        }
    }
</style>