<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="400px">
            <el-form :model="model" :rules="rules" ref="UpdateDecreeForm" label-position="top"
                     class="demo-ruleForm" v-loading="loading"
                     element-loading-text="Приказ обновляется, митинг разгонятеся..."
                     element-loading-spinner="el-icon-loading">
                <v-card>
                    <v-card-title>
                        <span class="headline">Обновление приказа</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.number')" prop="number">
                                    <el-input
                                            :placeholder="$t('label.number')"
                                            v-model="model.number" :loading="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item prop="date" :label="$t('label.decree_date')">
                                    <el-date-picker
                                            :loading="loading"
                                            v-mask="'##.##.####'"
                                            :picker-options="pickerOptions"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.decree_date')"
                                            v-model="model.date"
                                            class="w100">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleUpdate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {updateDecree} from "../../../api/contingent/decrees";

    export default {
        name: "EditDecreeModal",
        props: ['decree'],
        data() {
            return {
                loading: false,
                hasError: false,
                serverErrors: null,
                pickerOptions: this.$pickerConfig({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                }),
                model: {
                    id: this.decree.id,
                    number: this.decree.number,
                    date: this.decree.date
                },
                rules: {
                    number: [
                        {required: true, message: 'Не указан номер приказа', trigger: 'blur'}
                    ],
                    date: [
                        {required: true, message: 'Не указана дата приказа', trigger: 'blur'}
                    ]
                },
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('EditDecreeModal')
            },
            handleUpdate() {
                this.loading = true;
                this.$refs['UpdateDecreeForm'].validate(valid => {
                    if (valid) {
                        updateDecree(this.model).then(response => {
                            this.handleClose();
                            this.$bus.emit('update-decrees-list')
                        }, error => {
                            let response = error.response.data;
                            this.serverErrors = [];
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            if (response.errors) {
                                this.serverErrors = response.errors;
                            }
                            this.hasError = true;
                            this.loading = false;
                        })
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>