<template>
    <section class="page-title-section">
        <el-row>
            <el-col :span="24">
                <h1>
                    <slot name="title"></slot>
                </h1>
            </el-col>
            <el-col :span="24">
                <slot name="actions"></slot>
            </el-col>
        </el-row>
    </section>
</template>

<script>
    export default {
        name: "page-title-section",
    }
</script>

<style scoped lang="scss">
    .page-title-section {
        min-height: 70px;
        background: #F2F4F8;
        margin: 10px auto;
        margin-top: 0;
        text-align: left;
        padding: 1.5em 2%;
    }
    h1{

    }
</style>