<template>
    <div>
        <v-dialog persistent max-width="700px">
            <v-card>
                <v-card-title>
                    <span class="headline">Добавить компонент документа</span>
                </v-card-title>
                <v-card-text>
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-alert v-if="errors.length>0"
                                      title="Произошла ошибка"
                                      type="error"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <create-component-form v-model="model"></create-component-form>
                    </el-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" :loading="loading" :disabled="loading" round
                               @click="handleUploadComponent">
                        {{$t('form.create')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import CreateComponentForm from '@/components/CreateComponentForm/index';
    import {createComponent} from "../../../../api/education/education-plans";

    export default {
        name: "create-component-modal",
        components: {CreateComponentForm},
        props: {
            profession_program_id: {
                type: Number
            },
            id: {
                type: Number
            }
        },
        data() {
            return {
                errors: [],
                loading: false,
                model: {
                    name: null,
                    sort: 1,
                    file: null
                },
            }
        },
        mounted() {
            this.$bus.on('valid-component-form-status', data => {
                if (data) {
                    this.handleCreateComponent();
                    this.$bus.off('valid-component-form-status');
                }
            })
        },
        methods: {
            handleClose() {
                this.$modal.hide('CreateComponentModal')
            },
            handleUploadComponent() {
                this.$bus.emit('valid-component-form');
            },
            handleCreateComponent() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Загружаю компонент, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                let model = {...this.model, ...{id: this.id, profession_program_id: this.profession_program_id}};
                createComponent(model).then(response => {
                    this.$bus.emit('refresh-components-table', response.data.component);
                    loading.close();
                    this.handleClose();
                }, error => {
                    loading.close();
                });
            }
        }
    }
</script>

<style scoped>

</style>