<template>
    <div class="app-container">
        <div class="filter-container">
            <el-button class="filter-item" style="margin-left: 10px;float: right;" type="primary" icon="el-icon-edit"
                       @click="handleCreate">Добавить профессию
            </el-button>
        </div>
        <el-table
                v-loading="loading"
                :data="professions"
                style="width: 100%"
                border
                stripe
        >
            <el-table-column
                    prop="id"
                    label="ID"
                    width="70px">
            </el-table-column>
            <el-table-column
                    prop="code"
                    label="Код"
            >
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="Наименование"
            >
            </el-table-column>
            <el-table-column
                    label="Действия"
            >
                <template slot-scope="scope">
                    <div>
                        <el-button type="primary" icon="el-icon-edit" circle
                                   @click="openEditProfessionModal(scope.row)"></el-button>
                        <el-button type="danger" icon="el-icon-delete" @click="deleteProfession(scope.row.id)"
                                   circle></el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>


        <div>
            <el-dialog :title="forms.create.title" :visible.sync="showAddModal" :before-close="handelClose()">
                <el-form ref="createProdessionForm" :rules="forms.rules" :model="forms.create.model"
                         label-position="top"

                         style="">
                    <el-form-item :label="forms.labels.code" prop="code">
                        <el-input v-model="forms.create.model.code"/>
                    </el-form-item>
                    <el-form-item :label="forms.labels.name" prop="name">
                        <el-input v-model="forms.create.model.name"/>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="closeCreate()">Отмена</el-button>
                    <el-button type="primary" @click="addProfession()">Добавить</el-button>
                </div>
            </el-dialog>
        </div>
        <div class="edit-profession-modal">
            <el-dialog :title="forms.edit.title" :visible.sync="showEditModal" :before-close="handelClose()">
                <el-form ref="editProdessionForm" :rules="forms.rules" :model="forms.edit.model"
                         label-position="top"

                         style="">
                    <el-form-item :label="forms.labels.code" prop="code">
                        <el-input v-model="forms.edit.model.code"/>
                    </el-form-item>
                    <el-form-item :label="forms.labels.name" prop="name">
                        <el-input v-model="forms.edit.model.name"/>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="closeEdit()">Отмена</el-button>
                    <el-button type="primary" @click="editProfession()">Обновить</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
</template>

<script>
    import {fetchList, createProfession, deleteProfession, editProfession} from "@/api/education/profession";

    export default {
        name: "page",
        data() {
            return {
                total: 0,
                showAddModal: false,
                showEditModal: false,
                labelPosition: 'top',
                listQuery: {
                    page: 1,
                    limit: 10,
                    importance: undefined,
                    title: undefined,
                    type: undefined,
                    sort: '+id'
                },
                loading: true,
                professions: null,
                forms: {
                    labels: {
                        code: 'Код профессии',
                        name: 'Наименование профессии'
                    },
                    rules: {
                        code: [{
                            required: true,
                            type: 'string',
                            message: 'Код профессии должен быть заполнен',
                            trigger: 'change'
                        }],
                        name: [{
                            required: true,
                            message: 'Наименование професии должно быть заполнено',
                            trigger: 'change'
                        }],

                    },
                    create: {
                        title: 'Добавить профессию',
                        model: {
                            code: null,
                            name: null
                        },
                    },
                    edit: {
                        title: 'Редактировать профессию',
                        model: {
                            id: null,
                            code: null,
                            name: null
                        },
                    }
                }
            }
        },
        mounted() {
            this.getList();
        },
        methods: {
            getList() {
                this.loading = true;
                fetchList(this.listQuery).then(response => {
                    this.professions = response.data.data;
                    this.total = response.data.total;
                    this.loading = false;
                });
            },
            handelClose() {
                let refs = this.$refs;
                console.log(refs.hasOwnProperty('createProdessionForm'));
                if (refs.hasOwnProperty('createProdessionForm')) {
                    this.$refs['createProdessionForm'].clearValidate()
                }
                if (refs.hasOwnProperty('editProdessionForm')) {
                    this.$refs['editProdessionForm'].clearValidate()
                }
            },
            handleFilter() {
                this.listQuery.page = 1
                this.getList()
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },
            handleCreate() {
                this.showAddModal = true;
            },
            addProfession() {
                this.$refs['createProdessionForm'].validate((valid) => {
                    if (valid) {

                        createProfession(this.forms.create.model).then(response => {
                            this.getList();
                            this.closeCreate();
                            this.forms.create.model = {
                                code: null,
                                name: null
                            };

                            this.$nextTick(() => {
                                this.$refs['createProdessionForm'].clearValidate()
                            });
                            this.$notify({
                                title: 'Успешно',
                                message: response.data.message,
                                type: 'success',
                                duration: 5000
                            })
                        }).catch(error => {
                            console.log(error);
                        })
                    }
                })
            },
            closeCreate() {
                this.showAddModal = false;
                // this.$nextTick(() => {
                //     this.$refs['createProdessionForm'].clearValidate()
                // });
            },
            openEditProfessionModal(profession) {
                this.showEditModal = true;
                this.forms.edit.model = Object.assign({}, profession);
            },
            editProfession() {
                this.$refs['editProdessionForm'].validate((valid) => {
                    if (valid) {
                        editProfession(this.forms.edit.model).then(response => {
                            console.log(response);
                            if (response.data.success) {
                                this.getList();
                                this.closeEdit();
                                
                                this.$nextTick(() => {
                                    this.$refs['editProdessionForm'].clearValidate()
                                });
                                this.$notify({
                                    title: 'Успешно',
                                    message: response.data.message,
                                    type: 'success',
                                    duration: 5000
                                })
                            } else {
                                this.$notify({
                                    title: 'Ошибка',
                                    message: response.data.message,
                                    type: 'error',
                                    duration: 5000
                                })
                            }
                        }).catch(error => {
                            console.log(error);
                        })
                    }
                })
            },
            closeEdit() {
                this.showEditModal = false;
            },
            deleteProfession(id) {
                deleteProfession(id).then(response => {
                    if (response.data.success) {
                        this.getList();
                        this.$notify({
                            title: 'Удалено',
                            message: response.data.message,
                            type: 'success',
                            duration: 5000
                        })
                    } else {
                        this.$notify({
                            title: 'Внимание',
                            message: response.data.message,
                            type: 'warning',
                            duration: 5000
                        })
                    }

                })
            }
        }
    }
</script>

<style scoped>

</style>