<template>
    <div class="app-container">
        <transfer-term v-for="(transfer,index) in transferMap" :key="index" :transfer="transfer"></transfer-term>
    </div>
</template>

<script>
    import {getTransferMap} from "../../../api/contingent/training_groups";
    import TransferTerm from "./components/transfer-term";

    export default {
        name: "transfer-training-groups",
        components: {TransferTerm},
        data() {
            return {
                transferMap: []
            }
        },
        mounted() {
            this.getTransferMap();
            this.$bus.on('update-transfer-map', data => {
                this.getTransferMap();
            });
        }, methods: {
            getTransferMap() {
                let loading = this.$lockScreen({
                    text: 'Идет загрузка карты перевода групп'
                });

                getTransferMap()
                    .then(response => response.data)
                    .then(data => {
                        loading.close();
                        this.transferMap = data;
                    }, error => {
                        loading.close();
                    })
            }
        }
    }
</script>

<style scoped>

</style>