<template>
    <div class="base-additional-information">
        <el-row :gutter="10">
            <el-col :span="24">
                <el-checkbox v-model="value.need_hostel">Нуждается в общежитии</el-checkbox>
            </el-col>
            <el-col :span="24">
                <el-checkbox v-model="value.contract_target_set">Заключил договор целевого набора</el-checkbox>
            </el-col>
            <el-col :span="12">
                <el-form-item prop="inn" :label="$t('label.inn')">
                    <el-input v-model="value.inn" class="w100" :placeholder="$t('label.inn')"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item prop="snils" :label="$t('label.snils')">
                    <el-input v-model="value.snils" class="w100" :placeholder="$t('label.snils')"
                              v-mask="'###########'"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item :label="$t('label.language')" prop="language">
                    <el-select v-model="value.language"
                               :placeholder="$t('label.language')"
                               class="w100">
                        <el-option
                                v-for="(language,key) in languages"
                                :label="language.name"
                                :key="language.key"
                                :value="language.key"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('label.email')"
                              prop="email">
                    <el-input
                            :placeholder="$t('label.email')"
                            v-model="value.email">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item :label="$t('label.how_find_out')" prop="how_find_out">
                    <el-select v-model="value.how_find_out"
                               :placeholder="$t('label.how_find_out')"
                               class="w100" filterable clearable>
                        <el-option
                                v-for="(sourse,key) in howFindOutSources"
                                :label="sourse.text"
                                :key="sourse.value"
                                :value="sourse.value"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="16">
                <el-form-item :label="$t('label.invited_student_id')" prop="invite_student_id"
                              v-if="value.how_find_out===this.howFindOutSourses.fromStudent">
                    <el-select v-model="value.invited_student_id"
                               :placeholder="$t('label.invited_student_id')"
                               class="w100" filterable clearable>
                        <el-option
                                v-for="(student,key) in students"
                                :label="`${student.full_name} [${student.training_group.name}]`"
                                :key="student.id"
                                :value="student.id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {countries, languages, howFindOutSourses} from "../../constants";
    import {enumirate} from "../../filters";
    import {fetchAll} from "../../api/contingent/student";

    export default {
        name: "base-additional-information",
        props: ['value'],
        computed: {
            howFindOutSources() {
                return enumirate(howFindOutSourses, 'howFindOutSourse');
            }
        },
        created() {
            let lockscreen = this.$lockScreen({text: 'Получаю список студентов, для списка пригласивших'});
            fetchAll({filter: {}, limit: 5000, page: 1})
                .then(response => response.data)
                .then(data => {
                    this.students = data.students;
                    lockscreen.close();
                }, error => {
                    let errorsToList = error.response.data.errors.map(item => {
                        return `<li>${item}</li>`
                    });

                    this.$alert(`<p>Студент список студентов не загружен. Возможность прикрепить пригласившего студента недоступна.<br>Список ошибок:</p><ul>${errorsToList}</ul>`, 'Произошла ошибка', {
                        confirmButtonText: 'OK',
                        dangerouslyUseHTMLString: true,
                        callback: action => {

                        }
                    });

                    lockscreen.close();
                }).catch(e => {
                lockscreen.close();
            })
        },
        data() {
            return {
                howFindOutSourses,
                countries,
                languages,
                students: []
            }
        },
        methods: {}
    }
</script>

<style scoped>

</style>