<template>
    <div class="user-parents-form">
        <div v-for="(parent, index) in value" style="border-bottom: 1px solid gray;margin-bottom: 10px">
            <el-row :gutter="10">
                <el-col :span="8">
                    <el-form-item :label="$t('label.lastname')"
                                  :prop="index+'.lastname'" :rules="{
      required: true, message: 'Фамилия не заполнена', trigger: 'blur'
    }">
                        <el-input
                                :placeholder="$t('label.lastname')"
                                v-model="parent.lastname">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item :label="$t('label.firstname')"
                                  :prop="index+'.firstname'" :rules="{
      required: true, message: 'Имя не заполнено', trigger: 'blur'
    }">
                        <el-input
                                :placeholder="$t('label.firstname')"
                                v-model="parent.firstname">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item :label="$t('label.middlename')"
                                  prop="middlename">
                        <el-input
                                :placeholder="$t('label.middlename')"
                                v-model="parent.middlename">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="10">
                <el-col :span="6">
                    <el-form-item :label="$t('label.gender')" prop="gender" :prop="index+'.gender'" :rules="{
      required: true, message: 'Не выбран пол', trigger: 'blur'
    }">
                        <el-select v-model="parent.gender" :placeholder="$t('label.gender')"

                                   class="w100">
                            <el-option
                                    v-for="(gender,key) in genders"
                                    :label="gender.name"
                                    :key="gender.id"
                                    :value="gender.id"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item prop="birthday" :label="$t('label.birthday')" :prop="index+'.birthday'" :rules="{
      required: true, message: 'Не заполнена дата рождения', trigger: 'blur'
    }">
                        <el-date-picker
                                v-mask="'##.##.####'"
                                :picker-options="pickerOptions"
                                value-format="yyyy-MM-dd"
                                format="dd.MM.yyyy"
                                type="date"
                                :placeholder="$t('label.birthday')"
                                v-model="parent.birthday"
                                class="w100"
                        >
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item :label="$t('label.relation_ship_type')" :prop="index+'.relation_ship_type'" :rules="{
      required: true, message: 'Не выбрано кем приходится', trigger: 'blur'
    }">
                        <el-select v-model="parent.relation_ship_type"
                                   :placeholder="$t('label.relation_ship_type')"

                                   class="w100">
                            <el-option
                                    v-for="(type,key) in relationShipTypes"
                                    :label="type.name"
                                    :key="type.key"
                                    :value="type.key"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item :label="$t('label.phone')" :prop="index+'.phone'" :rules="{
      required: true, message: 'Не указан телефон', trigger: 'blur'
    }">
                        <el-input :value="parent.phone"
                                  :placeholder="$t('label.phone')"
                                  v-model="parent.phone">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item :label="$t('label.snils')">
                        <el-input :value="parent.snils"
                                  v-mask="'###########'"
                                  :placeholder="$t('label.snils')"
                                  v-model="parent.snils">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="10">
                <el-col :span="24">
                    <el-form-item :label="$t('label.place_of_work')"
                                  prop="place_of_work">
                        <el-input type="textarea" :value="parent.place_of_work"
                                  :placeholder="$t('label.place_of_work')"
                                  v-model="parent.place_of_work">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>
        <el-button-group>
            <el-button type="primary" @click="addParent">
                Добавить родителя
            </el-button>
            <el-button type="danger" @click="deleteParent" v-if="value.length>0">
                Удалить родителя
            </el-button>
        </el-button-group>
    </div>
</template>

<script>

    import {DateTime} from 'luxon';
    import {genders, relationShipTypes} from "../../constants";

    export default {
        name: "user-parents-form",
        props: ['value'],
        data() {
            return {
                genders,
                relationShipTypes,
                pickerOptions: this.$pickerConfig()
            }
        },
        methods: {
            addParent() {
                this.value.push({
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    birthday: DateTime.local().toISODate(),
                    snils: null,
                    gender: 1,
                    relation_ship_type: 'mother',
                })
            },
            deleteParent() {
                this.value.pop();
            }
        }
    }
</script>

<style scoped>

</style>