<template>
    <div>
        <v-dialog persistent max-width="700px">
            <v-card>
                <v-card-title>
                    <span class="headline">Обновление военкомата</span>
                </v-card-title>
                <v-card-text>
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-alert v-if="errors.length>0"
                                      title="Произошла ошибка"
                                      type="error"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <el-form :model="model" :rules="rules" ref="UpdateRecruitCenterForm" label-position="top">
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item :label="$t('label.name')" prop="name">
                                        <el-input placeholder="Наименование ВК" v-model="model.name">
                                            <template slot="prepend">Отдел ВК</template>
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                    </el-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button round @click="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" round
                               @click="handleCreate">
                        {{$t('form.add')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {update} from "../../../api/contingent/recruitentCenters";

    export default {
        name: "UpdateCenterModal",
        props: {
            center: {}
        },
        data() {
            return {
                errors: [],
                model: {
                    name: null
                },
                rules: {
                    name: [
                        {required: true, message: 'Не заполнено название военного коммисариата', trigger: 'blur'}
                    ]
                }
            }
        },
        mounted() {
            this.model = {...{}, ...this.center};
        },
        methods: {
            handleClose() {
                this.$modal.hide('UpdateCenterModal')
            },
            handleCreate() {
                this.errors = [];
                this.$refs['UpdateRecruitCenterForm'].validate(valid => {
                    if (valid) {
                        const loading = this.$loading({
                            lock: true,
                            text: 'Обновляю ВК, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });

                        update(this.model)
                            .then(response => response.data)
                            .then(data => {
                                this.$notify({
                                    type:'success',
                                    title:'Успешно',
                                    message:'Коммисариат был успешно обновлен'
                                });
                                loading.close();
                                this.handleClose();
                                this.$bus.emit('update-recruitment-centers-list');
                            }, error => error.response.data)
                            .catch(error => {
                                loading.close();
                                this.errors = error.errors;
                            });
                    }

                });
            },

        }
    }
</script>

<style scoped>

</style>