<template>
    <div class="activity">
        <div class="activity__header">
            <h3>{{data.event|activityEvent}}</h3>
        </div>
        <div class="activity__content information">
            <p>
                <span data-prefix="Пользователь: ">{{data.user}}</span>
                <span data-prefix="Объект: " v-if="data.log_name!=='default'">{{data.log_name|activityEntity}}</span>
                <span data-prefix="ID объекта: " v-if="data.subject_id">{{data.subject_id}}</span>
                <span data-prefix="Описание: "> {{data.description}}</span>
            </p>
            <div class="table-responsive">
                <table style="margin-top: 20px" class="table is-bordered is-striped is-fullwidth is-hoverable"
                       v-if="data.properties.length!==0">
                    <thead>
                    <tr>
                        <th>Свойство</th>
                        <th>Старое значение</th>
                        <th>Новое значение</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(prop,key) in data.properties" :key="key">
                        <td>{{key|activityProp(data.log_name)}}</td>
                        <td>
                            <prop-format :prop-key="key" :log-name="data.log_name"
                                         :prop-value="prop.old_value"></prop-format>
                        </td>
                        <td>
                            <prop-format :prop-key="key" :log-name="data.log_name"
                                         :prop-value="prop.new_value"></prop-format>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import PropFormat from "./prop-format";

    export default {
        name: "current-event-activity",
        components: {PropFormat},
        props: {
            activity: {
                type: Object
            }
        },
        data() {
            return {
                data: this.activity
            }
        },
        mounted() {

        },
        watch: {
            activity: function () {
                this.data = {...{}, ...this.activity};
            }
        }
    }
</script>

<style scoped lang="scss">
    .activity {
        &__header {
            padding: 10px;
            border-bottom: 1px solid black;
        }

        &__content {
            padding: 10px;
        }
    }
</style>