<template>
    <div>
        <el-form :model="value"
                 label-position="right"
                 ref="AdditionalInformation">
            <el-row :gutter="10">
                <el-col :span="8">
                    <el-form-item prop="inn" :label="$t('label.inn')">
                        <el-input v-model="value.inn" class="w100" :placeholder="$t('label.inn')"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item prop="snils" :label="$t('label.snils')">
                        <el-input v-model="value.snils" class="w100" :placeholder="$t('label.snils')"
                                  v-mask="'###########'"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item prop="medical_policy_number" :label="$t('label.medical_policy_number')">
                        <el-input v-model="value.medical_policy_number" class="w100"
                                  :placeholder="$t('label.medical_policy_number')"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="10">
                <el-col :span="8">
                    <el-form-item :label="$t('label.nationality')" prop="nationality">
                        <el-select v-model="value.nationality"
                                   :placeholder="$t('label.nationality')"
                                   class="w100">
                            <el-option
                                    v-for="(country,key) in sortCountries"
                                    :label="country.name"
                                    :key="country.key"
                                    :value="country.key"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item :label="$t('label.language')" prop="language">
                        <el-select v-model="value.language"
                                   :placeholder="$t('label.language')"
                                   class="w100">
                            <el-option
                                    v-for="(language,key) in languages"
                                    :label="language.name"
                                    :key="language.key"
                                    :value="language.key"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item :label="$t('label.privilegedCategory')" prop="privilegedCategory">
                        <el-select multiple v-model="value.preferential_categories"
                                   :placeholder="$t('label.privilegedCategory')"
                                   class="w100">
                            <el-option
                                    v-for="(category,key) in privilegedCategories"
                                    :label="category.name"
                                    :key="category.id"
                                    :value="category.id"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="10">
                <el-col :span="8">
                    <el-checkbox v-model="value.has_certificate">Медицинская справка 086-у</el-checkbox>
                </el-col>
                <el-col :span="8">
                    <el-checkbox v-model="value.person_with_disabilities">Является лицом с ОВЗ</el-checkbox>
                </el-col>
                <el-col :span="8">
                    <el-checkbox v-model="value.need_hostel">Нуждается в общежитии</el-checkbox>
                </el-col>
            </el-row>
            <el-row :gutter="10">
                <el-col :span="12">
                    <el-form-item :label="$t('label.phone')"
                                  prop="phone">
                        <el-input
                                :placeholder="$t('label.phone')"
                                v-model="value.phone" :disabled="loading">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('label.disability')" prop="disability">
                        <el-select v-model="value.disability"
                                   :placeholder="$t('label.disability')"
                                   class="w100">
                            <el-option
                                    v-for="(disability,key) in disabilities"
                                    :label="disability.name"
                                    :key="disability.id"
                                    :value="disability.id"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
    import {countries, languages, privilegedCategories,disabilities} from "../../../constants";

    export default {
        name: "additional-information",
        props: ['value'],
        data() {
            return {
                languages,
                privilegedCategories,
                disabilities
            }
        },
        computed: {
            sortCountries() {
                return _.sortBy(countries, 'name')
            }
        }
    }
</script>

<style scoped>

</style>