<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="AddParentForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <el-row :gutter="10" class="w100">
                            <el-col :span="12">
                                <span class="headline">Добавить родителя</span>
                            </el-col>

                            <el-col :span="12" style="text-align: right">
                                <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                    <i class="fa fa-close"></i>
                                </el-button>
                            </el-col>
                        </el-row>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Что-то пошло не по плану"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.lastname')"
                                              prop="lastname">
                                    <el-input v-only-letter :value="model.lastname"
                                              :placeholder="$t('label.lastname')"
                                              v-model="model.lastname" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.firstname')"
                                              prop="firstname">
                                    <el-input
                                            :placeholder="$t('label.firstname')"
                                            v-model="model.firstname" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.middlename')"
                                              prop="middlename">
                                    <el-input
                                            :placeholder="$t('label.middlename')"
                                            v-model="model.middlename" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.gender')" prop="gender">
                                    <el-select v-model="model.gender" :placeholder="$t('label.gender')"
                                               :disabled="loading"
                                               class="w100">
                                        <el-option
                                                v-for="(gender,key) in genders"
                                                :label="gender.name"
                                                :key="gender.id"
                                                :value="gender.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="birthday" :label="$t('label.birthday')">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            :picker-options="pickerOptions"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.birthday')"
                                            v-model="model.birthday"
                                            class="w100"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.relation_ship_type')" prop="relation_ship_type">
                                    <el-select v-model="model.relation_ship_type"
                                               :placeholder="$t('label.relation_ship_type')"
                                               :disabled="loading"
                                               class="w100">
                                        <el-option
                                                v-for="(type,key) in relationShipTypes"
                                                :label="type.name"
                                                :key="type.key"
                                                :value="type.key"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.phone')"
                                              prop="phone">
                                    <el-input :value="model.phone"
                                              :placeholder="$t('label.phone')"
                                              v-model="model.phone" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.place_of_work')"
                                              prop="phone">
                                    <el-input type="textarea" :value="model.place_of_work"
                                              :placeholder="$t('label.place_of_work')"
                                              v-model="model.place_of_work" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>

    import {DateTime} from 'luxon';
    import {genders, relationShipTypes} from "../../../constants";
    import {createParent} from "../../../api/contingent/parent";

    export default {
        name: "AddUserParentModal",
        props: ['user_id'],
        data() {
            return {
                genders,
                relationShipTypes,
                loading: false,
                hasError: false,
                serverErrors: [],
                model: {
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    birthday: DateTime.local().toISODate(),
                    gender: 1,
                    relation_ship_type: 'mother',
                    user_id: this.user_id
                },
                rules: {
                    lastname: [
                        {required: true, message: 'Заполните фамилию', trigger: 'blur'}
                    ],
                    firstname: [
                        {required: true, message: 'Заполните имя', trigger: 'blur'}
                    ],
                    birthday: [
                        {required: true, message: 'Укажите дату рождения', trigger: 'blur'}
                    ],
                },
                pickerOptions: this.$pickerConfig({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                }),
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('AddUserParentModal')
            },
            handleCreate() {
                this.$refs.AddParentForm.validate((valid) => {
                    this.loading = true;
                    if (valid) {
                        let loading = this.$lockScreen({text: 'Добавляю родителя'});
                        createParent(this.model).then(response => {
                            let data = {...{id: response.data.parent_id}, ...this.model};
                            this.$bus.emit('update-parents-list', data);
                            this.handleClose();
                            loading.close();
                            this.$notify({
                                title: 'Успешно',
                                message: response.data.message,
                                type: 'success'
                            });
                        }, error => {
                            loading.close();
                            this.serverErrors = [];
                            this.hasError = true;
                            let response = error.response.data;
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            if (response.errors) {
                                this.serverErrors = response.errors;
                            }
                        })
                    }
                    this.loading = false;
                })
            }
        }
    }
</script>

<style scoped>

</style>