<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" ref="EditHealthForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <el-row :gutter="10" class="w100">
                            <el-col :span="19">
                                <span class="headline">Обновления данных здоровья и льгот</span>
                            </el-col>

                            <el-col :span="5" style="text-align: right">
                                <el-button round @click.native="handleClose">
                                    <i class="fa fa-close"></i>
                                </el-button>
                            </el-col>
                        </el-row>
                    </v-card-title>
                    <v-card-text>
                        <user-health-form v-model="model"></user-health-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button round @click="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" round
                                   @click="handleUpdate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import UserHealthForm from "../../ContingentForms/user-health-form";
    import {updateData} from "../../../api/contingent/universalContingentApi";

    export default {
        name: "EditHealthModal",
        components: {UserHealthForm},
        props: {
            id: {
                type: Number,
                required: true
            },
            health: {
                type: Object
            }
        },
        data() {
            return {
                model: {
                    medical_policy_number: null,
                    preferential_categories: [],
                    health_category: null,
                    disability: null,
                    person_with_disabilities: false,
                    has_certificate: false
                }
            }
        },
        mounted() {
            this.model = {...{}, ...this.health}
        },
        methods: {
            handleClose() {
                this.$modal.hide('EditHealthModal')
            },
            handleUpdate() {
                this.$refs.EditHealthForm.validate(valid => {
                    if (valid) {
                        const loading = this.$loading({
                            lock: true,
                            text: 'Даннные здоровья обновляются, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        updateData(this.id, this.model).then(response => {
                            loading.close();
                            this.$notify({
                                type: 'success',
                                title: 'Успешно',
                                message: 'Данные здоровья были успешно обновлены'
                            });
                            this.handleClose();
                            this.$bus.emit('update-health-list', this.model);
                        }, error => {
                            loading.close()
                        });
                    } else {
                        return false;
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>