<template>
    <div>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>Образование</span>
                <el-button style="float: right;" type="primary" round @click="handleEdit" v-if="this.checkPermission(['student.edit','enrollees.edit'])">
                    <i class="fa fa-edit"></i>
                </el-button>
            </div>
            <div>
                <div class="information">
                    <p>
                        <span data-prefix="Уровень образвоания: ">{{education.education_id|education}}</span>
                        <span data-prefix="Предыдущая образовательная организация: ">{{education.graduation_organization_name}}</span>
                        <span data-prefix="Местоположение организации: ">{{education.graduation_organization_place}}</span>
                        <span data-prefix="Средний балл: ">{{education.avg}}</span>
                        <span data-prefix="Дата окончания: ">{{education.graduation_date|dateFormat}}</span>
                    </p>
                </div>
            </div>
        </el-card>
    </div>
</template>

<script>

    import EditEducationModal from '../EditEducationModal';

    export default {
        name: "user-education-information",
        props: ['user'],
        data() {
            return {
                education: {}
            }
        },
        mounted() {
            this.$bus.on('update-user-education-data', data => {
                this.education = data;
            });
            this.education = this.user.education;
        },
        methods: {
            handleEdit() {
                this.$modal.show(EditEducationModal,
                    {
                        user_id: this.user.id,
                        education: this.education
                    },
                    {
                        name: 'EditEducationModal',
                        width: 0,
                        height: 0,
                        'z-index': 1000
                    })
            }
        }
    }
</script>

<style scoped>

</style>