<template>
    <div>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>Родители</span>
                <el-button style="float: right;" type="primary" round @click="handleCreateParent"
                           v-if="this.checkPermission(['student.edit','enrollees.edit'])">
                    <i class="fa fa-plus"></i>
                </el-button>
            </div>
            <div>
                <el-table
                        :data="parents"
                        border
                        style="width: 100%">
                    <el-table-column prop="id" :label="$t('table.id')" width="70px"></el-table-column>
                    <el-table-column label="ФИО">
                        <template slot-scope="scope">
                            {{scope.row.lastname}} {{scope.row.firstname}} {{scope.row.middlename}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Кем приходится" width="100px">
                        <template slot-scope="scope">
                            {{scope.row.relation_ship_type|relationShipType}}
                        </template>
                    </el-table-column>
                    <el-table-column :label="$t('label.phone')">
                        <template slot-scope="scope">
                            {{scope.row.phone}}
                        </template>
                    </el-table-column>
                    <el-table-column label="Сведения о работе">
                        <template slot-scope="scope">
                            {{scope.row.place_of_work}}
                        </template>
                    </el-table-column>
                    <el-table-column :label="$t('table.actions')">
                        <template slot-scope="scope">
                            <el-button type="danger" @click="handleDelete(scope.$index,scope.row.id)" round>
                                <i class="fa fa-trash"></i>
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-card>
    </div>
</template>

<script>
    import AddUserParentModal from './AddUserParentModal';
    import {deleteParent} from "../../../api/contingent/parent";

    export default {
        name: "user-parents",
        props: ['user'],
        data() {
            return {
                parents: []
            }
        },
        computed: {
            sortParents() {
                return _.sortBy(this.parents, 'lastname');
            }
        },
        mounted() {
            this.$bus.on('update-parents-list', data => {
                this.parents.push(data);
            });
            this.parents = this.user.parents
        },
        methods: {
            handleCreateParent() {
                this.$modal.show(AddUserParentModal,
                    {user_id: this.user.id},
                    {
                        name: 'AddUserParentModal',
                        width: 0,
                        height: 0,
                        'z-index': 1000
                    })
            },
            handleDelete(index, id) {
                deleteParent(id).then(response => {
                    this.$delete(this.parents, index);
                    this.$notify({
                        title: 'Успешно',
                        message: response.data.message,
                        type: 'success'
                    });
                })
            }
        }
    }
</script>

<style scoped>

</style>