<template>
    <div class="additional-information">
        <el-row :gutter="10">
            <el-col :span="24">
                <el-checkbox v-model="value.need_hostel">Нуждается в общежитии</el-checkbox>
            </el-col>
            <el-col :span="12">
                <el-form-item prop="inn" label="ИНН">
                    <el-input v-model="value.inn" class="w100" placeholder="ИНН"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item prop="snils" label="СНИЛС">
                    <el-input v-model="value.snils" class="w100" placeholder="СНИЛС (11 символов без знаков -)"
                              v-mask="'###########'"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="10">
            <el-col :span="12">
                <el-form-item label="Изучаемый язык" prop="language">
                    <el-select v-model="value.language"
                               placeholder="Изучаемый язык"
                               class="w100">
                        <el-option
                                v-for="(language,key) in languages"
                                :label="language.name"
                                :key="language.key"
                                :value="language.key"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Email"
                              prop="email">
                    <el-input
                            placeholder="Email"
                            v-model="value.email">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="Откуда узнали о нас" prop="how_find_out">
                    <el-select v-model="value.how_find_out"
                               placeholder="Откуда узнали о нас"
                               class="w100" filterable clearable>
                        <el-option
                                v-for="(source,key) in howFindOutSources"
                                :label="source.text"
                                :key="source.value"
                                :value="source.value"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {languages} from "../../../../admin/src/constants";

    export default {
        name: "additional-information",
        props: {
            value: {}
        },
        computed: {
            howFindOutSources() {
                return [
                    {value: 'openDoorsDay', text: 'День открытых дверей'},
                    {value: 'internet', text: 'Сайт/интернет'},
                    {value: 'fromRelative', text: 'От родственника'},
                    {value: 'fromEmployee', text: 'От сотрудника'},
                    {value: 'fromStudent', text: 'От студента'},
                    {value: 'other', text: 'Иное'}
                ];
            }
        },
        data() {
            return {
                languages,
            }
        }
    }
</script>

<style scoped>

</style>
