<template>
    <el-form :model="value"
             label-position="right"
             :ref="title">
        <el-row :gutter="10">
            <el-col :span="24">
                <el-form-item label="Область, край, республика" prop="region">
                    <el-input  v-model="value.region"
                              placeholder="Область, край, республика"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Район областной" prop="area">
                    <el-input  v-model="value.area"
                              placeholder="Район областной"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Населенный пункт(поселок, деревня, ПГТ)" prop="settlement">
                    <el-input  v-model="value.settlement"
                              placeholder="Населенный пункт"></el-input>

                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Город" prop="city">
                    <el-input  v-model="value.city"
                              placeholder="Город"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Район городской" prop="city_area">
                    <el-input v-model="value.city_area" placeholder="Район городской"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Дата регистрации" prop="registration_date">
                    <el-date-picker
                            v-mask="'##.##.####'"
                            value-format="yyyy-MM-dd"
                            format="dd.MM.yyyy"
                            type="date"
                            placeholder="Дата регистрации"
                            v-model="value.registration_date"
                            class="w100"
                            :picker-options="pickerOptions"
                    >
                    </el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Индекс" prop="index">
                    <el-input  v-model="value.index"
                              placeholder="Индекс"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Улица" prop="street">
                    <el-input  v-model="value.street"
                              placeholder="Улица"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Номер дома" prop="house_number">
                    <el-input v-model="value.house_number" placeholder="Номер дома"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Корпус" prop="housing">
                    <el-input v-model="value.housing" placeholder="Корпус"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Номер квартиры" prop="apartment_number">
                    <el-input v-model="value.apartment_number"
                              placeholder="Номер квартиры"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
</template>

<script>

    export default {
        name: "address-form",
        props:{
            value:{},
            title:{
                type:String
            }
        },
        data(){
            return {
                pickerOptions:this.$pickerOptions({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
