<template>
    <el-tabs active-name="registration">
    <el-tab-pane label="Адрес регистрации" name="registration">
        <el-checkbox label="Совпадает с адресом проживания" v-model="value.isAddressSimilar"></el-checkbox>
        <el-checkbox label="Совпадает с рег. по месту приб."
                     v-model="value.isAddressPlaceOfStay"></el-checkbox>
        <br>
        <address-form v-model="value.registration" title="Адрес регистрации"></address-form>
    </el-tab-pane>
    <el-tab-pane label="Адрес проживания" name="residential" v-if="!value.isAddressSimilar">
        <address-form v-model="value.residential" title="Адрес проживания"></address-form>
    </el-tab-pane>
    <el-tab-pane label="Рег. по месту прибывания" name="place_of_stay" v-if="!value.isAddressPlaceOfStay">
        <address-form v-model="value.place_of_stay" title="Рег. по месту проживания"></address-form>
    </el-tab-pane>
    </el-tabs>
</template>

<script>
    import AddressForm from "./address-form";
    export default {
        name: "addresses-data",
        components: {AddressForm},
        props:{
            value:{}
        }
    }
</script>

<style scoped>

</style>
