<template>
    <div class="education-data-form" v-bind:class="{ showCalcAvg: calcAvg}">
        <div class="user-education-form">
            <div class="education-data">
                <el-row :gutter="10">
                    <el-col :span="24">
                        <el-form-item label="Уровень образования" prop="education_id">
                            <el-select v-model="value.education_id"
                                       placeholder="Уровень образования"
                                       class="w100" filterable>
                                <el-option
                                        v-for="(education,key) in _sortEducations"
                                        :label="education.name"
                                        :key="education.id"
                                        :value="education.id"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="Наименование предыдущей образовательной организации"
                                      prop="graduation_organization_name">
                            <el-input
                                    style="width: 100%"
                                    id="graduation_organization_name"
                                    placeholder="Наименование предыдущей образоватлеьной организации"
                                    v-model="value.graduation_organization_name"
                            >
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="Местонахождение предыдущей образовательной организации"
                                      prop="graduation_organization_place">
                            <el-input
                                    style="width: 100%"
                                    id="graduation_organization_place"
                                    placeholder="Местонахождение предыдущей образовательной организации"
                                    v-model="value.graduation_organization_place"
                            >
                            </el-input>

                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item prop="avg" label="Ср.балл" class="no-float-label">
                            <el-col :span="20">
                                <el-input-number class="w100" v-model="value.avg" :step="0.0001"
                                                 :max="5"></el-input-number>
                            </el-col>
                            <el-col :span="4">
                                <el-button type="primary" @click="handleCalculateAverageScore">
                                    <i class="fa fa-calculator"></i>
                                </el-button>
                            </el-col>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item prop="graduation_date" label="Дата окончания предыдущей обр.организации">
                            <el-date-picker
                                    v-mask="'##.##.####'"
                                    :picker-options="pickerOptions"
                                    value-format="yyyy-MM-dd"
                                    format="dd.MM.yyyy"
                                    type="date"
                                    placeholder="Дата окончания предыдущей обр.организации"
                                    v-model="value.graduation_date"
                                    class="w100"
                            >
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div class="average-score-form">
                <el-row :gutter="10">
                    <div>
                        <table class="table is-bordered is-striped margin0auto">
                            <tr>
                                <td>Кол-во оценок</td>
                                <td>{{totalCountRatings}}</td>
                            </tr>
                            <tr>
                                <td>Средний балл без округления</td>
                                <td>{{averageWithOutRound?averageWithOutRound:0}}</td>
                            </tr>
                            <tr>
                                <td>Средний балл округленный</td>
                                <td>{{averageWithRound?averageWithRound:0}}</td>
                            </tr>
                        </table>
                    </div>
                    <el-col :span="24">
                        <el-form-item label="Кол-во троек">
                            <el-input-number v-model="ratings_map.threes" class="w100" :min="0"></el-input-number>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="Кол-во четверок">
                            <el-input-number v-model="ratings_map.fours" class="w100" :min="0"></el-input-number>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="Кол-во пятерок">
                            <el-input-number v-model="ratings_map.fives" class="w100" :min="0"
                            ></el-input-number>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24" class="text-center">
                        <el-button type="danger" @click="handleCloseAvgForm">
                            Отмена
                        </el-button>
                        <el-button type="primary" @click="handleEndCalculateAvg">
                            Сохранить
                        </el-button>
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
</template>

<script>
    import {educations} from "../../../../admin/src/constants";

    export default {
        name: "education-data",
        props: {
            value: {}
        },
        data() {
            return {
                ratings_map:{
                    threes:0,
                    fours:0,
                    fives:0
                },
                calcAvg: false,
                pickerOptions: this.$pickerOptions(),
                totalCountRatings: 0,
                averageWithOutRound: 0,
                averageWithRound: 0,
                ball: 0,
            }
        },
        computed: {
            _sortEducations() {
                return _.sortBy(educations, 'name')
            }
        },
        methods: {
            handleCloseAvgForm(){
                this.calcAvg = false;
            },
            handleEndCalculateAvg(){
                this.value.ratings_map={...{},...this.ratings_map};
                this.value.avg=this.averageWithRound;
                this.handleCloseAvgForm()
            },
            handleCalculateAverageScore() {
                this.calcAvg = true;
            },
            handleCalculate() {
                let totalCountRatings = this.totalCountRatings = this.ratings_map.threes + this.ratings_map.fours + this.ratings_map.fives;
                let totalThreesSum = this.ratings_map.threes * 3;
                let totalFoursSum = this.ratings_map.fours * 4;
                let totalFivesSum = this.ratings_map.fives * 5;
                let totalSum = _.sum([totalThreesSum, totalFoursSum, totalFivesSum]);
                let avg = this.averageWithOutRound = (totalSum / totalCountRatings);
                this.averageWithRound = Math.round(avg * 10000) / 10000
            },
        },
        watch: {
            ratings_map: {
                handler: function (after, before) {
                    let vm = this;
                    vm.handleCalculate();
                },
                deep: true,
            }
        }
    }
</script>

<style scoped lang="scss">
    .education-data-form {
        perspective: 1000px;

        .user-education-form {
            position: relative;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
    }
    .education-data-form.showCalcAvg .user-education-form {
        transform: rotateY(180deg);
    }
    .education-data-form.showCalcAvg{
        .education-data{
            display: none;
        }
        .average-score-form{
            display: block;
        }
    }
    .education-data,.average-score-form{
        /*position: absolute;*/
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .average-score-form{
        display: none;
        transform: rotateY(180deg);
    }
</style>
