<template>
    <div class="files-block">
        <div class="file mb-15" v-for="(file,index) in value" :key="index">
            <el-row :gutter="10">
                <el-col :span="12">
                    <el-form-item label="Наименование файла" :prop="index+'.name'" :rules="{
      required: true, message: 'Не заполнено наименование файла', trigger: 'blur'
    }">
                        <el-input v-model="value[index].name" placeholder="Наименование файла"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="10">
                    <el-form-item class="no-float-label" label="Файл" :prop="index+'.file'" :rules="{
      required: true, message: 'Не выбран файл', trigger: 'blur'
    }">
                        <el-button type="primary" @click="openUpload(index)">Загрузить файл</el-button>
                        <input type="file" style="display: none" :ref="`file_${index}`" @change="saveFile(index)">
                        <span v-if="value[index].file">
                             {{value[index].file.name}}
                        </span>
                    </el-form-item>
                </el-col>
                <el-col :span="2">
                    <br>
                    <el-button type="danger" @click="deleteFile(index)">
                        <i class="fa fa-trash"></i>
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <el-divider></el-divider>
        <el-button-group>
            <el-button type="primary" @click="addFile">
                Добавить файл
            </el-button>
        </el-button-group>
    </div>
</template>

<script>
    export default {
        name: "files",
        props: {
            value: {}
        },
        data() {
            return {
                allowTypes: ['image/jpeg', 'image/png', 'application/pdf'],
                maxSize: 5242880
            }
        },
        methods: {
            openUpload(index) {
                this.$refs[`file_${index}`][0].click();
            },
            saveFile(index) {
                const field = this.$refs[`file_${index}`][0];
                const file = field.files[0];
                let errors = [];
                if (!this.allowTypes.includes(file.type)) {
                    errors.push('Недопустимый тип файла. К загрузке разрешены файлы JPEG, PNG, PDF');
                }
                if (file.size > this.maxSize) {
                    errors.push('Файл слишком большой. Максимальный размер файла не должен превышать 5МБ');
                }

                if (errors.length > 0) {
                    let errorMessages = '';

                    errors.forEach(error => {
                        errorMessages += `<li><i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 10px;
    font-size: 20px;"></i> ${error}</li>`
                    })

                    this.$alert(`<ul style="list-style: none">${errorMessages}</ul>`, 'Внимание, файл не может быть загружен', {
                        confirmButtonText: 'Хорошо',
                        dangerouslyUseHTMLString: true

                    });
                } else {
                    this.value[index].file = file;
                }
                field.type = 'text';
                field.type = 'file';

            },
            addFile() {
                this.value.push({
                    name: null,
                    file: null,
                });
            },
            deleteFile(index) {
                let files = this.value;
                this.value = files.splice(index, 1);
            }
        }
    }
</script>

<style scoped>

</style>
