<template>
    <div class="user-health-form">
        <el-row :gutter="10">
            <el-col :span="24">
                <el-checkbox v-model="value.person_with_disabilities">Является лицом с ОВЗ</el-checkbox>
            </el-col>
            <el-col :span="24">
                <el-checkbox v-model="value.has_certificate">Справка 086-у</el-checkbox>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Льготные категории" prop="preferential_categories">
                    <el-select v-model="value.preferential_categories" multiple
                               placeholder="Льготные категории"
                               class="w100" clearable>
                        <el-option
                                v-for="(category,key) in privilegedCategories"
                                :label="category.name"
                                :key="category.id"
                                :value="category.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Категория здоровья" prop="health_category">
                    <el-select v-model="value.health_category"
                               placeholder="Категория здоровья"
                               class="w100" clearable>
                        <el-option
                                v-for="(category,key) in healthCategories"
                                :label="category.name"
                                :key="category.key"
                                :value="category.key"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Группа инвалидности" prop="disability">
                    <el-select v-model="value.disability"
                               placeholder="Группа инвалидности"
                               class="w100" clearable>
                        <el-option
                                v-for="(disability,key) in disabilities"
                                :label="disability.name"
                                :key="disability.id"
                                :value="disability.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Номер полиса ОМС" prop="medical_policy_number">
                    <el-input v-model="value.medical_policy_number"
                              placeholder="Номер полиса ОМС"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {privilegedCategories,healthCategories,disabilities} from "../../../../admin/src/constants";

    export default {
        name: "health-data",
        props:{
            value:{}
        },
        data(){
            return {
                privilegedCategories,
                healthCategories,
                disabilities
            }
        }
    }
</script>

<style scoped>

</style>
