<template>
    <div class="parents-data">
        <div v-for="(parent, index) in value" style="border-bottom: 1px solid gray;margin-bottom: 10px">
            <el-row :gutter="10">
                <el-col :span="8">
                    <el-form-item label="Фамилия"
                                  :prop="index+'.lastname'" :rules="{
      required: true, message: 'Фамилия не заполнена', trigger: 'blur'
    }">
                        <el-input
                                placeholder="Фамилия"
                                v-model="parent.lastname">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="Имя"
                                  :prop="index+'.firstname'" :rules="{
      required: true, message: 'Имя не заполнено', trigger: 'blur'
    }">
                        <el-input
                                placeholder="Имя"
                                v-model="parent.firstname">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="Отчество"
                                  prop="middlename">
                        <el-input placeholder="Отчество"
                                v-model="parent.middlename">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="10">
                <el-col :span="6">
                    <el-form-item label="Пол" prop="gender" :prop="index+'.gender'" :rules="{
      required: true, message: 'Не выбран пол', trigger: 'blur'
    }">
                        <el-select v-model="parent.gender" placeholder="Пол"

                                   class="w100">
                            <el-option
                                    v-for="(gender,key) in genders"
                                    :label="gender.name"
                                    :key="gender.id"
                                    :value="gender.id"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item prop="birthday" label="Дата рождения" :prop="index+'.birthday'" :rules="{
      required: true, message: 'Не заполнена дата рождения', trigger: 'blur'
    }">
                        <el-date-picker
                                v-mask="'##.##.####'"
                                :picker-options="pickerOptions"
                                value-format="yyyy-MM-dd"
                                format="dd.MM.yyyy"
                                type="date"
                                placeholder="Дата рождения"
                                v-model="parent.birthday"
                                class="w100"
                        >
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="Кем приходится" :prop="index+'.relation_ship_type'" :rules="{
      required: true, message: 'Не выбрано кем приходится', trigger: 'blur'
    }">
                        <el-select v-model="parent.relation_ship_type"
                                   placeholder="Кем приходится"

                                   class="w100">
                            <el-option
                                    v-for="(type,key) in relationShipTypes"
                                    :label="type.name"
                                    :key="type.key"
                                    :value="type.key"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="Телефон" :prop="index+'.phone'" :rules="{
      required: true, message: 'Не указан телефон', trigger: 'blur'
    }">
                        <el-input :value="parent.phone"
                                  placeholder="Телефон"
                                  v-model="parent.phone">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="СНИЛС">
                        <el-input :value="parent.snils"
                                  v-mask="'###########'"
                                  placeholder="СНИЛС"
                                  v-model="parent.snils">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="10">
                <el-col :span="24">
                    <el-form-item label="Где и кем работает"
                                  prop="place_of_work">
                        <el-input type="textarea" :value="parent.place_of_work"
                                  placeholder="Где и кем работает"
                                  v-model="parent.place_of_work">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>
        <el-button-group>
            <el-button type="primary" @click="addParent">
                Добавить родителя
            </el-button>
            <el-button type="danger" @click="deleteParent" v-if="value.length>0">
                Удалить родителя
            </el-button>
        </el-button-group>
    </div>
</template>

<script>
    import {relationShipTypes,genders} from "../../../../admin/src/constants";
    import {DateTime} from "luxon";

    export default {
        name: "parents-data",
        props:{
            value:{}
        },
        data(){
            return {
                relationShipTypes,
                genders,
                pickerOptions: this.$pickerOptions(),
            }
        },
        methods:{
            addParent(){
                this.value.push({
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    birthday: DateTime.local().toISODate(),
                    snils: null,
                    gender: 1,
                    relation_ship_type: 'mother',
                })
            },
            deleteParent() {
                this.value.pop();
            }
        }
    }
</script>

<style scoped>

</style>
