<template>
    <div class="user-passport-data">
        <el-row :gutter="10" style="margin: 0">
            <el-col :span="24">
                <el-form-item label="Гражданство" prop="nationality">
                    <el-select filterable v-model="value.nationality"
                               placeholder="Гражданство"
                               class="w100">
                        <el-option
                                v-for="(country,key) in countries"
                                :label="country.name"
                                :key="country.key"
                                :value="country.key"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Тип документа удостоверяющего личность" prop="documentType">
                    <el-select filterable v-model="value.documentType"
                               placeholder="$t('label.documentType')"

                               class="w100">
                        <el-option
                                v-for="(type,key) in _sortDocumentsTypes"
                                :label="type.name"
                                :key="type.id"
                                :value="type.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Серия"
                              prop="series">
                    <el-input
                            placeholder="Серия"
                            v-model="value.series">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Номер"
                              prop="number">
                    <el-input
                            placeholder="Номер"
                            v-model="value.number">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Код подразделения"
                              prop="subdivisionCode">
                    <el-input
                            placeholder="Код подразделения"
                            id="subdivision"
                            v-mask="'###-###'"
                            v-model="value.subdivisionCode">
                    </el-input>
                    <!--<input id="subdivision" class="form-control" type="text"-->
                    <!--placeholder="$t('label.subdivisionCode')">-->
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item prop="issuanceDate" label="Дата выдачи">
                    <el-date-picker
                            v-mask="'##.##.####'"
                            value-format="yyyy-MM-dd"
                            format="dd.MM.yyyy"
                            type="date"
                            placeholder="Дата выдачи"
                            v-model="value.issuanceDate"
                            class="w100"
                            :picker-options="pickerOptions"
                    >
                    </el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Кем выдан"
                              prop="issued">
                    <el-input type="textarea"
                              placeholder="Кем выдан"
                              v-model="value.issued">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Место рождения"
                              prop="birthPlace">
                    <el-input
                            style="width: 100%"
                            placeholder="Место рождения"
                            v-model="value.birthPlace" id="birthPlace">
                    </el-input>
                </el-form-item>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    export default {
        name: "passport-data",
        props:{
            value:{}
        },
        data(){
            return {
                countries:[
                    {key: 'russia', name: 'Россия'},
                    {key: 'ukraine', name: 'Украина'},
                    {key: 'belarus', name: 'Беларусь'},
                    {key: 'kazakhstan', name: 'Казахстан'},
                    {key: 'moldova', name: 'Молдова'},
                    {key: 'armenia', name: 'Армения'},
                    {key: 'azerbaijan', name: 'Азербайджан'},
                    {key: 'uzbekistan', name: 'Узбекистан'},
                    {key: 'kyrgyzstan', name: 'Киргизия'},
                    {key: 'tajikistan', name: 'Таджикистан'},
                    {key: 'turkmenistan', name: 'Туркменистан'},
                    {key: 'georgia', name: 'Грузия'}],
                pickerOptions:this.$pickerOptions({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                })
            }
        },
        computed: {
            _sortDocumentsTypes() {
                const documentsTypes = [
                    {id: 1, name: "Вид на жительство"},
                    {id: 2, name: "Удостоверение беженца РФ"},
                    {id: 3, name: "Разрешение на вр. проживание в РФ"},
                    {id: 21, name: "Паспорт РФ"},
                    {id: 22, name: "Военный билет"},
                    {id: 23, name: "Вр. военный билет"},
                    {id: 24, name: "Вр. удостоверение беженца РФ"},
                    {id: 25, name: "Временное удостоверение личности гражданина РФ"},
                    {id: 26, name: "Документ о вр. убежище на территории РФ"},
                    {id: 27, name: "Другой"},
                    {id: 28, name: "Загранпаспорт гражданина РФ"},
                    {id: 29, name: "Иностранное свид-во о рождении"},
                    {id: 30, name: "Иностранный паспорт"},
                    {id: 31, name: "Свидетельство о рождении"},
                    {id: 32, name: "Свидетельство о предоставлении вр. убежища"},
                    {id: 33, name: "Свидетельство о ходатайстве беженца"},
                    {id: 35, name: "Удостоверение военнослужащего"},
                    {id: 36, name: "Удостоверение личности лица без гражданства РФ"},
                    {id: 37, name: "Удостоверение личности отдельных категорий лиц"}
                ];
                return _.sortBy(documentsTypes, 'name')
            }
        }
    }
</script>

<style scoped>

</style>
