<template>
    <div>
        <el-row :gutter="10">
            <el-col :span="24">
                <el-form-item label="Фамилия"
                              prop="lastname" class="w100">
                    <el-input :value="value.lastname"
                              placeholder="Фамилия"
                              v-model="value.lastname">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Имя"
                              prop="firstname" class="w100">
                    <el-input class="w100"
                              placeholder="Имя"
                              v-model="value.firstname" id="firstname">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Отчество"
                              prop="middlename">
                    <el-input class="w100" id="middlename"
                              placeholder="Отчество"
                              v-model="value.middlename">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Пол" prop="gender">
                    <el-select v-model="value.gender" placeholder="Пол"
                               class="w100">
                        <el-option
                                v-for="(gender,key) in genders"
                                :label="gender.name"
                                :key="gender.id"
                                :value="gender.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item prop="birthday" label="Дата рождения">
                    <el-date-picker
                            v-mask="'##.##.####'"
                            :picker-options="pickerOptions"
                            value-format="yyyy-MM-dd"
                            format="dd.MM.yyyy"
                            type="date"
                            placeholder="Дата рождения"
                            v-model="value.birthday"
                            class="w100"
                    >
                    </el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Телефон"
                              prop="phone">
                    <el-input class="w100" id="phone"
                              placeholder="Телефон"
                              v-model="value.phone">
                    </el-input>
                </el-form-item>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    export default {
        name: "personal-data",
        props: {
            value: {}
        },
        data() {
            return {
                genders: [
                    {id: 0, name: 'Мужской'},
                    {id: 1, name: 'Женский'}
                ],
                pickerOptions: this.$pickerOptions({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                }),
            }
        }
    }
</script>

<style scoped>

</style>
