<template>
    <div>
        <div class="filter-container" style="text-align: right">
            <el-button class="filter-item" style="margin-left: 10px;" type="primary"
                       @click="handleCreate">
                <v-icon name="plus"/>
                Добавить документ
            </el-button>
        </div>
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="22">
                    <el-col :span="12">
                        <el-input clearable="" v-model="filter.name"
                                  :placeholder="$t('label.name')" :loading="loading"></el-input>
                    </el-col>
                    <el-col :span="12">
                        <el-select clearable filterable v-model="filter.category_id"
                                   :placeholder="$t('label.category')"
                                   class="w100" :loading="loading">
                            <el-option
                                    v-for="(category,key) in categoriesList"
                                    :label="category.name"
                                    :key="category.id"
                                    :value="category.id"></el-option>
                        </el-select>
                    </el-col>
                </el-col>
                <el-col :span="2">
                    <el-button v-waves class="filter-item" type="primary" icon="el-icon-search"
                               @click="handleFilter"
                               @keypress.enter="handleFilter" :loading="loading">
                        {{$t('form.apply')}}
                    </el-button>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>

    import {getCategories} from "@/api/services";
    import CreateDocumentModal from './CreateDocumentModal';

    export default {
        name: "document-filter-panel",
        props: ['categories'],
        data() {
            return {
                categoriesList: [],
                loading: false,
                filter: {
                    name: null,
                    category_id: null
                }
            }
        },
        mounted() {
            getCategories().then(response => {
                this.categoriesList = response.data;
            }, error => {
                this.$swal({
                    title: 'Внимание! Ошибка!',
                    type: 'error',
                    html: `Произошла ошибка при загрузке категорий`,
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Ок',
                });
            })
        },
        methods: {
            handleCreate() {
                this.$modal.show(CreateDocumentModal,
                    {categories: this.categories},
                    {
                        name: 'CreateDocumentModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    }
                )
            },
            handleFilter() {
                this.$bus.emit('filter-documents-list', this.filter);
            }
        }
    }
</script>

<style scoped>

</style>