<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="EditDocumentForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Обновить документ</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.name')" prop="name">
                                    <el-input
                                            :placeholder="$t('label.name')"
                                            v-model="model.name" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.categories')" prop="categories">
                                    <el-select v-model="model.categories" multiple :placeholder="$t('label.categories')"
                                               class="w100" filterable clearable>
                                        <el-option
                                                v-for="category in categories"
                                                :key="category.id"
                                                :label="category.name"
                                                :value="category.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.sort')" prop="sort">
                                    <el-input-number v-model="model.sort" :min="1" :max="9999"
                                                     :disabled="loading"
                                                     class="w100"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Показ на сайте">
                                    <el-switch :disabled="loading"
                                               v-model="model.active"
                                               active-text="Показывать"
                                               inactive-text="Не показывать">
                                    </el-switch>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleUpdate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {editDocument} from "@/api/documents/files";
    import {Message} from 'element-ui';

    export default {
        name: "EditDocumentModal",
        props: ['categories', 'document'],
        data() {
            return {
                loading: false,
                hasError: false,
                serverErrors: null,
                filename: null,
                model: {
                    id: this.document.id,
                    name: this.document.name,
                    categories: this.document.categories.map(category => {
                        return category.id;
                    }),
                    active: this.document.active,
                    sort: this.document.sort
                },
                rules: {
                    name: [
                        {required: true, message: 'Введите название документа', trigger: 'blur'}
                    ],
                    categories: [
                        {required: true, message: 'Выберите категории', trigger: 'blur'}
                    ],
                    file: [
                        {required: true, message: 'Не выбран файл', trigger: 'change'}
                    ],
                    sort: [
                        {required: true, message: 'Укажите порядок сортировки', trigger: 'blur'}
                    ]
                },
            }
        },
        mounted() {
            console.log('mounted')
        },
        methods: {
            handleClose() {
                this.$modal.hide('EditDocumentModal')
            },
            handleUpdate() {
                this.$refs['EditDocumentForm'].validate(valid => {
                        if (valid) {
                            editDocument(this.model).then(response => {
                                this.handleClose();
                                this.$bus.emit('update-documents-list');
                                Message({
                                    message: response.data.message,
                                    type: 'success',
                                    duration: 5 * 1000
                                });
                            }, error => {
                                let response = error.response.data;
                                this.serverErrors = [];
                                if (response.message) {
                                    this.serverErrors.push(response.message);
                                }
                                if (response.errors) {
                                    this.serverErrors = response.errors;
                                }
                                this.hasError = true;
                                this.loading = false;
                            });
                        }
                    }
                )
            }
        }
    }
</script>

<style scoped>

</style>