<template>
    <div class="app-container">
        <h1>{{plan.name}}</h1>
        <el-tabs type="border-card">
            <el-tab-pane label="Файл и компоненты">
                <file-and-file-components :plan="plan"></file-and-file-components>
            </el-tab-pane>
            <el-tab-pane label="Дисциплины">
                Скоро
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
    import {getOne} from "../../../api/education/education-plans";
    import FileAndFileComponents from "./components/file-and-file-components";

    export default {
        name: "detail-plan",
        components: {FileAndFileComponents},
        props: {
            id: {
                type: Number
            }
        },
        data() {
            return {
                plan: null
            }
        },
        mounted() {
            this.getPlan();
        },
        methods: {
            getPlan() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Получаю учебный план, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                getOne(this.$route.params.id).then(response => {
                    this.plan = response.data;
                    loading.close();
                }, error => {
                    loading.close();
                })
            }
        }
    }
</script>

<style scoped>

</style>