<template>
    <div class="app-container">
        <div class="filter-container" style="text-align: right">
            <el-button class="filter-item" style="margin-left: 10px;" type="primary"
                       @click="handleCreate">
                <v-icon name="plus"/>
                Добавить учебный план
            </el-button>
        </div>
        <div class="filter-container">
            <v-container grid-list-md fluid>
                <v-layout row wrap>
                    <v-flex xs12 sm10 md10>
                        <v-layout row wrap>
                            <v-flex xs6>

                                <el-select clearable filterable v-model="listQuery.filter.profession_program_id"
                                           :placeholder="$t('label.program')"
                                           class="w100">
                                    <el-option
                                            v-for="(program,key) in sortPrograms"
                                            :label="program.name"
                                            :key="program.id"
                                            :value="program.id"></el-option>
                                </el-select>
                            </v-flex>
                            <v-flex xs6>

                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex xs12 md2 sm2 text-xs-center>
                        <el-button v-waves class="filter-item" type="primary" icon="el-icon-search"
                                   @click="handleFilter"
                                   @keypress.enter="handleFilter">
                            {{$t('form.apply')}}
                        </el-button>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
        <el-table
                v-loading="loading"
                :data="plans"
                border
                style="width: 100%"
                stripe>
            <el-table-column prop="id" label="ID" width="50px"></el-table-column>
            <el-table-column label="Название" align="center"  width="120px">
                <template slot-scope="scope">
                    <span>{{ scope.row.name}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.program')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.program.name}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.duration')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.count_period|pluralize(['семестр','семестра','семестров'])}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Период обучения" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.start_training|dateFormat}} - {{scope.row.end_training|dateFormat}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Доп. опции" width="110px">
                <template slot-scope="scope">
                    <ul>
                        <li v-for="(option,key) in scope.row.extra_options">{{key|extraOption}} : {{option|logic}}</li>
                    </ul>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.file')" align="center" width="75px">
                <template slot-scope="scope">
                    <span v-if="scope.row.file">
                        <a :href="scope.row.file" target="_blank" class="link">Открыть</a>
                    </span>
                    <span v-else>Файл не загружен</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.active')" align="center" width="73px">
                <template slot-scope="scope">
                    {{scope.row.active|logic}}
                </template>
            </el-table-column>
            <el-table-column label="Посл. обновление">
                <template slot-scope="scope">
                    <span>{{scope.row.updated_at|dateFormat('DD.MM.YYYY HH:mm:s')}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Действия" fixed="right">
                <template slot-scope="scope">
                    <div>
                        <router-link :to="{name:'education-plans.detail',params:{id:scope.row.id}}">
                            <el-button type="primary" circle>
                                <i class="fa fa-list"></i>
                            </el-button>
                        </router-link>
                        <el-button type="warning" icon="el-icon-edit" circle
                                   @click="handleUpdate(scope.row)"></el-button>
                        <el-button type="success" circle @click="handleOpenWindow(scope.row.id)">
                            <i class="fa fa-refresh"></i>
                        </el-button>
                        <div style="display: none">
                            <input type="file" :ref="scope.row.id" v-on:change="handleUpload(scope.row)">
                        </div>
                        <el-button type="danger" icon="el-icon-delete"
                                   v-on:click.self="handleDelete(scope.row,scope.$index)"
                                   circle v-if="scope.row.isRemove"></el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {getProfessionPrograms} from "@/api/services";
    import {getList, reloadFile, deletePlan} from "@/api/education/education-plans";
    import CreateEducationPlanModal from './create-education-plan-modal';
    import EditEducationPlanModal from './edit-education-plan-modal';
    import {Message} from 'element-ui';
    import {buttons} from "@/constants";

    export default {
        name: "list",
        data() {
            return {
                programs: [],
                plans: [],
                loading: true,
                total: 0,
                labelPosition: 'top',
                allowedTypes: ['application/pdf', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'],
                listQuery: {
                    page: 1,
                    limit: 10,
                    filter: {
                        profession_program_id: null,
                    }
                },
            }
        },
        computed: {
            sortPrograms() {
                return _.sortBy(this.programs, 'name')
            }
        },
        mounted() {
            this.getPrograms();
            this.getList();
            this.$bus.on('update-education-plan-list', data => {
                this.getList();
            })
        },
        methods: {
            getList() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Получаю планы, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                getList(this.listQuery).then(response => {
                    this.plans = response.data.data;
                    this.total = response.data.total;
                    this.loading = false;
                    loading.close();
                }, error => {
                    loading.close();
                    this.$alert(error.response.message, 'Внимание, ошибка', {
                        confirmButtonText: 'OK',
                    });
                })
            },
            getPrograms() {
                getProfessionPrograms().then(response => {
                    this.programs = response.data;
                })
            },
            handleFilter() {
                this.listQuery.page = 1
                this.getList()
            },
            handleOpenWindow(id) {
                this.$refs[id].click();
            },
            handleUpload(row) {
                let file = this.$refs[row.id].files[0];
                let fileType = file.type;
                let isAllowType = _.isString(_.find(this.allowedTypes, type => {
                    return type === fileType;
                }));
                if (isAllowType) {
                    const loading = this.$loading({
                        lock: true,
                        text: 'Обновляю файл, пожалуйста, подождите',
                        spinner: 'el-icon-loading',
                        background: 'rgba(240, 240, 240, 0.8)'
                    });
                    let input = {
                        id: row.id,
                        program_id: row.program.id,
                        file: this.$refs[row.id].files[0]
                    };
                    reloadFile(input).then(response => {
                        loading.close();
                        this.$notify({
                            message: response.data.message,
                            type: 'success',
                            title: 'Успешно'
                        });
                        this.getList();
                    }, error => {
                        loading.close();
                        this.$alert(error.response.message, 'Внимание, ошибка', {
                            confirmButtonText: 'OK',
                        });
                    });
                } else {
                    this.$swal({
                        title: 'Внимание! Ошибка!',
                        type: 'error',
                        html: `<b>Некорректный формат файла. Допустимые форматы pdf и docx</b><br><br>
                                <ul>
                                <li>Тип файла : ${fileType}</li>
</ul>`,
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ок',
                    });
                }
                this.$refs[row.id].type = 'text';
                this.$refs[row.id].type = 'file';
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },
            handleCreate() {
                this.$modal.show(CreateEducationPlanModal, {
                        programs: this.programs
                    }, {
                        name: 'CreateEducationPlanModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    },
                )
            },
            handleDelete(row, index) {
                this.$swal({
                    title: 'Подтвердите удаление',
                    type: 'question',
                    html: `<b>Вы действительно хотите удалить план «${row.name}»?</b>`,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: buttons.delete,
                    cancelButtonText: buttons.cancel,
                }).then(result => {
                    if (result.value) {
                        this.loading = true;
                        deletePlan(row.id).then(response => {
                            console.dir(response);
                            if (response.data.success) {
                                Message({
                                    message: response.data.message,
                                    type: 'success',
                                    duration: 5 * 1000
                                });
                                this.getList();
                            } else {
                                this.loading = false;
                                this.$swal({
                                    title: 'Удаление невозможно',
                                    type: 'warning',
                                    html: `<b>${response.data.message}</b>`,
                                });
                            }
                        })
                    }
                }).catch(error => {
                    console.dir(error);
                });
            },
            handleUpdate(plan) {
                this.$modal.show(EditEducationPlanModal, {
                    programs: this.programs,
                    plan
                }, {
                    name: 'EditEducationPlanModal',
                    height: 0,
                    width: 0,
                    'z-index': 100
                },)
            },
        }
    }
</script>

<style scoped>

</style>