<template>
    <div class="entrant-basic-information">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <el-row :gutter="10">
                    <el-col :span="21">
                        <h3>Основная информация</h3>
                    </el-col>
                    <el-col :span="3">
                        <el-button style="float: right;" type="primary" round @click="handleEdit">
                            <i class="fa fa-edit"></i>
                        </el-button>
                    </el-col>
                </el-row>
            </div>
            <div>
                <user-photo :user_id="entrant.id" :photo="entrant.photo"></user-photo>
            </div>
            <div>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">ID</el-col>
                    <el-col :span="12">{{entrant.id}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Статус</el-col>
                    <el-col :span="12">{{entrant.status|humanStatus}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Пол</el-col>
                    <el-col :span="12">{{entrant.gender|gender}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Дата рождения</el-col>
                    <el-col :span="12">{{entrant.birthday|dateFormat}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Возраст</el-col>
                    <el-col :span="12">
                        <time-period :start_date="entrant.birthday" :end_date="null" :block="['years']"></time-period>
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Возраст на конец года</el-col>
                    <el-col :span="12">
                        <time-period :start_date="entrant.birthday" :end_date="end_year"
                                     :block="['years']"></time-period>
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Телефон</el-col>
                    <el-col :span="12">
                        {{entrant.phone}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Email</el-col>
                    <el-col :span="12">
                        {{entrant.email}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">СНИЛС</el-col>
                    <el-col :span="12">
                        {{entrant.snils|snils}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">ИНН</el-col>
                    <el-col :span="12">
                        {{entrant.inn}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Изуч.язык</el-col>
                    <el-col :span="12">
                        {{entrant.language|language}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Дата подачи док.</el-col>
                    <el-col :span="12">
                        {{entrant.start_date|dateFormat}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Целевой договор</el-col>
                    <el-col :span="12">
                        {{entrant.contract_target_set|logic}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Нуждается в общежитии</el-col>
                    <el-col :span="12">
                        {{entrant.need_hostel|logic}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Откуда узнал(а)</el-col>
                    <el-col :span="12">
                        {{entrant.how_find_out|howFindOutSourse}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px" v-if="entrant.how_find_out==='fromStudent'">
                    <el-col :span="12">Студент</el-col>
                    <el-col :span="12">
                        <span v-if="entrant.invited_student">
                            {{entrant.invited_student.full_name|personShortName}} [{{entrant.invited_student.training_group.name}}]
                        </span>
                    </el-col>
                </el-row>
            </div>
        </el-card>
    </div>
</template>

<script>
    import UserPhoto from "../../../../components/User/user-photo";
    import TimePeriod from "@/components/TimePeriod/index";
    import EditEntrantModal from '../EditEntrantModal'
    import {DateTime} from 'luxon';

    export default {
        name: "basic-information",
        components: {UserPhoto, TimePeriod},
        props: {
            entrant: {
                type: Object,
            }
        },
        created() {
        },
        data() {
            return {
                students: [],
                end_year: DateTime.fromObject({month: 12, day: 31}).toISODate()
            }
        },
        methods: {
            handleEdit() {
                this.$modal.show(EditEntrantModal,
                    {
                        entrant: this.entrant,
                        students: this.students
                    },
                    {
                        name: 'EditEntrantModal',
                        width: 0,
                        height: 0,
                        "z-index": 900
                    })
            }
        }

    }
</script>

<style scoped>

</style>
