<template>
    <div class="entrant-programs">
        <el-row>
            <el-col :span="12" style="margin-bottom: 5px">
                <div class="text-left">
                    <el-button type="primary" @click="_handleMakeStatement">
                        <i class="fa fa-file"></i>
                        Скачать заявление
                    </el-button>
                </div>
            </el-col>
            <el-col :span="12">

                <div class="text-right">
                    <el-button type="primary" @click="_handleAddProgram">
                        <i class="fa fa-plus"></i> Добавить
                    </el-button>
                </div>
            </el-col>
        </el-row>
        <table class="table table-striped table-bordered">
            <tr>
                <th>ID</th>
                <th>Профессия, специпльность</th>
                <th>Сумма оценок по профильным дисциплинам</th>
                <th>Приоритетная специальность</th>
                <th></th>
            </tr>
            <tr v-for="(recruitment_program,index) in _recruitment_programs" :key="index">
                <td>{{recruitment_program.id}}</td>
                <td>{{recruitment_program.program_name}}


                    <span v-if="recruitment_program.duration<12">
({{recruitment_program.duration%12|pluralize(['месяц','месяца','месяцев'])}})
                    </span>
                    <span v-else>
                    (<span v-if="recruitment_program.duration>12">{{_.floor(recruitment_program.duration/12)|pluralize(['год','года','лет'])}}</span>
                    <span v-if="recruitment_program.duration%12">{{recruitment_program.duration%12|pluralize(['месяц','месяца','месяцев'])}}</span>)
                        </span>

                </td>
                <td>{{recruitment_program.sum_of_grades_of_specialized_disciplines}}</td>
                <td>{{recruitment_program.is_priority|logic}}</td>
                <td class="text-center">

                    <el-button type="primary" size="small" circle @click="_handleEdit(recruitment_program)">
                        <i class="fa fa-edit"></i>
                    </el-button>
                    <br>
                    <el-button type="danger" size="small" circle @click="_handleDelete(recruitment_program.id)"
                               v-if="_recruitment_programs.length > 1">
                        <i class="fa fa-trash"></i>
                    </el-button>

                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import AddRecruitmentProgramModal from "../AddRecruitmentProgramModal";
    import {deleteProgram} from "../../../../api/contingent/entrants/recruitmentPrograms";
    import EditRecruitmentProgramModal from "../EditRecruitmentProgramModal";

    export default {
        name: "entrant-programs",
        computed: {
            _recruitment_programs() {
                return this.$store.getters.currentEntrantPrograms;
            }
        },
        methods: {
            _handleMakeStatement() {
                let route = this.routeByName('api.export.word.statement', {id: this.$route.params.id});
                window.open(route, '_blank');
            },
            _handleAddProgram() {
                this.$modal.show(
                    AddRecruitmentProgramModal,
                    {},
                    {
                        name: 'AddRecruitmentProgramModal',
                        width: 0,
                        height: 0,
                        'z-index': 1500
                    }
                )
            },
            _handleEdit(recruitment_program) {
                this.$modal.show(
                    EditRecruitmentProgramModal,
                    {
                        recruitment_program
                    },
                    {
                        name: 'EditRecruitmentProgramModal',
                        width: 0,
                        height: 0,
                        'z-index': 1500
                    }
                )
            },
            _handleDelete(recruitment_program) {
                const entrant_id = this.$route.params.id;
                const params = {entrant_id, recruitment_program};
                const lockScreen = this.$lockScreen({text: 'Идет удаление программы'});
                deleteProgram(params)
                    .then(response => {
                        this.$notify({
                            type: 'success',
                            title: 'Успешно',
                            message: 'Программа успешно удалена'
                        });
                        this.$store.dispatch('REMOVE_RECRUITMENT_PROGRAM', recruitment_program)
                    })
                    .finally(data => {
                        lockScreen.close();
                    })

            }
        }
    }
</script>

<style scoped>

</style>
