<template>
    <div>
        <v-dialog persistent max-width="700px">
            <v-card>
                <v-card-title>
                    <span class="headline">Отчет комплектования</span>
                </v-card-title>
                <v-card-text>
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-alert v-if="errors.length>0"
                                      title="Произошла ошибка"
                                      type="error"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <el-form :model="model" :rules="rules" ref="ManningReportForm" label-position="top">
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item prop="birthday" :label="$t('label.report_date')">
                                        <el-date-picker
                                                v-mask="'##.##.####'"
                                                :picker-options="pickerOptions"
                                                value-format="yyyy-MM-dd"
                                                format="dd.MM.yyyy"
                                                type="date"
                                                :placeholder="$t('label.report_date')"
                                                v-model="model.report_date"
                                                class="w100"
                                        >
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-checkbox v-model="model.put_in_section">
                                        Разместить в разделе "Приемная комиссия"
                                    </el-checkbox>
                                </el-col>
                            </el-row>
                        </el-form>
                    </el-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button round @click="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" round
                               @click="handleGenerate">
                        {{$t('form.generate')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {DateTime} from 'luxon';

    export default {
        name: "ManningReportModal",
        data() {
            return {
                errors: [],
                model: {
                    report_date: DateTime.local().toISODate(),
                    put_in_section: false
                },
                rules: {
                    report_date: [
                        {required: true, message: 'Не заполнена дата отчета', trigger: 'blur'}
                    ]
                },
                pickerOptions: this.$pickerConfig()
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('ManningReportModal');
            },
            handleGenerate() {
                this.$refs['ManningReportForm'].validate(valid => {
                    if (valid) {
                        let route = this.routeByName('api.export.pdf.manning');

                        for (let key in this.model) {
                            route = route + `&${key}=${this.model[key]}`;
                        }
                        window.open(route, '_blank');
                        setTimeout(() => {
                            this.handleClose();
                        }, 5000)
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>