<template>
    <div>
        <el-col :span="24">
            <el-form-item label="Программа" prop="recruitment_program_id">
                <el-select v-model="value.recruitment_program_id" placeholder="Программа" filterable
                           clearable class="w100" :disabled="this.isEdit">
                    <el-option
                            v-for="program in _programs"
                            :key="program.id"
                            :label="`${program.program.name} (${program.program.duration})`"
                            :value="program.id">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-col>
        <el-col :span="24">
            <el-form-item label="Сумма оценок по профильным дисциплинам" prop="sum_of_grades_of_specialized_disciplines">
                <el-input-number v-model="value.sum_of_grades_of_specialized_disciplines" class="w100" :min="0"></el-input-number>
            </el-form-item>
        </el-col>
        <el-col :span="24">
            <el-form-item
                    prop="is_priority">
                <el-checkbox v-model="value.is_priority">Приоритетная профессия/специальность
                </el-checkbox>
            </el-form-item>
        </el-col>
    </div>
</template>

<script>
    export default {
        name: "RecruitmentProgramForm",
        props: {
            value: {
                type: Object
            },
            isEdit:{
                type: Boolean
            }
        },
        computed:{
            _programs(){
                return this.$store.getters.recruitmentProgramsList;
            }
        },
        data() {
            return {
                recruitment_programs: []
            }
        }
    }
</script>

<style scoped>

</style>
