<template>
    <div class="app-container" v-loading="loading" element-loading-text="Предписание загружается..."
         element-loading-spinner="el-icon-loading">
        <el-tabs v-model="activeName">
            <el-tab-pane label="Основная информация" name="basic">
                <basic-information :regulation="regulation"
                                   v-if="regulation.name_of_the_supervisory"></basic-information>
            </el-tab-pane>
            <el-tab-pane label="Нарушения" name="violation">
                <violations :violations="regulation.violations" :regulation_id="regulation.id"  v-if="regulation.violations"></violations>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>

    import {getRegulation} from "../../../api/site/regulations";
    import BasicInformation from "./components/basic-information";
    import Violations from "./components/violations";

    export default {
        name: "regulation-detail",
        components: {Violations, BasicInformation},
        props: ['id'],
        data() {
            return {
                regulation: {},
                loading: true,
                activeName: 'basic'
            }
        },
        created() {
            this.getAll();
        },
        methods: {
            getAll() {
                getRegulation(this.$route.params.id).then(response => {
                    console.dir(response.data);
                    this.regulation = {...{}, ...response.data};
                    this.loading = false;
                }, error => {
                    this.loading = false;
                })
            }
        }
    }
</script>

<style scoped>

</style>