<template>
    <div class="app-container">
        <el-table
                v-loading="loading"
                element-loading-text="Загружаю предписания..."
                element-loading-spinner="el-icon-loading"
                :data="regulations"
                style="width: 100%"
                stripe
                border
        >
            <el-table-column prop="id" label="ID" width="80px" fixed></el-table-column>
            <el-table-column label="Наименование органа осуществляющего надзор" fixed>
                <template slot-scope="scope">
                    {{scope.row.name_of_the_supervisory}}
                </template>
            </el-table-column>
            <el-table-column prop="year" label="Год" width="80">
            </el-table-column>
            <el-table-column prop="comment" label="Комментарий" width="250"></el-table-column>
            <el-table-column prop="count_violations" label="Кол-во нарушений" width="100">
            </el-table-column>
            <el-table-column :label="$t('table.actions')" fixed="right" width="250">
                <template slot-scope="scope">
                    <div>
                        <router-link :to="{name:'regulation.detail',params:{id:scope.row.id}}">
                            <el-button type="primary" round>
                                <i class="fa fa-list"></i>
                            </el-button>
                        </router-link>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[10,25,50,75,100,200]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {regulationsList} from "../../../api/site/regulations";

    export default {
        name: "regulations-list",
        data() {
            return {
                loading: true,
                regulations: [],
                total: 0,
                listQuery: {
                    page: 1,
                    limit: 10,
                }
            }
        },
        mounted() {
            this.getList();
        },
        methods: {
            getList() {
                regulationsList(this.listQuery).then(response => {
                    this.regulations = response.data.regulations;
                    this.total = response.data.total;
                    this.loading = false;
                }, error => {
                    this.$swal({
                        title: 'Внимание! Ошибка!',
                        type: 'error',
                        html: `Произошла ошибка при загрузке предписаний`,
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ок',
                    });
                    this.loading = false;
                })
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },
        }
    }
</script>

<style scoped>

</style>