<template>
    <div class="app-container">
        <document-filter-panel :categories="categories"></document-filter-panel>
        <el-table
                v-loading="loading"
                :data="documents"
                style="width: 100%"
                border
                stripe>
            <el-table-column prop="id" label="ID" width="50px"></el-table-column>
            <el-table-column label="Название" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.name}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Категории" align="left">
                <template slot-scope="scope">
                    <ul>
                        <li v-for="category in scope.row.categories" :key="category.id">{{category.name}}</li>
                    </ul>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.file')" align="center" width="105px">
                <template slot-scope="scope">
                    <span v-if="scope.row.path">
                        <a :href="scope.row.path" target="_blank" class="link">Открыть</a>
                    </span>
                    <span v-else>Файл не загружен</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.sort')" align="center" width="105px">
                <template slot-scope="scope">
                    <span>{{ scope.row.sort}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.active')" align="center" width="150px">
                <template slot-scope="scope">
                    {{scope.row.active|logic}}
                </template>
            </el-table-column>
            <el-table-column label="Последнее обновление" align="center" width="200px">
                <template slot-scope="scope">
                    {{scope.row.last_update}}
                </template>
            </el-table-column>
            <el-table-column label="Действия" fixed="right" width="150px">
                <template slot-scope="scope">
                    <div>
                        <el-button type="primary" icon="el-icon-edit" circle
                                   @click="handleUpdate(scope.row)"></el-button>
                        <el-button type="success" circle @click="handleOpenWindow(scope.row.id)">
                            <i class="fa fa-refresh"></i>
                        </el-button>
                        <input style="display: none" type="file" :ref="scope.row.id"
                               @change="handleUpload(scope.row)">
                        <el-button type="danger" icon="el-icon-delete"
                                   @click="handleDelete(scope.row,scope.$index)"
                                   circle></el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[15,30,50]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {fetchAll, deleteDocument, reloadFile} from "@/api/documents/files";
    import DocumentFilterPanel from "./components/document-filter-panel";
    import EditDocumentModal from './components/EditDocumentModal';
    import {buttons} from "@/constants";
    import {Message} from 'element-ui';
    import {getCategories} from "@/api/services";

    export default {
        name: "documents-list",
        components: {DocumentFilterPanel},
        data() {
            return {
                documents: [],
                loading: true,
                categories: [],
                total: 0,
                listQuery: {
                    page: 1,
                    limit: 15,
                    filter: {
                        name: null,
                        category_id: null
                    }
                },
            }
        },
        created() {
            this.getList();
            this.getCategories();
        },
        mounted() {
            this.$bus.on('filter-documents-list', data => {
                this.listQuery.filter = data;
                this.listQuery.page = 1;
                this.getList();
            });
            this.$bus.on('update-documents-list', data => {
                this.getList();
            });
        },
        methods: {
            getList() {
                this.loading = true;
                fetchAll(this.listQuery).then(response => {
                    console.dir(this.listQuery);
                    this.total = response.data.total;
                    this.documents = response.data.documents;
                    this.loading = false;
                });
                this.loading = false;
            },
            getCategories() {
                getCategories().then(response => {
                    this.categories = response.data;
                }, error => {
                    this.$swal({
                        title: 'Внимание! Ошибка!',
                        type: 'error',
                        html: `Произошла ошибка при загрузке категорий`,
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ок',
                    });
                })
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },
            handleOpenWindow(id) {
                this.$refs[id].click();
            },
            handleUpdate(row) {
                this.$modal.show(EditDocumentModal,
                    {
                        categories: this.categories,
                        document: row
                    },
                    {
                        name: 'EditDocumentModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    }
                )
            },
            handleUpload(row) {
                this.loading = true;
                let id = row.id;
                let file = this.$refs[id].files[0];
                let fileType = file.type;
                // let isAllowType = _.isString(_.find(this.allowedTypes, type => {
                //     return type === fileType;
                // }));
                let isAllowType = true;
                if (isAllowType) {
                    let input = {id, file};
                    reloadFile(input).then(response => {
                        Message({
                            message: response.data.message,
                            type: 'success',
                            duration: 5 * 1000
                        });
                        this.getList();
                    });
                } else {
                    this.$swal({
                        title: 'Внимание! Ошибка!',
                        type: 'error',
                        html: `<b>Некорректный формат файла. Допустимые форматы pdf и docx</b><br><br>
                                <ul>
                                <li>Тип файла : ${fileType}</li>
</ul>`,
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ок',
                    });
                }
                this.$refs[id].type = 'text';
                this.$refs[id].type = 'file';
            },
            handleDelete(document, index) {
                this.$swal({
                    title: 'Подтвердите удаление',
                    type: 'question',
                    html: `<b>Вы действительно хотите удалить документ «${document.name}»?</b>`,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: buttons.delete,
                    cancelButtonText: buttons.cancel,
                }).then(result => {
                    if (result.value) {
                        this.loading = true;
                        deleteDocument(document.id).then(response => {
                            if (response.data.success) {
                                Message({
                                    message: response.data.message,
                                    type: 'success',
                                    duration: 5 * 1000
                                });
                                this.getList();
                            } else {
                                this.loading = false;
                                this.$swal({
                                    title: 'Удаление невозможно',
                                    type: 'warning',
                                    html: `<b>${response.data.message}</b>`,
                                });
                            }
                        })
                    }
                }).catch(error => {
                    console.dir(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>