<template>
    <div>
        <el-table
                v-loading="loading"
                element-loading-text="Загружаю студентов..."
                element-loading-spinner="el-icon-loading"
                :data="students"
                style="width: 100%"
                stripe
                border
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55" fixed>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80px" fixed></el-table-column>
            <el-table-column prop="nominal_number" label="№ ПН" width="80px" fixed></el-table-column>
            <el-table-column label="ФИО" fixed width="300">
                <template slot-scope="scope">
                    {{scope.row.lastname}} {{scope.row.firstname}} {{scope.row.middlename}} <span
                        v-if="scope.row.long_absent">(ДО)</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.birthday')" width="130px">
                <template slot-scope="scope">
                    {{scope.row.birthday|dateFormat}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.gender')" width="100px">
                <template slot-scope="scope">
                    {{scope.row.gender|gender}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.age')" width="80px">
                <template slot-scope="scope">
                    <time-period :start_date="scope.row.birthday" :end_date="null" :block="['years']"></time-period>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.training_group')">
                <template slot-scope="scope">
                    {{scope.row.training_group.name}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.status')">
                <template slot-scope="scope">
                    {{scope.row.status|humanStatus}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.privilegedCategory')">
                <template slot-scope="scope">
                    <div v-if="scope.row.preferential_categories">
                        <ul>
                            <li v-for="(category,index) in scope.row.preferential_categories" :key="index">
                                {{category|privilegedCategory}}
                            </li>
                        </ul>
                    </div>
                    <div v-else>
                        <span>Нет льгот</span>
                    </div>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.phone')">
                <template slot-scope="scope">
                    {{scope.row.phone}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.enrollment_date')">
                <template slot-scope="scope">
                    {{scope.row.enrollment_date|dateFormat}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('table.actions')" fixed="right">
                <template slot-scope="scope">
                    <div>
                        <router-link :to="{name:'student.profile',params:{id:scope.row.id}}" v-if="checkPermission(['student.view','student.edit','student.military'])">
                            <el-button type="primary" circle>
                                <i class="fa fa-user"></i>
                            </el-button>
                        </router-link>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[15,25,50,75,100,200]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {fetchAll} from "@/api/contingent/student";
    import TimePeriod from "@/components/TimePeriod/index";

    export default {
        name: "students-list",
        components: {TimePeriod},
        props: ['value'],
        data() {
            return {
                students: [],
                multipleSelection: [],
                loading: true,
                total: 0,
                listQuery: {
                    page: 1,
                    limit: 15,
                    filter: {
                        id: null,
                        lastname: null,
                        group_id: null,
                        privilege_ids: [],
                        status: null
                    }
                },
            }
        },
        created() {
            this.getList();
        },
        mounted() {
            this.$bus.on('refresh-student-list', data => {
                if (!_.isUndefined(data)) {
                    this.$set(this.listQuery, 'filter', data);
                }
                this.getList();
            });
        },
        methods: {
            getList() {
                this.loading = true;
                fetchAll(this.listQuery).then(response => {
                    this.students = response.data.students;
                    this.total = response.data.total;
                    this.loading = false;
                }, error => {
                    this.loading = false;
                });
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },
            handleSelectionChange(val) {
                this.$bus.emit('update-student-actions-list', val)
            }
        }
    }
</script>

<style scoped>

</style>