<template>
    <div>
        <div class="filter-container">
            <el-row>
                <el-col :span="12" class="text-left">
                    <el-dropdown split-button type="primary" @command="handleCommand">
                        Действия
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item :disabled="disableAction" command="retire"
                                              v-if="checkPermission(['student.actions'])">Отчислить
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['student.actions'])" :disabled="disableAction"
                                              command="transfer">Перевести в
                                другую группу
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['student.actions'])"
                                              :disabled="disableAction||(reinstateStudents.length===0)"
                                              command="reinstate">
                                Восстановить
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['student.actions'])" divided
                                              command="export-to-bank">Экспорт для банка
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['student.actions'])" command="export-full-base">
                                Экспорт полной базы
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['student.actions','student.military'])"
                                              command="export-military-list">Экспорт списка призывников
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['student.actions'])">Экспорт родителей
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['student.actions'])" command="countContingent">
                                Подсчет контингента
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['student.actions'])"
                                              command="massPrintMilitaryReferences">
                                Массовая печать справок в ВК
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['student.actions'])" divided>Цифры для СПО-1
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>
                <el-col :span="12" class="text-right">
                    <el-button class="filter-item" style="margin-left: 10px;" type="primary"
                               @click="handleCreate" v-if="this.checkPermission(['student.create'])">
                        <v-icon name="plus"/>
                        Добавить студента
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="21">
                    <el-row :gutter="10" style="margin-bottom: 10px">
                        <el-col :span="4">
                            <el-input clearable="" v-model="filter.id"
                                      placeholder="IDs" :loading="loading"></el-input>
                        </el-col>
                        <el-col :span="8">
                            <el-input clearable="" v-model="filter.lastname"
                                      :placeholder="$t('label.lastname')" :loading="loading"></el-input>
                        </el-col>
                        <el-col :span="4">
                            <el-select clearable filterable v-model="filter.group_id"
                                       :placeholder="$t('label.training_group')"
                                       class="w100" :loading="loading">
                                <el-option
                                        v-for="(group,key) in sortGroups"
                                        :label="group.name"
                                        :key="group.id"
                                        :value="group.id"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="8">
                            <el-select clearable filterable v-model="filter.status"
                                       :placeholder="$t('label.status')"
                                       class="w100" :loading="loading">
                                <el-option
                                        v-for="(status,key) in studentStatuses"
                                        :label="status.name"
                                        :key="status.id"
                                        :value="status.id"></el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                    <el-row :gutter="10">
                        <el-col :span="8">
                            <el-select clearable filterable v-model="filter.privilege_ids" multiple
                                       :placeholder="$t('label.privilegedCategory')"
                                       class="w100" :loading="loading">
                                <el-option
                                        v-for="(category,key) in privilegedCategories"
                                        :label="category.name"
                                        :key="category.id"
                                        :value="category.id"></el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                </el-col>
                <el-col :span="3" style="padding: 0 10px">
                    <el-button v-waves class="filter-item" type="primary" icon="el-icon-search"
                               @click="handleFilter"
                               @keypress.enter="handleFilter" :loading="loading">
                        {{$t('form.apply')}}
                    </el-button>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
    import {getTrainingGroups} from "@/api/services";
    import {studentStatuses, privilegedCategories, excelTableLabels} from "@/constants";
    import CreateStudentModal from './components/CreateStudentModal'
    import RetireStudentModal from './components/RetireStudentModal'
    import TransferStudentsModal from './components/TransferStudentsModal'
    import CountContingentModal from './components/CountContingentModal'
    import ReinstateStudentsModal from './components/ReinstateStudentsModal'
    import MassPrintReferencesModal from './components/MassPrintReferencesModal'
    import {baseToBank, baseFull, recruits} from "../../../api/exports";
    import {index as recruitentCenters} from "../../../api/contingent/recruitentCenters";
    import XLSX from 'xlsx'

    export default {
        name: "students-filter-panel",
        props: ['selected'],
        data() {
            return {
                excelTableLabels,
                studentStatuses,
                privilegedCategories,
                loading: false,
                training_groups: [],
                militaryCentres: [],
                disableAction: true,
                reinstateStudents: [],
                filter: {
                    id: null,
                    lastname: null,
                    group_id: null,
                    privilege_ids: [],
                    status: null
                }
            }
        },
        computed: {
            sortGroups() {
                return _.sortBy(this.training_groups, 'name')
            }
        },
        mounted() {
            this.getData();
            this.getRecruitCentres();
        },
        methods: {
            getData() {
                getTrainingGroups().then(response => {
                    this.training_groups = response.data;
                }).catch(exception => {
                    this.$swal({
                        title: 'Внимание! Ошибка!',
                        type: 'error',
                        html: `Произошла ошибка при загрузке учебных групп`,
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ок',
                    });
                });
            },
            getRecruitCentres() {
                recruitentCenters()
                    .then(response => response.data)
                    .then(data => {
                        this.militaryCentres = data;
                    })
                    .catch(exception => {
                        this.$swal({
                            title: 'Внимание! Ошибка!',
                            type: 'error',
                            html: `Произошла ошибка при загрузке списка военных комиссариатов`,
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ок',
                        });
                    });
            },
            handleCreate() {
                this.$modal.show(CreateStudentModal, {
                    groups: this.training_groups
                }, {
                    name: 'CreateStudentModal',
                    height: 0,
                    width: 0,
                    'z-index': 100
                })
            },
            handleFilter() {
                this.$bus.emit('refresh-student-list', this.filter);
            },
            handleCommand(command) {
                switch (command) {
                    case 'retire':
                        this.handleRetire();
                        break;
                    case 'transfer':
                        this.handleTransferToOtherGroup();
                        break;
                    case 'reinstate':
                        this.handleReinstate();
                        break;
                    case 'countContingent':
                        this.handleCountContingent();
                        break;
                    case 'export-to-bank':
                        this.handleExportToBank();
                        break;
                    case 'export-full-base':
                        this.handleExportFullBase();
                        break;
                    case 'export-military-list':
                        this.handleExportMilitary();
                        break;
                    case 'massPrintMilitaryReferences':
                        this.handleMassPrintMilitaryReferences();
                        break;
                }

            },
            handleMassPrintMilitaryReferences() {
                this.$modal.show(MassPrintReferencesModal,
                    {
                        recruitmentCenters: this.militaryCentres
                    },
                    {
                        name: 'MassPrintReferencesModal',
                        width: 0,
                        height: 0,
                    })
            },
            handleExportToBank() {
                let hasSelectedStudents = !!this.selected.length;
                let ids = [];
                if (hasSelectedStudents) {
                    ids = this.selected.map(student => {
                        return student.id;
                    })
                } else {
                    console.log('достаем айдишники из базы')
                }

                if (ids.length) {
                    this.handleExportBankFile(ids)
                }
            },
            handleExportMilitary() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Формируем файл, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });

                recruits().then(response => {
                    let jsonSheet = XLSX.utils.json_to_sheet(response.data, {
                        header: ['iteration', 'lastname', 'firstname', 'middlename', 'birthday', 'age', 'group', 'address_registration', 'military_recruitment_office', 'military_document_type', 'military_document_number', 'fitness_for_military_service', 'military_specialty']
                    });

                    let range = XLSX.utils.decode_range(jsonSheet['!ref']);
                    for (var C = range.s.r; C <= range.e.c; ++C) {
                        var address = XLSX.utils.encode_col(C) + "1"; // <-- first row, column number C
                        if (!jsonSheet[address]) continue;
                        jsonSheet[address].v = this.excelTableLabels[jsonSheet[address].v];
                    }
                    var wb = XLSX.utils.book_new()
                    XLSX.utils.book_append_sheet(wb, jsonSheet, 'Студенты');
                    loading.close();
                    XLSX.writeFile(wb, 'Список призывников.xlsx')
                }, error => {

                })


            },
            handleExportBankFile(ids) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Формируем файл, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                baseToBank({ids}).then(response => {
                    let jsonSheet = XLSX.utils.json_to_sheet(response.data, {
                        header: ['iteration', 'organization_code', 'lastname', 'firstname', 'middlename', 'gender',
                            'country', 'index', 'region', 'area', 'city', 'settlement', 'street', 'house_number', 'housing', 'apartment_number',
                            'document_type', 'document_series', 'document_number', 'document_subdivisionCode', 'document_issuanceDate', 'document_issued', 'birthday',
                            'document_subdivisionCode2', 'birthPlace', 'nationality', 'home_phone', 'work_phone', 'phone', 'email', 'control_information', 'comment',
                            'latin_name', 'latin_lastname', 'inn', 'snils']
                    });

                    let range = XLSX.utils.decode_range(jsonSheet['!ref']);
                    for (var C = range.s.r; C <= range.e.c; ++C) {
                        var address = XLSX.utils.encode_col(C) + "1"; // <-- first row, column number C
                        if (!jsonSheet[address]) continue;
                        jsonSheet[address].v = this.excelTableLabels[jsonSheet[address].v];
                    }
                    var wb = XLSX.utils.book_new()
                    XLSX.utils.book_append_sheet(wb, jsonSheet, 'Студенты');
                    loading.close();
                    XLSX.writeFile(wb, 'Список студентов для банка.xlsx')

                }, error => {
                    this.$notify({
                        title: 'Ошибка',
                        message: error.response.data.message,
                        type: 'error'
                    });
                    loading.close();
                });
            },
            handleExportFullBase() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Формируем файл, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                baseFull().then(response => {
                    let jsonSheet = XLSX.utils.json_to_sheet(response.data, {
                        header: ['iteration', 'profession', 'lastname', 'firstname', 'middlename', 'average_score', 'gender', 'graduation_organization_name', 'graduation_date', 'count_class', 'language',
                            'country', 'index', 'region', 'area', 'city', 'settlement', 'street', 'house_number', 'housing', 'apartment_number',
                            'document_type', 'document_series', 'document_number', 'document_subdivisionCode', 'document_issuanceDate', 'document_issued', 'birthday', 'birthPlace', 'nationality', 'home_phone', 'work_phone', 'phone', 'email', 'inn', 'snils', 'privileget_category', 'need_hostel']
                    });

                    let range = XLSX.utils.decode_range(jsonSheet['!ref']);
                    for (var C = range.s.r; C <= range.e.c; ++C) {
                        var address = XLSX.utils.encode_col(C) + "1"; // <-- first row, column number C
                        if (!jsonSheet[address]) continue;
                        jsonSheet[address].v = this.excelTableLabels[jsonSheet[address].v];
                    }

                    var wb = XLSX.utils.book_new()
                    XLSX.utils.book_append_sheet(wb, jsonSheet, 'Студенты');
                    loading.close();
                    XLSX.writeFile(wb, 'Полная база.xlsx')
                }, error => {
                    this.$notify({
                        title: 'Ошибка',
                        message: error.response.data.message,
                        type: 'error'
                    });
                    loading.close();
                })
            },
            handleCountContingent() {
                //CountContingentModal
                this.$modal.show(CountContingentModal, {},
                    {
                        name: 'CountContingentModal',
                        width: 0,
                        height: 0,
                        'z-index': 1000
                    }
                )
            },
            handleRetire() {
                this.$modal.show(RetireStudentModal,
                    {
                        students: this.selected
                    },
                    {
                        name: 'RetireStudentModal',
                        width: 0,
                        height: 0,
                        'z-index': 1000
                    }
                )
            },
            handleTransferToOtherGroup() {
                this.$modal.show(TransferStudentsModal,
                    {
                        students: this.selected,
                        groups: this.training_groups
                    },
                    {
                        name: 'TransferStudentsModal',
                        width: 0,
                        height: 0,
                        'z-index': 1000
                    }
                )
            },
            handleReinstate() {
                this.$modal.show(ReinstateStudentsModal,
                    {
                        students: this.selected,
                        groups: this.training_groups
                    },
                    {
                        name: 'TransferStudentsModal',
                        width: 0,
                        height: 0,
                        'z-index': 1000
                    }
                )
            }
        },
        watch: {
            selected: function () {
                this.disableAction = this.selected.length === 0;
                this.reinstateStudents = this.selected.filter(function (item) {
                    return (_.indexOf(['inArmy', 'academic'], item.status)) !== -1;
                });
            }
        }
    }
</script>

<style scoped>

</style>