<template>
    <div class="app-container">
        <div style="margin: 10px 0">
            <h2>{{_student.lastname}} {{_student.firstname}} {{_student.middlename|empty}}</h2>
        </div>
        <el-row :gutter="10">
            <el-col :sm="6" :md="6">
                <basic-information></basic-information>
            </el-col>
            <el-col :sm="18" :md="18">
                <additional-information :student="student"></additional-information>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {one} from "@/api/contingent/student";
    import BasicInformation from "./components/basic-information";
    import AdditionalInformation from "./components/additional-information";

    export default {
        name: "student-profile",
        components: {AdditionalInformation, BasicInformation},
        props: ['id'],
        data() {
            return {
                student: null
            }
        },
        computed: {
            _student() {
                return this.$store.getters.getCurrentStudent;
            }
        },
        mounted() {
            this.$bus.on('update-student-data', data => {
                this.$set(this.student, 'lastname', data.student.lastname);
                this.$set(this.student, 'firstname', data.student.firstname);
                this.$set(this.student, 'middlename', data.student.middlename);
            });
            this.getStudent();
            this.$bus.emit('student-data', this.student);
        },
        methods: {
            getStudent() {
                one(this.$route.params.id).then(response => {
                    this.student = response.data;
                    this.$store.dispatch('SET_STUDENT', response.data);
                    return response.data;
                }, error => {
                    this.$swal({
                        title: 'Внимание! Ошибка!',
                        type: 'error',
                        html: error.response.data.message,
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ок',
                    }).then(value => {
                        this.$router.push({name: 'students.list'});
                    });
                }).then(data => {
                    this.$bus.emit('student-data', data);
                })
            }
        }
    }
</script>

<style scoped>

</style>