<template>
    <div class="app-container">
        <students-filter-panel :selected="selectedStudent"></students-filter-panel>
        <students-list></students-list>
    </div>
</template>

<script>
    import StudentsFilterPanel from "./students-filter-panel";
    import StudentsList from "./students-list";

    export default {
        name: "students-page",
        components: {StudentsList, StudentsFilterPanel},
        data() {
            return {
                selectedStudent: []
            }
        },
        mounted() {
            this.$bus.on('update-student-actions-list', data => {
                this.selectedStudent = data;
            });
        }
    }
</script>

<style scoped>

</style>