<template>
    <div class="app-container">
        <el-row :gutter="10">
            <el-col :offset="4" :span="16">
                <el-form ref="settings-form" name="settings-form">
                    <el-form-item label="Серия и номер лицензии">
                        <el-input name="licenceNum" v-model="model.licenceNum"></el-input>
                    </el-form-item>
                    <el-form-item label="Дата выдачи лиценции">
                        <el-date-picker
                                class="w100"
                                v-model="model.licenceDate"
                                type="date"
                                :picker-options="pickerOptions"
                                placeholder="Дата выдачи лиценции"
                                format="dd.MM.yyyy"
                                value-format="dd.MM.yyyy">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="Серия и номер свидетельства о аккредитации">
                        <el-input name="accredNum" v-model="model.accredNum"></el-input>
                    </el-form-item>
                    <el-form-item label="Дата выдачи свидетельства о аккредитации">
                        <el-date-picker
                                class="w100"
                                v-model="model.accredDate"
                                type="date"
                                :picker-options="pickerOptions"
                                placeholder="Дата выдачи свидетельства о аккредитации"
                                format="dd.MM.yyyy"
                                value-format="dd.MM.yyyy">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="Дата окончания аккредитации">
                        <el-date-picker
                                class="w100"
                                v-model="model.accredEndDate"
                                type="date"
                                :picker-options="pickerOptions"
                                placeholder="Дата окончания аккредитации"
                                format="dd.MM.yyyy"
                                value-format="dd.MM.yyyy">
                        </el-date-picker>
                    </el-form-item>
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <el-form-item label="Кол-во мест в общежитии для юношей">
                                <el-input-number v-model="model.countPlaceOnMan" :min="1" :max="50"></el-input-number>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="Кол-во мест в общежитии для девушек">
                                <el-input-number v-model="model.countPlaceOnWoman" :min="1" :max="50"></el-input-number>
                            </el-form-item>
                        </el-col>
                        <el-col :span="24">
                            <el-checkbox v-model="model.orderHelpsFromSite">Заказ справок с сайта
                            </el-checkbox>
                        </el-col>
                        <el-col :span="24">
                            <el-checkbox v-model="model.showEnrolleesRatins">Показывать рейтинг среднего балла
                            </el-checkbox>
                        </el-col>
                        <el-col :span="24">
                            <el-checkbox v-model="model.showStaticCountEnrollees">Показывать статическое значение кол-ва
                                абитуриентов
                            </el-checkbox>
                        </el-col>
                        <el-col :span="4" :offset="10" style="margin-top: 10px">
                            <el-button type="primary" @click="postSettings">
                                Применить
                            </el-button>
                        </el-col>
                    </el-row>
                </el-form>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {getSettings, setSettings} from "../../api/settings";

    export default {
        name: "settings-page",
        data() {
            return {
                model: {
                    showEnrolleesRatins: false,
                    licenceNum: null,
                    licenceDate: null,
                    accredNum: null,
                    accredDate: null,
                    accredEndDate: null,
                    countPlaceOnMan: 12,
                    countPlaceOnWoman: 22,
                    orderHelpsFromSite: false,
                    showStaticCountEnrollees: false
                },
                pickerOptions: this.$pickerConfig()
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Получаю настройки, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                getSettings().then(response => {
                    this.model = {...{}, ...response.data};
                    loading.close();
                }, error => {
                    loading.close();
                })
            },
            postSettings() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Обновляю настройки, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });

                setSettings({settings: this.model}).then(response => {
                    this.$notify({
                        type: 'success',
                        title: 'Успешно',
                        message: 'Настройки сайта успешно обновлены'
                    });
                    loading.close();
                }, error => {
                    loading.close();
                });
            }
        }
    }
</script>

<style scoped>

</style>