<template>
    <div>
        <el-table
                :data="groups"
                style="width: 100%"
                stripe
                border
        >
            <el-table-column prop="id" label="ID" width="68px" fixed></el-table-column>
            <el-table-column prop="full_name" label="Название" width="70" fixed></el-table-column>
            <el-table-column prop="unique_code" label="Код группы"></el-table-column>
            <el-table-column label="Программа">
                <template slot-scope="scope">
                    <router-link :to="{name:'opop.detail',params:{id:scope.row.program.id}}" class="link">
                        {{scope.row.program.name}}
                    </router-link>
                </template>
            </el-table-column>
            <el-table-column label="УП">
                <template slot-scope="scope">
                    <router-link :to="{name:'education-plans.detail',params:{id:scope.row.education_plan.id}}"
                                 class="link">
                        {{scope.row.education_plan.name}}
                    </router-link>
                </template>
            </el-table-column>
            <el-table-column label="Куратор">
                <template slot-scope="scope">
                    {{scope.row.curator.full_name|personShortName}}
                </template>
            </el-table-column>
            <el-table-column label="Учебный год">
                <template slot-scope="scope">
                    {{scope.row.academic_year}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('table.actions')" fixed="right">
                <template slot-scope="scope">
                    <router-link :to="{name:'training_group_detail',params:{id:scope.row.id}}">
                        <el-button type="primary" round>
                            <i class="fa fa-id-card" aria-hidden="true"></i>
                        </el-button>
                    </router-link>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[15,25,50,75,100,200]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {index} from "../../../../api/contingent/training_groups";

    export default {
        name: "training-groups-table",
        data() {
            return {
                total: 0,
                listQuery: {
                    page: 1,
                    limit: 15,
                    filter: {}
                },
                groups: []
            }
        },
        mounted() {
            this.getGroups();
            this.$bus.on('update-training-groups-list', data => {
                this.getGroups();
            });
        },
        methods: {
            handleSelectionChange(val) {
                this.$bus.emit('update-groups-action', val)
            },
            getGroups() {
                let loading = this.$lockScreen({text: 'Получаю список групп'});
                index(this.listQuery)
                    .then(response => response.data)
                    .then(data => {
                        loading.close();
                        this.groups = data.groups;
                        this.total = data.count;
                    }, error => {
                        loading.close();
                    });
            },
            handleSizeChange(val) {
                this.listQuery.limit = val;
                this.getGroups()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val;
                this.getGroups()
            },
        }
    }
</script>

<style scoped>

</style>