<template>
    <div>
        <el-row :gutter="10">
            <el-col :span="24">
                <el-col :span="5"><h3>Полное название:</h3></el-col>
                <el-col :span="19"><h4 class="group-name">{{_groupFullName}}</h4></el-col>
            </el-col>
            <el-divider></el-divider>
            <el-col :span="12">
                <el-form-item label="Шаблон названия" prop="pattern">
                    <el-input v-model="group.pattern"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Уникальное имя" prop="unique_code">
                    <el-input v-model="group.unique_code" placeholder="Уникальное имя"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Профессиональная программа" prop="profession_program_id">
                    <el-select v-model="group.profession_program_id" class="w-100" filterable clearable
                               @change="handleChangePlans">
                        <el-option v-for="(program,index) in _professionPrograms" :label="program.name" :key="index"
                                   :value="program.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Учебный план" prop="education_plan_id">
                    <el-select v-model="group.education_plan_id" class="w-100" filterable clearable
                               :disabled="_hasNoEducationPlan">
                        <el-option v-for="(plan,index) in education_plans" :label="plan.name" :key="index"
                                   :value="plan.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Учебный календарь" prop="calendar_id">
                    <el-select v-model="group.calendar_id" class="w-100" filterable clearable>
                        <el-option v-for="(calendar,index) in calendars" :label="calendar.name" :key="index"
                                   :value="calendar.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Куратор" prop="employee_id">
                    <el-select v-model="group.employee_id" class="w-100" filterable clearable>
                        <el-option v-for="(employee,index) in _employees" :label="employee.full_name" :key="index"
                                   :value="employee.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item label="Максимальное кол-во студентов" prop="max_people">
                    <el-input-number v-model="group.max_people" :min="1" :max="50" class="w-100"></el-input-number>
                </el-form-item>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {all} from "../../../../api/education/training-calendars";

    export default {
        name: "training-group-form",
        computed: {
            _professionPrograms() {
                return this.$store.getters.programsToSelect;
            },
            _educationPlans() {
                return this.$store.getters.educationPlans;
            },
            _trainingGroupState() {
                return this.$store.getters.trainingGroupFormState;
            },
            _employees() {
                return this.$store.getters.employeesToSelect;
            },
            _groupFullName() {
                let pattern = this.group.pattern;
                return pattern.replace('{Курс}', 1);
            },
            _hasNoEducationPlan() {
                return !this.group.inUse && !this.group.profession_program_id;
            }
        },
        data() {
            return {
                education_plans: [],
                calendars: [],
                group: _.cloneDeep(this.$store.getters.trainingGroupFormState)
            }
        },
        mounted() {
            this.getCalendars();
        },
        methods: {
            getCalendars() {
                all()
                    .then(response => response.data)
                    .then(data => {
                        let calendars = data.calendars.map(calendar => {
                            return {
                                id: calendar.id,
                                year: calendar.year,
                                name: `${calendar.name} [${calendar.year} - ${calendar.year + 1}]`
                            }
                        });

                        this.calendars = _.sortBy(calendars, ['year', 'name']);
                    })
            },
            handleChangePlans() {
                this.education_plans = this._educationPlans.filter(plan => {
                    return this.group.profession_program_id === plan.program.id;
                });
            }
        },
        watch: {
            group: {
                handler: _.debounce(function (group) {
                    this.$store.commit('SET_CURRENT_TRAINING_GROUP_FORM_STATE', group);
                }, 200), deep: true
            }
        }
    }
</script>

<style scoped lang="scss">
    .group-name {
        font-size: 160%;
        letter-spacing: -.04em;
        color: #07b;
    }
</style>
