<template>
    <div>
        <el-tabs type="border-card">
            <el-tab-pane v-for="(year,index) in _periods" :label="index" :key="index">
                <training-calendar :calendar="year.calendar" v-if="year.calendar"></training-calendar>
                <div v-else>
                    <no-report title="На этот период еще не создан календарь"></no-report>
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
    import TrainingCalendar from "../../../education/training-calendars/components/training-calendar";
    import NoReport from "../../../../components/NoReport/no-report";

    export default {
        name: "training-group-periods",
        components: {NoReport, TrainingCalendar},
        computed: {
            _periods() {
                let group = this.$store.getters.getCurrentGroup;
                return group.academic_years;
            }
        }
    }
</script>

<style scoped>

</style>