<template>
    <div>
        <el-col :span="24">
            <el-form-item label="Учебный год" prop="year_number">
                <el-select v-model="value.year_number" :disabled="value.inUse" class="w100">
                    <el-option v-for="(year,index) in academicYears" :key="index" :value="year.year"
                               :label="year.label"></el-option>
                </el-select>
            </el-form-item>
        </el-col>
        <el-col :span="24">
            <el-form-item label="Активность" prop="active">
                <el-switch
                        v-model="value.active"
                        active-text="Использовать"
                        inactive-text="Не использовать">
                </el-switch>
            </el-form-item>
        </el-col>
        <el-col :span="24">
            <el-checkbox v-model="value.copyFromYear">Скопировать список дисциплин из существующего года</el-checkbox>
        </el-col>
        <el-col :span="24">
            <el-form-item label="Учебные года" prop="copy_year_id" :rules="[
      { required: value.copyFromYear, message: 'Не выбран год, из которого надо копировать'},
    ]">
                <el-select v-model="value.copy_year_id" :disabled="!value.copyFromYear" class="w-100">
                    <el-option v-for="(academicYear,index) in programAcademicYears" :key="index"
                               :label="academicYear.year_number" :value="academicYear.id"></el-option>
                </el-select>
            </el-form-item>
        </el-col>
    </div>
</template>

<script>
    import {buildAcademicYears} from "../../../../../utils/training-periods";
    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: "AcademicYearsForm",
        props: {
            value: {
                type: Object
            }
        },
        computed: {
            ...mapGetters(['professionProgramID', 'academicYearsList']),
            ...mapActions(['SET_CURRENT_YEAR'])
        },
        data() {
            return {
                academicYears: buildAcademicYears(),
                programAcademicYears: []
            }
        },
        mounted() {
            this.programAcademicYears = this.$store.getters.academicYearsList;
        }
    }
</script>

<style scoped>

</style>
