<template>
    <div>
        <v-dialog persistent max-width="700px">
            <v-card>
                <v-card-title>
                    <span class="headline">Добавление групп в нагрузку</span>
                </v-card-title>
                <v-card-text>
                    <el-row :gutter="10">
                        <el-col :span="24" style="margin-bottom: 10px">
                            <el-alert v-if="errors.length>0"
                                      title="Произошла ошибка"
                                      type="error"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <el-form :model="model" :rules="rules" ref="CreateReplacingForm" label-position="top"
                                 class="demo-ruleForm">
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-select disabled v-model="currentYear"
                                               placeholder="Период"
                                               class="w100">
                                        <el-option
                                                v-for="(year,key) in academicYears"
                                                :key="year.key"
                                                :value="year.key"
                                                :label="year.label"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-col>
                                <el-col :span="24" style="margin-top: 15px">
                                    <el-transfer
                                            v-model="ids"
                                            :data="groups">
                                    </el-transfer>
                                </el-col>
                            </el-row>
                        </el-form>
                    </el-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button round @click="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" round
                               @click="handleCreate" :disabled="ids.length===0">
                        {{$t('form.add')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {academicYears} from "../../../constants";
    import {getGroupsByYear} from "../../../api/education/teacher_load";
    import {addGroupsInLoad} from "../../../api/education/teacher_load";

    export default {
        name: "AddGroupModal",
        data() {
            return {
                academicYears,
                currentYear: null,
                groups: [],
                ids: [],
                addedGroupIds:[],
                model: {},
                rules: {}
            }
        },
        mounted() {
            this.currentYear = this.$store.getters.currentTeacherLoadAcademicYear;
            this.ids = this.$store.getters.currentAcademicYearGroupsIds;
            this.addedGroupIds = this.$store.getters.currentAcademicYearGroupsIds;
            this.getGroupsByYear(this.currentYear);
        },
        methods: {
            handleClose() {
                this.$modal.hide('AddGroupModal');
            },
            handleCreate() {
                const diffIds=this._.difference(this.ids,this.addedGroupIds);
                const filterGroups = this.groups.filter(group => {
                    return diffIds.includes(group.key);
                }).map(group => {
                    return {
                        group_id: group.key,
                        group_period_id: group.group_period_id,
                    }
                });
                const data = {
                    academic_year: this.currentYear,
                    groups: filterGroups
                };
                const lockScreen = this.$lockScreen({text: 'Идет добавление групп'});
                addGroupsInLoad(data).then(response => {
                    this.handleClose();
                    this.$notify({
                        type: 'success',
                        title: 'Успешно',
                        message: 'Группы были успешно добавлены'
                    });
                    const {groups} = response.data;
                    this.$store.dispatch('SET_CURRENT_YEAR_GROUPS', groups);
                }).finally(e => {
                    lockScreen.close();
                })
            },
            getGroupsByYear(year) {
                getGroupsByYear(year)
                    .then(response => {
                        const groups = response.data.groups.map(group => {
                            return {
                                key: group.id,
                                label: group.name,
                                group_period_id: group.group_period_id,
                                disabled:this.ids.includes(group.id)
                            }
                        });
                        this.groups = this._.orderBy(groups, 'label')
                    })
            }
        }
    }
</script>

<style scoped>

</style>
