<template>
    <v-dialog persistent max-width="700px">
        <v-card>
            <v-card-title>
                <span class="headline">Добавление занятия</span>
            </v-card-title>
            <v-card-text>
                <el-row :gutter="10">
                    <el-col :span="24" style="margin-bottom: 10px">
                        <el-alert v-if="errors.length>0"
                                  title="Произошла ошибка"
                                  type="error"
                                  show-icon>
                            <ul>
                                <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                            </ul>
                        </el-alert>
                    </el-col>
                    <el-form :model="model" :rules="rules" ref="AddLessonForm" label-position="top"
                             class="demo-ruleForm">
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-form-item prop="date" label="Дата">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            :picker-options="pickerOptions"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            placeholder="Дата занятия"
                                            v-model="model.date"
                                            class="w100"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24" style="margin-top: 15px">
                                <el-form-item prop="number" label="Номер занятия по порядку">
                                    <el-input-number v-model="model.number" class="w100"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24" style="margin-top: 15px">
                                <el-form-item prop="count" label="Количество">
                                    <el-input-number v-model="model.count" class="w100"></el-input-number>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                </el-row>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <el-button round @click="handleClose">
                    {{$t('form.cancel')}}
                </el-button>
                <el-button type="primary" round
                           @click="handleCreate">
                    {{$t('form.add')}}
                </el-button>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import moment from 'moment'
    import {addLesson} from "../../../api/education/teacher_load";

    export default {
        name: "AddLessonModal",
        data() {
            return {
                pickerOptions: this.$pickerConfig(),
                rules: {
                    date: [
                        {required: true, message: 'Не заполнена дата', trigger: 'change'}
                    ],
                    number: [
                        {required: true, message: 'Не заполнен номер занятия', trigger: 'change'}
                    ],
                    count: [
                        {required: true, message: 'Не заполнено кол-во', trigger: 'change'}
                    ]
                },
                errors: [],
                model: {
                    date: null,
                    number: 1,
                    count: 1
                }
            }
        },
        computed: {
            _month() {
                return this.$store.getters.currentMonth
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('AddLessonModal')
            },
            handleCreate() {
                this.$refs['AddLessonForm'].validate(valid => {
                    if (valid) {
                        const lockScreen = this.$lockScreen({text: 'Идет добавление занятия'})

                        const params = {
                            id: this.$route.params.id,
                            subject_id: this.$store.getters.currentSubject.id,
                            month_id: this.$store.getters.currentMonth.id
                        }
                        const data = {...this.model, ...{month_id: params.month_id}};
                        addLesson(params, data)
                            .then(response => {
                                this.$notify({
                                    type: 'success',
                                    title: 'Успешно',
                                    message: 'Занятие было успешно добавлено'
                                });
                                const lesson = {...this.model, ...{id: response.data.id}};
                                this.$store.dispatch('ADD_LESSON_IN_MONTH', lesson);
                                this.handleClose();
                            }).catch(e => {

                        }).finally(e => {
                            lockScreen.close();
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
