<template>
    <div>
        <v-dialog persistent max-width="700px">
            <v-card>
                <v-card-title>
                    <span class="headline">Добавление дисциплины к группе</span>
                </v-card-title>
                <v-card-text>
                    <el-row :gutter="10">
                        <el-col :span="24" style="margin-bottom: 10px">
                            <el-alert v-if="errors.length>0"
                                      title="Произошла ошибка"
                                      type="error"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <el-form :model="model" :rules="rules" ref="AddSubjectInGroup" label-position="top"
                                 class="demo-ruleForm">
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item :label="$t('label.subject')" prop="subject_id">
                                        <el-select filterable v-model="model.subject_id"
                                                   placeholder="Выберите дисциплину"
                                                   class="w100">
                                            <el-option-group
                                                    v-for="type in subjects"
                                                    :key="type.name"
                                                    :label="type.name">
                                                <el-option
                                                        v-for="subject in type.subjects"
                                                        :key="subject.id"
                                                        :label="subject.name"
                                                        :value="subject.id">
                                                </el-option>
                                            </el-option-group>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24" style="margin-top: 15px">
                                    <el-form-item prop="comment" label="Пометка">
                                        <el-input v-model="model.comment"
                                                  placeholder="Номер подгруппы и.т.д"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <table class="table table-bordered" style="width: 100%">
                                        <tr>
                                            <th>Семестр</th>
                                            <th>Часов по плану</th>
                                            <th>Преподаватель</th>
                                        </tr>
                                        <tr v-for="(term,index) in model.terms" :key="index">
                                            <td>{{term.semester}} семестр</td>
                                            <td>
                                                <el-input-number v-model="model.terms[index].plan"
                                                                 :min="0"></el-input-number>
                                            </td>
                                            <td>
                                                <el-select :disabled="model.terms[index].plan===0"
                                                           v-model="model.terms[index].employee_id" class="w-100"
                                                           filterable clearable>
                                                    <el-option v-for="(employee,index) in employees"
                                                               :label="employee.full_name" :key="index"
                                                               :value="employee.id"></el-option>
                                                </el-select>
                                            </td>
                                        </tr>
                                    </table>
                                </el-col>
                            </el-row>
                        </el-form>
                    </el-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button round @click="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" round :disabled="!_isCreate"
                               @click="handleCreate">
                        {{$t('form.add')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {getSubjects, getEmployees} from "../../../api/services";
    import {addSubjectInGroup} from "../../../api/education/teacher_load";

    export default {
        name: "AddSubjectModal",
        data() {
            return {
                errors: [],
                subjects: [],
                employees: [],
                model: {
                    subject_id: null,
                    comment: null,
                    terms: [
                        {semester: 1, plan: 0, employee_id: null},
                        {semester: 2, plan: 0, employee_id: null}
                    ]
                },
                rules: {
                    subject_id: [
                        {required: true, message: 'Не выбрана дисциплина', trigger: 'change'}
                    ]
                }
            }
        },
        computed: {
            _isCreate() {
                const {terms} = this.model;

                return terms
                    .filter(term => term.plan > 0)
                    .some(term => {
                        return ((term.plan > 0) && !this._.isNull(term.employee_id));
                    });
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            getData() {
                const lockScreen = this.$lockScreen({text: 'Идет загрузка данных'});
                Promise
                    .all([getSubjects(), getEmployees()])
                    .then(responses => {
                        const [subjects, employees] = responses;
                        this.subjects = subjects.data;
                        this.employees = employees.data;
                    }).finally(e => {
                    lockScreen.close();
                })
            },
            handleClose() {
                this.$modal.hide('AddSubjectModal');
            },
            handleCreate() {
                this.$refs['AddSubjectInGroup'].validate(valid => {
                    if (valid) {
                        const lockScreen = this.$lockScreen({text: 'Идет добавление'});

                        const id = this.$route.params.id;
                        const data = {...{id}, ...this.model};
                        addSubjectInGroup(data).then(response => {
                            this.handleClose();
                            this.$notify({
                                type: 'success',
                                title: 'Успешно',
                                message: 'Дисциплина была успешно добавлена'
                            });
                            const {subject} = response.data;
                            this.$store.dispatch('ADD_SUBJECT', subject);
                        }).finally(e => {
                            lockScreen.close();
                        });
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
