<template>
    <div class="app-container">
        <div style="margin: 10px 0">
            <h2>{{_employee.lastname}} {{_employee.firstname}} {{_employee.middlename}}</h2>
        </div>
        <el-row :gutter="10">
            <el-col :sm="8" :md="8">
                <basic-information :employee="employee"></basic-information>
            </el-col>
            <el-col :sm="16" :md="16">
                <additional-information :employee="employee"></additional-information>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {getOne} from "@/api/contingent/employee";
    import BasicInformation from "./components/basic-information";
    import AdditionalInformation from "./components/additional-information";

    export default {
        name: "employee-profile",
        components: {AdditionalInformation, BasicInformation},
        props: ['id'],
        data() {
            return {
                employee: null,
                full_name: ''
            }
        },
        computed: {
            _employee() {
                return this.$store.getters.currentEmployee;
            }
        },
        created() {
        },
        mounted() {
            this.$bus.on('update-employee-data', data => {
                let full_name = `${data.employee.lastname} ${data.employee.firstname} ${_.isNull(data.employee.middlename) ? '' : data.employee.middlename}`;
                this.$set(this.employee, 'full_name', full_name);
            });
            this.getEmployee();
        },
        methods: {
            getEmployee() {
                getOne(this.$route.params.id).then(response => {
                    this.employee = response.data;
                    this.$store.dispatch('SET_CURRENT_EMPLOYEE', response.data);
                });
            }
        }
    }
</script>

<style scoped>

</style>
