<template>
    <div class="app-container">
        <div class="filter-container text-right">
            <el-button type="primary" @click="handleCreate">
                <i class="fa fa-plus"></i> Добавить
            </el-button>
        </div>
        <el-table
                :data="data"
                border
                striped
                class="w100">
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column label="Дата начала">
                <template slot-scope="scope">
                    {{scope.row.start_date|dateFormat}}
                </template>
            </el-table-column>
            <el-table-column label="Дата окончания">
                <template slot-scope="scope">
                    {{scope.row.end_date|dateFormat}}
                </template>
            </el-table-column>
            <el-table-column label="Последний день приема документов">
                <template slot-scope="scope">
                    {{scope.row.last_day_of_work|dateFormat}}
                </template>
            </el-table-column>
            <el-table-column label="Кол-во программ">
                <template slot-scope="scope">
                    {{scope.row.programs.length}}
                </template>
            </el-table-column>
            <el-table-column label="Активность">
                <template slot-scope="scope">
                    {{scope.row.active|logic}}
                </template>
            </el-table-column>
            <el-table-column label="Действия">
                <template slot-scope="scope">
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>

    import {fetchAll} from "../../api/selection-committies/committee";
    import CreateCommitteeModal from './CreateCommitteeModal';

    export default {
        name: "committees-list",
        data() {
            return {
                data: []
            }
        },
        mounted() {

            this.$bus.on('update-committees-list', data => {
                this.getAll();
            });

            this.getAll();
        },
        methods: {
            getAll() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Получаю список, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                fetchAll().then(response => {
                    this.data = response.data.items;
                    loading.close();
                }, error => {
                    loading.close();
                    this.$alert(error.response.data.message, 'Внимание, ошибка', {
                        confirmButtonText: 'OK',
                    });
                });
            },
            handleCreate() {
                this.$modal.show(CreateCommitteeModal,
                    {},
                    {
                        name: 'CreateCommitteeModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            }
        }
    }
</script>

<style scoped>

</style>