<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="CreateCommitteeForm" label-position="top">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить приемку</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="errors.length >0"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul>
                                        <li v-for="error in errors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item prop="name" :label="$t('label.name')">
                                    <el-input v-model="model.name" :placeholder="$t('label.name')"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="start_date" :label="$t('label.start_date')">
                                    <el-date-picker
                                            :loading="loading"
                                            v-mask="'##.##.####'"
                                            :picker-options="pickerOptions"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.start_date')"
                                            v-model="model.start_date"
                                            class="w100">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="end_date" :label="$t('label.end_date')">
                                    <el-date-picker
                                            :loading="loading"
                                            v-mask="'##.##.####'"
                                            :picker-options="pickerOptions"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.end_date')"
                                            v-model="model.end_date"
                                            class="w100">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="last_day_of_work" label="Последний день">
                                    <el-date-picker
                                            :loading="loading"
                                            v-mask="'##.##.####'"
                                            :picker-options="pickerOptions"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            placeholder="Последний день"
                                            v-model="model.last_day_of_work"
                                            class="w100">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-checkbox v-model="model.active">Использовать</el-checkbox>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {DateTime} from 'luxon'
    import {store} from "../../api/selection-committies/committee";


    export default {
        name: "CreateCommitteeModal",
        data() {
            return {
                loading: false,
                errors: [],
                model: {
                    name: null,
                    start_date: DateTime.fromObject({month: 5, day: 15}).toISODate(),
                    end_date: DateTime.fromObject({month: 8, day: 16}).toISODate(),
                    last_day_of_work: DateTime.fromObject({month: 11, day: 25}).toISODate(),
                    active: true
                },
                rules: {
                    name: [
                        {required: true, message: 'Не заполнено наименование', trigger: 'blur'}
                    ],
                    start_date: [
                        {required: true, message: 'Не заполнена дата начала', trigger: 'blur'}
                    ],
                    end_date: [
                        {required: true, message: 'Не заполнена дата окончания', trigger: 'blur'}
                    ],
                    last_day_of_work: [
                        {required: true, message: 'Не заполнена дата полного окончания', trigger: 'blur'}
                    ]
                },
                pickerOptions: this.$pickerConfig()
            }
        }, methods: {
            handleClose() {
                this.$modal.hide('CreateCommitteeModal')
            },
            handleCreate() {
                this.$refs['CreateCommitteeForm'].validate(valid => {
                    if (valid) {
                        this.errors = [];
                        const loading = this.$loading({
                            lock: true,
                            text: 'Формирую комиссию, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        store(this.model).then(response => {
                            loading.close();
                            this.handleClose();
                            this.$bus.emit('update-committees-list');
                        }, error => {
                            let response = error.response.data;
                            let {message, errors} = response;
                            loading.close();

                            if (message) {
                                this.errors.push(message);
                            } else {
                                this.errors = errors;
                            }
                            this.loading = false;
                        });
                    } else {
                        return false;
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>