<template>
    <div class="calendar_period">
        <dl>
            <dt>
                <h4 v-if="calendar.term_type==='semester'">{{period.number}}
                    {{calendar.term_type|trainingPeriodType}}</h4>
                <h4 v-if="calendar.term_type==='course'">Весь курс</h4>
                <small>
                    {{period.start_date|dateFormat('DD MMM YYYY')}} - {{period.end_date|dateFormat('DD MMM YYYY')}}
                </small>
            </dt>
            <dd class="education" v-if="!_sessionInStartPeriod">
                <h4>Обучение</h4>
                <small>
                    {{dates.start_date|dateFormat('DD MMM YYYY')}} -

                    {{dates.end_date|dateFormat('DD MMM YYYY')}}

                </small>
            </dd>
            <dd class="session" v-if="_hasSession">
                <h4>Сессия </h4>
                <small>
                    {{dates.session_start|dateFormat('DD MMM YYYY')}} - {{dates.session_end|dateFormat('DD MMM YYYY')}}
                </small>
            </dd>
            <dd v-if="_trainingAfterSession" class="education">
                <h4>Обучение</h4>
                <small>
                    {{dates.start_after_session_date|dateFormat('DD MMM YYYY')}} -

                    {{dates.end_after_session_date|dateFormat('DD MMM YYYY')}}
                </small>
            </dd>
        </dl>
        <div class="vacation" v-if="_hasVacation">
            Каникулы с {{vacation.start_date|dateFormat('DD MMM YYYY')}} по
            {{vacation.end_date|dateFormat('DD MMM YYYY')}}
        </div>
    </div>
</template>

<script>
    import {DateTime} from 'luxon';

    export default {
        name: "calendar-period",
        props: {
            index: {},
            period: {
                type: Object
            },
            calendar: {}
        },
        data() {
            return {
                dates: {
                    start_date: null,
                    end_date: null,
                    session_start: null,
                    session_end: null,
                    start_after_session_date: null,
                    end_after_session_date: null
                },
                vacation: {
                    start_date: null,
                    end_date: null
                }
            }
        },
        mounted() {
            this.dates.start_date = this.period.start_date;
            this.dates.end_date = this.period.end_date;
            if (this._hasSession) {
                this.dates.end_date = DateTime.fromISO(this.period.session_start_date).minus({days: 1}).toISODate();
                this.dates.session_start = this.period.session_start_date;
                this.dates.session_end = this.period.end_date;
            }
            if (this._trainingAfterSession) {
                this.dates.end_date = DateTime.fromISO(this.period.session_start_date).minus({days: 1}).toISODate();
                this.dates.session_start = this.period.session_start_date;
                this.dates.session_end = this.period.session_end_date;
                this.dates.start_after_session_date = DateTime.fromISO(this.period.session_end_date).plus({days: 1}).toISODate();
                this.dates.end_after_session_date = this.period.end_date;
            }
        },
        computed: {
            _hasSession() {
                return !_.isNull(this.period.session_start_date);
            },
            _sessionInStartPeriod() {
                return !_.isNull(this.period.session_start_date) && (this.period.session_start_date === this.period.start_date)
            },
            _trainingAfterSession() {
                return !_.isNull(this.period.session_end_date) && (this.period.session_end_date < this.period.end_date)
            },
            _hasVacation() {
                let nextPeriod = this.calendar.periods[this.index + 1];
                if (!nextPeriod) {
                    return false;
                }
                this.vacation.start_date = DateTime.fromISO(this.period.end_date).plus({days: 1}).toISODate();
                this.vacation.end_date = DateTime.fromISO(nextPeriod.start_date).minus({days: 1}).toISODate();
                return true;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .calendar_period {
        dl {
            width: 100%;
            display: flex;
        }

        dt {
            color: #07B;
            padding-left: 0;
            padding-right: 5px;
            text-align: right;
            width: 200px;
        }

        dd {
            padding: 8px 10px;
            flex-grow: 1;

            &.education {
                color: #39C;
                background: #D9F0FF;
                border-left: 7px solid #FFF;
            }

            &.session {
                color: #C93;
                background: #FFEED0;
                border-left: 4px solid #FFF;
            }
        }

        h4 {
            display: block;
            font-size: 240%;
            font-weight: 300;
            line-height: 1.2;
            letter-spacing: -.05em;
        }

        small {
            font-size: 12px;
        }

        .vacation {
            color: #693;
            margin: 2px 0;
            padding: 8px 10px;
            background: #F0F9D9;
        }
    }
</style>