<template>
    <div>
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="CreateTrainingCalendarModal" label-position="top">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить учебный календарь</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="errors.length"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul>
                                        <li v-for="error in errors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Наименование" prop="name">
                                    <el-input v-model="model.name"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Периоды" prop="term_type">
                                    <el-select v-model="model.term_type" class="w-100" @change="handleCreatePeriods">
                                        <el-option v-for="(period,index) in _periods" :label="period.text"
                                                   :value="period.value" :key="index"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Учебный год" prop="year">
                                    <el-select v-model="model.year" class="w-100" disabled>
                                        <el-option v-for="(year,index) in academicYears" :label="year.label"
                                                   :value="year.year" :key="index"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <div v-for="(period,index) in model.periods">
                            <training-period v-model="model.periods[index]" :key="index"
                                             :academic_year="currentYear"></training-period>
                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" round
                                   @click="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {buildAcademicYears} from "../../../../utils/training-periods";
    import {trainingPeriods} from "../../../../constants";
    import {enumirate} from "../../../../filters";
    import {DateTime} from 'luxon';
    import TrainingPeriod from "./training-period";
    import moment from 'moment';
    import {store} from "../../../../api/education/training-calendars";

    export default {
        name: "CreateCalendarModal",
        components: {TrainingPeriod},
        props: {
            year: {
                type: Number
            }
        },
        data() {
            return {
                trainingPeriods,
                model: {
                    name: null,
                    term_type: 'semester',
                    year: this.year,
                    periods: []
                },
                academicYears: buildAcademicYears(this.year),
                errors: [],
                rules: {
                    name: [
                        {required: true, message: 'Не заполнено наименование', trigger: 'blur'}
                    ]
                },
                currentYear: null
            }
        },
        computed: {
            _periods() {
                return enumirate(this.trainingPeriods, 'trainingPeriodType')
            }
        },
        mounted() {
            this.handleCreatePeriods();
            this.currentYear = this.academicYears.filter(item => {
                return item.year === this.year;
            })[0];
        },
        methods: {
            handleClose() {
                this.$modal.hide('CreateCalendarModal');
            },
            handleCreate() {
                this.errors = [];
                this.$refs.CreateTrainingCalendarModal.validate(valid => {
                    if (valid) {
                        let invalidPeriods = this.model.periods.filter((period, index) => {
                            return this.isInvalidPeriod(period, index);
                        });
                        if (invalidPeriods.length === 0) {
                            let lockScreen = this.$lockScreen({text: 'Добавляю календарь'});
                            store(this.model)
                                .then(response => response.data)
                                .then(data => {
                                    let calendar = {...{id: data.id, inUse: false}, ...this.model};
                                    this.$bus.emit('update-calendars-list', calendar);
                                    lockScreen.close();
                                    this.handleClose();
                                }, error => {
                                    let response = error.response.data;
                                    this.errors = response.errors;
                                    lockScreen.close();
                                });
                        } else {

                            this.errors.push('Неверная последовательность дат в периодах')
                        }
                    }

                });
            },
            isInvalidPeriod(period, index) {
                let {start_date, session_start_date, session_end_date, end_date} = period;
                let startDate = moment(start_date);
                let endDate = moment(end_date);
                let hasSession = !_.isNull(session_start_date);
                let nextPeriod = this.model.periods[index + 1];

                if (!_.isUndefined(nextPeriod)) {
                    return (endDate.isSameOrAfter(nextPeriod.start_date)) || (endDate.isSameOrAfter(nextPeriod.end_date));
                }

                if (hasSession) {
                    if (_.isNull(session_end_date)) {
                        return false;
                    }
                    return (moment(session_start_date)).isSameOrAfter(session_end_date);
                }

                return false;
            },
            handleCreatePeriods() {
                switch (this.model.term_type) {
                    case trainingPeriods.semester:
                        let semesters = [
                            {
                                start_date: DateTime.fromObject({year: this.year, month: 9, day: 1}).toISODate(),
                                session_start_date: null,
                                session_end_date: null,
                                inUse: false,
                                number: 1,
                                end_date: DateTime.fromObject({year: this.year, month: 12, day: 28}).toISODate(),
                            },
                            {
                                start_date: DateTime.fromObject({year: (this.year + 1), month: 1, day: 11}).toISODate(),
                                session_start_date: null,
                                session_end_date: null,
                                inUse: false,
                                number: 2,
                                end_date: DateTime.fromObject({year: (this.year + 1), month: 6, day: 30}).toISODate(),
                            }
                        ];
                        this.$set(this.model, 'periods', semesters);
                        break;
                    case trainingPeriods.course:
                        let course = [
                            {
                                start_date: DateTime.fromObject({year: this.year, month: 9, day: 1}).toISODate(),
                                session_start_date: null,
                                session_end_date: null,
                                inUse: false,
                                number: 1,
                                end_date: DateTime.fromObject({year: (this.year + 1), month: 6, day: 30}).toISODate(),
                            },
                        ];
                        this.$set(this.model, 'periods', course);
                        break;
                    case trainingPeriods.trimester:
                        let trimester = [
                            {
                                start_date: DateTime.fromObject({year: this.year, month: 9, day: 1}).toISODate(),
                                session_start_date: null,
                                session_end_date: null,
                                inUse: false,
                                number: 1,
                                end_date: DateTime.fromObject({year: this.year, month: 10, day: 30}).toISODate(),
                            },
                            {
                                start_date: DateTime.fromObject({year: this.year, month: 11, day: 1}).toISODate(),
                                session_start_date: null,
                                session_end_date: null,
                                inUse: false,
                                number: 2,
                                end_date: DateTime.fromObject({year: this.year, month: 12, day: 28}).toISODate(),
                            },
                            {
                                start_date: DateTime.fromObject({year: (this.year + 1), month: 1, day: 11}).toISODate(),
                                session_start_date: null,
                                session_end_date: null,
                                inUse: false,
                                number: 3,
                                end_date: DateTime.fromObject({year: (this.year + 1), month: 6, day: 30}).toISODate(),
                            }
                        ];
                        this.$set(this.model, 'periods', trimester);
                        break;
                }
            }
        }
    }
</script>

<style scoped>

</style>
