<template>
    <div>
        <h2>Праздники</h2>
    </div>
</template>

<script>
    export default {
        name: "holidays",
        props: {
            holidays: {type: Array}
        }
    }
</script>

<style scoped>

</style>