<template>
    <el-row :gutter="10">
        <el-col :span="6">
            <el-form-item label="Дата начала">
                <el-date-picker
                        value-format="yyyy-MM-dd"
                        format="dd.MM.yyyy"
                        type="date"
                        :placeholder="$t('label.changeDate')"
                        v-model="value.start_date"
                        class="w100"
                        :picker-options="periodPickerOptions"
                >
                </el-date-picker>
            </el-form-item>
        </el-col>
        <el-col :span="6">
            <el-form-item label="Дата начала сессии">
                <el-date-picker
                        value-format="yyyy-MM-dd"
                        format="dd.MM.yyyy"
                        type="date"
                        :placeholder="$t('label.changeDate')"
                        v-model="value.session_start_date"
                        class="w100"
                        :picker-options="sessionPickerOptions"
                >
                </el-date-picker>
            </el-form-item>
        </el-col>
        <el-col :span="6">
            <el-form-item label="Дата окон. сессии">
                <el-date-picker
                        :disabled="!this.value.session_start_date"
                        value-format="yyyy-MM-dd"
                        format="dd.MM.yyyy"
                        type="date"
                        :placeholder="$t('label.changeDate')"
                        v-model="value.session_end_date"
                        class="w100"
                        :picker-options="sessionPickerOptions"
                >
                </el-date-picker>
            </el-form-item>
        </el-col>
        <el-col :span="6">
            <el-form-item label="Дата окончания">
                <el-date-picker
                        value-format="yyyy-MM-dd"
                        format="dd.MM.yyyy"
                        type="date"
                        :placeholder="$t('label.changeDate')"
                        v-model="value.end_date"
                        class="w100"
                        :picker-options="periodPickerOptions"
                >
                </el-date-picker>
            </el-form-item>
        </el-col>
    </el-row>
</template>

<script>
    import {DateTime} from 'luxon';
    import moment from 'moment';

    export default {
        name: "training-period",
        props: {
            value: {
                type: Object
            },
            academic_year: {
                type: Object
            }
        },
        created() {
            this.sessionPickerOptions = this.$pickerConfig({
                disabledDate: (date) => {
                    let start_date = moment(this.value.start_date).add(-1, 'days').format('YYYY-MM-DD');
                    return (date <= (new Date(start_date))) || (date >= (new Date(this.value.end_date)));
                }
            })
        },
        data() {
            return {
                periodPickerOptions: this.$pickerConfig({
                    disabledDate: (date) => {
                        return (date < (new Date(this.academic_year.start_date))) || (date >= (new Date(this.academic_year.end_date)));
                    }
                }),
                sessionPickerOptions: null
            }
        },
        mounted() {
            console.dir(this.academic_year);
        },
        methods: {}
    }
</script>

<style scoped>

</style>
