<template>
    <div class="calendar">
        <div class="calendar_header">
            <div class="calendar_title">
                <h2>{{calendar.name}}</h2>
            </div>
            <div class="calendar_action">
                <el-button type="text" v-if="!calendar.inUse">
                    Удалить
                </el-button>
            </div>
            <div class="calendar_action">
                <el-button type="primary" v-if="!calendar.inUse">
                    <i class="fa fa-edit"></i> Редактровать
                </el-button>
            </div>
        </div>
        <div class="calendar_periods">
            <calendar-period v-for="(period,index) in training_calendar.periods" :period="period" :key="index"
                             :index="index"
                             :calendar="training_calendar"></calendar-period>
        </div>
    </div>
</template>

<script>
    import CalendarPeriod from "./calendar-period";

    export default {
        name: "training-calendar",
        components: {CalendarPeriod},
        props: {
            calendar: {
                type: Object
            }
        },
        data() {
            return {
                training_calendar: this.calendar
            }
        },
        mounted() {
            this.$bus.on(`update-training-calendar-${this.calendar.id}`, data => {

            })
        }
    }
</script>

<style lang="scss" scoped>
    .calendar {
        padding: 5px;
        margin-bottom: 3em;
        border: 1px solid #DDD;

        &_header {
            display: flex;
            padding: 10px 0;

            h2 {
                font-size: 250%;
                line-height: 1.1;
                font-weight: 300;
                letter-spacing: -.06em;
                font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            }
        }

        &_title {
            flex-basis: 60%;
        }

        &_action {
            text-align: right;
            flex-basis: 20%;
            margin-left: 10px;
        }

        &_periods {

        }
    }
</style>