.btn {
  display: inline-block;
  margin-bottom: 0;
  font: normal 16px/40px "PT Sans", PTsans, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0;
  text-decoration: none !important;
  white-space: nowrap;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  user-select: none;
  transition: all ease 0.3s;

  &--blue {
    color: #157fc4;
    background: #dcecf6;
    @include spec-black-on-white(){
      color: white;
      background: black;
    }
    @include spec-yellow-on-black(){
      color: black;
      background: yellow;
    }

    &:hover {
      color: #ffffff;
      background: #157fc4;
      @include spec-black-on-white(){
        color: black;
        background: white;
      }
      @include spec-yellow-on-black(){
        color: yellow;
        background: black;
      }
    }
  }

  &--long {
    padding-left: 40px;
    padding-right: 40px;
  }
}