.container {
  &-white {
    background-color: white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    color: $text_color_gray;
    @include spec-yellow-on-black(){
      background-color: black;
    }
  }

  &-main {
    @extend .grid_container;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 15px;
  }

  &-information {
    grid-column: 4/15;
    @include media-large-device-up(){
      grid-column: 3/15;
    }
    @include media-small-device-down(){
      grid-column: 1/15;
    }
  }
}