.table-scroll {
  overflow-y: hidden !important;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  @include spec-black-on-white() {
    color: black !important;
  }
  th {
    font-weight: bold;
    background: #f7f7f7;
    @include dark-style() {
      color: $text_color_white;
      background: $dark-bg;
    }
    @include spec-yellow-on-black() {
      color: $yellow-text-black;
      background: $yellow-bg-yellow;
    }
    @include spec-blue-on-blue() {
      background: $blue-bg-blue;
      color: $blue-text-cyan;
    }
  }

  th, td {
    /**/
    padding: 10px;
    line-height: 20px;
    text-align: left;
    vertical-align: center;
    border: 1px solid #ededed;
    @include spec-yellow-on-black(){
      border-color: yellow !important;
    }
    @include spec-blue-on-blue(){
      border-color: $blue-cyan !important;
    }
  }

  td {
    @include yellow-style() {
      border-color: $yellow-bg-yellow;
      background: $yellow-bg-black;
    }
  }

  &-bordered {
    border: 1px solid #ededed;
    border-collapse: separate;
    border-left: 0;
    @include yellow-style() {
      border-color: $yellow-bg-yellow;
    }
  }
}

.education_link {
  @extend .link;

  &:hover {
    text-decoration: underline;
  }
}

.table-striped tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {
  background-color: rgba(24, 24, 24, 0.1);
  @include spec-blue-on-blue() {
    background-color: $blue-bg-cyan;
    color: $blue-text-blue !important;
  }
  @include spec-yellow-on-black() {
    border-color: $yellow-bg-yellow;
    background: $yellow-bg-black;
    color: $yellow-text-yellow !important;
  }
}