.text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-italic{
    font-style: italic;
  }
}

a {
  @extend .link;
  @include spec-black-on-white() {
    color: black;
    text-decoration: underline;
  }
  @include spec-yellow-on-black() {
    text-decoration: underline;
    color: yellow;
  }
  @include spec-blue-on-blue() {
    color: $blue-cyan;
  }
}

.bold {
  font-weight: bold;
}

label {
  font-weight: 700;
  @include spec-black-on-white() {
    color: black !important;
  }
  @include spec-yellow-on-black() {
    color: yellow !important;
  }
  @include spec-blue-on-blue() {
    color: $blue-cyan !important;
  }
}

.el-form-item__content {
  @include spec-black-on-white() {
    background: none !important;
  }
  @include spec-yellow-on-black() {
    background: none !important;
  }
  @include spec-blue-on-blue() {
    background: none !important;
  }
}

//p {
//  word-break: break-all;
//}
