.h1 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  @include media-large-device-up() {
    font-size: 24px;
  }
}

.link {
  //color: #157fc4;
  //text-decoration: none;
  @include spec-black-on-white() {
    color: black;
    text-decoration: underline;
  }
}

.information_title {
  font-size: 1.4em;
}

.no-list-style {
  list-style: none;
}

.no-padding {
  padding: 0;
}