
.clearfix {
  &::before, &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@mixin media-large-device-down() {
  @media only screen and (max-width: 1280px) {
    @content
  }
}

/**/


/* Medium Devices, Desktops */
@mixin media-medium-device-down() {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

/**/


/* Small Devices, Tablets */
@mixin media-small-device-down() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

/**/


/* Extra Small Devices, Phones */
@mixin media-extra-small-down() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

/**/


/* Custom, iPhone Retina */
@mixin media-extra-custom-small-down() {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@mixin media-extra-custom-small-up() {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

/**/


/* Extra Small Devices, Phones */
@mixin media-extra-small-up() {
  @media only screen and (min-width: 480px) {
    @content;
  }
}

/**/


/* Small Devices, Tablets */
@mixin media-small-device-up() {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

/**/


/* Medium Devices, Desktops */
@mixin media-medium-device-up() {
  @media only screen and (min-width: 992px) {
    @content
  }
}

/**/


/* Large Devices, Wide Screens */
@mixin media-large-device-up() {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin grid_column($start,$end) {
  grid-column: #{$start}/#{$end};
}

@for $i from 2 through 20 {
  $value: $i*5;
  .pt-#{$value} {
    padding-top: #{$i*5px};
  }
  .pb-#{$value} {
    padding-bottom: #{$i*5px};
  }

  .pl-#{$value} {
    padding-left: #{$i*5px};
  }
  .pr-#{$value} {
    padding-right: #{$i*5px};
  }

  .mt-#{$value} {
    margin-top: #{$i*5px};
  }
  .mb-#{$value} {
    margin-bottom: #{$i*5px};
  }

  .ml-#{$value} {
    margin-left: #{$i*5px};
  }
  .mr-#{$value} {
    margin-right: #{$i*5px};
  }
}

.w100 {
  width: 100% !important;
}
