@mixin spec-black-on-white {
  .special-color-black-on-white & {
    @content;
  }
}

@mixin spec-yellow-on-black {
  .special-color-yellow-on-black & {
    @content;
  }
}

@mixin spec-blue-on-blue {
  .special-color-blue-on-blue & {
    @content;
  }
}