<template>
    <div class="app-container">
        <div class="filter-container text-right">
            <el-button type="primary" @click="handleCreate">
                <i class="fa fa-plus"></i> Добавить
            </el-button>
        </div>
        <el-table
                :data="centers"
                style="width: 100%"
                stripe
                border
        >
            <el-table-column :label="$t('table.id')" prop="id" width="80"></el-table-column>
            <el-table-column :label="$t('label.name')">
                <template slot-scope="scope">
                    Отдел ВК {{scope.row.name}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('table.actions')" fixed="right" width="150">
                <template slot-scope="scope">
                    <el-button-group>
                        <el-button type="warning" @click="handleUpdate(scope.row)">
                            <i class="fa fa-edit"></i>
                        </el-button>
                        <el-button type="danger">
                            <i class="fa fa-trash"></i>
                        </el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import {index} from "../../../api/contingent/recruitentCenters";
    import CreateCenterModal from './CreateCenterModal'
    import UpdateCenterModal from './UpdateCenterModal'

    export default {
        name: "recruitment-centers-list",
        data() {
            return {
                centers: []
            }
        },
        mounted() {
            this.getAll();
            this.$bus.on('update-recruitment-centers-list', data => {
                this.getAll();
            });
        },
        methods: {
            getAll() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Загружаю список военкоматов, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                index()
                    .then(response => response.data)
                    .then(data => {
                        loading.close();
                        this.centers = data;
                    }, error => error.response.data)
                    .catch(data => {
                        loading.close();
                        this.$alert(data.message, 'Внимание, ошибка', {
                            confirmButtonText: 'Ок'
                        });
                    })
            },
            handleCreate() {
                this.$modal.show(CreateCenterModal, {},
                    {
                        name: 'CreateCenterModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            },
            handleUpdate(center) {
                this.$modal.show(UpdateCenterModal,
                    {
                        center
                    },
                    {
                        name: 'UpdateCenterModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            }
        }
    }
</script>

<style scoped>

</style>