@media screen and (max-width: 1218px){
  .employee{
    &-card{
      flex-basis: 27%;
    }
  }

}
@media screen and (max-width: 1040px){
  .employee{
    &-card{
      flex-basis: 26%;
    }
  }

}
@media screen and (max-width: 911px){
  .employee{
    &-card{
      flex-basis: 25%;
    }
  }

}

@media screen and (max-width: 813px){
  .employee{
    &-card{
      flex-basis: 24%;
    }
  }

}
@media screen and (max-width: 768px){
  .employee{
    &-card{
      flex-basis: 90%;
    }
  }

  h1{
    margin-top: 0;
    font: normal 18px/40px "PT Serif Caption", PTSerifCaption, "Times New Roman", Times, serif;
  }
  .content{
    max-width: 768px;
  }

  .breadcrumbs{

    &-items{
      display: block;
      &_item{
        display: inline-block;
        &-link{
          &:hover{
          }
        }
      }
    }
  }

  .news-item{
    &__title{
      &-link{

      }
    }
    &__date{

    }
    &-content{
      display: flex;
      flex-direction: column;
      &__image{
        max-width: 100%;
        &-img{

        }
      }
      &__preview{
        max-width: 100%;
        padding-left: 0;
        padding-top: 5px;
        &-text{
          margin: 0;
        }
      }
    }
  }


  .top_section{
    //position: fixed;
    //width: 100%;
    //margin-bottom: 510px;
    &_wrapper{
    }
    &_address{
      &_link{
        font-size: 12px;
      }
    }
    &_buttons{
      &_item{
        &__mobile_menu{
          display: block;
        }
      }
    }
  }
  .header{
    &_wrapper{
      flex-direction: column;
      padding: 0 15px;
    }
    &_main_info{
      width: 100%;
    }
    &_contact_info{
      &_enrollment{
        padding: 20px 0;
        margin-right: 20px;
        &_clock_icon{  }
        &_text{
          &_link{
            font-size: 14px;
          }
        }
      }
      &_phones{
        padding: 20px 0;
      }

    }
  }

  .college_info {
    &_wrapper {
    }
    &_text {
      width: 100%;
      &_description {
      }
      &_image{
        display: block;
      }
    }
    &_image {
      display: none;
      &_img {
        vertical-align: middle;
        max-width: 100%;
      }
    }
  }

  .side-bar{
    display: none;
  }

  .menu{
    display: none;
  }
  .news-index{
    &_wrapper{
      flex-direction: column;
    }
    &_last_news{
      width: auto;
      margin-right: 0px;
      margin-bottom: 10px;
    }
    &_news_list {
      width: auto;
    }
  }

  .footer {
    &_wrapper {
    padding: 15px;
    }
    &-menu{
      flex-direction: column;
      &-item{
        &_list{
          &_item{
            display: none;
            &_title{
            }
            &_sub-list{
              display: none;
              &_item{
                &_link{
                  &:hover{
                  }
                }
              }
            }
          }
        }
      }
    }
    &_informations{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &_main{
        flex-basis: 100%;
        &_college_name{
          text-align: center;
        }
      }
      &_contact{
        flex-basis: 100%;
        &_text{
          text-align: center;
        }
      }
    }
  }
}