.box {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  &-white {
    @include yellow-style() {
      background-color: $yellow-bg-black;
      color: $yellow-text-yellow;
    }
    @include blue-style() {
      background-color: $blue-bg-cyan;
      color: $blue-bg-blue;
    }
    background-color: white;
    color: #828282;
  }
}