.footer {
  background-color: #1c1c1c;
  @include dark-style() {
    background: $dark-white-bg;
    border-top: 2px solid #000;
  }
  @include yellow-style() {
    background: $yellow-bg-black;
    border-top: 2px solid $yellow-text-yellow;
  }
  @include blue-style() {
    background: $blue-bg-cyan;
    border-top: 2px solid $blue-bg-blue;
  }
  &_wrapper {
    padding: 70px 15px;
    line-height: 30px;
    @include media-mix('max-width:768px') {
      padding: 15px;
    }
  }
  &_repository {
    text-align: center;
    @include media-mix('max-width:768px') {
      font-size: 12px;
    }
  }
  &-menu {
    @include media-mix('max-width:768px') {
      display: none;
    }
    &-title{
      color: #FFFFFF;
      margin-bottom: 20px;
      @include dark-style() {
        color: $dark-black-text !important;
      }
      @include yellow-style() {
        color: $yellow-text-yellow !important;
      }
      @include blue-style() {
        color: $blue-text-blue !important;
      }
    }
    &-item {
      width: 100%;
      padding: 10px;
    }
    &-sub-items {
      padding: 0;
      width: 100%;
      list-style: none;
      clear: both;
      display: inline-grid;
      //grid-template-columns:  repeat(5, auto);
      grid-gap: 15px;
      grid-template-columns: repeat(4, 1fr);
      justify-items: start;
    }
    &-sub-item {
      padding: 5px;
      &-link {
        display: block;
        text-decoration: none;
        color: $text_color_gray;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &_informations {
    display: flex;
    justify-content: space-between;
    color: $text_color_white;
    @include media-mix('max-width:768px') {
      flex-direction: column;
    }
    @include dark-style() {
      color: $dark-black-text !important;
    }
    @include yellow-style() {
      color: $yellow-text-yellow !important;
    }
    &_main {
      flex-basis: 70%;
      @include media-mix('max-width:768px') {
        flex-basis: 100%;
      }
      &_college_name {
        @include media-mix('max-width:768px') {
          text-align: center;
        }
      }
    }
    &_contact {
      flex-basis: 30%;
      @include media-mix('max-width:768px') {
        flex-basis: 100%;
      }
      &_text {
        @include media-mix('max-width:768px') {
          text-align: center;
        }
      }
    }
  }
}