.library-items {
  display: flex;
  flex-wrap: wrap;
}

.library-item {
  padding: 20px;
  width: 50%;
  @include media-mix('max-width:768px') {
    width: 100%;
  }
}

.library-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 150px
}