@mixin setting-color-text($color,$bg-color) {
  .setting-color_text {
    color: $color;
    background: $bg-color;
  }
}

@mixin current-link($bg-color,$isImportans:false) {
  &.active {
    color: #FFF;
    @if ($isImportans) {
      background: $bg-color !important;
    } @else {
      background: $bg-color;
    }
  }
}

.special-vision-js {
  z-index: 850;
  @include media-mix('max-width:768px') {
    margin-right: 50px;
  }
}

.special-settings-on {
  .special-settings {
    display: block;
  }

  .special-vision-js {
    display: none;
  }
}

.special-image-grayscale {
  img {
    filter: grayscale(100%);
  }
}

.special-image-off {
  img {
    display: none;
  }
}

.special-settings {
  padding: 20px 0;
  background: #CCCCCC;
  color: #000;
  display: none;

  &_wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &_block {
    padding: .5em 1em;
    display: flex;
    align-items: center;

    &-name {
      color: black;
      display: block;
      padding: 8px 10px 8px 0;

    }

    a {
      color: #000;
      border: 2px solid #000;
      padding: 8px 10px;
      text-decoration: none !important;
      @include dark-style() {
        color: $dark-black-text;
        text-decoration: underline;
      }
      @include yellow-style() {
        color: black;
        text-decoration: underline;
      }

      &:hover {
        text-decoration: none;
      }

      @include current-link(#000, false)
    }
  }
}

.setting-fontsize {
  &_small {
    font-size: 16px;
  }

  &_normal {
    font-size: 20px;
  }

  &_big {
    font-size: 24px;
  }
}

.setting-color {
  &_text {
    font-weight: bold;
    padding: 4px .5em;
  }

  &_black {
    @include setting-color-text(#000, #FFF);
    @include current-link(#FFF, true);
  }

  &_black-on-yellow {
    @include setting-color-text(#000, #ff0);
    @include current-link(#ff0, true);
  }

  &_blue {
    @include setting-color-text(#143c5a, #9fd7ff);
    @include current-link(#9fd7ff, true);
  }
}

.setting-image {
  &_link {
    margin: 0 5px;
  }
}
