.tabs {
  width: 100%;
  &_header {
    list-style: none;
    display: flex;
    padding-left: 0px;
    &_item {

    }
    &_link {
      display: block;
      padding: 17px 30px;
      color: #157fc4;
      text-decoration: none;
    }
  }
  &_container {
    min-height: 20px;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    background: white;
    div {
      margin-right: 40px;
    }
  }
}

/*#tabs,#tabs2,#tabs3,#tabs4,#tabs5 {*/
/*width: 500px;*/
/*margin: 0 auto;*/
/*margin-bottom: 40px;*/
/*}*/

/*#tabs li,#tabs2 li,#tabs3 li,#tabs4 li,#tabs5 li {*/
/*float: left;*/
/*margin-right: 2px;*/
/*}*/

/*#tabs li a,#tabs2 li a,#tabs3 li a,#tabs4 li a,#tabs5 li a {*/
/*display: block;*/
/*padding: 17px 30px;*/
/*background: #544f6b;*/
/*text-decoration: none;*/
/*color: #8478B3;*/
/*}*/

/*#tabs li a:hover,#tabs2 li a:hover,#tabs3 li a:hover,#tabs4 li a:hover,#tabs5 li a:hover {*/
/*background: rgb(78, 74, 99);*/
/*}*/

//#tabs_container {
//  padding: 40px;
//  overflow: hidden;
//  position: relative;
//  background: white;
//}

//#tabs_container div {
//  margin-right: 40px;
//}

.transition {
  transition: all .3s ease-in-out;
  transition-delay: .3s;
}

.make_transist {
  transition: all .3s ease-in-out;
}

.hidescale {
  transform: scale(0.9);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  display: none;
}

.showscale {
  transform: scale(1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  transition-delay: .3s;
  display: block !important;
}

.hideleft {
  transform: translateX(-100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.showleft {
  transform: translateX(0px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  transition-delay: .3s;
}

.hidescaleup {
  transform: scale(1.1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.showscaleup {
  transform: scale(1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  transition-delay: .3s;
}

.hideflip {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  transform: rotatey(-90deg) scale(1.1);

  transform-origin: 50% 50%;
}

.showflip {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  transition-delay: .3s;

  transform: rotatey(0deg) scale(1);
  transform-origin: 50% 50%;
}

.tabulous_active {
  background: white !important;
  color: #655c89 !important;
}

.tabulousclear {
  display: block;
  clear: both;
}