@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,700");
@import "variables";
@import "scss/font-awesome";

* {
  @include dark-style() {
    color: $dark-black-text;
  }
  @include yellow-style() {
    color: $yellow-text-yellow;
  }
  @include blue-style() {
    color: $blue-bg-blue;
  }
}

body {
  background-color: #ededed;
  font-size: 16px;
  line-height: 20px;
  height: 100%;
  min-height: 100%;
  position: relative;
  color: $text_color_gray;
  transition: all ease 0.3s;
  @include dark-style() {
    color: $dark-black-text;
    background: $dark-white-bg;
  }
  @include yellow-style() {
    background: $yellow-bg-black;
  }
  @include blue-style() {
    background: $blue-bg-cyan;
  }
  @include font-small() {
    font-size: 16px;
  }
  @include font-normal() {
    font-size: 20px;
  }
  @include font-big() {
    font-size: 24px;
  }
}

h1 {
  margin-top: 0;
  font: normal 18px/40px "PT Serif Caption", PTSerifCaption, "Times New Roman", Times, serif;
}

.top_section {
  background-color: $top_section_bg;
  @include dark-style() {
    background: $dark-white-bg;
    border-bottom: 2px solid #000;
  }
  @include yellow-style() {
    background: $yellow-bg-black;
    border-bottom: 2px solid $yellow-text-yellow;
  }
  @include blue-style() {
    background: $blue-bg-cyan;
    border-bottom: 2px solid $blue-text-blue;
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
  }

  &_address {
    &_link {
      font-weight: 800;
      display: inline-block;
      padding: 15px;
      color: #FFF;
      @include media-mix('max-width:768px') {
        font-size: 12px;
      }
      @include dark-style() {
        color: $dark-black-text;
      }
      text-decoration: none;

      &_marker {
        padding-right: 5px;
      }

      &:hover {
        background: #106196;
        @include dark-style() {
          background: $dark-white-bg;
        }
        @include yellow-style() {
          background: $yellow-bg-black;
        }
        @include blue-style() {
          background: $blue-bg-cyan;
        }
      }
    }
  }

  &_buttons {
    display: flex;
    transition: .6s;

    &_item {
      font-size: 20px;
      font-weight: 800;
      display: inline-block;
      padding: 15px;
      color: #FFF;
      text-decoration: none;
      @include dark-style() {
        color: $dark-black-text;
      }

      &:hover {
        background: #106196;
        @include dark-style() {
          background: $dark-white-bg;
        }
        @include yellow-style() {
          background: $yellow-bg-black;
        }
        @include blue-style() {
          background: $blue-bg-cyan;
        }
      }

      &__mobile_menu {
        transition: .6s;
        display: none;
      }
    }
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFF;
  @include yellow-style() {
    background: $yellow-bg-black;
  }
  @include blue-style() {
    background: $blue-bg-cyan;
  }

  &_wrapper {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    @include media-mix('max-width:768px') {
      flex-direction: column;
      padding: 0 15px;
    }
  }

  &_main_info {
    display: flex;
    align-items: center;
    width: 60%;
    @include media-mix('max-width:768px') {
      width: 100%;
    }

    &_logo {
      padding-right: 20px;
      max-width: 109px;

      &_img {
        @extend .img;
      }
    }

    &_college_name {
      color: #CCCCCC;
      text-decoration: none !important;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &_contact_info {
    display: flex;
    flex-direction: column;
    @include media-mix('max-width:768px') {
      flex-direction: row;
    }

    &_enrollment {
      display: flex;
      padding: 5px 0;
      @include media-mix('max-width:768px') {
        padding: 20px 0;
        margin-right: 20px;
      }

      &_clock_icon {
        color: #828282;
        padding-right: 7px;
      }

      &_text {
        &_link {
          color: #157fc4;
          text-decoration: none;
          @include media-mix('max-width:768px') {
            font-size: 14px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &_phones {
      display: flex;
      padding: 40px 0;
      @include media-mix('max-width:768px') {
        padding: 20px 0;
      }

      &_icon {
        color: #828282;
        transform: rotate(45deg);
        padding-right: 15px;
      }

      &_text {
      }
    }

  }
}

@import "menu/top";

//.menu {
//  background-color: #FFFFFF;
//  position: relative;
//  @include media-mix('max-width:768px') {
//    display: none;
//  }
//  @include dark-style() {
//    border-bottom: 2px solid #000;
//  }
//  @include yellow-style() {
//    border-bottom: 2px solid $yellow-text-yellow;
//    background-color: $yellow-bg-black;
//  }
//  @include blue-style() {
//    border-bottom: 2px solid $blue-bg-blue;
//    background-color: $blue-text-cyan;
//  }
//  &-icon {
//    @include dark-style() {
//      color: $dark-black-text;
//    }
//    @include yellow-style() {
//      color: $yellow-text-yellow;
//    }
//    @include blue-style() {
//      color: $blue-bg-blue;
//    }
//  }
//  &_wrapper {
//    padding: 0 15px;
//    position: static !important;
//  }
//  &_items {
//    display: flex;
//    list-style: none;
//    padding: 0;
//    margin: 0;
//    &_item {
//      &_link {
//        padding: 10px;
//        font: normal 16px/30px "PT Sans", PTsans, Arial, sans-serif;
//        text-decoration: none !important;
//        color: $link_color;
//        display: block;
//        @include media-mix('max-width:906px') {
//          font: normal 14px/30px "PT Sans", PTsans, Arial, sans-serif;
//        }
//        @include dark-style() {
//          color: $dark-black-text;
//        }
//        &--hover {
//          color: #FFFFFF;
//          background: #45a3ba;
//          @include dark-style() {
//            color: $dark-text-color;
//            background: $dark-bg;
//          }
//          @include yellow-style() {
//            color: $yellow-text-black;
//            background: $yellow-bg-yellow;
//          }
//          @include blue-style() {
//            color: $blue-text-cyan;
//            background: $blue-bg-blue;
//          }
//        }
//      }
//      &_sub_items {
//        height: 0;
//        overflow: hidden;
//        opacity: 0;
//        position: absolute;
//        top: 100%;
//        left: 0;
//        right: 0;
//        z-index: 200;
//        background: #45a3ba;
//        @include dark-style() {
//          color: $dark-text-color;
//          background: $dark-bg;
//        }
//        @include yellow-style() {
//          background: $yellow-bg-yellow;
//        }
//        @include blue-style() {
//          background: $blue-bg-blue;
//        }
//        -webkit-transition-delay: .4s;
//        transition-delay: .4s;
//        &_item {
//          display: inline-block;
//          width: 20%;
//          vertical-align: text-top;
//          color: #FFFFFF;
//          text-decoration: none;
//          padding: 10px;
//          @include dark-style() {
//            color: $dark-text-color !important;
//          }
//          @include yellow-style() {
//            color: $yellow-text-black !important;
//          }
//          @include blue-style() {
//            color: $blue-text-cyan !important;
//          }
//          &:hover {
//            text-decoration: underline;
//          }
//        }
//        .content {
//          margin: 0 auto !important;
//        }
//        &--active {
//          height: auto;
//          overflow: visible;
//          opacity: 1;
//        }
//      }
//    }
//  }
//}

.menu-hamburger {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  padding: 16px;
  top: 0;
  right: 0;
  z-index: 800;
  box-sizing: border-box;
  color: $text_color_white;
  @include dark-style() {
    color: $dark-black-text;
  }
  @include yellow-style() {
    color: $yellow-text-yellow;
  }
  @include blue-style() {
    color: $blue-text-blue;
  }
  @include media-mix('max-width:768px') {
    display: block;
  }
}

.content {
  position: relative;
  margin: 0 auto;
  @include media-mix('max-width:768px') {
    max-width: 768px;
  }
  @include media-mix('min-width: 992px') {
    max-width: 992px;
  }
  @include media-mix('min-width: 1280px') {
    max-width: 1280px;
  }

}

.college_info {
  margin-top: 15px;
  background-color: #FFFFFF;
  color: $text_color_gray;
  @include dark-style() {
    color: $dark-black-text;
    border-bottom: 2px solid #000;
  }
  @include yellow-style() {
    background-color: $dark-black-text;
    border-bottom: 2px solid $yellow-text-yellow;
  }
  @include blue-style() {
    background-color: $blue-bg-cyan;
    border-bottom: 2px solid $blue-bg-blue;
  }

  &_wrapper {
    padding: 30px;
    display: flex;
  }

  &_text {
    width: 70%;
    padding-right: 20px;
    padding-left: 20px;
    @include media-mix('max-width:768px') {
      width: 100%;
    }

    &_description {

    }

    &_image {
      display: none;
      @include media-mix('max-width:768px') {
        display: block;
      }

      &_img {
        max-width: 100%;
        vertical-align: middle;
        margin: 0 auto;
        display: block;
      }
    }
  }

  &_image {
    @include media-mix('max-width:768px') {
      display: none;
    }

    &_img {
      vertical-align: middle;
      max-width: 100%;
    }
  }
}

.news-index {
  margin: 20px 0;
  color: $text_color_gray;
  @include dark-style() {
    color: $dark-black-text;
  }

  &_wrapper {
    display: flex;
    padding: 0 15px;
    @include media-mix('max-width:768px') {
      flex-direction: column;
    }
  }

  &_header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    &_all_news {
      &_link {
        display: inline-block;
        vertical-align: middle;
        color: #157fc4;
        text-decoration: none;
        padding-top: 20px;

        &:hover {
          text-decoration: underline;
        }

        i {
          padding-left: 5px;
          vertical-align: middle;
        }
      }
    }
  }

  &_last_news {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
    padding: 30px;
    @include media-mix('max-width:768px') {
      width: auto;
      margin-right: 0;
      margin-bottom: 10px;
    }
    @include yellow-style() {
      background-color: $yellow-bg-black;
    }
    @include blue-style() {
      background-color: $blue-bg-cyan;
    }

    &_date {
      font-size: 14px;
      margin-bottom: 20px;
      @include font-small() {
        font-size: 16px;
      }
      @include font-normal() {
        font-size: 20px;
      }
      @include font-big() {
        font-size: 24px;
      }
    }

    &_image {
      &_img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
      }
    }

    &_text {
      &_title {
        word-break: break-all;
        font: normal 16px/25px "PT Sans", PTsans, Arial, sans-serif;

        &_link {
          text-decoration: none;
          color: #157fc4;
          @include font-small() {
            font-size: 16px !important;
          }
          @include font-normal() {
            font-size: 20px !important;
          }
          @include font-big() {
            font-size: 24px !important;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &_news_text {
        font-size: 16px;
        @include font-small() {
          font-size: 16px;
        }
        @include font-normal() {
          font-size: 20px;
        }
        @include font-big() {
          font-size: 24px;
        }
      }
    }
  }

  &_news_list {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 50%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 30px;
    @include media-mix('max-width:768px') {
      width: auto;
    }
    @include yellow-style() {
      background-color: $yellow-bg-black;
    }
    @include blue-style() {
      background-color: $blue-bg-cyan;
    }

    &_item {
      border-bottom: 2px solid gray;
      margin-bottom: 10px;

      &:last-child {
        border-bottom: none;
      }

      &_date {
        font-size: 14px;
        margin-bottom: 20px;
        @include font-small() {
          font-size: 16px !important;
        }
        @include font-normal() {
          font-size: 20px !important;
        }
        @include font-big() {
          font-size: 24px !important;
        }
      }

      &_text {
        &_title {
          text-transform: none;
          font: normal 16px/25px "PT Sans", PTsans, Arial, sans-serif;
          @include font-small() {
            font-size: 16px !important;
          }
          @include font-normal() {
            font-size: 20px !important;
          }
          @include font-big() {
            font-size: 24px !important;
          }

          &_link {
            text-decoration: none;
            color: #157fc4;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &_text {

        }
      }
    }

  }
}

.container-main {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  padding: 0 15px;
  align-items: flex-start;
  align-content: flex-start;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  width: 100%;

  &-items {
    color: $text_color_gray;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    @include media-mix('max-width:768px') {
      display: block;
    }
    @include dark-style() {
      color: $dark-black-text;
    }

    &_item {
      margin: 0 10px 0 0;
      @include media-mix('max-width:768px') {
        display: inline-block;
      }

      &-link {
        color: $text_color_gray;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.information {
  &-top {
    display: flex;
    justify-content: space-between;
    @include media-mix('max-width:768px') {
      flex-direction: column;
    }
  }

  padding: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
  @include yellow-style() {
    background-color: $yellow-bg-black;
  }
  @include blue-style() {
    background-color: $blue-bg-cyan;
  }

  &_title {
    margin-top: 0;
    font: normal 18px/40px "PT Serif Caption", PTSerifCaption, "Times New Roman", Times, serif;
  }
}

.no-padding {
  &--left {
    padding-left: 0;
  }

  &--right {
    padding-right: 0;
  }

  &--top {
    padding-top: 0;
  }

  &--bottom {
    padding-bottom: 0;
  }

  &--all {
    padding: 0;
  }
}

.list {
  &-item {
    &-link {
      color: $link_color;
      text-decoration: none;
    }
  }

  &--no-list-style {
    list-style: none;
  }
}

.programs {

}

.side-bar {
  flex-basis: 20%;
  margin-right: 15px;
  @include media-mix('max-width:768px') {
    display: none;
  }

  &_nav {
    padding: 20px;
    background-color: #FFFFFF;
    @include yellow-style() {
      background-color: $yellow-bg-black;
    }
    @include blue-style() {
      background-color: $blue-bg-cyan;
    }

    &-items {
      list-style: none;
      padding-left: 0;

      &_item {
        margin-left: -20px;
        margin-right: -20px;

        &--active {
          border-left: 4px solid #157fc4;
          @include dark-style() {
            border: none;
            background: $dark-bg;
          }
          @include yellow-style() {
            border: none;
            background: $yellow-bg-yellow;
          }
          @include blue-style() {
            border: none;
            background: $blue-bg-blue;
          }

          a {
            @include dark-style() {
              color: $dark-text-color !important;
            }
            @include yellow-style() {
              color: $yellow-text-black !important;
            }
            @include blue-style() {
              color: $blue-text-cyan !important;
            }
          }
        }

        &-link {
          display: block;
          padding: 5px 10px 5px 20px;
          border-left: solid 4px transparent;
          transition: all ease 0.3s;
          text-decoration: none;
          color: $link_color;

          &:hover {
            @include dark-style() {
              background: $dark-bg;
              color: $dark-text-color !important;
            }
            @include yellow-style() {
              background: $yellow-bg-yellow;
              color: $yellow-text-black !important;
            }
            @include blue-style() {
              color: $blue-text-cyan !important;
              background: $blue-bg-blue;
            }
            text-decoration: underline;
          }

        }
      }
    }
  }
}

@import "footer";

.h1 {
  color: #1c1c1c;
  @include dark-style() {
    color: $dark-black-text;
  }
  @include yellow-style() {
    color: $yellow-text-yellow;
  }
  @include blue-style() {
    color: $blue-text-blue;
  }
  margin-top: 0;
  font: normal 18px/40px "PT Serif Caption", PTSerifCaption, "Times New Roman", Times, serif;
  @include media-mix('min-width:1380px') {
    font-size: 26px;
  }

  &_small {
    font-size: 16px;
    color: #828282;
    line-height: 20px;
    font-family: "PT Sans", PTsans, Arial, sans-serif;
    @include dark-style() {
      color: $dark-black-text;
    }
    @include yellow-style() {
      color: $yellow-text-yellow;
    }
    @include blue-style() {
      color: $blue-text-blue;
    }
  }
}

.menu_icon {
  &::before {
    padding-left: 10px;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font: normal 16px/40px "PT Sans", PTsans, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0;
  text-decoration: none !important;
  white-space: nowrap;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  user-select: none;
  transition: all ease 0.3s;

  &--blue {
    color: #157fc4;
    background: #dcecf6;
    @include dark-style() {
      color: $dark-text-color;
      background: $dark-bg;
    }
    @include yellow-style() {
      color: $yellow-bg-black;
      background: $yellow-bg-yellow;
    }

    &:hover {
      color: #ffffff;
      background: #157fc4;
      text-decoration: none;
      @include dark-style() {
        background: $dark-text-color;
        color: $dark-bg;
        text-decoration: underline;
      }
      @include yellow-style() {
        background: $yellow-bg-black;
        color: $yellow-bg-yellow;
      }
    }
  }

  &--active {
    color: #ffffff;
    background: #157fc4;
    text-decoration: none;
  }

  &--filter {
    &:first-child {
      border-radius: 20px 0 0 20px;
    }

    &:last-child {
      border-radius: 0 20px 20px 0;
    }
  }

  &--long {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.table-scroll {
  overflow-y: hidden !important;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  th {
    font-weight: bold;
    background: #f7f7f7;
    @include dark-style() {
      color: $text_color_white;
      background: $dark-bg;
    }
    @include yellow-style() {
      color: $yellow-text-black;
      background: $yellow-bg-yellow;
    }
    @include blue-style() {
      background: $blue-bg-blue;
      color: $blue-text-cyan;
    }
  }

  th, td {
    /**/
    padding: 10px;
    line-height: 20px;
    text-align: left;
    vertical-align: center;
    border: 1px solid #ededed;
  }

  td {
    @include yellow-style() {
      border-color: $yellow-bg-yellow;
      background: $yellow-bg-black;
    }
  }

  &-bordered {
    border: 1px solid #ededed;
    border-collapse: separate;
    border-left: 0;
    @include yellow-style() {
      border-color: $yellow-bg-yellow;
    }
  }
}

.education_link {
  @extend .link;

  &:hover {
    text-decoration: underline;
  }
}

.table-striped tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {
  background-color: rgba(24, 24, 24, 0.1);
  @include dark-style() {
    color: black !important;
  }
  @include blue-style() {
    background-color: $blue-bg-cyan;
    color: $blue-text-blue !important;
  }
  @include yellow-style() {
    border-color: $yellow-bg-yellow;
    background: $yellow-bg-black;
    color: $yellow-text-yellow !important;
  }
}

.mobile-menu {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  position: fixed;
  display: block;
  background: $top_section_bg;
  overflow-y: scroll;
  overflow-x: hidden;
  transition-duration: 0.5s;
  transform: translateX(100%);
  @include dark-style() {
    background: $dark-white-bg;
  }
  @include yellow-style() {
    background: $yellow-bg-black;
  }
  @include blue-style() {
    background: $blue-bg-cyan;
  }

  &__items {
    background: rgba(24, 24, 24, 0.3);
    margin: 50px 20px 20px;
    border-radius: 3px;
    list-style: none;
    padding-left: 0;
    @include dark-style() {
      background: $dark-white-bg;
    }
    @include yellow-style() {
      background: $yellow-bg-black;
    }
    @include blue-style() {
      background: $blue-bg-cyan;
    }

    &-item {
      &:first-child {
        border-radius: 3px 3px 0 0;
      }
    }
  }

  &__link {
    @include mobile-link();
    text-decoration: none;
    text-transform: uppercase;
  }

  &__sub {
    display: none;

    &-items {
      background: rgba(24, 24, 24, 0.1);
      list-style: none;
      padding-left: 0px;
      text-transform: none;

      &-link {
        @include mobile-link();
        @include dark-style() {
          color: $dark-black-text !important;
        }
        text-transform: none;
      }
    }

    &--active {
      @include dark-style() {
        color: $dark-text-color !important;
        background: $dark-bg;
      }
      @include yellow-style() {
        background: $yellow-bg-yellow;
        color: $yellow-text-black !important;
      }
      @include blue-style() {
        background: $blue-bg-blue;
        color: $blue-text-cyan !important;
      }
    }
  }

  &--active {
    transform: scale(1);

  }
}

.news {
  &-navigation {
    display: flex;
    flex-direction: row;
  }

  &-next, &-previous {
    padding: 10px;
    width: 50%;
  }

  &-previous {
    text-align: right;
  }

}

.news-item {
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  padding-top: 15px;

  &:first-child {
    padding-top: 0;
  }

  &__title {
    font: normal 16px/25px "PT Sans", PTsans, Arial, sans-serif;

    &-link {
      text-transform: none;
      @extend .link;
    }
  }

  &__date {
    margin: 7px auto;
  }

  &-content {
    display: flex;
    flex-direction: row;
    @include media-mix('max-width:768px') {
      flex-direction: column;
    }

    &__image {
      width: 40%;
      @include media-mix('max-width:768px') {
        width: 100%;
      }

      &-img {
        @extend .img;
        display: block;
        margin: 0 auto;
      }
    }

    &__preview {
      max-width: 70%;
      padding-left: 10px;
      text-align: justify;
      @include media-mix('max-width:768px') {
        max-width: 100%;
        padding-left: 0;
        padding-top: 5px;
      }

      p {
        margin: 0;
      }
    }
  }
}

.news-detail {
  &-top {
    display: flex;
  }

  &__date {
    min-width: 50%;
  }

  &-return-to-news {
    min-width: 50%;
    text-align: right;

    &__link {
      @extend .link;
    }
  }

  &-image {
    @extend .img;
    padding: 0 15px 15px 0;
  }
}

.employees {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include media-mix('max-width:768px') {
    //justify-content: left;
  }

  &-table {
    margin: 10px auto !important;
    border-bottom: none !important;
  }
;
}

.employee {
  &_info {

  }

  &_personal {
    display: flex;
    @include media-mix('max-width:768px') {
      flex-direction: column;
    }

    &_work-info {
      width: 60%;
      @include media-mix('max-width:768px') {
        width: 100%;
      }
    }
  }

  &_photo {
    width: 40%;
    padding-right: 15px;
    display: flex;
    @include media-mix('max-width:768px') {
      width: 100%;
      padding-right: 0;
      margin-bottom: 10px;
    }

    img {
      @extend .img;
      display: block;
      margin: 0 auto;
      align-self: center;
    }
  }

  &-card {
    flex-basis: 28%;
    flex-shrink: 1;
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #ededed;
    @include media-mix('max-width:1218px') {
      flex-basis: 27%;
    }
    @include media-mix('max-width:1040px') {
      flex-basis: 26%;
    }
    @include media-mix('max-width:911px') {
      flex-basis: 25%;
    }
    @include media-mix('max-width813px') {
      flex-basis: 24%;
    }
    @include media-mix('max-width:768px') {
      flex-basis: 90%;
    }

    &-photo {
      display: block;
      text-align: center;
    }

    &-info {
      padding: 10px;
      text-align: center;
    }
  }

  &-personal {
    &-link {
      @extend .link;
    }
  }

  &-photo {
    @extend .img;
    max-height: 160px;
  }
}

.no-scroll {
  word-wrap: break-word;
}

.dataTables {
  &_filter {
    margin-bottom: 10px;
  }
}

table.dataTable thead td, table.dataTable thead th {
  padding: 10px;
  border-bottom: none;
}

.dataTables_wrapper {
  & .dataTables_info, & .dataTables_length, & .dataTables_filter {
    color: $text_color_gray;
    @include dark-style() {
      color: $dark-black-text;
    }
    @include yellow-style() {
      color: $yellow-bg-yellow;
    }
    @include blue-style() {
      color: $blue-text-blue;
    }
  }

  & .dataTables_length {
    select {
      color: $text_color_gray;
      @include dark-style() {
        color: $dark-black-text;
      }
      @include yellow-style() {
        color: $yellow-bg-yellow;
        background-color: black;
      }

    }
  }

  & .dataTables_paginate {
    & .paginate_button {
      color: $text_color_gray !important;
      @include dark-style() {
        color: $dark-black-text !important;
      }
      @include yellow-style() {
        color: $yellow-bg-yellow !important;
      }
      @include blue-style() {
        color: $blue-text-blue !important;
      }

      &:hover, &.current {
        border: 1px solid white !important;
        color: $text_color_gray !important;
        background: rgba(24, 24, 24, 0.1) !important;
        @include dark-style() {
          color: $dark-text-color !important;
          background: $dark-bg !important;
          border: 1px solid $dark-bg !important;
        }
        @include yellow-style() {
          color: $yellow-bg-black !important;
          background: $yellow-bg-yellow !important;
          border: 1px solid $yellow-bg-yellow !important;
        }
        @include blue-style() {
          color: $blue-bg-cyan !important;
          background: $blue-bg-blue !important;
          border: 1px solid $blue-bg-blue !important;
        }
      }

    }
  }
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;

  li {
    a, span {
      display: block;
      padding: 15px;
      color: #828282 !important;
      text-decoration: none;
      @include dark-style() {
        color: $dark-black-text !important;
      }
      @include yellow-style() {
        color: $yellow-text-yellow !important;
      }
      @include blue-style() {
        color: $blue-text-blue !important;
      }

      &:hover {
        border: 1px solid white !important;
        color: #828282 !important;
        background: rgba(24, 24, 24, 0.1) !important;
        @include dark-style() {
          color: $dark-text-color !important;
          background: $dark-bg !important;
          border: 1px solid $dark-bg !important;
        }
        @include yellow-style() {
          color: $yellow-bg-black !important;
          background: $yellow-bg-yellow !important;
          border: 1px solid $yellow-bg-yellow !important;
        }
        @include blue-style() {
          color: $blue-bg-cyan !important;
          background: $blue-bg-blue !important;
          border: 1px solid $blue-bg-blue !important;
        }
      }
    }

    &.active {
      span {
        border: 1px solid white !important;
        color: #828282 !important;
        background: rgba(24, 24, 24, 0.1) !important;
        @include dark-style() {
          color: $dark-text-color !important;
          background: $dark-bg !important;
          border: 1px solid $dark-bg !important;
        }
        @include yellow-style() {
          color: $yellow-bg-black !important;
          background: $yellow-bg-yellow !important;
          border: 1px solid $yellow-bg-yellow !important;
        }
        @include blue-style() {
          color: $blue-bg-cyan !important;
          background: $blue-bg-blue !important;
          border: 1px solid $blue-bg-blue !important;
        }
      }
    }

    &.disabled {
      span {
        &:hover {
          background: none !important;
          border: none !important;
          @include dark-style() {
            color: $dark-black-text !important;
          }
          @include yellow-style() {
            color: $yellow-text-yellow !important;
          }
          @include blue-style() {
            color: $blue-text-blue !important;
          }
        }

      }
    }
  }
}

.accordion {
  &_icon {
    padding-right: 5px;
  }

  &_link {
    padding: 5px;
    display: block;
  }

  &_body {
    display: none;
    transition: all .5s ease;

    &.open {
      display: block;
      transition: all .5s ease;
    }
  }
}

.files {
  padding: 10px 10px 10px 10px;
}

.tab {
  display: none;

  &.active {
    display: block;
  }
}

.button-group {
  display: flex;
  @include media-mix('max-width:768px') {
    padding-bottom: 20px;
  }
}

.documents {
  &-title {
    font-size: 18px;
  }

  &-sub-title {
    font-size: 16px;
  }
}

.top-message {
  padding: 20px 10px;
  text-align: center;
  @include media-mix('max-width:768px') {
    display: none;
  }
}

.announcements {
  &-wrapper {
    padding: 0 15px;
  }

  &-item {
    padding: 15px;
  }
}

.announcement {
  display: grid;
  grid-template-areas: 'header header main main' 'header header footer footer';
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-auto-flow: column;
  @include yellow-style() {
    background-color: $yellow-bg-black;
    color: $yellow-text-yellow;
  }
  @include media-mix('max-width:768px') {
    grid-gap: 1px;
    grid-template-columns: 100%;
    grid-template-areas: 'main main' 'header header' 'footer footer';
  }

  &-image {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-area: header;
  }

  &-title {
    grid-column-start: 4;
    grid-column-end: 12;
    grid-area: main;
    word-break: break-all;

    &-link {
      font: normal 16px/25px "PT Sans", PTsans, Arial, sans-serif;
    }
  }

  &-preview {
    grid-area: footer;
  }
}

.error {
  &-wrapper {
    margin: 20px auto;
  }

  &-block {
    padding: 30px;
  }

  &-content {
    text-align: center;
  }
}

.training-types {
  display: none;
}

@import "special-settings";
@import "tabs";
@import "library";
@import "box";