<template>
    <div id="app">
        <router-view/>
        <v-dialog/>
        <modals-container></modals-container>
    </div>
</template>

<script>
    export default {
        name: 'App',
        data() {
            return {}
        }

    }
</script>
<style lang="scss">

    .no-float-label {
        .el-form-item__label {
            float: none !important;
        }
    }

    .dropdown.full-width {
        .dropdown-menu {
            width: 100%;
        }
    }

    .table.is-big-font {
        td {
            font-size: 18px;
            vertical-align: middle;
        }
    }

    .el-table .cell {
        hyphens: auto;
    }

    .el-message-box.full-width {
        width: 60%;
    }

    .table-responsive {
        overflow-x: scroll;
    }

    .custom-card {
        .el-card__body {
            overflow: hidden;
            padding: 0;
        }
    }

    .mce-container {
        overflow: auto !important;
    }

    .sub-navbar.deleted, .sub-navbar.draft {
        background: #d0d0d0;
    }

    .el-form {
        .editor-container {
            min-height: 200px;
            margin: 0 0 30px;

            .editor-upload-btn-container {
                text-align: right;
                margin-right: 10px;

                .editor-upload-btn {
                    display: inline-block;
                }
            }
        }
    }

    .no-report {
        max-width: 500px;
        text-align: center;
        padding: 1em 0;
        margin: 4em auto;
    }

    $color: #606266;
    .v-modal, .v--modal-overlay {
        z-index: 1500 !important;
    }

    .v-dialog__content {
        .v-dialog {
            display: block !important;
            box-shadow: none;
        }
    }

    .user-photo {
        margin: 10px 0;

        .userpic {
            border: 1px solid #ddd;
            height: 197px;
            overflow: hidden;
            position: relative;
            width: 150px;
            background: #FFF url("./img/nophoto.png") no-repeat center;
            margin: 0 auto;

            &:hover {
                .actions {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(0%, 0%);
                    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
                }
            }

            img {
                width: 100%;
                height: 100%;
            }

            .actions {
                left: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                bottom: 0;
                background: #FFF;
                list-style: none;
                padding: 0;
                position: absolute;
                visibility: hidden;
                font-size: 12px;
                transform: translate(0%, 100%);
                transition: transform 0.2s 0.5s, opacity 0.2s 0.5s, visibility 0.2s 0.5s, -webkit-transform 0.2s 0.5s;
                backface-visibility: hidden;

                li {
                    margin: 0 3px;
                    display: block;
                    cursor: pointer;
                    padding: 5px 6px;
                    position: relative;
                    text-align: center;

                    input {
                        top: 0;
                        right: 0;
                        opacity: 0;
                        width: 200%;
                        height: 100%;
                        cursor: pointer;
                        position: absolute;
                    }
                }
            }
        }
    }

    .w100 {
        width: 100% !important;
    }

    .link {
        color: #0a76a4;
    }

    .hide {
        display: none;
    }

    .box-card {
        width: 100%;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    [data-prefix] {
        &::before {
            content: attr(data-prefix);
            white-space: pre;
        }
    }

    div.information {
        width: 100%;
        overflow-wrap: break-word;
        //div {
        //  display: table-cell;
        //}
        div.photo {
            padding-left: 15px;
        }

        min-height: 1px;

        h3 {
            margin-top: 0;
            color: #888;
            text-align: center;
        }

        div.personal {
            vertical-align: top;
        }

        p {
            //margin: 0 0.5em;
            margin-left: 0.5em;
            margin-right: 0.5em;
            margin-top: -1px;

            [data-prefix] {
                &::before {
                    color: #888;
                }

                display: inline-block;
                margin: 0 0.8em 0 0;
                max-width: 100%;
                vertical-align: top;
            }
        }
    }

    .big {
        font-size: 16px;
    }

    .custom-checkbox-group {
        font-size: inherit;

        .permissions-group {
            .permissions {
                display: flex;
                flex-direction: column;
                padding: 10px;

                .el-checkbox {
                    padding: 4px 0;

                    & + .el-checkbox {
                        margin-left: 0;
                    }
                }
            }
        }
    }

</style>
