@mixin media-mix($var) {
  @media screen and ($var) {
    @content;
  }
}
.green{
  color: #590;
  background: #F0F9D9;
}

.blue{
  color: #07B;
  background: #D9F0FF;
}

@for $i from 1 through 10{

  $value:$i*10;
  .w-#{$value}{
    width: #{$value}% !important;
  }
}