@import "vars";

.custom-breadcrumbs {
  float: none !important;
  position: inherit !important;
  padding-left: 12px !important;
  padding-top: 5px !important;
  padding-bottom: 15px !important;
}

.table-buttons .btn {
  margin-right: 3px;
  margin-bottom: 5px;
}

.profile-user-img {
  cursor: pointer;
  width: auto;
  max-width: 100%;
}

.period-string {
  vertical-align: top;
  font-size: 1.5em;
  color: #717171;
  font-weight: bold;
  font-style: italic;
  display: flex;
  min-height: 59px;
  align-items: end;
  &-js {
    height: 35px;
    width: 100%;
    justify-content: end;
  }
}

.datepicker {
  z-index: 100000 !important;
  display: block;
}

.shortcuts {
  &-item {
    list-style: none;
    width: 100%;
    float: left;
    padding: 3px;
  }
  &-link {
    padding: .5em;
    display: block;
    font-size: 160%;
    @media screen and(min-width: 992px) and(max-width: 1270px) {
      font-size: 16px;

    }
    line-height: 1.2;
    overflow: hidden;
    &--green {
      @extend .green
    }
    &--blue {
      @extend .blue
    }
    &:hover {
      color: #FFF !important;
      background: #09E !important;
    }
  }
}

.news-img {
  max-width: 250px;
}

.buttons {
  margin: 15px 0;
}

.subjects {
  display: flow-root;
}

.calc-button {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  button {
    align-self: center;
  }
}

.subject-ball {

}

.scroller {
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #E0E0E0;
  height: 300px;
}

.enrollees-list-js, .students-list-js {
  td {
    padding: 10px;
  }
}

.noreport {
  padding: 1em 0;
  margin: 4em auto;
  max-width: 500px;
  text-align: center;
  &-title {

  }
  &-text {

  }
}

.report {
  display: none;
}

#before-load {
  position: fixed; /*фиксированное положение блока*/
  left: 0; /*положение элемента слева*/
  top: 0; /*положение элемента сверху*/
  right: 0; /*положение элемента справа*/
  bottom: 0; /*положение элемента снизу*/
  background: #fff; /*цвет заднего фона блока*/
  z-index: 9999; /*располагаем его над всеми элементами на странице*/
  opacity: 0.7;
  i {
    font-size: 70px; /*размер иконки*/
    position: absolute; /*положение абсолютное, позиционируется относительно его ближайшего предка*/
    left: 50%; /*слева 50% от ширины родительского блока*/
    top: 40%; /*сверху 50% от высоты родительского блока*/
    margin: -35px 0 0 -35px; /*смещение иконки, чтобы она располагалась по центру*/
  }
  .preload-text {
    text-align: center;
    font-size: 50px;
    width: 100%;
    position: absolute;
    top: 45%;
  }
}

.news-file {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  display: block;
  &-edit {
    display: none;
  }
}

.dropzone {
  font-size: 18px;
  text-align: center;

  width: 100%;
  padding: 50px 0;
  margin: 50px auto;

  border-radius: 5px;
  transition: all 0.2s;
  background: #f8fdff;
  border: 2px dotted #88d4ff;
  color: #07B;
  cursor: pointer;
  &.hover, &:hover {
    background: #dff3ff;
    border-color: #09E;
  }

  &.error {
    background: #faa;
    border-color: #f00;
  }
  &.drop {
    background: #afa;
    border-color: #0f0;
  }
}

.tochka-photo {
  margin-bottom: 10px;
  &:hover {
    .actions {
      opacity: 1;
      visibility: visible;
      transform: translate(0%, 0%);
      transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
    }
  }
  .actions {
    left: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    bottom: 3px;
    background: #FFF;
    position: absolute;
    visibility: hidden;
    text-align: center;
    a {
      margin: 0 3px;
      display: block;
      cursor: pointer;
      padding: 5px 6px;
      position: relative;
      text-align: center;
      background-color: #FFF;
    }
  }
}

.tochka-img {
  max-width: 100%;
}

input.error, select.error {
  border: 1px solid #ff0000;
}

label.error {
  color: #ff0000;
  font-weight: normal;
}

.report {
  &-wrapper {
    color: black !important;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &_header {
    text-align: center;
    padding-bottom: 20px;
    h2 {
      font-size: 16px;
    }
  }
  tr, th {
    padding: 10px;
  }
}

.reference {
  color: black !important;
  padding-top: 55px;
  padding-bottom: 40px;
  border-bottom: 1px dashed black;
  &-content {
    font-size: 15px;
    text-align: justify;
    .format {
      display: flex;
      &-border {
        border-bottom: 1px solid black;
      }
    }
    .director {
      padding-top: 25px;
      table {
        width: 100%;
        color: black !important;
      }
    }
    .format {
      padding: 0;
    }
    p {
      margin-bottom: 0;
    }

    table {
      width: 100%;
      color: black !important;
      font-size: 15px;
    }
  }
  &-title {
    font-size: 18px;
    text-align: center;
  }
}

[data-prefix] {
  &::before {
    content: attr(data-prefix);
    white-space: pre;
  }
}

div.information {
  width: 100%;
  overflow-wrap: break-word;
  //div {
  //  display: table-cell;
  //}
  div.photo {
    padding-left: 15px;
  }
  min-height: 150px;
  h3 {
    margin-top: 0;
    color: #888;
    text-align: center;
  }
  div.personal {
    vertical-align: top;
  }
  p {
    //margin: 0 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: -1px;
    [data-prefix] {
      &::before {
        color: #888;
      }
      display: inline-block;
      margin: 0 0.8em 0 0;
      max-width: 100%;
      vertical-align: top;
    }
  }
}

.big {
  font-size: 16px;
}

.passport-form {
  display: none;
}

.education-form {
  display: none;
}

.additional-form {
  display: none;
}

.addresses-form {
  display: none;
}

.easy-autocomplete.eac-bootstrap {
  width: 100% !important;
}

.report-content {
  font-size: 10pt;
  overflow: hidden;
  overflow-x: auto;
  background: #FFF;
  border: 1px solid #EEE;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08)
}

@media screen and(min-width: 992px) and(max-width: 1270px) {
  .box-title {
    font-size: 14px !important;
  }

}