<template>
    <div>
        <v-dialog persistent max-width="700px">
            <v-card>
                <v-card-title>
                    <span class="headline">Обновление компонента</span>
                </v-card-title>
                <v-card-text>
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-alert v-if="errors.length>0"
                                      title="Произошла ошибка"
                                      type="error"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <el-form :model="model" :rules="rules" ref="EditComponentForm" label-position="top"
                                 class="demo-ruleForm">
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item :label="$t('label.name')" prop="name">
                                        <el-select filterable
                                                   allow-create v-model="model.name" :placeholder="$t('label.name')"
                                                   class="w100">
                                            <el-option
                                                    v-for="(filename,key) in fileNames"
                                                    :key="filename.text"
                                                    :label="filename.text"
                                                    :value="filename.text"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-form-item :label="$t('label.sort')" prop="sort">
                                        <el-input-number v-model="model.sort" :min="1" :max="500"
                                                         class="w100"></el-input-number>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                    </el-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button :loading="loading" :disabled="loading" round @click="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" :loading="loading" :disabled="loading" round
                               @click="handleUpdate">
                        {{$t('form.update')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {fileNames} from "../../constants";
    import {update} from "../../api/documents/components";

    export default {
        name: "edit-component-modal",
        props: {
            component: {
                type: Object
            },
            index: {
                type: Number
            }
        },
        data() {
            return {
                errors: [],
                fileNames,
                loading: false,
                model: {
                    name: null,
                    sort: 1,
                    file: null
                },
                rules: {
                    name: [
                        {required: true, message: 'Не заполнено название компонента', trigger: 'change'}
                    ],
                    sort: [
                        {required: true, message: 'Не указан порядок сортировки', trigger: 'blur'}
                    ]
                }
            }
        },
        mounted() {
            this.model = {...{}, ...this.component};
        },
        methods: {
            handleClose() {
                this.$modal.hide('EditComponentModal')
            },
            handleUpdate() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Обновляю компонент, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });

                let {id, name, sort} = this.model;
                update(id, {name, sort}).then(response => {
                    loading.close();
                    this.handleClose();
                    this.$bus.emit(`update-component-data-${this.component.file_id}`, {
                        component: {
                            ...this.model,
                            ...{
                                updated_at: response.data.updated_at
                            }
                        },
                        index: this.index
                    })
                }, error => {
                    loading.close();
                });
            }
        }
    }
</script>

<style scoped>

</style>