<template>
    <div class="components" style="margin: 10px 0">
        <table class="table is-fullwidth is-bordered is-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>Порядок</th>
                <th>Ссылка</th>
                <th>Посл.обновление</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="components.length>0" v-for="(component,index) in components" :key="component.id">
                <td>{{component.id}}</td>
                <td>{{component.name}}</td>
                <td>{{component.sort}}</td>
                <td>
                    <a class="link" :href="component.path" target="_blank">Открыть</a>
                </td>
                <td>{{component.updated_at|dateFormat('DD.MM.Y H:m:ss')}}</td>
                <td>
                    <el-button-group>
                        <el-button type="primary" icon="el-icon-edit"
                                   @click="handleEditComponent(component,index)"></el-button>
                        <el-button type="warning" icon="el-icon-refresh"
                                   @click="handleOpenFileWindow(component,component.id)"></el-button>
                        <el-button type="danger" icon="el-icon-delete"
                                   @click="handleDeleteComponent(component,index)"></el-button>
                    </el-button-group>
                    <input type="file" style="display: none" :ref="component.id"
                           @change="handleReloadFile(component,component.id,index)" accept="application/pdf">
                </td>
            </tr>
            <tr v-if="components.length===0">
                <td colspan="6">Нет компонентов для вывода</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import EditComponentModal from './edit-component-modal'
    import {destroy, reloadFile} from "../../api/documents/components";

    export default {
        name: "file-components",
        props: {
            components: {
                type: Array
            }
        },
        mounted() {
            this.$bus.on('refresh-components-table', data => {
                //this.components.push(data);
                //this.sortComponents();
            });

            this.$bus.on('update-component-data', data => {
                // console.dir(this.components[data.index]);
                //this.$set(this.components, data.index, data.component);
                //this.sortComponents();
            });
        }, methods: {
            handleEditComponent(component, index) {
                this.$modal.show(EditComponentModal,
                    {
                        component,
                        index
                    },
                    {
                        name: 'EditComponentModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            },
            handleOpenFileWindow(component, index) {
                let key = index;
                this.$refs[key][0].click();
            },
            handleReloadFile(component, id, index) {
                let file = this.$refs[id][0].files[0];
                let fileType = file.type;
                if (fileType === 'application/pdf') {
                    const loading = this.$loading({
                        lock: true,
                        text: 'Перезагружаю файл компонента, пожалуйста, подождите',
                        spinner: 'el-icon-loading',
                        background: 'rgba(240, 240, 240, 0.8)'
                    });
                    reloadFile(id, file).then(response => {
                        let data = response.data;
                        this.$set(this.components, index, data.component);
                        this.$notify({
                            title: 'Успешно',
                            message: 'Файл был успешно перезаписан',
                            type: 'success'
                        });
                        loading.close();
                    }, error => {
                        this.$alert(error.response.data.message, 'Внимание, ошибка', {
                            confirmButtonText: 'OK',
                        });
                        loading.close();
                    });
                } else {
                    this.$alert('Допустима загрузка файлов только формата PDF', 'Внимание, ошибка', {
                        confirmButtonText: 'OK',
                    });
                }
                this.$refs[id][0].type = 'text';
                this.$refs[id][0].type = 'file';
            },
            handleDeleteComponent(component, index) {
                this.$confirm(`Вы действительно хотите удалить компонент «${component.name}»`, 'Подтвердите удаление', {
                    confirmButtonText: 'Да',
                    cancelButtonText: 'Отмена',
                }).then(({value}) => {
                    const loading = this.$loading({
                        lock: true,
                        text: 'Удаляю компонент, пожалуйста, подождите',
                        spinner: 'el-icon-loading',
                        background: 'rgba(240, 240, 240, 0.8)'
                    });

                    destroy(component.id).then(response => {
                        this.$delete(this.components, index);
                        this.$notify({
                            title: 'Успешно',
                            message: 'Компонент был успешно удален',
                            type: 'success'
                        });
                        loading.close();
                    }, error => {
                        this.$alert(error.response.data.message, 'Внимание, ошибка', {
                            confirmButtonText: 'OK',
                        });
                        loading.close();
                    })
                }).catch(() => {

                });
            }
        }
    }
</script>

<style scoped>

</style>