<template>
    <div class="example-modal-content">
        <v-dialog v-model="model" persistent max-width="500px">
            <form ref="createPositionModal">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить должность</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-alert
                                    :value="hasError"
                                    type="error"
                            >
                                <ul v-if="hasError">
                                    <li v-for="error in serverErrors">{{error}}</li>
                                </ul>
                            </v-alert>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field :label="$t('label.name')" required
                                                  v-model="model.name"
                                                  data-vv-name="name"
                                                  :error-messages="errors.collect('name')"
                                                  v-validate="'required'"
                                    ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm12>
                                    <v-select v-model="model.type"
                                              :items="types"
                                              item-text="name"
                                              item-value="id"
                                              :label="$t('label.positionTypes')"
                                              required
                                              data-vv-name="type"
                                    ></v-select>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="danger" :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </v-btn>
                        <v-btn color="info" :loading="loading" :disabled="loading" round @click.native="handleCreate">
                            {{$t('form.add')}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </form>
        </v-dialog>
    </div>
</template>

<script>
    import {positionTypes} from "@/constants";
    import {createPosition} from "@/api/contingent/position";
    import {Message} from 'element-ui'

    export default {
        $_veeValidate: {
            validator: 'new'
        },
        name: "createPosition",
        data() {
            return {
                show: true,
                types: positionTypes,
                loading: false,
                hasError: false,
                serverErrors: [],
                model: {
                    name: null,
                    type: 3
                },
                dictionary: {
                    attributes: {
                        name: 'Наименование',
                        type: 'Тип должности',
                    },
                    custom: {
                        name: {
                            required: () => 'Наименование должно быть заполнено',
                        },
                        type: {
                            required: 'Выберите тип должности'
                        }
                    }
                }
            }
        },
        mounted() {
            this.$validator.localize('en', this.dictionary)
        },
        methods: {
            handleClose(isAdd = false) {
                let success = this.$lodash.isBoolean(isAdd) ? isAdd : false;
                this.$modal.hide('createPositionModal', {success});
                //this.$modal.hide('close', {success: true});
            },
            handleStopLoading() {
                this.loading = false;
            },
            handleCreate() {
                this.loading = true;
                this.$validator.validateAll().then(isValid => {
                    if (isValid) {
                        createPosition(this.model).then(response => {
                            this.handleStopLoading();
                            this.hasError = false;
                            Message({
                                message: response.data.message,
                                type: 'success',
                                duration: 5 * 1000
                            });
                            this.handleClose(true);
                        }).catch(response => {
                            this.serverErrors = [];
                            let errors = response.response.data.errors;
                            for (let key in errors) {
                                this.serverErrors.push(errors[key]);
                            }
                            this.hasError = true;
                        })
                    }
                    this.handleStopLoading();
                })
            }
        }
    }
</script>

<style scoped>

</style>