<template>
    <div>
        <el-form :model="value"
                 label-position="right"
                 :ref="title">
            <el-row :gutter="10">
                <el-col :span="24">
                    <el-form-item :label="$t('label.region')" prop="region">
                        <el-input :id="generateId('region')" v-model="value.region"
                                  :placeholder="$t('label.region')"></el-input>
                        <uiv-typeahead v-model="value.region"
                                       :target="generateId('region',true)"
                                       :data="autocomplete.regions">
                            <template slot="item" slot-scope="props">
                                <li v-for="(item, index) in props.items"
                                    :class="{active:props.activeIndex===index}"
                                    @click="handleSelect('region',item)" item-key="item">
                                    <a role="button" @click="props.select(item)">
                                        {{item}}
                                    </a>
                                </li>
                            </template>
                        </uiv-typeahead>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="Район областной" prop="area">
                        <el-input :id="generateId('area')" v-model="value.area"
                                  :placeholder="$t('label.area')"></el-input>
                        <uiv-typeahead v-model="value.area"
                                       :target="generateId('area',true)"
                                       :data="autocomplete.area">
                            <template slot="item" slot-scope="props">
                                <li v-for="(item, index) in props.items"
                                    :class="{active:props.activeIndex===index}"
                                    @click="handleSelect('area',item)" item-key="item">
                                    <a role="button" @click="props.select(item)">
                                        {{item}}
                                    </a>
                                </li>
                            </template>
                        </uiv-typeahead>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('label.settlement')" prop="settlement">
                        <el-input :id="generateId('settlement')" v-model="value.settlement"
                                  :placeholder="$t('label.settlement')"></el-input>
                        <uiv-typeahead v-model="value.settlement"
                                       :target="generateId('settlement',true)"
                                       :data="autocomplete.settlement">
                            <template slot="item" slot-scope="props">
                                <li v-for="(item, index) in props.items"
                                    :class="{active:props.activeIndex===index}"
                                    @click="handleSelect('area',item)" item-key="item">
                                    <a role="button" @click="props.select(item)">
                                        {{item}}
                                    </a>
                                </li>
                            </template>
                        </uiv-typeahead>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('label.city')" prop="city">
                        <el-input :id="generateId('city')" v-model="value.city"
                                  :placeholder="$t('label.city')"></el-input>
                        <uiv-typeahead v-model="value.city"
                                       :target="generateId('city',true)"
                                       :data="autocomplete.cities">
                            <template slot="item" slot-scope="props">
                                <li v-for="(item, index) in props.items"
                                    :class="{active:props.activeIndex===index}"
                                    @click="handleSelect('area',item)" item-key="item">
                                    <a role="button" @click="props.select(item)">
                                        {{item}}
                                    </a>
                                </li>
                            </template>
                        </uiv-typeahead>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="Район городской" prop="city_area">
                        <el-input v-model="value.city_area" placeholder="Район городской"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="Дата регистрации" prop="registration_date">
                        <el-date-picker
                                v-mask="'##.##.####'"
                                value-format="yyyy-MM-dd"
                                format="dd.MM.yyyy"
                                type="date"
                                placeholder="Дата регистрации"
                                v-model="value.registration_date"
                                class="w100"
                                :picker-options="pickerOptions"
                        >
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('label.index')" prop="index">
                        <el-input :id="generateId('index')" v-model="value.index"
                                  :placeholder="$t('label.index')"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('label.street')" prop="street">
                        <el-input :id="generateId('street')" v-model="value.street"
                                  :placeholder="$t('label.street')"></el-input>
                        <uiv-typeahead v-model="value.street"
                                       :target="generateId('street',true)"
                                       :data="autocomplete.streets">
                            <template slot="item" slot-scope="props">
                                <li v-for="(item, index) in props.items"
                                    :class="{active:props.activeIndex===index}"
                                    @click="handleSelect('area',item)" item-key="item">
                                    <a role="button" @click="props.select(item)">
                                        {{item}}
                                    </a>
                                </li>
                            </template>
                        </uiv-typeahead>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('label.house_number')" prop="house_number">
                        <el-input v-model="value.house_number" :placeholder="$t('label.house_number')"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('label.housing')" prop="housing">
                        <el-input v-model="value.housing" :placeholder="$t('label.housing')"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('label.apartment_number')" prop="apartment_number">
                        <el-input v-model="value.apartment_number"
                                  :placeholder="$t('label.apartment_number')"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
    import FormGroup from "../../FormGroup/index";
    import {DateTime} from 'luxon';


    export default {
        name: "address-form",
        components: {FormGroup},
        props: ['value', 'title'],
        data() {
            return {
                autocomplete: [],
                pickerOptions: this.$pickerConfig(),
                key: Math.round(Math.random() + Math.random() * 10000)
            }
        },
        mounted() {
            console.dir(Math.random());
            let vm = this;
            this.$bus.on('set-addresses-data', data => {
                vm.autocomplete = data
            })
        },
        methods: {
            handleSelect(key, item) {
                console.log(key);
                console.log(item);
            },
            generateId(key, withId = false) {
                if (withId) {
                    return `#${key}_${this.key}`
                } else {
                    return `${key}_${this.key}`
                }
            }
        }
    }
</script>

<style scoped>

</style>