<template>
    <div>
        <v-dialog v-model="model" persistent max-width="900px">
            <v-card>
                <v-card-title>
                    <el-row :gutter="10" class="w100">
                        <el-col :span="12">
                            <span class="headline">Редактирование данных воинского учета</span>
                        </el-col>
                        <el-col :span="12" style="text-align: right">
                            <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                <i class="fa fa-close"></i>
                            </el-button>
                        </el-col>
                    </el-row>
                </v-card-title>
                <v-card-text>
                    <el-alert v-if="serverErrors.length >0"
                              title="Что-то пошло не по плану"
                              type="error"
                              description="more text description"
                              show-icon>
                        <ul>
                            <li v-for="(error,key) in serverErrors" :key="key">{{error}}</li>
                        </ul>
                    </el-alert>
                    <el-form ref="EditMilitaryDataForm" name="EditMilitaryDataForm">
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-form-item label="Военный комиссариат" prop="recruitment_center_id">
                                    <el-select v-model="model.recruitment_center_id" placeholder="Выберите ВК"
                                               class="w100" @change="changeRecruitment" filterable>
                                        <el-option
                                                v-for="item in centers"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                            Отдел ВК {{item.name}}
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Статус ВО" prop="military_status">
                                    <el-select v-model="model.military_status" placeholder="Статус ВО" class="w100">
                                        <el-option
                                                v-for="item in militaryStatuses"
                                                :key="item.key"
                                                :label="item.name"
                                                :value="item.key">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Тип документа воинского учета" prop="military_document_type">
                                    <el-select v-model="model.military_document_type"
                                               placeholder="Тип документа воинского учета"
                                               :disabled="loading"
                                               class="w100" clearable>
                                        <el-option
                                                v-for="(type,key) in militaryDocumentTypes"
                                                :label="type.text"
                                                :key="type.key"
                                                :value="type.key"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Номер документа воинского учета" prop="military_document_number">
                                    <el-input
                                            placeholder="Номер документа воинского учета"
                                            v-model="model.military_document_number" :disabled="loading" clearable>
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Категория годности к ВС" prop="fitness_for_military_service">
                                    <el-select v-model="model.fitness_for_military_service"
                                               placeholder="Категория годности к ВС"
                                               :disabled="loading"
                                               class="w100" clearable>
                                        <el-option
                                                v-for="(fit,key) in fitnessForMilitaryServices"
                                                :label="fit.text"
                                                :key="fit.key"
                                                :value="fit.key"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Воинское звание" prop="military_rank">
                                    <el-select v-model="model.military_rank"
                                               placeholder="Воинское звание"
                                               :disabled="loading"
                                               class="w100" clearable>
                                        <el-option
                                                v-for="(rank,key) in _militaryRanks"
                                                :label="rank.text"
                                                :key="rank.value"
                                                :value="rank.value"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Состав" prop="military_composition">
                                    <el-select v-model="model.military_composition"
                                               placeholder="Состав"
                                               :disabled="loading"
                                               class="w100" clearable>
                                        <el-option
                                                v-for="(composition,key) in _militaryCompositions"
                                                :label="composition.text"
                                                :key="composition.value"
                                                :value="composition.value"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Гражданская специальность" prop="military_specialty">
                                    <el-input
                                            placeholder="Гражданская специальность"
                                            v-model="model.military_specialty" :disabled="loading" clearable>
                                    </el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" :loading="loading" :disabled="loading" round
                               @click.native="handleUpdate">
                        {{$t('form.update')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {
        militaryDocumentTypes,
        fitnessForMilitaryServices,
        militaryStatuses,
        militaryRanks,
        militaryCompositions
    } from "../../../constants";
    import {updateStudent} from "../../../api/contingent/student";
    import {updateData} from "../../../api/contingent/universalContingentApi";
    import {enumirate} from "../../../filters";

    export default {
        name: "EditMilitaryData",
        props: {
            centers: {
                type: Array
            },
            military: {
                type: Object
            },
            id: {
                type: Number
            }
        },
        data() {
            return {
                centers: this.centers,
                militaryDocumentTypes,
                fitnessForMilitaryServices,
                militaryStatuses,
                serverErrors: [],
                loading: false,
                model: {
                    military_status: null,
                    military_document_type: null,
                    military_document_number: null,
                    fitness_for_military_service: null,
                    military_specialty: null,
                    recruitment_center_id: null,
                    military_rank: null,
                    military_composition: null,
                    recruitment_center: {}
                }
            }
        },
        computed: {
            _militaryRanks() {
                return enumirate(militaryRanks, 'militaryRank');
            },
            _militaryCompositions() {
                return enumirate(militaryCompositions, 'militaryComposition');
            }
        },
        mounted() {
            this.model = {...this.model, ...this.military};
        },
        methods: {
            changeRecruitment(id) {
                let item = this.centers.filter((item, index) => {
                    return item.id === id;
                });

                this.model.recruitment_center = item[0];
            },
            handleClose() {
                this.$modal.hide('EditMilitaryDataModal')
            },
            handleUpdate() {
                this.loading = true;
                const loading = this.$loading({
                    lock: true,
                    text: 'Даннные воинского учета обновляются, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                updateData(this.id, this.model).then(response => {
                    this.$bus.emit('update-military-data', this.model);
                    // this.$notify({
                    //     title: 'Успешно',
                    //     message: response.data.message,
                    //     type: 'success'
                    // });
                    this.$notify.success({title: 'Успешно', message: 'Данные воинского учета успешно обновлены'});
                    loading.close();
                    this.handleClose();
                }, error => {
                    let response = error.response.data;
                    this.serverErrors = [];
                    if (response.message) {
                        this.serverErrors.push(response.message);
                    }
                    if (response.errors) {
                        this.serverErrors = response.errors;
                    }
                    this.loading = false;
                });
            }
        }
    }
</script>

<style scoped>

</style>