<template>
    <div>
        <el-form :model="value"
                 :rules="rules"
                 label-position="right"
                 ref="EnrollmentInformationForm">
            <el-row :gutter="10">
                <el-col :span="12">
                    <el-form-item :label="$t('label.training_group')" prop="group_id">
                        <el-select filterable v-model="value.group_id"
                                   :placeholder="$t('label.training_group')"
                                   class="w100">
                            <el-option
                                    v-for="(group,key) in sortGroups"
                                    :label="group.name"
                                    :key="group.id"
                                    :value="group.id"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item :label="$t('label.reason')" prop="reason">
                        <el-select filterable v-model="value.reason"
                                   :placeholder="$t('label.reason')"
                                   class="w100">
                            <el-option
                                    v-for="(reason,key) in sortReasons"
                                    :label="reason.name"
                                    :key="reason.key"
                                    :value="reason.key"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="10">
                <el-col :span="12">
                    <el-form-item :label="$t('label.decree_number')" prop="decree_number">
                        <el-input v-model="value.decree_number" :placeholder="$t('label.decree_number')"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item prop="decree_date" :label="$t('label.decree_date')">
                        <el-date-picker
                                v-mask="'##.##.####'"
                                :picker-options="pickerOptions"
                                value-format="yyyy-MM-dd"
                                format="dd.MM.yyyy"
                                type="date"
                                :placeholder="$t('label.decree_date')"
                                v-model="value.decree_date"
                                class="w100">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
    import {reasons} from "../../../constants";

    export default {
        name: "enrollment-information",
        props: ['value', 'groups'],
        data() {
            return {
                pickerOptions: this.$pickerConfig({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                }),
                rules: {
                    group_id: [
                        {required: true, message: 'Не выбрана учебная группа', trigger: 'change'}
                    ],
                    decree_number: [
                        {required: true, message: 'Не указан номер приказа', trigger: 'blur'}
                    ],
                    decree_date: [
                        {required: true, message: 'Не выбрана дата приказа', trigger: 'blur'}
                    ]

                }
            }
        },
        computed: {
            sortGroups() {
                return _.sortBy(this.groups, 'name')
            },
            sortReasons() {
                return _.sortBy(reasons['enrollment'], 'name');
            }
        },
        mounted() {
            let vm = this;
            this.$bus.on('validate-enrollment-data-form', data => {
                vm.validate();
            });
        }, methods: {
            validate() {
                this.$refs.EnrollmentInformationForm.validate((valid) => {
                    this.$bus.emit('validate-enrollment-data-status', valid);
                })
            }
        }
    }
</script>

<style scoped>

</style>