<template>
    <div>
        <v-dialog v-model="model" persistent max-width="900px">
            <v-card>
                <v-card-title>
                    <el-row :gutter="10" class="w100">
                        <el-col :span="12">
                            <span class="headline">Добавление документа</span>
                        </el-col>
                        <el-col :span="12" style="text-align: right">
                            <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                <i class="fa fa-close"></i>
                            </el-button>
                        </el-col>
                    </el-row>
                </v-card-title>
                <v-card-text>
                    <el-alert v-if="errors.length >0"
                              title="Что-то пошло не по плану"
                              type="error"
                              description="more text description"
                              show-icon>
                        <ul>
                            <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                        </ul>
                    </el-alert>
                    <el-form ref="UserCreateFileForm" name="UserCreateFileForm" :model="model" :rules="rules">
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-form-item :label="$t('label.name')" prop="name">
                                    <el-input
                                            :placeholder="$t('label.name')"
                                            v-model="model.name" :disabled="loading" clearable>
                                    </el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-form-item :label="$t('label.file')" prop="file">
                                    <el-button type="primary" @click="handleOpenFileWindow" round>
                                        <i class="fa fa-upload"></i> Выбрать файл
                                    </el-button>
                                    <span>{{fileName}}</span>
                                    <input type="file" ref="student_file" class="hidden" @change="handleSetFile">
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" :loading="loading" :disabled="loading" round
                               @click.native="handleCreate">
                        {{$t('form.add')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {store as storeHumanFile} from "../../../api/contingent/human/files";

    export default {
        name: "user-create-file-modal",
        props: {
            user_id: {
                type: Number
            }
        },
        data() {
            return {
                errors: [],
                loading: false,
                fileName: null,
                allowTypes: ['application/pdf', 'application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'],
                model: {
                    name: null,
                    file: null
                },
                rules: {
                    name: [
                        {required: true, message: 'Не указано имя файла', trigger: 'blur'}
                    ],
                    file: [
                        {required: true, message: 'Не выбран файл', trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('UserCreateFileModal');
            },
            handleOpenFileWindow() {
                this.$refs['student_file'].click();
            },
            handleSetFile() {
                let file = this.$refs['student_file'].files[0];
                let type = file.type;

                if (this.allowTypes.includes(type)) {
                    this.model.file = file;
                    this.fileName = file.name;
                } else {
                    this.$alert('Недопустимый формат файла. Разрешенные форматы .PDF .docx .doc', 'Внимание', {
                        confirmButtonText: 'Хорошо',
                    });
                }
            },
            handleCreate() {
                this.$refs.UserCreateFileForm.validate(valid => {
                    if (valid) {
                        this.errors = [];
                        const loading = this.$lockScreen({text:'Загружаю файл'});
                        storeHumanFile(this.user_id, this.model).then(response => {
                            this.$notify({
                                title: 'Успешно',
                                message: 'Файл был успешно загружен',
                                type: 'success'
                            });
                            this.$bus.emit('add-student-file', response.data.file);
                            loading.close();
                            this.handleClose();
                        }, error => {
                            loading.close();
                            if (error.response.data.errors) {
                                this.errors = error.response.data.errors;
                            } else {
                                this.errors.push(error.response.data.message);
                            }
                        });
                    } else {
                        return false;
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
