<template>
    <div>
        <h3>Руководство</h3>
        <div class="administration" v-loading="loading"
             element-loading-text="Идет загрузка администрации..."
             element-loading-spinner="el-icon-loading"
             element-loading-background="white">
            <div class="employee__card" v-for="(employee,key) in administration" :key="key">
                <div class="employee__photo">
                    <img class="img-responsive" :src="employee.photo" :alt="employee.full_name">
                </div>
                <div class="employee__information">
                    <a :href="employee.profile_url" class="link">{{employee.full_name}}</a>
                    <div class="employee__positions">
                        <ul class="no-list-style no-padding">
                            <li v-for="(position,key) in employee.positions" :key="key">{{position.position.name}}</li>
                        </ul>
                    </div>
                    <div class="employee__contacts">
                        <p class="employee__phone" v-if="employee.phone"><b>Телефон: </b>{{employee.phone}}</p>
                        <p class="employee__email" v-if="employee.email"><b>Email: </b>{{employee.email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {administration} from "../api/employees";

    export default {
        name: "administration",
        data() {
            return {
                loading: true,
                administration: []
            }
        },
        mounted() {
            this.getAll();
        },
        methods: {
            getAll() {
                administration().then(response => {
                    this.administration = _.sortBy(response.data, 'sort');
                    this.loading = false;
                }, error => {

                })
            }
        }
    }
</script>

<style scoped>

</style>