<template>
    <div class="annoncements-index" v-loading="loading" element-loading-text="Идет загрузка объявлений..."
         element-loading-spinner="el-icon-loading">
        <div class="annoncement container-white" v-for="(item,key) in annoncements">
            <div class="annoncement__title">
                <a :href="item.url" class="link">{{item.title}}</a>
            </div>
            <div class="annoncement__image">
                <img :src="item.image" :alt="item.title" class="img-responsive">
            </div>
            <div class="annoncement__text">
                <p v-html="item.preview"></p>
            </div>
        </div>
    </div>
</template>

<script>
    import NewsItem from "./news-item";
    import {getAnnoncements} from "../api/news";

    export default {
        name: "annoncements",
        components: {NewsItem},
        data() {
            return {
                loading: true,
                annoncements: [],
            }
        },
        methods: {
            getAll() {
                getAnnoncements().then(response => {
                    this.loading = false;
                    this.annoncements = response.data;
                })
            }
        },
        mounted() {
            this.getAll();
        }
    }
</script>

<style scoped>

</style>