<template>
    <div class="employee__profile">
        <div class="employee__personal">
            <div class="employee__personal-photo">
                <img class="img-responsive" :src="employee.photo" :alt="employee.full_name">
            </div>
            <div class="employee__personal-data table-scroll">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Квалификационная категория</td>
                        <td>{{employee.category|qualificationCategory}}</td>
                    </tr>
                    <tr>
                        <td>Ученая степень</td>
                        <td>
                            <span v-if="employee.scientific_degree">
                                {{employee.scientific_degree}}
                            </span>
                            <span v-else>
                                Нет
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Ученое звание</td>
                        <td>
                            <span v-if="employee.academic_title">
                                {{employee.academic_title}}
                            </span>
                            <span v-else>
                                Нет
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Общий стаж работы</td>
                        <td v-if="employee.use_dynamic_exp">{{_dynamicGeneralExp}}</td>
                        <td v-else>{{employee.general_experience|pluralize(['год','года','лет'])}}</td>
                    </tr>
<!--                    <tr>-->
<!--                        <td>Стаж работы по специальности</td>-->
<!--                        <td v-if="employee.use_dynamic_exp">{{_dynamicSpecialExp}}</td>-->
<!--                        <td v-else>{{employee.speciality_experience|pluralize(['год','года','лет'])}}</td>-->
<!--                    </tr>-->
                    <tr>
                        <td>Стаж работы в образовательной организации</td>
                        <td>{{employee.college_experience}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="employee__education table-scroll">
            <h3>Образование</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Уровень образования</th>
                    <th>Направление подготовки</th>
                    <th>Квалификация</th>
                    <th>Образовательная организация</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(edu,key) in education" :key="key">
                    <td>{{edu.education_id|educationLevel}}</td>
                    <td>{{edu.direction_of_preparation}}</td>
                    <td>{{edu.qualification}}</td>
                    <td>{{edu.graduation_organization_name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="employee__positions table-scroll">
            <h3>Должности</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Период работы</th>
                    <th>Стаж</th>
                    <th>Тип</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,key) in sortPositions" :key="key">
                    <td>{{item.position.name}}</td>
                    <td>{{item.start_date|dateFormat}} - Н.В</td>
                    <td>
                        <span v-if="item.experience.years>0">{{item.experience.years|pluralize(['год','года','лет'])}}</span>
                        <span v-if="item.experience.months>0">{{item.experience.months|pluralize(['месяц','месяца','месяцев'])}}</span>
                        <span v-if="item.experience.days>0">{{item.experience.days|pluralize(['день','дня','дней'])}}</span>
                    </td>
                    <td>{{item.type|positionType}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="employee__subjects table-scroll">
            <h3>Преподаваемые дисциплины и модули</h3>
            <table class="table table-bordered table-striped">
                <tbody>
                <tr v-for="(item,key) in subjects" :key="key">
                    <td>{{item.subject.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <employee-courses :courses="employee.courses"></employee-courses>
    </div>
</template>

<script>
    import EmployeeCourses from "./employee-courses";
    import moment from 'moment';
    import {pluralize} from "../filters";

    export default {
        name: "employee-profile",
        components: {EmployeeCourses},
        props: {
            employee: {
                type: Object,
            }
        },
        data() {
            return {
                education: this.employee.education,
                subjects: this.employee.subjects
            }
        },
        computed: {
            _dynamicSpecialExp() {
                let positions = this.employee.previous_exp.filter(position => position.is_speciality_exp);

                let cPositions = [...positions, ...[{
                    start_date: moment(this.employee.start_work_date),
                    end_date: moment()
                }]];
                let intPeriod = cPositions.map(position => {
                    return {start: moment(position.start_date), end: moment(position.end_date)}
                })
                    .map(({start, end}) => end.diff(start))
                    .reduce((prev, next) => prev + next);

                let duration = moment.duration(intPeriod);
                return `${pluralize(duration.years(), ['год', 'года', 'лет'])} ${pluralize(duration.months(), ['месяц', 'месяца', 'месяцев'])}
                ${pluralize(duration.days(), ['день', 'дня', 'дней'])}`
            },
            _dynamicGeneralExp() {
                let positions = this.employee.previous_exp;

                let cPositions = [...positions, ...[{
                    start_date: moment(this.employee.start_work_date),
                    end_date: moment()
                }]];
                let intPeriod = cPositions.map(position => {
                    return {start: moment(position.start_date), end: moment(position.end_date)}
                })
                    .map(({start, end}) => end.diff(start))
                    .reduce((prev, next) => prev + next);

                let duration = moment.duration(intPeriod);
                return `${pluralize(duration.years(), ['год', 'года', 'лет'])} ${pluralize(duration.months(), ['месяц', 'месяца', 'месяцев'])}
                ${pluralize(duration.days(), ['день', 'дня', 'дней'])}`
            },
            sortPositions: function () {
                console.dir(this.employee);
                return _.orderBy(this.employee.positions, 'start_date', 'desc')
            }
        }
    }
</script>

<style scoped>

</style>
