<template>
    <div>
        <div class="buttons text-right">
            <el-radio-group v-model="section">
                <el-radio-button label="administration">Руководство</el-radio-button>
                <el-radio-button label="teachers">Пед.состав</el-radio-button>
            </el-radio-group>
        </div>
        <div class="employees">
            <administration v-show="section==='administration'"></administration>
            <pedagogical v-show="section==='teachers'"></pedagogical>
        </div>
        <!--<el-button-group>-->
        <!--<el-button type="primary" icon="el-icon-arrow-left">Previous Page</el-button>-->
        <!--<el-button type="primary">Next Page<i class="el-icon-arrow-right el-icon-right"></i></el-button>-->
        <!--</el-button-group>-->
        <!--is-active-->
    </div>
</template>

<script>
    import Administration from "./administration";
    import Pedagogical from "./pedagogical";

    export default {
        name: "employees",
        components: {Pedagogical, Administration},
        data() {
            return {
                section: 'administration',
            }
        }
    }
</script>

<style scoped>

</style>