<template>
    <div class="employee__courses table-scroll">
        <h3>Повышение квалификации</h3>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Период прохождения</th>
                <th>Кол-во часов</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(course,key) in sortCourses" :key="key">
                <td>{{course.title}}</td>
                <td>
                    <span>{{course.start_date|dateFormat}}</span><br>
                    <span v-if="course.end_date"> - {{course.end_date|dateFormat}}</span>
                </td>
                <td>{{course.hours}} часов</td>
            </tr>
            </tbody>
        </table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="page"
                           :page-size="perPage" :total="total" background
                           layout="total, prev, pager, next"
                           @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "employee-courses",
        props: {
            courses: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                total: this.courses.length,
                page: 1,
                perPage: 10,
                coursesList: []
            }
        },
        computed: {
            sortCourses: function () {
                return this.coursesList;
            }
        },
        mounted() {
            this.coursesList = this.courses.slice(0, this.perPage);
        },
        methods: {
            handleCurrentChange(val) {
                this.page = val;
                const start = this.page,
                    end = start + this.perPage;
                this.coursesList = this.courses.slice(start, end);

            },
        }

    }
</script>

<style scoped>

</style>