<template>
    <div>
        <el-alert
                v-if="hasError"
                title="Произошла ошибка"
                type="error"
                show-icon
                :closable="false">
            <ul>
                <li v-for="(error,key) in errors" :key="key">{{error}}</li>
            </ul>
        </el-alert>
        <el-alert
                v-if="successOrder"
                title="Ваше обращение успешно отправлено"
                type="success"
                :closable="false"
                show-icon>
            <p></p>
        </el-alert>
        <el-form name="feedback-form" ref="feedback-form" :model="model" :rules="rules">
            <el-row :gutter="10">
                <el-col :md="offset.md" :xs="offset.xs">
                    <el-form-item label="Ваше Имя" prop="name">
                        <el-input v-model="model.name"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :md="offset.md" :xs="offset.xs">
                    <el-form-item label="Email на который придет ответ" prop="email">
                        <el-input v-model="model.email"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :md="offset.md" :xs="offset.xs">
                    <el-form-item label="Тема обращения" prop="subject">
                        <el-select v-model="model.subject" placeholder="Тема обращения" class="w-100">
                            <el-option
                                    v-for="item in options"
                                    :key="item"
                                    :label="item"
                                    :value="item">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :md="offset.md" :xs="offset.xs">
                    <el-form-item label="Текст обращения" prop="text">
                        <el-input type="textarea" v-model="model.text"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :md="offset.md" :xs="offset.xs" style="padding: 10px">
                    <el-checkbox v-model="successPolicy">Я согласен с политикой обработки персональных данных
                    </el-checkbox>
                </el-col>
                <el-col :md="offset.md" :xs="offset.xs" style="padding: 10px">
                    <label>Проверка</label>
                    <el-form-item>
                        <el-row :gutter="10">
                            <el-col :span="4">
                                {{min}} + {{max}} =
                            </el-col>
                            <el-col :span="20">
                                <el-input v-model="userControlSum"></el-input>
                            </el-col>
                        </el-row>
                    </el-form-item>
                </el-col>
                <el-col :md="offset.md" :xs="offset.xs" class="text-center">
                    <el-button type="primary" :disabled="!successPolicy||(userControlSum!=controlSum)"
                               @click="handleSendForm">
                        Отправить
                    </el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
    import VueRecaptcha from 'vue-recaptcha';
    import {sendMail} from "../api/services";

    export default {
        name: "feedback-form",
        components: {VueRecaptcha},
        data() {
            return {
                hasError: false,
                errors: [],
                successOrder: false,
                successMessages: [],
                options: [
                    'Перевод, отчисление, поступление', 'Выплата стипендии', 'Пожаловаться', 'Поблагодарить', 'Предложения по работе в режиме ДО', 'Другое'
                ],
                offset: {
                    md: {span: 16, offset: 4},
                    xs: {span: 24}
                },
                min: null,
                max: null,
                controlSum: null,
                userControlSum: null,
                successPolicy: false,
                model: {
                    name: null,
                    email: null,
                    subject: null,
                    text: null
                },
                rules: {
                    name: [
                        {required: true, message: 'Заполните Ваше имя', trigger: 'blur'}
                    ],
                    email: [
                        {required: true, message: 'Заполните Ваш электронный адрес', trigger: 'blur'},
                        {type: 'email', message: 'Email имеет некорректный формат', trigger: 'blur'}
                    ],
                    subject: [
                        {required: true, message: 'Выберите тему обращения', trigger: 'blur'}
                    ],
                    text: [
                        {required: true, message: 'Заполните текст Вашего обращения', trigger: 'blur'}
                    ]
                }
            }
        },
        mounted() {
            this.max = this.randomInteger(1, 99);
            this.min = this.randomInteger(1, 99);
            this.controlSum = (this.min + this.max);
        },
        methods: {
            randomInteger(min, max) {
                var rand = min + Math.random() * (max + 1 - min);
                rand = Math.floor(rand);
                return rand;
            },
            handleSendForm() {
                this.hasError = false;
                this.$refs['feedback-form'].validate(valid => {
                    if (valid) {
                        sendMail(this.model).then(response => {
                            this.successOrder = true;
                            this.successMessages = response.data.messages;
                            this.$scrollTo('#main-content');
                            this.max = this.randomInteger(1, 99);
                            this.min = this.randomInteger(1, 99);
                            this.controlSum = (this.min + this.max);
                            this.userControlSum = null;
                            this.successPolicy = false;
                            this.$refs['feedback-form'].resetFields();
                            setTimeout(() => {
                                this.successOrder = false;
                            }, 10000);
                        }, error => {
                            this.hasError = true;
                            this.errors = error.response.data.errors;
                            this.$scrollTo('#main-content');
                        });
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
