<template>
    <div class="container-white mt-15 pt-15 pb-15" v-loading="loading"
         element-loading-text="Идет получение списка специальностей, пожалуйста, подождите..."
         element-loading-spinner="el-icon-loading">
        <div class="content">
            <el-tabs type="border-card" tab-position="top" class="custom-tabs">
                <el-tab-pane :label="program.name" v-for="(program,index) in _sortPrograms">
                    <el-row :gutter="10">
                        <el-col :span="12">
                            <span v-if="program.has_image">
                                <img style="margin: 0 auto;" class="img-responsive" :src="program.image"
                                     :alt="program.name">
                            </span>
                            <span v-else>
                                <img style="margin: 0 auto;" class="img-responsive" src="/img/default-news-img.jpg"
                                     :alt="program.name">
                            </span>
                        </el-col>
                        <el-col :span="12">
                            <h3>{{program.name}}</h3>
                            <p>
                                {{program.description}}
                            </p>
                            <p class="text-right">
                                <a :href="`education/${program.slug}`">
                                    <el-button type="primary">
                                        Читать далее
                                    </el-button>
                                </a>
                            </p>
                        </el-col>
                    </el-row>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>

<script>
    import {getActivePrograms} from "../api/services";

    export default {
        name: "index-active-programs",
        data() {
            return {
                loading: true,
                programs: []
            }
        },
        mounted() {
            this.getAll();
        },
        computed:{
          _sortPrograms(){
              return _.sortBy(this.programs,'name')
          }
        },
        methods: {
            getAll() {
                getActivePrograms()
                    .then(response => response.data)
                    .then(data => {
                        this.loading = false;
                        this.programs = data;
                    })
            }
        }
    }
</script>

<style scoped>

</style>