<template>
    <div class="news-index__list">
        <news-item :news="item" :key="key" v-for="(item,key) in news"></news-item>
    </div>
</template>

<script>
    import {getNews} from "../api/news";
    import NewsItem from "./news-item";

    export default {
        name: "news-index",
        components: {NewsItem},
        data() {
            return {
                loading: true,
                news: []
            }
        }, mounted() {
            getNews(4).then(response => {
                this.news = response.data;
                this.loading = false;
            }, error => {
                console.log(error);
            })
        }
    }
</script>

<style scoped>

</style>