<template>
    <article class="news-index__item container-white">
        <div class="news-index__date">{{news.publication_date|dateFormat}}</div>
        <div class="news-index__image">
            <img :src="news.image" :alt="news.title" class="img-responsive">
        </div>
        <div class="news-index__content">
            <header>
                <h3 class="news-index__head">
                    <a :href="news.url" class="link">{{news.title}}</a>
                </h3>
            </header>
            <p v-html="news.preview"></p>
        </div>
    </article>
</template>

<script>
    export default {
        name: "news-item",
        props: {
            news: {
                type: Object
            }
        }
    }
</script>

<style scoped>

</style>