<template>
    <div>
        <div class="news" v-loading="loading" element-loading-text="Идет загрузка новостей..."
             element-loading-spinner="el-icon-loading">
            <div class="news__item" v-for="(item,key) in news" :key="key">
                <div class="news__title">
                    <a class="news__title__link" :href="item.url">{{item.title}}</a>
                </div>
                <div class="news__publication_date">
                    {{item.publication_date|dateFormat}}
                </div>
                <div class="news__image">
                    <img :src="item.image" :alt="item.title" class="img-responsive">
                </div>
                <div class="news__preview" v-html="item.preview">
                </div>
            </div>
        </div>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page"
                           :page-sizes="[15,25,50,75,100,200]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {getAllNews} from "../api/news";

    export default {
        name: "news-list",
        data() {
            return {
                news: [],
                loading: true,
                total: 1,
                listQuery: {
                    page: 1,
                    limit: 15,
                }
            }
        },
        mounted() {
            this.getList();
        },
        methods: {
            backToTop(theElement) {
                if (typeof theElement === "string") theElement = document.getElementById(theElement);
                let selectedPosX = 0;
                let selectedPosY = 0;
                while (theElement != null) {
                    selectedPosX += theElement.offsetLeft;
                    selectedPosY += theElement.offsetTop;
                    theElement = theElement.offsetParent;

                }
                window.scrollTo(selectedPosX, selectedPosY);

            },
            getList() {
                this.loading = true;
                return getAllNews(this.listQuery).then(response => {
                    this.total = response.data.total;
                    this.news = response.data.news;
                    this.loading = false;
                }, error => {
                    this.loading = false;
                })
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList();
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList().then(data => {
                    this.$scrollTo('#main-content');
                })
            },
        }
    }
</script>

<style scoped>

</style>