<template>
    <article>
        <div class="news-detail">
            <div class="news-detail__top">
                <div class="news-detail__date">
                    {{news.publication_date|dateFormat}}
                </div>
                <div class="news-detail__return-to-list">
                    <a class="link" href="/news">Вернуться к списку</a>
                </div>
            </div>
            <div class="news-detail__title">
                <header>
                    <h2>{{news.title}}</h2>
                </header>
            </div>
            <div class="news-detail__content clearfix">
                <div class="news-detail__image">
                    <img :src="news.image" :alt="news.title" class="img-responsive">
                </div>
                <div v-html="news.full_text" class="news-detail__text"></div>
            </div>
            <div class="news-detail__files" v-if="news.files.length >0">
                <h3>Дополнительные файлы</h3>
                <ul>
                    <li v-for="(file,key) in news.files" :key="key">
                        <a class="link" :href="file.path" target="_blank">{{file.name}}</a>
                    </li>
                </ul>
            </div>
            <h3 v-if="news.images.length >0">Дополнительные фотографии</h3>
            <div class="news-detail__photos" v-if="news.images.length >0">
                <div class="news-detail__photo" v-for="(photo,key) in news.images" :key="key">
                    <img class="img-responsive" :src="photo.path" :alt="news.title">
                </div>
            </div>
        </div>
    </article>
</template>

<script>
    export default {
        name: "news-detail",
        props: {
            news: {
                type: Object
            }
        },
        data() {
            return {}
        }
    }
</script>

<style scoped>

</style>