<template>
    <div>
        <h3>Педагогический состав</h3>
        <div class="pedagogical" v-loading="loading"
             element-loading-text="Идет загрузка педагогического состава..."
             element-loading-spinner="el-icon-loading"
             element-loading-background="white">
            <div class="table-scroll">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Квалификационная категория</th>
                        <th>Должности</th>
                        <th>Общий стаж работы</th>
                        <th>Стаж работы по специальности</th>
                        <th>Ученая степень</th>
                        <th>Ученое звание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(teacher,key) in teachers" :key="key">
                        <td><a :href="teacher.profile_url" class="link">{{teacher.full_name}}</a></td>
                        <td>
                            {{teacher.category|qualificationCategory}}
                        </td>
                        <td>
                            <ul class="no-list-style no-padding">
                                <li v-for="(position,key) in teacher.positions" :key="key">{{position.position.name}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            {{teacher.general_experience|pluralize(['год','года','лет'])}}
                        </td>
                        <td>
                            {{teacher.speciality_experience|pluralize(['год','года','лет'])}}
                        </td>
                        <td>
                            <span v-if="teacher.scientific_degree">
                                {{teacher.scientific_degree}}
                            </span>
                            <span v-else>
                                Нет
                            </span>
                        </td>
                        <td>
                            <span v-if="teacher.academic_title">
                                {{teacher.academic_title}}
                            </span>
                            <span v-else>
                                Нет
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[15,30,45]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, prev, pager, next"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {pedagogical} from "../api/employees";

    export default {
        name: "pedagogical",
        data() {
            return {
                loading: true,
                teachers: [],
                total: 0,
                listQuery: {
                    page: 1,
                    limit: 15
                }
            }
        },
        mounted() {
            this.getList();
        },
        methods: {
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },
            getList() {
                pedagogical(this.listQuery).then(response => {
                    this.loading = false;
                    this.total = response.data.total;
                    this.teachers = response.data.employees;
                }, error => {

                })
            }
        }
    }
</script>

<style scoped>

</style>