<template>
    <div  class="documents__regulations" v-loading="loading"
         element-loading-text="Загружаю предписания..."
         element-loading-spinner="el-icon-loading">
        <el-tabs type="border-card">
            <el-tab-pane v-for="(regulationInYear,key) in regulations" :label="key" :key="key">
                <regulation-item :regulation="regulation" v-for="(regulation,index) in regulationInYear"
                                 :key="index"></regulation-item>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
    import {fetchAll} from "../api/regulations";
    import RegulationItem from "./regulation-item";

    export default {
        name: "regulations",
        components: {RegulationItem},
        data() {
            return {
                regulations: [],
                loading: true,
            }
        },
        mounted() {
            this.getList();
        },
        methods: {
            getList() {
                fetchAll().then(response => {
                    this.regulations = response.data;
                    this.loading = false;
                }, error => {
                    console.dir(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>