<template>
    <div class="regulation">
        <div class="regulation__supervisory">
            <b>Огран, осуществляющий надзор</b>: {{regulation.name_of_the_supervisory}}
        </div>
        <div class="regulation__files">
            <div class="regulation__files-label">
                <b>Документ, отражающий результаты проверки:название (акт, предписание, требование и др.), дата,
                    номер</b>
            </div>
            <div class="regulation__files-items">
                <ul>
                    <li v-for="(file,key) in regulation.files" :key="key">
                        <a :href="file.path" target="_blank" class="link"> {{file.name}}</a>
                    </li>
                </ul>
                {{regulation.comment}}
            </div>
        </div>
        <div class="regulation__violations">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Нарушения, выявленные в результате проверки</th>
                    <th>Меры, принятые для устранения нарушения, результаты</th>
                </tr>
                <tr v-if="regulation.violations.length >0" v-for="(violation,key) in regulation.violations" :key="key">
                    <td>{{violation.name_of_violation}}</td>
                    <td>
                        <p style="text-align: center">
<!--                            <b>{{violation.status|regulationStatus}}</b>-->
                        </p>
                        <p>{{violation.result}}</p>
                        <ul>
                            <li v-for="(file,key) in violation.files" :key="key">
                                <a :href="file.path" target="_blank" class="link"> {{file.name}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr v-if="regulation.violations.length ===0" class="text-center">
                    <td colspan="2">Нарушений нет</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "regulation-item",
        props: {
            regulation: {
                type: Object
            }
        }
    }
</script>

<style scoped>

</style>
