<template>
    <div>
        <el-row :gutter="10" class="replacement_header">
            <el-col :span="8" :xs="24" class="previous-date">
                <el-button type="primary" @click="getData(previousDate)" v-if="previousDate">
                    На {{previousDate|dateFormat}}
                </el-button>
            </el-col>
            <el-col :span="8" class="replace_current_date" :xs="24">
                <h4>{{date_of_replacing|dateFormat}}</h4>
            </el-col>
            <el-col :span="8" :xs="24" class="next-date">
                <el-button type="primary" @click="getData(nextDate)" v-if="nextDate">
                    На {{nextDate|dateFormat}}
                </el-button>
            </el-col>
        </el-row>
        <div v-for="(image,key) in data.images" :key="key" v-if="hasReplacement">
            <img :src="image.url" alt="" class="img-responsive">
        </div>
        <div v-if="!hasReplacement" class="text-center">
            <h4>Нет замен на указанную дату</h4>
        </div>
    </div>
</template>

<script>
    import {replaceClass} from "../api/services";
    import {DateTime} from 'luxon';

    export default {
        name: "replace-class",
        data() {
            return {
                previousDate: null,
                nextDate: null,
                now: null,
                date_of_replacing: null,
                hasReplacement: false,
                data: {}
            }
        },
        mounted() {
            let now = DateTime.local();
            if (now.hour > 14) {
                this.date_of_replacing = now.plus({days: 1}).toISODate();
            } else {
                this.date_of_replacing = now.toISODate();
            }
            this.getData(this.date_of_replacing);
        },
        methods: {
            getData(date) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Идет загрузка замены занятия, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                replaceClass(date).then(response => {
                    let res = response.data;
                    this.hasReplacement = res.success;
                    if (res.success) {
                        this.data = res.data;
                        this.previousDate = res.data.previous_date;
                        this.nextDate = res.data.next_date;
                        this.date_of_replacing = res.data.date_of_replacing;
                        this.hasReplacement = res.success;
                    } else {
                        let now = DateTime.fromISO(date);
                        this.previousDate = now.minus({days: 1}).toISODate();
                        this.nextDate = now.plus({days: 1}).toISODate();
                        this.date_of_replacing = now.toISODate();
                    }
                    loading.close()
                }, error => {
                    this.$alert(error.response.data.message, 'Внимание, ошибка', {
                        type: 'error'
                    });
                    loading.close();
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    .replacement_header {
        margin: 10px 0;
        @media screen and (max-width: 768px) {
            text-align: center;
        }

        .previous-date {
            text-align: left;
            min-height: 1px;
            @media screen and (max-width: 768px) {
                text-align: inherit;
            }
        }

        .next-date {
            text-align: right;
            min-height: 1px;
            @media screen and (max-width: 768px) {
                text-align: inherit;
            }
        }
    }

    .replace_current_date {
        text-align: center;

        h4 {
            margin-top: 0;
            @media screen and (max-width: 768px) {
                margin-top: 1.25em
            }
        }
    }
</style>