<template>
    <div class="reference" v-loading="loading" id="reference-container">
        <el-alert
                v-if="hasError"
                title="Произошла ошибка"
                type="error"
                show-icon
                :closable="false">
            <ul>
                <li v-for="(error,key) in errors" :key="key">{{error}}</li>
            </ul>
        </el-alert>
        <el-alert
                v-if="successOrder"
                title="Заявки успешно созданы"
                type="success"
                :closable="false"
                show-icon>
            <ul>
                <li v-for="(message,key) in successMessages" :key="key">{{message}}</li>
            </ul>
        </el-alert>
        <el-form name="StudyReferenceForm" ref="StudyReferenceForm" :rules="rules" :model="model">
            <el-row :gutter="8">
                <el-col :span="20" :offset="2" :xs="{span:24,offset:0}">
                    <el-form-item label="Фамилия" prop="lastname">
                        <el-input v-model="model.lastname"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="20" :offset="2" :xs="{span:24,offset:0}">
                    <el-form-item label="Имя" prop="firstname">
                        <el-input v-model="model.firstname"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="20" :offset="2" :xs="{span:24,offset:0}">
                    <el-form-item label="Отчество">
                        <el-input v-model="model.middlename"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="20" :offset="2" :xs="{span:24,offset:0}">
                    <el-form-item label="Группа" prop="group_id">
                        <el-select filterable v-model="model.group_id" placeholder="Группа" class="w-100">
                            <el-option
                                    v-for="(group,key) in sortGroups"
                                    :key="key"
                                    :label="group.name"
                                    :value="group.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-checkbox-group v-model="model.types">
                    <el-col :span="20" :offset="2" :xs="{span:24,offset:0}">
                        <el-form-item prop="trainingReferense">
                            <el-checkbox label="training">Справка об обучении</el-checkbox>
                        </el-form-item>
                        <div class="reference-param" v-if="model.types.includes('training')">
                            <p>Выберите кол-во справок</p>
                            <el-form-item label="Количество" name="training.count">
                                <el-input-number v-model="model.training.count" :min="1" :max="5"
                                                 class="w-100"></el-input-number>
                            </el-form-item>
                        </div>
                    </el-col>
                    <el-col :span="20" :offset="2" :xs="{span:24,offset:0}">
                        <el-form-item prop="moneyReferense">
                            <el-checkbox label="money">Справка о стипендии</el-checkbox>
                        </el-form-item>
                        <div class="reference-param" v-if="model.types.includes('money')">
                            <p>Выберите период и кол-во справок</p>
                            <el-form-item label="Количество">
                                <el-input-number v-model="model.money.count" :min="1" :max="5"
                                                 class="w-100"></el-input-number>
                            </el-form-item>
                            <el-form-item label="Период">
                                <el-select filterable v-model="model.money.period" placeholder="Период" class="w-100">
                                    <el-option
                                            v-for="(item,key) in moneyPeriod"
                                            :key="key"
                                            :label="item.name"
                                            :value="item.key">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </el-col>
                    <el-col :span="20" :offset="2" :xs="{span:24,offset:0}">
                        <el-form-item prop="militaryReferense">
                            <el-checkbox label="military">Справка в военкомат</el-checkbox>
                        </el-form-item>
                    </el-col>
                </el-checkbox-group>
                <el-col :span="4" :offset="10" :xs="{span:8,offset:8}" style="margin-top: 10px">
                    <el-button type="primary" @click="makeReference" round :disabled="model.types.length===0">Заказать
                    </el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
    import {trainingGroups, makeReference} from "../api/services";

    export default {
        name: "student-reference",
        data() {
            return {
                loading: true,
                hasError: false,
                errors: [],
                successOrder: false,
                successMessages: [],
                groups: [],
                moneyPeriod: [
                    {key: 0, name: 'за 3 месяца'},
                    {key: 1, name: 'за 4 месяца'},
                    {key: 2, name: 'за 6 месяцев'},
                    {key: 3, name: 'за календарный год'}
                ],
                defaulModel: {
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    group_id: null,
                    types: [],
                    training: {
                        count: 1
                    },
                    money: {
                        count: 1,
                        period: 0,
                    }
                },
                model: {
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    group_id: null,
                    types: [],
                    training: {
                        count: 1
                    },
                    money: {
                        count: 1,
                        period: 0,
                    }
                },
                rules: {
                    lastname: [
                        {required: true, message: 'Не заполнена фамилия', trigger: 'blur'}
                    ],
                    firstname: [
                        {required: true, message: 'Не заполнено имя', trigger: 'blur'}
                    ],
                    group_id: [
                        {required: true, message: 'Не выбрана группа', trigger: 'change'}
                    ],
                    types: [
                        {type: 'array', required: true, message: 'Выберите одну из справок', trigger: 'change'}
                    ]
                }
            }
        },
        computed: {
            sortGroups() {
                return _.sortBy(this.groups, 'name');
            },
        },
        mounted() {
            this.getGroups();
        },
        methods: {
            getGroups() {
                trainingGroups().then(response => {
                    this.loading = false;
                    this.groups = response.data;
                })
            },
            makeReference() {
                this.$refs['StudyReferenceForm'].validate(valid => {
                    if (valid) {
                        this.loading = true;
                        this.hasError = false;
                        makeReference(this.model).then(response => {
                            if (response.data.success) {
                                this.loading = false;
                                this.successOrder = true;
                                this.successMessages = response.data.messages;
                                this.$scrollTo('#main-content');
                                this.model = {...{}, ...this.defaulModel};
                                this.$refs['StudyReferenceForm'].resetFields();
                                setTimeout(() => {
                                    this.successOrder = false;
                                    this.successMessages = [];
                                }, 10000)
                            } else {
                                this.loading = false;
                                this.hasError = true;
                                this.errors = response.data.errors;
                                this.$scrollTo('#main-content');
                            }
                        }, error => {
                            console.dir(error);
                            this.loading = false;
                            this.hasError = true;
                            this.errors = error.response.data.errors;
                            this.$scrollTo('#main-content');
                        });
                    } else {
                        return false;
                    }
                })
            }
        }

    }
</script>

<style scoped>

</style>