<template>
    <div>
        <form-wizard title="" subtitle="" @on-complete="onComplete" shape="circle" color="#20a0ff"
                     error-color="#ff4949">
            <tab-content title="Персональная информация" icon="fa fa-user" :before-change="_validatePersonal">
                <el-form :model="model" :rules="rules.personal"
                         label-position="right"
                         name="EntrantPersonal"
                         ref="EntrantPersonal">
                    <el-alert
                            title="Внимание, произошла ошибка"
                            type="error"
                            :closable="false"
                            effect="dark" v-if="personalErrors.length">
                        <ul>
                            <li v-for="(error,index) in personalErrors" :key="index">{{error}}</li>
                        </ul>
                    </el-alert>
                    <personal-data v-model="model"></personal-data>
                </el-form>
            </tab-content>
            <tab-content title="Программы" icon="fa fa-graduation-cap" :before-change="_validatePrograms">
                <el-alert
                        title="Внимание, произошла ошибка"
                        type="error"
                        :closable="false"
                        effect="dark" v-if="programErrors.length">
                    <ul>
                        <li v-for="(error,index) in programErrors" :key="index">{{error}}</li>
                    </ul>
                </el-alert>
                <el-row :gutter="10" v-for="(program,index) in programs" :key="index" class="mt-15">
                    <el-col :span="12">
                        <el-select v-model="programs[index].program_id" filterable clearable class="w100"
                                   placeholder="Программа">
                            <el-option
                                    v-for="item in recruitmentPrograms"
                                    :key="item.program.id"
                                    :label="`${item.program.name} (${item.program.duration})`"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="12">
                        <el-checkbox v-model="programs[index].is_priority"
                                     :disabled="!programs[index].program_id||(_hasPriorityProgram&&!programs[index].is_priority)">
                            Приоритетная профессия/специальность
                        </el-checkbox>
                    </el-col>
                </el-row>
            </tab-content>
            <tab-content title="Данные паспорта" icon="fa fa-address-card" :before-change="_validatePassport">
                <el-form :model="model.passport_data" :rules="rules.passport"
                         label-position="right"
                         name="EntrantPassport"
                         ref="EntrantPassport">
                    <passport-data v-model="model.passport_data"></passport-data>
                </el-form>
            </tab-content>
            <tab-content title="Адреса" icon="fa fa-map-marker">
                <el-form :model="model.addresses"
                         label-position="right"
                         name="EntrantAddresses"
                         ref="EntrantAddresses">
                    <addresses-data v-model="model.addresses"></addresses-data>
                </el-form>
            </tab-content>
            <tab-content title="Образование" icon="fa fa-university" :before-change="_validateEducation">
                <el-form :model="model" :rules="rules.education"
                         label-position="right"
                         name="EntrantEducation"
                         ref="EntrantEducation">
                    <education-data v-model="model"></education-data>
                </el-form>
            </tab-content>
            <tab-content title="Родители (контактные лица)" icon="fa fa-user" :before-change="_validateParents">
                <el-form :model="parents" :rules="rules.parents"
                         label-position="right"
                         name="EntrantParents"
                         ref="EntrantParents">
                    <parents-data v-model="parents"></parents-data>
                </el-form>
            </tab-content>
            <tab-content title="Здоровье и льготы" icon="fa fa-plus-square">
                <el-form :model="model" ref="EntrantHealth">
                    <health-data v-model="model"></health-data>
                </el-form>
            </tab-content>
            <tab-content title="Дополнительная информация" icon="fa fa-list" :before-change="_validateAdditional">
                <el-form ref="additionalInformation" name="additionalInformation" :model="model"
                         :rules="rules.additionalInformation">
                    <additional-information v-model="model"></additional-information>
                </el-form>
            </tab-content>
            <tab-content title="Файлы" icon="fa fa-file" :before-change="_validateFiles">
                <el-form ref="EntrantFiles" name="EntrantFiles" :model="files"
                         :rules="rules.files">
                    <el-alert
                            title="Внимание, произошла ошибка"
                            type="error"
                            :closable="false"
                            effect="dark" v-if="finalErrors.length">
                        <ul>
                            <li v-for="(error,index) in finalErrors" :key="index">{{error}}</li>
                        </ul>
                    </el-alert>
                    <files v-model="files"></files>
                </el-form>
            </tab-content>
            <el-button type="primary" slot="prev">Назад</el-button>
            <el-button type="primary" slot="next">Далее</el-button>
            <el-button type="primary" slot="finish">Отправить заявление</el-button>
        </form-wizard>
    </div>
</template>

<script>
    import PersonalData from "./submission-forms/personal-data";
    import {getActiveRecruitmentPrograms} from "../api/services";
    import {DateTime} from 'luxon';
    import PassportData from "./submission-forms/passport-data";
    import AddressesData from "./submission-forms/addresses-data";
    import EducationData from "./submission-forms/education-data";
    import ParentsData from "./submission-forms/parents-data";
    import HealthData from "./submission-forms/health-data";
    import AdditionalInformation from "./submission-forms/additional-information";
    import Files from "./submission-forms/files";
    import {makeEnrollee, uploadFiles, checkEntrant} from "../api/services";
    import axios from 'axios';

    export default {
        name: "submission-form",
        components: {
            Files,
            AdditionalInformation,
            HealthData, ParentsData, EducationData, AddressesData, PassportData, PersonalData
        },
        data() {
            return {
                entrant_id: null,
                programErrors: [],
                personalErrors: [],
                finalErrors:[],
                model: {
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    birthday: DateTime.local().toISODate(),
                    gender: 0,
                    phone: null,
                    status: 'unconfirmed_enrollee',
                    start_date: DateTime.local().toISODate(),
                    passport_data: {
                        nationality: 'russia',
                        documentType: 21,
                        series: null,
                        number: null,
                        issuanceDate: DateTime.local().toISODate(),
                        subdivisionCode: null,
                        issued: null,
                        birthPlace: null,
                    },
                    addresses: {
                        isAddressSimilar: false, //Адрес регистрации совпадает с адресом проживания
                        isAddressPlaceOfStay: false, //Адрес регистрации совпадает с адресом регистрации по месту пребывания
                        registration: {//Адрес регистрации
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                        residential: {//Адрес проживания
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                        place_of_stay: {//Адрес регистрации по месту пребывания
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                    },
                    education_id: 2,
                    has_original: false,
                    graduation_organization_name: null,
                    graduation_organization_place: null,
                    graduation_date: null,
                    avg: null,
                    ratings_map: {
                        threes: 0,
                        fours: 0,
                        fives: 0,
                    },
                    preferential_categories: [],
                    disability: null,
                    health_category: null,
                    person_with_disabilities: false,
                    has_certificate: false,
                    medical_policy_number: null,
                    inn: null,
                    snils: null,
                    email: null,
                    how_find_out: null,
                    language: null,
                    need_hostel: false
                },

                parents: [{
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    birthday: DateTime.local().toISODate(),
                    snils: null,
                    gender: 1,
                    relation_ship_type: 'mother',
                }],
                files: [],
                recruitmentPrograms: [],
                programs: [
                    {program_id: null, is_priority: false, sum_of_grades_of_specialized_disciplines: 0},
                    {program_id: null, is_priority: false, sum_of_grades_of_specialized_disciplines: 0},
                    {program_id: null, is_priority: false, sum_of_grades_of_specialized_disciplines: 0},
                ],
                rules: {
                    personal: {
                        lastname: [
                            {required: true, message: 'Заполните фамилию', trigger: 'blur'}
                        ],
                        firstname:
                            [
                                {required: true, message: 'Заполните имя', trigger: 'blur'}
                            ],
                        birthday:
                            [
                                {required: true, message: 'Укажите дату рождения', trigger: 'blur'}
                            ],
                        phone: [
                            {required: true, message: 'Не указан номер телефона', trigger: 'change'}
                        ]
                    },
                    passport: {
                        documentType: [
                            {required: true, message: 'Не выбран тип документа', trigger: 'change'}
                        ],
                        number:
                            [
                                {required: true, message: 'Не заполнен номер документа', trigger: 'blur'},
                            ],
                        issuanceDate:
                            [
                                {required: true, message: 'Не указана дата выдачи документа', trigger: 'change'}
                            ],
                        subdivisionCode:
                            [
                                {required: true, message: 'Не указан Код подразделения', trigger: 'change'}
                            ],
                        issued:
                            [
                                {required: true, message: 'Не указан орган выдавший документ', trigger: 'blur'}
                            ],
                        birthPlace:
                            [
                                {required: true, message: 'Не указано место рождения', trigger: 'change'}
                            ]
                    },
                    education: {
                        education_id: [
                            {required: true, message: 'Не выбран уровень образования', trigger: 'change'}
                        ],
                        graduation_organization_name: [
                            {
                                required: true,
                                message: 'Не заполнено наименование предыдущей образоватльеной организации',
                                trigger: 'change'
                            }
                        ],
                        graduation_organization_place: [
                            {
                                required: true,
                                message: 'Не заполнено местоположение предыдущей образоватльеной организации',
                                trigger: 'change'
                            }
                        ],
                    },
                    additionalInformation: {
                        email: [
                            {
                                type: 'email',
                                message: 'Пожалуйста, введите корректный email',
                                trigger: ['blur', 'change']
                            }
                        ]
                    }
                }
            }
        },
        computed: {
            _hasPriorityProgram() {
                return this.programs.map(program => program.is_priority).includes(true);
            }
        },
        mounted() {
            getActiveRecruitmentPrograms()
                .then(response => response.data.programs)
                .then(programs => {
                    this.recruitmentPrograms = programs;
                })
        },
        methods: {
            _validatePersonal() {
                return new Promise((resolve, reject) => {
                    this.$refs.EntrantPersonal.validate((valid) => {
                        this.programErrors = [];
                        if (valid) {
                            const loading = this.$loading({
                                lock: true,
                                text: 'Проверка данных, пожалуйста, подождите',
                                spinner: 'el-icon-loading',
                                background: 'rgba(240, 240, 240, 0.8)'
                            });
                            const data = {
                                lastname: this.model.lastname,
                                firstname: this.model.firstname,
                                middlename: this.model.middlename,
                                birthday: this.model.birthday,
                            }
                            checkEntrant(data)
                                .then(response => {
                                    resolve(true);
                                }).catch(exception => {
                                const {message} = exception.response.data.error;
                                this.personalErrors.push(message);
                                resolve(false);
                            })
                                .finally(e => {
                                    loading.close();
                                });
                        } else {
                            resolve(valid);
                        }
                    });
                })
            },
            _validatePrograms() {
                return new Promise((resolve, reject) => {
                    this.programErrors = [];
                    let noError = true;
                    const programs = this.programs.filter(program => program.program_id);
                    if (programs.length === 0) {
                        this.programErrors.push('Не выбрано ни одной профессии/специальности для поступления');
                        noError = false;
                    }
                    const priority = this.programs.filter(program => program.is_priority);
                    if (priority.length === 0) {
                        this.programErrors.push('Не выбрано ни одной профессии/специальности для приоритетного поступления');
                        noError = false;
                    }

                    const duplicatesPrograms = programs.filter(program => {
                        return programs.filter(programTwo => {
                            return programTwo.program_id === program.program_id;
                        }).length > 1;
                    });

                    if (duplicatesPrograms.length > 0) {
                        this.programErrors.push('Нельзя выбрать 2 одинаковые профессии/специальности');
                        noError = false;
                    }

                    resolve(noError);
                })
            },
            _validatePassport() {
                return new Promise((resolve, reject) => {
                    this.$refs.EntrantPassport.validate((valid) => {
                        if (valid) {
                            resolve(valid);
                        } else {
                            resolve(valid);
                        }
                    });
                })
            },
            _validateEducation() {
                return new Promise((resolve, reject) => {
                    this.$refs.EntrantEducation.validate((valid) => {
                        if (valid) {
                            resolve(valid);
                        } else {
                            resolve(valid);
                        }
                    });
                })
            },
            _validateParents() {
                return new Promise((resolve, reject) => {
                    this.$refs.EntrantParents.validate((valid) => {
                        if (valid) {
                            resolve(valid);
                        } else {
                            resolve(valid);
                        }
                    });
                })
            },
            _validateAdditional() {
                return new Promise((resolve, reject) => {
                    this.$refs.additionalInformation.validate((valid) => {
                        if (valid) {
                            resolve(valid);
                        } else {
                            resolve(valid);
                        }
                    });
                })
            },
            _validateFiles() {
                return new Promise((resolve, reject) => {
                    this.$refs.EntrantFiles.validate((valid) => {
                        if (valid) {
                            resolve(valid);
                        } else {
                            resolve(valid);
                        }
                    });
                })
            },
            uploadFiles(id, files) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Загружаем Ваши файлы, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                axios.post(route('client.api.entrant.upload-files', {id}).url(),
                    files,
                    {
                        headers: {
                            'content-Type': 'multipart/form-data'
                        }
                    }
                ).then(response => {
                    loading.close();
                    this.$alert(`Ваши файлы были успешно загружены`, 'Заявление подано успешно!', {
                        confirmButtonText: 'Хорошо',
                        dangerouslyUseHTMLString: true,
                        callback: () => {
                            location.reload();
                        }
                    });
                }).catch(e => {
                    this.finalErrors.push(e.response.data.error.message);
                })
            },
            onComplete() {
                let files = new FormData();
                files.append('files', []);
                this.files.forEach((file, index) => {
                    console.log(file);
                    files.append(`files[${index}][name]`, file.name);
                    files.append(`files[${index}][file]`, file.file);
                })
                if (!this.entrant_id) {
                    let enrollee = {...{}, ...this.model};

                    if (enrollee.addresses.isAddressSimilar) {
                        enrollee.addresses.residential = {...{}, ...enrollee.addresses.registration}
                    }

                    if (enrollee.addresses.isAddressPlaceOfStay) {
                        enrollee.addresses.place_of_stay = {...{}, ...enrollee.addresses.registration}
                    }

                    const data = {
                        enrollee,
                        parents: this.parents,
                        programs: this.programs.filter(program => program.program_id),
                    };

                    const loading = this.$loading({
                        lock: true,
                        text: 'Идет отправка заявления, пожалуйста, подождите',
                        spinner: 'el-icon-loading',
                        background: 'rgba(240, 240, 240, 0.8)'
                    });
                    this.finalErrors=[];
                    makeEnrollee(data)
                        .then(response => response.data.data.id)
                        .then(id => {
                            loading.close();
                            const uploadFiles=files;
                            this.$alert(`Ваше заявление успешно подано. № вашего заявления <b>${id}</b>.
Информация так же будет продублированна вам на почту, которую вы указали в заявлении. Далее последует загрузка файлов, которые вы загрузили в форме.`, 'Заявление подано успешно!', {
                                confirmButtonText: 'Хорошо',
                                dangerouslyUseHTMLString: true,
                                callback: () => {
                                    if (this.files.length > 0) {
                                        this.uploadFiles(id, uploadFiles);
                                    }else{
                                        location.reload();
                                    }
                                }
                            });
                        }).catch(e => {
                        this.finalErrors.push(e.response.data.error.message);
                    }).finally(e=>{
                        loading.close();
                    });
                } else {
                    this.uploadFiles(this.entrant_id, files);
                }
            }
        }
    }
</script>

<style scoped>

</style>
