<template>
    <div class="uploading-documents">
        <el-form :model="model" :rules="rules.personal"
                 label-position="right"
                 name="EntrantPersonalData"
                 ref="EntrantPersonalData">
            <el-alert
                    title="Внимание, произошла ошибка"
                    type="error"
                    :closable="false"
                    effect="dark" v-if="errors.length">
                <ul>
                    <li v-for="(error,index) in errors" :key="index">{{error}}</li>
                </ul>
            </el-alert>
            <el-row :gutter="10">
                <el-col :span="12">
                    <el-form-item label="Фамилия"
                                  prop="lastname" class="w100">
                        <el-input :value="model.lastname"
                                  placeholder="Фамилия"
                                  v-model="model.lastname">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="Имя"
                                  prop="firstname" class="w100">
                        <el-input class="w100"
                                  placeholder="Имя"
                                  v-model="model.firstname" id="firstname">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="Отчество (при наличии)"
                                  prop="middlename">
                        <el-input class="w100" id="middlename"
                                  placeholder="Отчество"
                                  v-model="model.middlename">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item prop="birthday" label="Дата рождения">
                        <el-date-picker
                                v-mask="'##.##.####'"
                                :picker-options="pickerOptions"
                                value-format="yyyy-MM-dd"
                                format="dd.MM.yyyy"
                                type="date"
                                placeholder="Дата рождения"
                                v-model="model.birthday"
                                class="w100"
                        >
                        </el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <el-form :model="files" :rules="rules.files"
                 label-position="right"
                 name="EntrantFiles"
                 ref="EntrantFiles">
            <el-row :span="24">
                <el-col :span="24">
                    <h3>Файлы</h3>
                    <files v-model="files"></files>
                </el-col>
                <el-col :span="24" class="mt-10 text-center">
                    <el-button type="primary" @click="handleUpload" :disabled="files.length ===0">
                        <i class="fa fa-upload"></i> Загрузить
                    </el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
    import Files from "./submission-forms/files";
    import {getEntrantId} from "../api/services";
    import axios from "axios";

    export default {
        name: "uploading-documents",
        components: {Files},
        data() {
            return {
                pickerOptions: this.$pickerOptions,
                model: {
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    birthday: null,
                },
                files: [],
                errors: [],
                rules: {
                    personal: {
                        lastname: [
                            {required: true, message: 'Заполните фамилию', trigger: 'blur'}
                        ],
                        firstname:
                            [
                                {required: true, message: 'Заполните имя', trigger: 'blur'}
                            ],
                        birthday:
                            [
                                {required: true, message: 'Укажите дату рождения', trigger: 'blur'}
                            ],
                        phone: [
                            {required: true, message: 'Не указан номер телефона', trigger: 'change'}
                        ]
                    },
                    files: []
                }
            }
        },
        methods: {
            handleUploadFile(id) {
                let files = new FormData();
                files.append('files', []);
                this.files.forEach((file, index) => {
                    console.log(file);
                    files.append(`files[${index}][name]`, file.name);
                    files.append(`files[${index}][file]`, file.file);
                })
                const loading = this.$lockScreen({text: 'Идет загрузка файлов'});
                axios.post(route('client.api.entrant.upload-files', {id}).url(),
                    files,
                    {
                        headers: {
                            'content-Type': 'multipart/form-data'
                        }
                    }
                ).then(response => {
                    loading.close();
                    this.$alert(`Ваши файлы были успешно загружены`, 'Успешно!', {
                        confirmButtonText: 'Хорошо',
                        dangerouslyUseHTMLString: true,
                        callback: () => {
                            location.reload();
                        }
                    });
                }).catch(exception => {
                    console.dir(exception);
                    if(exception.request.status===413){
                        this.errors.push('Один или несколько файлов превышают допустимый размер')
                    }else {
                        this.errors.push(exception.response.data.error.message);
                    }
                }).finally(e=>{
                    loading.close();
                })
            },
            handleUpload() {
                this.errors = [];
                const validEntrantData = new Promise((resolve, reject) => {
                    this.$refs.EntrantPersonalData.validate(valid => {
                        resolve(valid);
                    })
                });
                const validFiles = new Promise((resolve, reject) => {
                    this.$refs.EntrantFiles.validate(valid => {
                        resolve(valid);
                    })
                })
                const valid = [validEntrantData, validFiles];

                Promise.allSettled(valid)
                    .then(results => results.map(result => result.value))
                    .then(res => {
                        const isAllFormValid = res.every(value => value === true)
                        if (isAllFormValid) {
                            const checkLockScreen = this.$lockScreen({text: 'Идет поиск абитуриента в базе'});
                            getEntrantId(this.model)
                                .then(response => {
                                    const {id} = response.data.data;
                                    checkLockScreen.close();
                                    this.handleUploadFile(id);
                                }).catch(exception => {
                                this.errors.push(exception.response.data.error.message);
                            }).finally(e => {
                                checkLockScreen.close();
                            })
                        }else{
                            this.errors.push('Проверьте правильность заполнения формы');
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
