<template>
    <div class="app-container">
        <el-row :gutter="10">
            <el-col :span="24">
                <el-select v-model="currentCode" placeholder="Код" filterable class="w100" @change="setCode">
                    <el-option
                            v-for="item in keysToSelect"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="24">
                <div v-if="currentCode">
                    <h3>{{currentCode}}</h3>
                    <el-row :gutter="10" :key="index" v-for="(item,index) in codes[currentCode]"
                            style="margin-bottom: 10px">
                        <el-col :span="22">
                            <el-input v-model="codes[currentCode][index]"></el-input>
                        </el-col>
                        <el-col :span="2">
                            <el-button type="danger" @click="handleDeleteCode(index)">
                                <i class="fa fa-trash"></i>
                            </el-button>
                        </el-col>
                    </el-row>
                </div>
            </el-col>
            <el-col :span="24" class="text-center" style="margin-top: 10px">
                <el-button type="primary" @click="handleSaveCodes" v-if="currentCode">
                    Сохранить
                </el-button>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {rawSubdivision, saveSubdivision} from "../../api/cache";

    export default {
        name: "subdivision-codes",
        data() {
            return {
                codes: [],
                keysToSelect: [],
                currentCode: null
            }
        },
        mounted() {
            this.getCodes();
        },
        methods: {
            handleDeleteCode(index) {
                console.dir(this.codes[this.currentCode][index]);
                this.$delete(this.codes[this.currentCode], index);
            },
            handleSaveCodes() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Обновляю коды, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                saveSubdivision({codes: this.codes})
                    .then(response => response.data)
                    .then(data => {
                        loading.close();
                        this.$notify({
                            type: 'success',
                            title: 'Успешно',
                            message: 'Коды были успешно обновлены'
                        });
                    }, error => error.response.data)
                    .catch(error => {
                        loading.close();
                        this.$alert(error.message, 'Внимание, что-то пошло не по плану', {
                            confirmButtonText: 'OK',
                        })
                    });
            },
            setCode(code) {
                this.currentCode = code;
            },
            getCodes() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Получение списка кодов, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                rawSubdivision()
                    .then(response => response.data)
                    .then(data => {
                        loading.close();
                        this.codes = data;
                        for (let index in data) {
                            this.keysToSelect.push(index);
                        }
                        this.keysToSelect = _.sortBy(this.keysToSelect);
                    }, error => error.response.data)
                    .catch(error_data => {
                        loading.close();
                        console.dir(error_data);
                    })
            }
        }
    }
</script>

<style scoped>

</style>