<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="400px">
            <el-form :model="model" :rules="rules" ref="AddNewsDocumentForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить документ</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-form-item :label="$t('label.name')" prop="name">
                                    <el-input
                                            :placeholder="$t('label.name')"
                                            v-model="model.name">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.file')" prop="file">
                                    <el-button type="primary" round
                                               @click="handleOpenFileWindow">
                                        <i class="fa fa-plus"></i> Выбрать файл
                                    </el-button>
                                    {{filename}}
                                    <input type="file" ref="file" name="file" class="hide" @change="handleChangeFile"
                                           accept="application/pdf, application/msword">
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" round
                                   @click.native="handleAttach">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        name: "AddFileInNews",
        data() {
            return {
                model: {
                    name: null,
                    file: null,
                },
                rules: {
                    name: [
                        {required: true, message: 'Не заполнено иня файла', trigger: 'blur'}
                    ],
                    file: [
                        {required: true, message: 'Не выбран файл', trigger: 'change'}
                    ]
                },
                filename: null
            }
        },
        methods: {
            handleOpenFileWindow() {
                this.$refs['file'].click();
            },
            handleChangeFile() {
                let input = this.$refs['file'];
                let file = input['files'][0];
                this.filename = file.name;
                this.model.file = file;
                input.type = 'text';
                input.type = 'file';
            },
            handleAttach() {
                this.$refs['AddNewsDocumentForm'].validate(valid => {
                    if (valid) {
                        this.$bus.emit('attach-news-file', this.model);
                        this.handleClose();
                    }
                })
            },
            handleClose() {
                this.$modal.hide('AddFile');
            }
        }
    }
</script>

<style scoped>

</style>