<template>
    <div>
        <el-table
                v-loading="loading"
                element-loading-text="Загружаю новости..."
                element-loading-spinner="el-icon-loading"
                :data="news"
                style="width: 100%"
                stripe
                border
        >
            <el-table-column prop="id" label="ID" width="80px" fixed></el-table-column>
            <el-table-column prop="title" label="Заголовок" fixed></el-table-column>
            <el-table-column label="Дата публикации" width="150">
                <template slot-scope="scope">
                    <span>{{scope.row.publication_date|dateFormat}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Показывать до" width="150">
                <template slot-scope="scope">
                    <span>{{scope.row.visible_to|dateFormat}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Раздел">
                <template slot-scope="scope">
                    <span>{{scope.row.type|newsType}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('table.actions')" fixed="right" width="250">
                <template slot-scope="scope">
                    <div>
                        <el-button type="primary" round>
                            <i class="fa fa-list"></i>
                        </el-button>
                        <el-button type="danger" round @click="handleDeleteNews(scope.row)">
                            <i class="fa fa-trash"></i>
                        </el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[15,25,50,75,100,200]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {buttons} from "../../../../constants";
    import {fetchAll, deleteNews} from "../../../../api/site/news";

    export default {
        name: "news-table",
        data() {
            return {
                news: [],
                loading: true,
                total: 0,
                listQuery: {
                    page: 1,
                    limit: 15,
                    filter: {
                        title: null,
                        type: null
                    }
                },
            }
        },
        mounted() {
            this.$bus.on('update-news-list', data => {
                if (!_.isUndefined(data)) {
                    this.$set(this.listQuery, 'filter', data);
                }
                this.getList();
            });
            this.getList();
        },
        methods: {
            getList() {
                fetchAll(this.listQuery).then(response => {
                    this.news = response.data.news;
                    this.total = response.data.total;
                    this.loading = false;
                }, error => {
                    this.loading = false;
                })
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val
                this.getList()
            },
            handleDeleteNews(news) {
                this.$swal({
                    title: 'Подтвердите удаление',
                    type: 'question',
                    html: `<b>Вы действительно хотите удалить новость «${news.title}» и все что с нею связанно?</b>`,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: buttons.delete,
                    cancelButtonText: buttons.cancel,
                }).then(result => {
                    if (result.value) {
                        this.loading = true;
                        deleteNews(news.id).then(response => {
                            this.loading = false;
                            this.getList();
                            this.$notify({
                                title: 'Успешно',
                                message: response.data.message,
                                type: 'success'
                            });
                        }).catch(error => {
                            console.dir(error);
                        });
                        /*deletePlan(row.id).then(response => {
                            console.dir(response);
                            if (response.data.success) {
                                Message({
                                    message: response.data.message,
                                    type: 'success',
                                    duration: 5 * 1000
                                });
                                this.getList();
                            } else {
                                this.loading = false;
                                this.$swal({
                                    title: 'Удаление невозможно',
                                    type: 'warning',
                                    html: `<b>${response.data.message}</b>`,
                                });
                            }
                        })*/
                    }
                }).catch(error => {
                    console.dir(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>