<template>
    <div>
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="24" class="text-right">
                    <router-link :to="{name:'news.create'}">
                        <el-button type="primary">
                            <i class="fa fa-plus"></i> Добавить новость
                        </el-button>
                    </router-link>
                </el-col>
            </el-row>
        </div>
        <div class="filter-container">
            <el-form @keyup.enter="handleFilter" :model="filter">
                <el-row :gutter="10">
                    <el-col :span="20">
                        <el-row :gutter="10">
                            <el-col :span="12">
                                <el-input v-model="filter.title" placeholder="Заголовок"></el-input>
                            </el-col>
                            <el-col :span="12">
                                <el-select clearable filterable v-model="filter.type"
                                           placeholder="Раздел"
                                           class="w100">
                                    <el-option
                                            v-for="(type,key) in newsTypes"
                                            :label="type.text"
                                            :key="type.id"
                                            :value="type.id"></el-option>
                                </el-select>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="4">
                        <el-button type="primary" @click="handleFilter">
                            <i class="fa fa-search"></i> Применить
                        </el-button>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>

<script>
    import {newsTypes} from "../../../../constants";

    export default {
        name: "news-filter-panel",
        data() {
            return {
                newsTypes,
                filter: {
                    title: null,
                    type: null
                }
            }
        },
        methods: {
            handleFilter() {
                this.$bus.emit('update-news-list', this.filter);
            }
        }
    }
</script>

<style scoped>

</style>