<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="AddDocumentInSubject" label-position="top"
                     class="demo-ruleForm" v-loading="loading">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить документ</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <v-alert :value="hasError" type="error">
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </v-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.name')" prop="name">
                                    <el-select filterable
                                               allow-create v-model="model.name" :placeholder="$t('label.name')"
                                               class="w100">
                                        <el-option
                                                v-for="(filename,key) in programFileNames"
                                                :key="filename.text"
                                                :label="filename.text"
                                                :value="filename.text"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Активность">
                                    <el-switch
                                            v-model="model.active"
                                            active-text="Показывать на сайте"
                                            inactive-text="Не показывать на сайте">
                                    </el-switch>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.file')" prop="file">
                                    <input type="file" ref="file" @change="handleChangeFile">
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {addDocumentInSubject} from '@/api/education/profession-program-files'
    import {Message} from 'element-ui';
    import {programFileNames} from "../../../../constants";

    export default {
        name: "AddDocumentInSubject",
        props: ['subject'],
        data() {
            return {
                autoUpload: false,
                loading: false,
                serverErrors: [],
                hasError: false,
                programFileNames,
                model: {
                    subject_id: this.subject.id,
                    profession_program_id: this.subject.profession_program_id,
                    name: null,
                    file: null,
                    active: true
                },
                rules: {
                    name: [
                        {required: true, message: 'Заполните Наименование файла', trigger: 'blur'},
                    ],
                    // file: [
                    //     {required: true, message: 'Выберите файл', trigger: 'blur'},
                    // ]
                }
            }
        },
        mounted() {
        },
        methods: {
            handleChangeFile() {
                this.model.file = this.$refs.file.files[0];
            },
            handleClose() {
                this.$modal.hide('AddDocumentInSubject');
            },
            handleCreate() {
                this.$refs['AddDocumentInSubject'].validate((valid) => {
                    if (valid) {
                        this.loading = true;
                        const loading = this.$loading({
                            lock: true,
                            text: 'Идет добавление файла к дисциплине',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        addDocumentInSubject(this.model).then(response => {
                            this.$notify({
                                title: 'Успешно',
                                message: `Документ был успешно добавлен`,
                                type: 'success'
                            });
                            this.$bus.emit(`update-subject-document-list`, response.data);
                            this.handleClose();
                            loading.close();

                        }).catch(exp => {
                            this.loading = false;
                            loading.close();
                        })
                        this.loading = false;
                    }
                });
            }
        }

    }
</script>

<style scoped>

</style>