<template>
    <div>
        ID:{{file.id}}<br>
        <el-button type="primary" @click="handleCreateComponent">
            <i class="fa fa-plus"></i> Добавить компонент
        </el-button>
        <el-button type="success" icon="el-icon-upload" @click="handleBuildFile" v-if="components.length > 0">
            Собрать файл из компонентов
        </el-button>

        <el-button type="danger" icon="el-icon-delete" @click="handleDeleteFile">
            Удалить файл
        </el-button>
        <table class="table is-bordered is-fullwidth" style="margin-top: 10px">
            <tr>
                <td>Основной файл</td>
                <td>Последнее обновление {{file.updated_at|dateFormat('DD.MM.YYYY HH:mm:ss')}}</td>
                <td>
                    <a :href="file.url" target="_blank" v-if="file.url" class="link">Открыть</a>
                    <span v-else>Файл отсутствует</span>
                </td>
                <td>
                    <!--<el-button type="primary" @click="handleRefreshFile">-->
                    <!--<i class="fa fa-refresh"></i>-->
                    <!--</el-button>-->
                    <el-upload
                            :on-change="handleChange"
                            :on-success="handleSuccessUpload"
                            :limit="1"
                            :data:="requestData"
                            :show-file-list="false"
                            class="custom-drag-field"
                            :action="routeByName('admin.api.program-document.reload',{id:file.id,profession_program_id:profession_program_id})"
                            :file-list="fileList">
                        <el-button size="small" type="primary">Нажмите для загрузки</el-button>
                    </el-upload>
                </td>
            </tr>
        </table>
        <file-components :components="components"></file-components>
    </div>
</template>

<script>
    import FileComponents from "../../../../components/FileComponents/index";
    import CreateComponentModal from './program-file/create-component-modal'
    import {buildFromComponents} from "../../../../api/education/profession-program-files";
    import {deleteFile} from "../../../../api/education/profession-program-files";

    export default {
        name: "program-subject-file",
        components: {FileComponents},
        props: {
            file: {
                type: Object
            },
            index: {
                type: Number
            },
            subject_id: {
                type: Number
            }
        },
        data() {
            return {
                components: this.file.components,
                profession_program_id: this.$route.params.id,
                fileList: [],
                requestData: {
                    profession_program_id: this.$route.params.id
                }
            }
        },
        created() {
            this.components = this.file.components;
        },
        mounted() {
            this.$bus.on(`refresh-components-table-${this.file.id}`, data => {
                this.components.push(data);
                this.sortComponents();
            });
            console.dir(this.$route.params.id);
            this.$bus.on(`update-component-data-${this.file.id}`, data => {
                this.$set(this.components, data.index, data.component);
                this.sortComponents();
            });
        },
        methods: {
            handleSuccessUpload(response, file, fileList) {
                console.log(response);
                this.$notify.success({
                    title: 'Успешно',
                    message: 'Документ был успешно обновлен'
                });
                this.$set(this.fileList, []);
                this.file = {...{id: this.file.id}, ...response};
                this.fileList = [];
            },
            handleChange(file, fileList) {
                this.fileList = fileList;
            },
            sortComponents() {
                this.components = _.sortBy(this.components, 'sort');
            },
            handleCreateComponent() {
                this.$modal.show(CreateComponentModal,
                    {
                        id: this.file.id
                    },
                    {
                        name: 'CreateComponentModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            },
            handleBuildFile() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Идёт сборка файла, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });

                buildFromComponents(this.file.id).then(response => {
                    this.$set(this.file, 'url', response.data.path);
                    this.$notify({
                        title: 'Успешно',
                        message: 'Файл был успешно пересобран',
                        type: 'success'
                    });
                    loading.close();
                }, error => {
                    this.$alert(error.response.data.message, 'Внимание, ошибка', {
                        confirmButtonText: 'OK',
                    });
                    loading.close();
                });
            },
            handleRefreshFile() {
                console.log(this.routeByName('admin.api.login'));
            },
            handleDeleteFile() {
                this.$confirm(`<b>Вы действительно хотите удалить «${this.file.name}» id ${this.file.id}?</b>`, 'Внимание', {
                    confirmButtonText: 'Да',
                    cancelButtonText: 'Отмена',
                    dangerouslyUseHTMLString: true,
                    type: 'warning'
                }).then(() => {
                    const loading = this.$loading({
                        lock: true,
                        text: 'Документ удаляется',
                        spinner: 'el-icon-loading',
                        background: 'rgba(240, 240, 240, 0.8)'
                    });
                    deleteFile(this.file.id).then(response => {
                        if (response.data.success) {
                            loading.close();
                            this.$notify({
                                title: 'Успешно',
                                message: response.data.message,
                                type: 'success'
                            });
                            this.$bus.emit(`remove-subject-file`, this.index);
                        } else {
                            loading.close();
                        }
                    }, error => {
                        this.$alert(error.response.data.message, 'Внимание, ошибка', {
                            confirmButtonText: 'OK',
                        });
                        loading.close();
                    })
                }).catch(() => {

                });


                // this.$swal({
                //     title: 'Подтвердите удаление',
                //     type: 'question',
                //     html: `<b>Вы действительно хотите удалить «${this.file.name}» id ${this.file.id}?</b>`,
                //     showCancelButton: true,
                //     confirmButtonColor: '#3085d6',
                //     cancelButtonColor: '#d33',
                //     confirmButtonText: buttons.delete,
                //     cancelButtonText: buttons.cancel,
                // }).then(result => {
                //     if (result.value) {
                //         this.loading = true;
                //         const loading = this.$loading({
                //             lock: true,
                //             text: 'Документ удаляется',
                //             spinner: 'el-icon-loading',
                //             background: 'rgba(240, 240, 240, 0.8)'
                //         });
                //         deleteFile(file.id).then(response => {
                //             if (response.data.success) {
                //                 loading.close();
                //                 this.$notify({
                //                     title: 'Успешно',
                //                     message: response.data.message,
                //                     type: 'success'
                //                 });
                //                 this.$bus.emit(`remove-subject-file-${this.subject_id}`, this.index);
                //             } else {
                //                 loading.close();
                //                 this.loading = false;
                //                 this.$swal({
                //                     title: 'Удаление невозможно',
                //                     type: 'warning',
                //                     html: `<b>${response.data.message}</b>`,
                //                 });
                //             }
                //         }, error => {
                //             loading.close();
                //         })
                //     }
                // });

            }
        }
    }
</script>

<style scoped lang="scss">
    .custom-drag-field {
        text-align: center;

        .el-upload.el-upload--text {
            .el-upload-dragger {
                .el-icon-upload {
                    font-size: 50px;
                    margin: 15px 0 15px;
                }

                .el-upload__text {
                    font-size: 12px;
                }
            }
        }
    }

    .el-upload-dragger {
        width: 150px !important;
        height: 150px !important;

    }
</style>