<template>
    <div>
        <div class="basic-documents">
            <basic-documents :program="program"></basic-documents>
        </div>
        <div class="additionals-documents">
            <el-tabs type="border-card">
                <el-tab-pane :label="key|additionalDocumentType" v-for="(documents,key) in additionalDocuments" :key="key">
                    <additional-documents :key="key" :documents="documents" :title="key" :program_id="program.id"></additional-documents>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>

<script>
    import BasicDocuments from "./basic-documents";
    import AdditionalDocuments from "./additional-documents";

    export default {
        name: "program-documents",
        components: {AdditionalDocuments, BasicDocuments},
        props: ['program'],
        data() {
            return {
                additionalDocuments: []
            }
        },
        mounted() {
            this.additionalDocuments = this.program.additionalDocuments;
        }
    }
</script>

<style scoped>
    .additionals-documents {
        margin: 10px;
    }
</style>