<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="UpdateSubjectForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Обновить дисциплину</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.name')" prop="name">
                                    <el-input :placeholder="$t('label.name')"
                                              v-model="model.name"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.type')" prop="type_id">
                                    <el-select v-model="model.type_id" :placeholder="$t('label.type')"
                                               class="w100">
                                        <el-option
                                                v-for="(type,key) in sortTypes"
                                                :label="type.name"
                                                :key="type.id"
                                                :value="type.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleUpdate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {subjectTypes} from "@/constants";
    import {updateSubject} from "@/api/education/subjects";

    export default {
        name: "UpdateSubjectModal",
        props: ['subject'],
        data() {
            return {
                loading: false,
                hasError: false,
                serverErrors: [],
                model: {},
                rules: {
                    name: [
                        {required: true, message: 'Заполните наименование', trigger: 'blur'}
                    ],
                    type_id: [
                        {required: true, message: 'Выберите тип дисциплины', trigger: 'change'}
                    ]
                }
            }
        },
        computed: {
            sortTypes() {
                return _.sortBy(subjectTypes, 'name');
            }
        },
        mounted() {
            this.model = this.subject;
        },
        methods: {
            handleUpdate() {
                this.$refs['UpdateSubjectForm'].validate((valid) => {
                    if (valid) {
                        updateSubject(this.model).then(response => {
                            this.hasError = false;
                            this.serverErrors = [];
                            this.handleClose(response.data.success);
                        }, error => {
                            this.hasError = true;
                            let data = error.response.data;
                            if (!_.isUndefined(data.message)) {
                                this.serverErrors.push(data.message);
                            }
                            if (!_.isUndefined(data.errors)) {
                                this.serverErrors = data.errors;
                            }
                        })
                    }
                })
            },
            handleClose(isAdd = false) {
                this.$modal.hide('UpdateSubjectModal', {success: _.isBoolean(isAdd)});
            }
        }
    }
</script>

<style scoped>

</style>