<template>
    <div class="app-container">
        <div class="filter-container" style="text-align: right">
            <el-button class="filter-item" style="margin-left: 10px;" type="primary"
                       @click="handleCreate">
                <v-icon name="plus"/>
                Добавить дисциплину
            </el-button>
        </div>
        <div class="filter-container">
            <v-container grid-list-md fluid>
                <v-layout row wrap>
                    <v-flex xs12 sm10 md10>
                        <v-layout row wrap>
                            <v-flex xs6>
                                <el-input clearable v-model="listQuery.filter.name" placeholder="Название"></el-input>
                            </v-flex>
                            <v-flex xs6>
                                <el-select clearable filterable v-model="listQuery.filter.type_id"
                                           placeholder="Тип"
                                           class="w100">
                                    <el-option
                                            v-for="(type,key) in sortSubjectTypes"
                                            :label="type.name"
                                            :key="type.id"
                                            :value="type.id"></el-option>
                                </el-select>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex xs12 md2 sm2 text-xs-center>
                        <el-button v-waves class="filter-item" type="primary" icon="el-icon-search"
                                   @click="handleFilter"
                                   @keypress.enter="handleFilter">
                            {{$t('form.apply')}}
                        </el-button>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
        <el-table
                v-loading="loading"
                :data="subjects"
                style="width: 100%"
                border
                stripe>
            <el-table-column prop="id" label="ID" width="50px"></el-table-column>
            <el-table-column label="Название" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.name}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Тип" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.type_id|subjectType}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Действия" fixed="right">
                <template slot-scope="scope">
                    <div>
                        <el-button type="primary" icon="el-icon-edit" circle
                                   @click="handleUpdate(scope.row)"></el-button>
                        <el-button type="danger" icon="el-icon-delete" @click="handleDelete(scope.row)"
                                   circle v-if="scope.row.isRemove"></el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {subjectTypes} from "@/constants";
    import {fetchList, deleteSubject} from "@/api/education/subjects";
    import CreateSubjectModal from './CreateSubjectModal';
    import UpdateSubjectModal from './UpdateSubjectModal'
    import {Message} from 'element-ui';
    import {buttons} from "@/constants";

    export default {
        name: "subjects-list",
        data() {
            return {
                subjects: [],
                subjectsTypes: [],
                loading: true,
                total: 0,
                labelPosition: 'top',
                listQuery: {
                    page: 1,
                    limit: 10,
                    filter: {
                        name: null,
                        type_id: null,
                    }
                },
            }
        },
        computed: {
            sortSubjectTypes() {
                return _.sortBy(subjectTypes, 'name');
            }
        },
        mounted() {
            this.getList();
        },
        methods: {
            getList() {
                fetchList(this.listQuery).then(response => {
                    this.total = response.data.total;
                    this.subjects = response.data.subjects;
                    this.loading = false;
                }, error => {

                });
            },
            showLoading() {
                this.loading = true;
            },
            handleFilter() {
                this.showLoading();
                this.listQuery.page = 1
                this.getList()
            },
            handleSizeChange(val) {
                this.showLoading();
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.showLoading();
                this.listQuery.page = val
                this.getList()
            },
            handleCreate() {
                this.$modal.show(CreateSubjectModal, {}, {
                        name: 'CreateSubjectModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    },
                    {
                        'before-close': (event) => {
                            console.log(event);
                            if (event.params.success) {
                                this.getList()
                            }
                        }
                    })
            },
            handleUpdate(subject) {
                this.$modal.show(UpdateSubjectModal, {subject}, {
                        name: 'UpdateSubjectModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    },
                    {
                        'before-close': (event) => {
                            console.log(event);
                            if (event.params.success) {
                                this.getList()
                            }
                        }
                    })
            },
            handleDelete(subject) {
                this.$swal({
                    title: 'Подтвердите удаление',
                    type: 'question',
                    html: `<b>Вы действительно хотите удалить дисциплину «${subject.name}»?</b>`,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: buttons.delete,
                    cancelButtonText: buttons.cancel,
                }).then(result => {
                    if (result.value) {
                        this.loading = true;
                        deleteSubject(subject.id).then(response => {
                            if (response.data.success) {
                                Message({
                                    message: response.data.message,
                                    type: 'success',
                                    duration: 5 * 1000
                                });
                                this.getList();
                            }
                        }, error => {
                            this.loading = false;
                            let programs = '';
                            for (const program of error.response.data.programs) {
                                programs += `<li>${program}</li>`;
                            }
                            this.$swal({
                                title: 'Удаление невозможно',
                                type: 'warning',
                                html: `<b>${error.response.data.message}</b><br><br><ul>${programs}</ul>`,
                            });
                        }).catch(error => {
                            console.log('cathc errror')
                        });
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>