<template>
    <div>
        <el-form ref="CreateNewsForm" :model="model" :rules="rules" class="form-container" label-position="top">
            <sticky :class-name="'sub-navbar draft'">
                <el-button v-loading="loading" style="margin-left: 10px;" type="success" @click="handleCreate">Добавить
                </el-button>
                <el-button v-loading="loading" type="danger">Отмена</el-button>
            </sticky>
            <div class="app-container">
                <el-row :gutter="10">
                    <el-col :span="12">
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="serverErrors.length >0"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item label="Заголовок" prop="title">
                                        <el-input v-model="model.title" placeholder="Заголовок"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="10">
                                <el-col :span="12">
                                    <el-form-item label="Дата публикации" prop="publication_date">
                                        <el-date-picker
                                                value-format="yyyy-MM-dd"
                                                format="dd.MM.yyyy"
                                                type="date"
                                                placeholder="Дата публикации"
                                                v-model="model.publication_date"
                                                class="w100"
                                                :picker-options="pickerOptions"
                                                :disabled="loading">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="Показывать до" prop="visible_to">
                                        <el-date-picker
                                                value-format="yyyy-MM-dd"
                                                format="dd.MM.yyyy"
                                                type="date"
                                                placeholder="Показывать до"
                                                v-model="model.visible_to"
                                                class="w100"
                                                :picker-options="visibleToPickerConfig"
                                                :disabled="loading">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="10">
                                <el-col :span="12">
                                    <el-form-item label="Раздел" prop="type">
                                        <el-select filterable v-model="model.type"
                                                   placeholder="Раздел"
                                                   class="w100">
                                            <el-option
                                                    v-for="(type,key) in newsTypes"
                                                    :label="type.text"
                                                    :key="type.id"
                                                    :value="type.id"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="Активность">
                                        <el-switch
                                                v-model="model.active"
                                                active-text="Показывать"
                                                inactive-text="Не показывать">
                                        </el-switch>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item label="Изображение">
                                        <el-button type="primary" @click="selectImage">
                                            <i class="fa fa-upload"></i> Выбрать
                                        </el-button>
                                        <input type="file" accept="image/*" style="display: none" @change="setImage"
                                               ref="news_image">
                                        <span v-if="this.model.image">{{this.model.image.name}}  <el-button
                                                type="danger"
                                                @click="deleteImage"
                                                icon="el-icon-delete"
                                                circle
                                                size="mini"></el-button></span>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item label="Превью" prop="preview">
                                        <div class="editor-container">
                                            <Tinymce ref="preview" :height="200" v-model="model.preview" id="preview"/>
                                        </div>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item label="Полный текст" prop="full_text">
                                        <div class="editor-container">
                                            <Tinymce ref="fulltext" :height="300" v-model="model.full_text"
                                                     id="fulltext"/>
                                        </div>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <div class="additional-files">
                                    <h3>Дополнительные файлы</h3>
                                    <div class="text-right">
                                        <el-button type="primary" @click="attachFile">
                                            <i class="fa fa-plus"></i> Добавить файл
                                        </el-button>
                                    </div>
                                    <div class="files">
                                        <div class="no-report" v-if="files.length===0">
                                            <h2>Файлы не загружены</h2>
                                            <p> Для добавления файлов нажмите кнопку
                                                «Добавить файл»</p>
                                        </div>
                                        <table class="table is-bordered is-fullwidth" v-if="files.length>0">
                                            <tr>
                                                <th>Наименование файла</th>
                                                <th>Название файла</th>
                                                <th></th>
                                            </tr>
                                            <tr v-for="(file,key) in files" :key="key">
                                                <td>{{file.name}}</td>
                                                <td>{{file.file.name}}</td>
                                                <td>
                                                    <el-button type="danger" size="small" round
                                                               @click="removeFile(key)">
                                                        <i class="fa fa-window-close"></i>
                                                    </el-button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </el-col>
                            <el-col :span="24">
                                <div class="additional-files">
                                    <h3>Фотографии</h3>
                                    <div class="text-right">
                                        <el-button type="primary" v-if="images.length <=9"
                                                   @click="handleOpenUploadPhotoWindow">
                                            <i class="fa fa-plus"></i> Добавить фотографии
                                        </el-button>
                                        <input max="9" multiple type="file" ref="newsImages" class="hide"
                                               accept="image/jpeg, image/png"
                                               @change="attachPhotos">
                                    </div>
                                    <div class="files">
                                        <div class="no-report" v-if="images.length===0">
                                            <h2>Файлы не загружены</h2>
                                            <p> Для добавления фотографий нажмите кнопку
                                                «Добавить фотографии»(поддерживается множественная загрузка)</p>
                                        </div>

                                        <table class="table is-bordered is-fullwidth" v-if="images.length>0">
                                            <tr>
                                                <th>Название файла</th>
                                                <th></th>
                                            </tr>
                                            <tr v-for="(image,key) in images" :key="key">
                                                <td>{{image.name}}</td>
                                                <td>
                                                    <el-button type="danger" size="small" round
                                                               @click="removeImage(key)">
                                                        <i class="fa fa-window-close"></i>
                                                    </el-button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
            </div>
        </el-form>
    </div>
</template>

<script>
    import Sticky from '@/components/Sticky'
    import Tinymce from '@/components/Tinymce'
    import {newsTypes} from "../../../constants";
    import {DateTime} from 'luxon';
    import {create} from "../../../api/site/news";
    import AddFileInNews from './components/AddFileInNews'

    export default {
        name: "create-news",
        components: {Sticky, Tinymce},
        data() {
            return {
                newsTypes,
                loading: false,
                model: {
                    title: null,
                    type: 1,
                    publication_date: DateTime.local().toISODate(),
                    active: true,
                    image: null,
                    visible_to: null,
                    preview: null,
                    full_text: null
                },
                serverErrors: [],
                files: [],
                images: [],
                rules: {
                    title: [
                        {required: true, message: 'Не заполнен заголовок новости', trigger: 'blur'}
                    ],
                    publication_date: [
                        {required: true, message: 'Не заполнена дата публикации', trigger: 'blur'}
                    ],
                    preview: [
                        {required: true, message: 'Не заполнено превью', trigger: 'blur'}
                    ],
                    full_text: [
                        {required: true, message: 'Не заполнен полный текст новости', trigger: 'blur'}
                    ]
                },
                pickerOptions: this.$pickerConfig(),
                visibleToPickerConfig: this.$pickerConfig({
                    disabledDate: (time) => {
                        let publication_date = DateTime.fromISO(this.model.publication_date).plus({day: 1});
                        return time < publication_date;
                    }
                })
            }
        },
        mounted() {
            this.$bus.on('attach-news-file', data => {
                this.files.push(data);
            })
        },
        methods: {
            deleteImage() {
                this.model.image = null;
            },
            selectImage() {
                this.$refs['news_image'].click();
            },
            setImage() {
                let file = this.$refs['news_image']['files'][0];
                this.model.image = file;
                this.$refs['news_image'].type = 'text';
                this.$refs['news_image'].type = 'file';
            },
            attachFile() {
                this.$modal.show(AddFileInNews,
                    {},
                    {
                        name: 'AddFile',
                        width: 0,
                        height: 0,
                        'z-index': 1500
                    }
                )
            },
            removeFile(index) {
                this.$delete(this.files, index);
            },
            handleOpenUploadPhotoWindow() {
                this.$refs['newsImages'].click();
            },
            attachPhotos() {
                let input = this.$refs['newsImages'];
                let files = input['files'];
                let acceptTypes = ['image/png', 'image/jpeg'];
                let acceptFiles = [...files].filter(function (file) {
                    return acceptTypes.includes(file.type);
                });

                acceptFiles.forEach(file => {
                    this.images.push(file);
                });
                input.type = 'text';
                input.type = 'file';
            },
            removeImage(key) {
                this.$delete(this.images, key);
            },
            moveToList() {

            },
            handleCreate() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Новость добавляется, пожалуйста, подождите....',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                this.$refs.CreateNewsForm.validate(valid => {
                    if (valid) {
                        create(this.model, this.files, this.images).then(response => {
                            loading.close();
                            this.$notify({
                                title: 'Успешно',
                                message: response.data.message,
                                type: 'success'
                            });
                            this.$router.push({name: 'news'});
                        }, error => {
                            loading.close();
                            let response = error.response.data;
                            this.serverErrors = [];
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            if (response.errors) {
                                this.serverErrors = response.errors;
                            }
                            this.loading = false;
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>
    .additional-files {
        padding: 15px;
    }

    .files {
        margin-top: 10px;
    }
</style>