<template>
    <div class="app-container">
        <news-filter-panel></news-filter-panel>
       <news-table></news-table>
    </div>
</template>

<script>
    import NewsFilterPanel from "./components/news-filter-panel";
    import NewsTable from "./components/news-table";

    export default {
        name: "news-list",
        components: {NewsTable, NewsFilterPanel}
    }
</script>

<style scoped>

</style>