<template>
    <v-dialog persistent max-width="700px">
        <v-card>
            <v-card-title>
                <span class="headline">Добавление месяцев в учебном году</span>
            </v-card-title>
            <v-card-text>
                <el-row :gutter="10">
                    <el-col :span="24" style="margin-bottom: 10px">
                        <el-alert v-if="errors.length>0"
                                  title="Произошла ошибка"
                                  type="error"
                                  show-icon>
                            <ul>
                                <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                            </ul>
                        </el-alert>
                    </el-col>
                    <el-form :rules="rules" ref="CreateReplacingForm" label-position="top"
                             class="demo-ruleForm">
                        <el-row :gutter="10">
                            <table class="table table-bordered table-striped w-100">
                                <tr>
                                    <th>Месяц</th>
                                    <th>Начало</th>
                                    <th>Окончание</th>
                                    <th>Семестр</th>
                                </tr>
                                <tr v-for="(month,index) in model">
                                    <td>{{month.name|month}}</td>
                                    <td>
                                        <el-date-picker v-model="model[index].start_date" v-mask="'##.##.####'"
                                                        :picker-options="pickerOptions"
                                                        value-format="yyyy-MM-dd"
                                                        format="dd.MM.yyyy"
                                                        type="date"
                                                        class="w100"
                                        ></el-date-picker>
                                    </td>
                                    <td>
                                        <el-date-picker v-model="model[index].end_date" v-mask="'##.##.####'"
                                                        :picker-options="pickerOptions"
                                                        value-format="yyyy-MM-dd"
                                                        format="dd.MM.yyyy"
                                                        type="date"
                                                        class="w100"
                                        ></el-date-picker>
                                    </td>
                                    <td>
                                        {{month.semester}} семестр
                                    </td>
                                </tr>
                            </table>
                        </el-row>
                    </el-form>
                </el-row>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <el-button round @click="handleClose">
                    {{$t('form.cancel')}}
                </el-button>
                <el-button type="primary" round
                           @click="handleCreate">
                    {{$t('form.add')}}
                </el-button>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import moment from 'moment';
    import {months} from "../../../constants";
    import {store} from "../../../api/education/months";

    export default {
        name: "CreateMonthsModal",
        props: {
            year: {}
        },
        data() {
            return {
                pickerOptions: this.$pickerConfig(),
                rules: {},
                errors: [],
                model: []
            }
        },
        mounted() {
            this.makeModel();
        },
        methods: {
            handleClose() {
                this.$modal.hide('CreateMonthsModal')
            },
            handleCreate() {
                const lockScreen = this.$lockScreen({text: 'Добавляю месяца'});
                const data = {
                    academic_year: this.year,
                    months: this.model,
                }
                store(data).then(response => {
                    this.handleClose();
                    this.$notify({
                        type: 'success',
                        title: 'Успешно',
                        message: 'Месяца были успешно добавлена'
                    });
                    this.$store.dispatch('SET_YEAR_MONTHS', this.model);
                }).catch(e => {

                }).finally(e => {
                    lockScreen.close();
                })
            },
            makeModel() {
                console.log('Start');
                console.log(months);
                for (let key in months) {
                    const date = moment(`${months[key]} ${this.year}`);
                    const semester = date.month() > 7 ? 1 : 2;
                    this.model.push({
                        name: months[key],
                        start_date: date.startOf('month').format('YYYY-MM-DD'),
                        end_date: date.endOf('month').format('YYYY-MM-DD'),
                        semester
                    })
                }
            }
        }
    }
</script>

<style scoped>

</style>
