<template>
    <div class="app-container">
        <el-page-header @back="goDashboard" content="Месяца в учебном году" title="На главную">
        </el-page-header>
        <div style="padding-top: 10px">
            <el-row :gutter="10" style="margin-bottom: 10px">
                <el-col :span="24" style="text-align: right" v-if="_months.length===0">
                    <el-button type="primary" @click="addMonths">
                        <i class="fa fa-plus"></i> Добавить месяца
                    </el-button>
                </el-col>
            </el-row>
            <el-row :gutter="10" style="margin-bottom: 10px">
                <el-col :span="24">
                    <el-select clearable filterable v-model="year"
                               placeholder="Период"
                               class="w100" :loading="loading">
                        <el-option
                                v-for="(year,key) in academicYears"
                                :key="year.key"
                                :value="year.key"
                                :label="year.label"
                        >
                        </el-option>
                    </el-select>
                </el-col>
            </el-row>
        </div>
        <div>
            <div class="semester" v-for="(semester,index) in _months" :key="index">
                <h2>{{semester.semester}} Семестр</h2>
                <div class="month" v-for="(month,key) in semester.months" :key="key">
                    <div class="month_name">
                        <h3>{{month.name|month}}</h3>
                    </div>
                    <div class="month_period">
                        {{month.start_date|dateFormat}} - {{month.end_date|dateFormat}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {index} from "../../../api/education/months";
    import {academicYears} from "../../../constants";
    import {getCurrentPeriod} from "../../../utils/training-periods";
    import CreateMonthsModal from "./CreateMonthsModal";

    export default {
        name: "index",
        data() {
            return {
                academicYears,
                year: getCurrentPeriod(),
                months: [],
            }
        },
        computed: {
            _months() {
                const monthsList=this.$store.getters.academicYearMonths;
                return this._(monthsList).groupBy('semester').map((months,semester)=>({semester,months})).value();
            }
        },
        mounted() {
            this.getMonths()
        },
        methods: {
            goDashboard() {
                this.$router.push({name: 'dashboard'});
            },
            getMonths() {
                const lockScreen = this.$lockScreen({text: 'Загружаю список месяцев'});
                index({year:this.year})
                    .then(response => {
                        this.$store.dispatch('SET_YEAR_MONTHS', response.data.months);
                    }).finally(e => {
                    lockScreen.close();
                })
            },
            addMonths() {
                this.$modal.show(CreateMonthsModal, {
                    year: this.year
                }, {
                    name: 'CreateMonthsModal',
                    width: 0,
                    height: 0,
                    'z-index': 1500
                })
            }
        }
    }
</script>

<style scoped lang="scss">
    .semester{
        h2{
            margin-bottom: 5px;
        }
    }
    .month{
        display: flex;
        border: 1px gray solid;
        width: 100%;
        flex-direction: column;
        padding: 10px;
        margin-bottom: 5px;
        transition: .3s;
        &_name{
            padding-bottom: 3px;
            font-size: 18px;
        }
        &:hover{
            background-color: #c0ccda;
            cursor: pointer;
        }
    }
</style>
