<template>
    <div>
        <el-button type="primary" @click="edit" round>
            <i class="fa fa-edit"></i> Редактировать информацию
        </el-button>
        <br>
        <div class="information">
            <p>
                <span data-prefix="Орган, осуществляющий надзор: ">{{data.name_of_the_supervisory}}</span><br>
                <span data-prefix="Год: ">{{data.year}}</span><br>
                <span data-prefix="Комментарий: ">{{data.comment}}</span>
            </p>
        </div>
        <div class="files">
            <h3>Файлы</h3>
            <el-button type="primary" round>
                <i class="fa fa-plus"></i> Добавить файл
            </el-button>
            <div style="margin-top: 15px">
                <el-table
                        :data="files"
                        border
                        style="width: 100%">
                    <el-table-column width="70"
                                     prop="id"
                                     :label="$t('table.id')">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="Наименование">
                    </el-table-column>
                    <el-table-column
                            label="Файл">
                        <template slot-scope="scope">
                            <a :href="scope.row.path" target="_blank" class="link">Открыть</a>
                        </template>
                    </el-table-column>
                    <el-table-column
                            :label="$t('table.actions')">
                        <template slot-scope="scope">

                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "basic-information",
        props: ['regulation'],
        data() {
            return {
                data: [],
                files: [],
            }
        },
        beforeUpdate() {
            this.data = this.regulation;
            this.files = this.regulation.files;
        },
        created() {
            console.log('basic=info');
            this.data = this.regulation;
            this.files = this.regulation.files;
        },
        methods: {
            edit() {

            }
        }
    }
</script>

<style scoped>

</style>