<template>
    <el-collapse-item :title="violation.name" :name="violation.id">
    </el-collapse-item>
</template>

<script>
    export default {
        name: "violation-item",
        props: ['violation']
    }
</script>

<style scoped>

</style>