<template>
    <div>
        <el-collapse accordion>
            <violation-item :violation="violation" v-for="(violation,key) in data" :key="key"></violation-item>
        </el-collapse>
    </div>
</template>

<script>
    import ViolationItem from "./violation-item";
    export default {
        name: "violations",
        components: {ViolationItem},
        props: ['violations', 'regulation_id'],
        data() {
            return {
                id: this.regulation_id,
                data: this.violations,
                //files: this.violations.files
            }
        }
    }
</script>

<style scoped>

</style>