<template>
    <div class="no-report">
        <h2>{{title}}</h2>
        <p>
            <slot></slot>
        </p>
    </div>
</template>

<script>
    export default {
        name: "no-report",
        props: {
            title: {
                type: String
            }
        }
    }
</script>

<style scoped>

</style>