<template>
    <div class="app-container">
        <page-title-section>
            <template v-slot:title>
                Группа {{_group.full_name}}
            </template>
        </page-title-section>
        <el-tabs type="card">
            <el-tab-pane label="Учебные периоды">
                <training-group-periods></training-group-periods>
            </el-tab-pane>
            <el-tab-pane label="Контингент">
            </el-tab-pane>
            <el-tab-pane label="Выгрузки">
                <el-button type="primary" @click="handleExportStudents">
                    <i class="fa fa-user"></i> Список студентов для АСУ РСО
                </el-button>
                <el-button type="primary" @click="handleExportParents">
                    <i class="fa fa-user"></i> Список родителей для АСУ РСО
                </el-button>
                <el-button type="primary" @click="handleExportProfiles">
                    <i class="fa fa-file-pdf-o"></i> Выгрузка досье студентов в PDF
                </el-button>
                <el-button type="primary" @click="handleExportStudentsPhotos">
                    <i class="fa fa-camera" aria-hidden="true"></i> Выгрузка фотографий студентов
                </el-button>
                <el-button type="danger" @click="handleMassPrintReference">
                    <i class="fa fa-file-pdf-o"></i> Печать справок на группу
                </el-button>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
    import {show as showGroup} from "../../../api/contingent/training_groups";
    import TrainingGroupPeriods from "./components/training-group-periods";
    import PageTitleSection from "../../../components/PageTItleSection/page-title-section";

    export default {
        name: "detail",
        components: {PageTitleSection, TrainingGroupPeriods},
        computed: {
            _group() {
                return this.$store.getters.getCurrentGroup
            }
        },
        mounted() {
            this.getGroup();
        },
        methods: {
            getGroup() {
                let groupId = this.$route.params.id;
                let lockScreen = this.$lockScreen({text: 'Получаю данные о группе'});
                showGroup(groupId)
                    .then(response => response.data)
                    .then(data => {
                        lockScreen.close();
                        this.$store.dispatch('SET_CURRENT_GROUP', data);
                    })
                    .catch(error => {
                        lockScreen.close();
                        this.$swalModal('error', {html: error.error.message})
                            .then(value => {
                                this.$router.push({name: 'training_groups.list'});
                            });
                    });
            },
            handleExportStudents() {
                let route = this.routeByName('admin.training-groups.export-students-to-asurso', {id: this._group.id});
                window.open(route, '_blank');
            },
            handleExportParents() {
                let route = this.routeByName('admin.training-groups.export-students-parents-to-asurso', {id: this._group.id});
                window.open(route, '_blank');
            },
            handleExportProfiles() {
                let route = this.routeByName('admin.training-groups.export-students-profiles', {id: this._group.id});

                window.open(route, '_blank');
            },
            handleExportStudentsPhotos(){
                let route = this.routeByName('admin.training-groups.export-students-photos', {id: this._group.id});

                window.open(route, '_blank');
            },
            handleMassPrintReference(){
                let route = this.routeByName('api.training-groups.mass-print-references', {id: this._group.id});

                window.open(route, '_blank');
            }
        }
    }
</script>

<style scoped>

</style>