<template>
    <div class="app-container">
        <training-groups-filter :groups="selectedGroups"></training-groups-filter>
        <training-groups-table></training-groups-table>
    </div>
</template>

<script>
    import TrainingGroupsTable from './components/training-groups-table';
    import TrainingGroupsFilter from "./components/training-groups-filter";

    export default {
        name: "index",
        components: {
            TrainingGroupsFilter,
            TrainingGroupsTable
        },
        data() {
            return {
                selectedGroups: []
            }
        },
        mounted() {
            this.$bus.on('update-groups-action', data => {
                this.selectedGroups = data;
            })
        }
    }
</script>

<style scoped>

</style>