.breadcrumbs {
  margin-bottom: 20px;

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin: 0 10px 0 0;
    float: left;
  }

  &__link {
    color: #828282;
  }
}