.college_info {
  margin-top: 15px;

  &_wrapper {
    padding: 30px 20px;
    @extend .grid_container;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-template-areas: 'header header header header header header header header header image image image' 'text text text text text text text text text image image image' 'text text text text text text text text text image image image';
    @include media-small-device-down() {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: 'header' 'image' 'text';
    }
  ;
  }

  &__header {
    grid-area: header;

    h1 {
      font-size: 18px;
    }
  }

  &__text {
    grid-area: text;
  }

  &__image {
    grid-area: image;
    display: flex;
    align-items: center;

    img {
      @include media-small-device-down() {
        margin: 0 auto;
      }
    }
  }
}