.administration {
  @extend .grid_container;
  grid-template-columns: repeat(12, 1fr);
  min-height: 500px;
  grid-gap: 10px;
}

.employee {
  &__card {
    background-color: #f5f7fa;
    text-align: center;
    display: block;
    padding: 10px;
    grid-column-end: span 4;
    @include media-small-device-down() {
      grid-column-end: span 12;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      grid-column-end: span 6;
    }

  }

  &__photo {
    img {
      margin: 0 auto;
      max-height: 160px;
    }
  }

  &__information {
    margin: 5px auto;
  }

  &__contacts {
    p {
      margin: 5px;
    }
  }

  &__personal {
    @extend .grid_container;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

    &-photo {
      grid-column: 1/3;
      display: flex;
      align-items: center;

      img {
        margin: 0 auto;
      }
    }

    &-data {
      grid-column: 3/7;
    }

    &-photo, &-data {
      @include media-small-device-down(){
        grid-column: 1/7;
      }
    }
  }
}