.footer {
  background-color: #1c1c1c;
  min-height: 150px;
  @include spec-black-on-white() {
    border-top: 1px black solid;
  }
  @include spec-yellow-on-black() {
    border-top: 1px yellow solid;
  }
  @include spec-blue-on-blue() {
    background-color: $blue;
    border-top: 1px $blue-cyan solid;
  }

  &__wrapper {
    padding: 70px 15px;
  }

  &__information {
    @extend .grid_container;
    grid-template-columns: repeat(6, 1fr);
    color: $text_color_white;
    @include media-small-device-down() {
      text-align: center;
    }
  }


  &__college_name {
    padding: 10px;
    grid-column: 1/5;
    @include media-small-device-down() {
      grid-column: 1/13;
    }
  }

  &__contacts {
    grid-column: 5/7;
    padding: 10px;
    @include media-small-device-down() {
      grid-column: 1/13;
    }
  }
}