.news-index {
  padding: 15px 0;
  @include media-medium-device-down() {
    padding: 15px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    a {
      display: inline-block;
      vertical-align: middle;
      padding-top: 20px;
    }
  }

  &__list {
    @extend .grid_container;
    min-height: 100px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    grid-template-areas: 'first-news first-news first-news second-news second-news second-news'
    'first-news first-news first-news third-news third-news third-news'
    'first-news first-news first-news fourth-news fourth-news fourth-news';
    @include media-small-device-down() {
      grid-template-rows: repeat(4, auto);
      grid-template-areas: 'first-news first-news first-news first-news first-news first-news' 'second-news second-news second-news second-news second-news second-news' 'third-news third-news third-news third-news third-news third-news' 'fourth-news fourth-news fourth-news fourth-news fourth-news fourth-news';
    }
  }

  &__image {
    display: none;
    grid-area: news-image;

    img {
      margin: 0 auto;
    }
  }

  &__head {
    text-transform: none;
    font: normal 16px/25px normal sans-serif;
  }

  &__item {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 30px;

    &:nth-of-type(1) {
      grid-area: first-news;

      & > .news-index__image {
        display: block;
      }
    }

    &:nth-child(2) {
      grid-area: second-news;
    }

    &:nth-child(3) {
      grid-area: third-news;
    }

    &:nth-child(4) {
      grid-area: fourth-news;
    }
  }
}

.news {
  min-height: 200px;

  &__item {
    @extend .grid_container;
    grid-column-gap: 10px;
    padding: 10px 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 30px auto auto;
    border-bottom: 1px solid gray;
  }

  &__title, &__publication_date {
    grid-column: 1/13;
  }

  &__title {
    &__link {
      @extend .link;
    }
  }

  &__image {
    grid-column: 1/5;
    grid-row: 3/5;

    img {
      margin: 0 auto;
    }

    @include media-small-device-down() {
      @include grid_column(1, 13);
      grid-row: 3/4;
    }
  }

  &__preview {
    grid-column: 5/13;
    grid-row: 3/5;
    word-break: break-word;

    p {
      margin: 0;
    }

    @include media-small-device-down() {
      @include grid_column(1, 13);
      padding: 10px 0;
      grid-row: 4/5;
    }
  }
}

.news-detail {
  &__image {
    float: left;
    @include media-small-device-down() {
      float: none;
    }

    img {
      padding: 0 15px 15px 0;
    }
  }

  &__text {
    hyphens: auto;

    p {
      margin: 0;
    }
  }

  &__top {
    display: flex;
    padding: 10px 0;
  }

  &__title {
    h2 {
      font-size: 18px
    }
  }

  &__date {
    min-width: 50%;
  }

  &__return-to-list {
    min-width: 50%;
    text-align: right;
  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 10px;
  }

  &__photo {
    display: flex;
    align-items: center;

    img {
      margin: 0 auto;
    }
  }
}

.pagination-container {
  padding: 30px 0;
  text-align: center;
  overflow: auto;
}

.annoncement {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px;
  word-break: break-all;
  grid-column: span 2;
  @include media-small-device-down() {
    grid-column: span 6;
    grid-template-rows: repeat(4, auto);
  }

  &:nth-of-type(2) {
    grid-area: first-annoncement;
    grid-column: span 6;
    grid-row: 1/2;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    @include media-small-device-down() {
      grid-column: span 2;
      grid-template-rows: repeat(3, auto);
    }

    & > .annoncement__image {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1/3;
      grid-row: 1/3;
      @include media-small-device-down() {
        grid-column: 1/7;
        grid-row: 2/3;
        display: none;
      }
    }

    & > .annoncement__title {
      grid-column: 3/7;
      grid-row: 1/2;
      @include media-small-device-down() {
        grid-column: 1/7;
      }
    }

    & > .annoncement__text {
      grid-column: 3/7;
      grid-row: 2/3;
      @include media-small-device-down() {
        grid-column: 1/7;
        grid-row: 3/4;
      }
    }
  }

  &:nth-child(3) {
    grid-area: second-annoncement;
  }

  &:nth-child(4) {
    grid-area: third-annoncement;
  }

  &:nth-child(5) {
    grid-area: fourth-annoncement;
  }

  &__image {
    display: none;
  }

  &__text {
    & p {
      word-break: break-word
    }
  }
}

.annoncements-index {
  min-height: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  grid-template-areas: 'first-annoncement first-annoncement first-annoncement first-annoncement first-annoncement first-annoncement' 'second-annoncement second-annoncement third-annoncement third-annoncement fourth-annoncement fourth-annoncement';
  @include media-small-device-down() {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 'first-annoncement first-annoncement' 'second-annoncement second-annoncement' 'third-annoncement third-annoncement' 'fourth-annoncement fourth-annoncement';
  }

}