@mixin color-button() {
  span {
    @content
  }
}

@mixin active-button($bg-color) {
  &.active {
    background-color: $bg-color;
  }
}

@mixin special-on() {
  .special-version-on & {
    @content;
  }
}

div {
  @include spec-black-on-white {
    background-color: white;
    color: black;
  }
  @include spec-yellow-on-black() {
    background-color: black;
    color: yellow;
  }
  @include spec-blue-on-blue(){
    color: $blue-cyan;
    background-color: $blue;
  }
}

.special-image {
  &-on {
    img {
      display: block;
    }
  }

  &-off {
    img {
      display: none;
    }
  }

  &-grayscale {
    img {
      filter: grayscale(100%);
    }
  }
}

.special-interval {
  &-normal {
    line-height: 1.25;
  }

  &-double {
    line-height: 2;
  }
}
.special-settings {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  transition: all ease 0.3s;
  justify-content: center;
  background: #eaeaea !important;
  @include special-on() {
    display: flex;
  }

  div {
    background: #eaeaea !important;
  }
}

.special-panel-control {
  background-color: #ededed;
  border-color: black;
  color: black;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  z-index: 150;
  right: 55px;
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-radius: 0;
  transform: rotate(0deg);
  padding: 1rem !important;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
  }

  @include media-small-device-down() {
    z-index: 600;
    right: 90px;
  }
}

.special-panel-hide .special-panel-control {
  bottom: -50px;
  transform: rotate(180deg);
}

.special-vision-js {
  display: initial;
  @include special-on() {
    display: none;
  }
}

.setting {
  &__item {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 4px;
    color: black;
    @include spec-yellow-on-black() {
      color: black !important;
    }
  }

  &__status {
    margin-top: 4px;
    color: black;
    @include spec-yellow-on-black() {
      color: black !important;
    }
  }

  &__buttons {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
  }

  &__btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    position: relative;
    padding: 0.5em 0.6em;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;

    &.active {
      background-color: black;
      color: white;
    }

    &-outline {
      background-color: white;
      border-color: black;
      color: black;
      //font-size: 16px;
    }

    span {
      padding: 4px .5em;
    }

  }
}

.btn {
  &--black-on-white {
    @include color-button() {
      background-color: white;
      color: black;
    }
  }

  &--black-on-yellow {
    @include active-button(yellow);
    @include color-button() {
      background-color: black;
      color: yellow;
    }
  }

  &--blue-on-blue {
    @include active-button($blue-cyan);
    @include color-button() {
      background-color: $blue;
      color: $blue-cyan;
    }
  }
}

.setting__buttons {
  & > .setting__btn {
    &:first-child {
      border-bottom-left-radius: 0.25em;
      border-top-left-radius: 0.25em;
    }

    &:last-child {
      border-bottom-right-radius: 0.25em;
      border-top-right-radius: 0.25em;
    }
  }
}

.decrement-font-size, .increment-font-size {
  @include spec-yellow-on-black() {
    color: black !important;
  }
}