$text_color_gray: #828282;
$text_color_white: #FFFFFF;
$text_color_black: #000;
$link_color: #157fc4;
$top_section_bg: #157fc4;

$dark-bg: #000;
$dark-text-color: #FFF;
$dark-white-bg: #FFF;
$dark-black-text: #000;

$yellow-text-yellow: #ffff00;
$yellow-text-black: #000;
$yellow-bg-yellow: #ffff00;
$yellow-bg-black: #000;

$blue-text-cyan: #9fd7ff;
$blue-text-blue: #143c5a;
$blue-bg-cyan: #9fd7ff;
$blue-bg-blue: #143c5a;

$blue-cyan: #143c5a;
$blue: #9fd7ff;

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

@mixin mobile-link() {
  color: $text_color_white;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 20px;
}

@mixin dark-style() {
  .special-color-black & {
    @content
  }
}

@mixin yellow-style() {
  .special-color-yellow & {
    @content
  }
}

@mixin blue-style() {
  .special-color-blue & {
    @content
  }
}

@mixin font-small() {
  .special-fontsize-small & {
    @content
  }
}

@mixin font-normal() {
  .special-fontsize-normal & {
    @content
  }
}

@mixin font-big() {
  .special-fontsize-big & {
    @content
  }
}

.link {
  color: $link_color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.img {
  max-width: 100%;
  vertical-align: middle;

  &-center {
    display: block;
    margin: 0 auto;
  }
}

.dark-text {
  color: #1c1c1c;
}

a {
  @include dark-style() {
    color: $dark-black-text;
    text-decoration: underline;
  }
  @include yellow-style() {
    color: $yellow-text-yellow;
    text-decoration: underline;
  }
  @include blue-style() {
    color: $blue-text-blue;
    text-decoration: underline;
  }
}

/*
i{
  @include dark-style(){
    color: $dark-black-text;
  }
  @include yellow-style(){
    color: $yellow-text-yellow;
  }
  @include blue-style(){
    color: $blue-text-blue;
  }
}
*/
@mixin media-mix($var) {
  @media screen and ($var) {
    @content;
  }
}

