@import "variables";

.top-section {

  &__container {
    line-height: 20px;
    min-height: 50px;
    background-color: $top_section_bg;
    color: $text_color_white;
    @include media-small-device-down() {
      width: 100%;
      position: fixed;
      z-index: 500;
    }
  }

  &_address {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }

  &_buttons {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    @include media-small-device-down() {
      padding-right: 50px !important;
    }
  }

  &_grid_container {
    @extend .grid_container;
    @include spec-black-on-white() {
      border-bottom: 1px black solid;
    }
  }

  &_address {
    @include media-extra-small-down() {
      font-size: 10px;
    }
    @include media-extra-custom-small-down() {
      font-size: 9px;
    }
  }

  &_address, &_buttons {
    padding: 15px 15px 15px 15px;
  }

  &_link {
    padding: 15px;
    color: $text_color_white;
    text-decoration: none;
    @include media-small-device-down() {
      padding-left: 10px;
    }

    &:hover {
      background: #106196;
      @include spec-black-on-white() {
        background-color: black;
        color: white;
      }
      @include spec-yellow-on-black() {
        background-color: yellow;
        color: black;
      }
      @include spec-blue-on-blue() {
        background-color: $blue-cyan;
        color: $blue;
      }
    }
  }
}

.header {
  @extend .pt-10;
  @extend .pb-10;

  @include media-small-device-down() {
    padding-top: 50px;
  }

  &_wrapper {
    @extend .grid_container;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 15px;
    @include media-small-device-down() {
      grid-template-rows: repeat(2, 1fr);
    }
  }

  &_info {
    @extend .grid_container;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/9;
    align-items: center;
    @include media-small-device-down() {
      grid-column: 1/13;
      grid-row: 1/2;
    }
  }

  &_logo {
    grid-column: 1/3;
  }

  &_college_name {
    grid-column: 3/13;
    padding: 0 5px;
  }

  .college_name_link {
    color: $text_color_black;
    @include spec-yellow-on-black() {
      color: yellow;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &_contacts {
    grid-column: 9/13;
    @include media-small-device-down() {
      grid-column: 1/13;
      grid-row: 2/3;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &_phones {
    padding: 30px 0;
    @include media-small-device-down() {
      grid-column: 6/13;
      padding: 0;
    }
  }

  &_operating_mode {
    display: flex;
    @include media-small-device-down() {
      grid-column: 1/6;
    }
  }
}