@import "inc/mixins";
@import "variables";
@import "inc/fonts";
@import "inc/utils";
@import "inc/text";
@import "inc/container";
@import "inc/typography";
@import "inc/buttons";
@import "inc/table";
@import "special-settings";

body {
  background-color: #ededed;
  font-size: 16px;
  line-height: 1.65;
  height: 100%;
  min-height: 100%;
  position: relative;
  color: $text_color_gray;
  transition: all ease 0.3s;
  box-sizing: border-box;
  min-width: 320px;
  @include spec-yellow-on-black() {
    background-color: black;
  }
  @include spec-yellow-on-black() {
    background-color: $blue;
  }
}

summary {
  cursor: pointer;
  @extend .link;

  &:focus {
    border: none;
    outline: none;
  }
}

.content {
  position: relative;
  margin: 0 auto;
  @include media-small-device-down() {
    max-width: 768px;
  }
  @include media-medium-device-up() {
    max-width: 992px;
  }
  @media only screen and (min-width: 1200px) {
    max-width: 1200px;
  }
  @include media-large-device-up() {
    max-width: 1280px;
  }
}

.content:before,
.content:after {
  content: " ";
  display: table;
}

.content:after {
  clear: both;
}

.grid_container {
  display: grid;
}

.img-responsive {
  max-width: 100%;
  vertical-align: middle;
  display: block
}

a {
  text-decoration: none;
}

.information {
  padding: 15px;
  background-color: white;
}

.no-scroll {
  word-wrap: break-word;
}

.files {
  padding: 10px;
}

.documents {
  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__regulations {
    min-height: 150px;
    margin: 20px 0;
  }
}

.regulation {
  padding: 10px;
  border-bottom: 1px solid gray;

  &__files {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 0;
    //border-bottom: 1px solid gray;

    &-label {
      grid-column: 1/3;
      display: flex;
      align-items: center;
      border-right: 1px solid gray;
    }

    &-items {
      grid-column: 3/5;
      padding: 10px;
    }
  }
}

.profession-program {
  a {
    @extend .link;
  }
}

.program-subject {
  &-list {
    list-style: none;
    padding: 0;
  }

  &-item {


    a {
      @extend .link;
      cursor: pointer;
    }

    &.open {
      i {
        transform: rotate(90deg);
      }

      .program-subject__files {
        display: block;
      }
    }
  }

  &__files {
    @extend .files;
    display: none;
  }
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  @include spec-black-on-white() {
    color: black;
  }
  @include spec-yellow-on-black() {
    color: yellow !important;
  }
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  @include spec-black-on-white() {
    background-color: black;
    border-color: black;
  }
  @include spec-yellow-on-black() {
    color: black !important;
    background-color: yellow;
    border-color: yellow;
  }
  @include spec-blue-on-blue() {
    background-color: $blue-cyan !important;
    border-color: $blue-cyan;
    color: $blue;
  }
}

.content_row {
  padding: 1em;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  .item {
    width: 21em;
    height: 27em;
    display: flex;
    transition: 1s;
    opacity: 0.7;
    &:hover{
      transform: scale(1.1);
    }
    .link {
      width: 90%;
      height: 90%;
      margin: auto;
      border: 3px solid #157fc4;
      border-radius: 10px;
      overflow: hidden;
      text-decoration: none;
    }
  }

  .head {
    display: flex;

    h3 {
      font-size: 15px;
      font-weight: bold;
      color: black;
      margin: 1em auto;
      text-align: center;
    }
  }
  .body{
    width: 100%;
    height: 65%;
    color: black;
    display: flex;
    align-items: center;
    .icon{
      font-size: 12em;
      margin: 0 auto;
    }
  }
}

@import "error";
@import "header";
@import "breadcrumbs";
@import "footer";
@import "menu";
@import "menu/sitebar";
@import "college-info";
@import "news";
@import "employees";
@import "library";
.no-float-label {
  .el-form-item__label {
    float: none !important;
  }
}

.td{
  &-success{
    color: #155724;
    background-color: #d4edda !important;
    border-color: #c3e6cb;
  }

  &-warning{
    color: #856404;
    background-color: #fff3cd !important;
    border-color: #ffeeba;
  }
}
