<template>
    <div>
        <div class="modal-content">
            <v-dialog max-width="900px">
                <v-card>
                    <v-card-title>
                        <el-row :gutter="10" class="w100">
                            <el-col :span="12">
                                <span class="headline">Печать справки в военкомат</span>
                            </el-col>

                            <el-col :span="12" style="text-align: right">
                                <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                    <i class="fa fa-close"></i>
                                </el-button>
                            </el-col>
                        </el-row>
                    </v-card-title>
                    <v-card-text>
                        <voenkomat-reference :student="student"></voenkomat-reference>
                    </v-card-text>
                    <v-card-actions>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    import VoenkomatReference from "../contingent/students/components/references/voenkomat-reference";

    export default {
        name: "PrintMilitaryReference",
        components: {VoenkomatReference},
        props: {
            student: {
                type: Object,
            }
        },
        data() {
            return {
                loading: false,

            }
        },
        mounted() {
            this.$bus.on('refresh-references-list', data => {
                this.handleClose();
            })
        },
        methods: {
            handleClose() {
                this.$modal.hide('PrintMilitaryReferenceModal')
            }
        }
    }
</script>

<style scoped>

</style>