<template>
    <div>
        <div class="modal-content">
            <v-dialog v-model="model" persistent max-width="900px">
                <v-card>
                    <v-card-title>
                        <el-row :gutter="10" class="w100">
                            <el-col :span="12">
                                <span class="headline">Печать справки</span>
                            </el-col>

                            <el-col :span="12" style="text-align: right">
                                <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                    <i class="fa fa-close"></i>
                                </el-button>
                            </el-col>
                        </el-row>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-alert v-if="serverErrors.length >0"
                                      title="Что-то пошло не по плану"
                                      type="error"
                                      description="more text description"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in serverErrors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                            <el-form ref="StudyReferenceForm" v-loading="loading"
                                     element-loading-text="Справка создается, пожалуйста подождите..."
                                     element-loading-spinner="el-icon-loading" :rules="rules" :model="model"
                                     label-position="top">
                                <el-col :span="12">
                                    <el-form-item prop="start_date" label="Начало обучения">
                                        <el-date-picker
                                                v-mask="'##.##.####'"
                                                value-format="yyyy-MM-dd"
                                                format="dd.MM.yyyy"
                                                type="date"
                                                :placeholder="$t('label.changeDate')"
                                                v-model="model.start_date"
                                                class="w100"
                                                :picker-options="pickerOptions"
                                                :disabled="loading">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item prop="end_date" label="Конец обучения">
                                        <el-date-picker
                                                v-mask="'##.##.####'"
                                                value-format="yyyy-MM-dd"
                                                format="dd.MM.yyyy"
                                                type="date"
                                                :placeholder="$t('label.changeDate')"
                                                v-model="model.end_date"
                                                class="w100"
                                                :picker-options="pickerOptions" :disabled="loading">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-form-item prop="decree_id" label="Приказ">
                                        <el-select v-model="model.decree_id" placeholder="Выберите приказ"
                                                   :disabled="loading"
                                                   class="w100">
                                            <el-option
                                                    v-for="(decree,key) in _decrees"
                                                    :label="decree.number"
                                                    :key="decree.id"
                                                    :value="decree.id">
                                                <span>{{decree.number}}</span>
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-form-item prop="date" label="Число">
                                        <el-date-picker
                                                v-mask="'##.##.####'"
                                                value-format="yyyy-MM-dd"
                                                format="dd.MM.yyyy"
                                                type="date"
                                                :placeholder="$t('label.changeDate')"
                                                v-model="model.date"
                                                class="w100"
                                                :picker-options="pickerOptions" :disabled="loading">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                            </el-form>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handlePrint">
                            <i class="fa fa-print"></i> {{$t('form.print')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
    import {makeTrainingReference} from "../../api/contingent/student";
    import {DateTime} from 'luxon';

    export default {
        name: "PrintReferenceModal",
        props: ['referense'],
        data() {
            return {
                serverErrors: [],
                hasError: false,
                decrees: this.referense.student.decrees,
                loading: false,
                model: {
                    id: this.referense.student.id,
                    student_id: this.referense.student.id,
                    reference_id: this.referense.id,
                    count: this.referense.params.count,
                    start_date: this.referense.student.start_date,
                    end_date: this.referense.student.end_date,
                    decree_id: this.referense.params.decree_id,
                    date: this.referense.params.date
                },
                rules: {
                    start_date: [
                        {required: true, message: 'Не заполнена дата начала обучения', trigger: 'blur'}
                    ],
                    end_date: [
                        {required: true, message: 'Не заполнена дата окончания обучения', trigger: 'blur'}
                    ],
                    decree_id: [
                        {required: true, message: 'Не выбран приказ', trigger: 'change'}
                    ],
                    date: [
                        {required: true, message: 'Не выбрана дата', trigger: 'blur'}
                    ]
                },
                pickerOptions: this.$pickerConfig({
                    disabledDate: time => {
                        return (time.getTime() < DateTime.fromISO(this.model.start_date)) || (time.getTime() > DateTime.fromISO(this.model.end_date));
                    },
                })
            }
        },
        computed: {
            _student() {
                return this.$store.getters.getCurrentStudent;
            },
            _decrees() {
                return this.$store.getters.studentDecrees;
            }
        },
        mounted() {
            this.model = {
                reference_id: this.referense.id,
                count: this.referense.params.count,
                start_date: this._student.start_date,
                end_date: this._student.end_date,
                decree_id: this._student.enrollment_decree.id,
                date: this.referense.params.date
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('PrintReferenceModal')
            },
            handlePrint() {
                let route = this.routeByName('api.student.make-training-reference', {id: this._student.id});
                let paramsToString = new URLSearchParams(this.model).toString();
                let url = `${route}&${paramsToString}`;
                window.open(url, '_blank');
                this.handleClose();
                this.$bus.emit('refresh-references-list');
            }
        }
    }
</script>

<style scoped>

</style>