<template>
    <div class="app-container">
        <h1>{{program.program_name}}</h1>

        <el-tabs type="border-card" v-if="hasProgram">
            <el-tab-pane label="Общая информация">
                <div class="information" style="font-size: 16px">
                    <p>
                        <span data-prefix="Средний балл по программе: ">
                           <count-to :start-val="0" :end-val="program.average_score_on_program" :duration="4000"
                                     separator=", " :decimals="3"
                                     :autoplay="true"></count-to>
                        </span>
                        <span data-prefix="Минимальный средний балл: ">
                           <count-to :start-val="0" :end-val="statistic.avg_statistic.min" :duration="4000"
                                     separator=", " :decimals="3"
                                     :autoplay="true"></count-to>
                        </span>
                        <span data-prefix="Максимальный средний балл: ">
                           <count-to :start-val="0" :end-val="statistic.avg_statistic.max" :duration="4000"
                                     separator=", " :decimals="3"
                                     :autoplay="true"></count-to>
                        </span>
                        <span data-prefix="Период приема: ">
                           C {{program.selection_committee.start_date|dateFormat}} по
            {{program.selection_committee.end_date|dateFormat}}
                        </span>
                    </p>
                </div>
            </el-tab-pane>
            <el-tab-pane label="Абитуриенты">
                <div class="statistic-item">
                    <h3>Список поступающих/поступивших</h3>
                    <table class="table is-bordered is-striped is-fullwidth is-hover">
                        <tr>
                            <th>ФИО</th>
                            <th>Средний балл</th>
                            <th>Оригинал документа</th>
                            <th>Целевой набор</th>
                            <th>Откуда узнал(а)</th>
                            <th>Текущий статус</th>
                        </tr>
                        <tr v-for="(entrant,key) in program.entrants.peoples" :key="key">
                            <td>{{entrant.full_name}}</td>
                            <td>
                                {{entrant.average_score}}
                            </td>
                            <td>
                                {{entrant.has_original|logic}}
                            </td>
                            <td>
                                {{entrant.is_contract|logic}}
                            </td>
                            <td>
                                {{entrant.how_find_out|howFindOutSourse}}
                            </td>
                            <td>
                                {{entrant.status|humanStatus}}
                            </td>
                        </tr>
                    </table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="Статистика набора">
                <div class="statistic-item">
                    <h3>Статистика набора</h3>
                    <table class="table is-bordered is-striped is-fullwidth is-hover is-big-font">
                        <tr>
                            <th></th>
                            <th>Кол-во с оригиналами</th>
                            <th>Кол-во без оригиналов</th>
                            <th>Процент комплектования</th>
                        </tr>
                        <tr v-for="(item,key) in statistic.documents_statistic">
                            <td>{{key==='static'?'Статичная':'Реальная'}}</td>
                            <td>
                                {{item.count_with_documents}}
                            </td>
                            <td>
                                {{item.count_with_out_documents}}
                            </td>
                            <td>
                                <el-progress type="circle" :percentage="item.percentage_of_completion"
                                             :width="100"></el-progress>
                            </td>
                        </tr>
                    </table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="Статистика по льготам">
                <div class="statistic-item">
                    <h3>Статистика по льготам</h3>
                    <table class="table is-bordered is-striped is-fullwidth is-hover is-big-font">
                        <tr>
                            <th>Льгота</th>
                            <th>Кол-во человек</th>
                        </tr>
                        <tr v-for="(item,key) in statistic.preferential_categories_statistic" :key="key">
                            <td>{{key|privilegedCategory}}</td>
                            <td>
                                {{item}}
                            </td>
                        </tr>
                    </table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="Разные статистики">
                <div class="statistic-item">
                    <h3>Статистика по полу</h3>
                    <table class="table is-bordered is-striped is-fullwidth is-big-font">
                        <tr>
                            <td>Кол-во юношей:</td>
                            <td>
                                {{statistic.gender_statistic.male}}
                            </td>
                            <td>Кол-во девушек:</td>
                            <td>
                                {{statistic.gender_statistic.female}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="statistic-item">
                    <h3>Статистика по надобности в общежитии</h3>
                    <table class="table is-bordered is-striped is-fullwidth is-big-font">
                        <tr>
                            <td>Кол-во нуждающихся:</td>
                            <td>
                                {{statistic.hostel_statistic.need_hostel}}
                            </td>
                            <td>Кол-во не нуждающихся:</td>
                            <td>
                                {{statistic.hostel_statistic.no_need_hostel}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="statistic-item">
                    <h3>Договора целевого набора</h3>
                    <table class="table is-bordered is-striped is-fullwidth is-big-font">
                        <tr>
                            <td>Кол-во c договорами:</td>
                            <td>
                                {{statistic.contract_statistic.with_contract}}
                            </td>
                            <td>Кол-во без договоров:</td>
                            <td>
                                {{statistic.contract_statistic.with_out_contract}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="statistic-item">
                    <h3>Изучаемые языки</h3>
                    <table class="table is-bordered is-striped is-fullwidth is-big-font">
                        <thead>
                        <tr>
                            <th>Язык</th>
                            <th>Кол-во человек</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,key) in statistic.language_statistic">
                            <td>{{key|language}}</td>
                            <td>{{item}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="statistic-item">
                    <h3>Статистика по источникам</h3>
                    <table class="table is-bordered is-striped is-fullwidth is-big-font">
                        <thead>
                        <tr>
                            <th>Откуда узнали</th>
                            <th>Кол-во человек</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item,key) in statistic.how_find_out_statistic">
                            <td>{{key|howFindOutSourse}}</td>
                            <td>{{item}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="Графики">
                <el-tabs type="border-card">
                    <el-tab-pane label="Статистика приема по дням">
                       <statistic-by-days></statistic-by-days>
                    </el-tab-pane>
                </el-tabs>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
    import {getOneProgram} from "../../api/selection-committies/recruitment-programs";
    import countTo from 'vue-count-to'
    import ReceptionChartByDay from "./components/reception-chart-by-day";
    import StatisticByDays from "./components/statistic-by-days";

    export default {
        name: "detail-recruitment-program",
        components: {StatisticByDays, ReceptionChartByDay, countTo},
        data() {
            return {
                program: {},
                statistic: {},
                graphic_statistic: {},
                hasProgram: false
            }
        },
        mounted() {
            this.getProgram();
        },
        methods: {
            getProgram() {
                getOneProgram(this.$route.params.id)
                    .then(response => response.data)
                    .then(data => {
                        this.program = data.program;
                        this.statistic = data.program.statistic;
                        this.graphic_statistic = data.program.graphic_statistic;
                        this.hasProgram = true;
                        this.$store.dispatch('SET_RECRUITMENT_PROGRAM', data.program);
                    }, error => {

                    });
            }
        }
    }
</script>

<style scoped lang="scss">
    .statistic {
        &-item {
            margin: 10px 0 0 0;
            padding-bottom: 10px;
            border-bottom: 1px solid gray;

            h3 {
                font-size: 160%;
                margin-bottom: 10px;
            }
        }
    }
</style>