<template>
    <div>
        <v-dialog persistent max-width="700px">
            <v-card>
                <v-card-title>
                    <span class="headline">Добавление программы в лист приема</span>
                </v-card-title>
                <v-card-text>
                    <el-row :gutter="10">
                        <el-col :span="24" style="margin-bottom: 10px">
                            <el-alert v-if="errors.length>0"
                                      title="Произошла ошибка"
                                      type="error"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <el-form :model="model" :rules="rules" ref="EditRecruitmentProgramForm" label-position="top"
                                 class="demo-ruleForm">
                            <el-row :gutter="10">
                                <el-col :span="24">
                                    <el-form-item prop="selection_committee_id" label="Приемная комиссия">
                                        <el-select v-model="model.selection_committee_id"
                                                   placeholder="Приемная комиссия"
                                                   class="w100" disabled>
                                            <el-option
                                                    v-for="committee in sortCommittees"
                                                    :key="committee.id"
                                                    :label="committee.name"
                                                    :value="committee.id">
                                                <span>{{committee.name}} | {{committee.start_date|dateFormat}} - {{committee.end_date|dateFormat}}</span>
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-form-item prop="profession_program_id" label="Программа">
                                        <el-select v-model="model.profession_program_id" placeholder="Программа"
                                                   filterable
                                                   class="w100" disabled>
                                            <el-option
                                                    v-for="programs in sortPrograms"
                                                    :key="programs.id"
                                                    :label="programs.name"
                                                    :value="programs.id">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item prop="reception_plan" label="План приема">
                                        <el-input-number v-model="model.reception_plan" class="w100"></el-input-number>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item prop="number_of_enrolled" label="Кол-во зачисленных">
                                        <el-input-number v-model="model.number_of_enrolled"
                                                         class="w100"></el-input-number>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item prop="count_with_documents" label="Кол-во с оригиналами">
                                        <el-input-number v-model="model.count_with_documents"
                                                         class="w100"></el-input-number>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item prop="count_with_out_documents" label="Кол-во без оригиналов">
                                        <el-input-number v-model="model.count_with_out_documents"
                                                         class="w100"></el-input-number>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="24">
                                    <el-form-item prop="student_source" label="Источник данных для статистики">
                                        <el-switch
                                                v-model="model.student_source"
                                                active-text="Студенты"
                                                inactive-text="Абитуриенты">
                                        </el-switch>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                    </el-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button round @click="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" round
                               @click="handleCreate">
                        {{$t('form.add')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {updateRecruitmentPrograms} from "../../api/selection-committies/recruitment-programs";

    export default {
        name: "EditRecruitmentProgramModal",
        props: {
            recruitment_program: {
                type: Object,
            },
            programs: {
                type: Array
            },
            committees: {
                type: Array
            }
        },
        computed: {
            sortPrograms() {
                return _.sortBy(this.programs, 'name')
            },
            sortCommittees() {
                return this.committees
            }
        },
        data() {
            return {
                errors: [],
                model: {
                    selection_committee_id: this.recruitment_program.selection_committee_id,
                    profession_program_id: this.recruitment_program.program.id,
                    reception_plan: this.recruitment_program.reception_plan,
                    count_with_documents: this.recruitment_program.count_with_documents,
                    count_with_out_documents: this.recruitment_program.count_with_out_documents,
                    number_of_enrolled: this.recruitment_program.number_of_enrolled,
                    student_source: this.recruitment_program.is_student_source,
                },
                rules: {
                    selection_committee_id: [
                        {required: true, message: 'Не выбрана приемная комиссия', trigger: 'change'}
                    ],
                    profession_program_id: [
                        {required: true, message: 'Не выбрана программа', trigger: 'change'}
                    ],
                    reception_plan: [
                        {required: true, message: 'Не указан план приема', trigger: 'blur'}
                    ],
                    count_with_documents: [
                        {
                            required: true,
                            message: 'Не указано кол-во абитуриентов с оригиналами документов',
                            trigger: 'blur'
                        }
                    ],
                    count_with_out_documents: [
                        {
                            required: true,
                            message: 'Не указано кол-во абитуриентов без оригиналов документов',
                            trigger: 'blur'
                        }
                    ],
                    number_of_enrolled: [
                        {required: true, message: 'Не указано кол-во зачисленных', trigger: 'blur'}
                    ]

                }
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('EditRecruitmentProgramModal')
            },
            handleCreate() {
                this.$refs.EditRecruitmentProgramForm.validate(valid => {
                    if (valid) {
                        const loading = this.$loading({
                            lock: true,
                            text: 'Обновляю программу, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        updateRecruitmentPrograms(this.recruitment_program.id, this.model).then(response => {
                            this.handleClose();
                            this.$bus.emit('update-recruitment-programs-list');
                            this.$notify({
                                type: 'success',
                                title: 'Успешно',
                                message: 'Программа была успешно обновлена'
                            })
                        }, error => {
                            this.errors = error.response.data.errors;
                        });
                        loading.close();
                    } else {
                        return false;
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>