<template>
    <div class="app-container">
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="24" class="text-right">
                    <el-button type="primary" @click="handleCreate">
                        <i class="fa fa-plus"></i> Добавить программу в лист приема
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="20">
                    <el-select v-model="committeeId" placeholder="Приемки" class="w100">
                        <el-option
                                v-for="committee in committees"
                                :key="committee.id"
                                :label="committee.name"
                                :value="committee.id">
                            <span>{{committee.name}} | {{committee.start_date|dateFormat}} - {{committee.end_date|dateFormat}}</span>
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary" @click="getRecruitPrograms()" :disabled="!committeeId">
                        <i class="fa fa-search"></i> Применить
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <el-table v-if="!noReport"
                  :data="sortPrograms"
                  class="w100"
                  border
                  stripe>
            <el-table-column prop="id" label="ID" width="70px"></el-table-column>
            <el-table-column prop="program.name" label="Программа"></el-table-column>
            <el-table-column prop="reception_plan" label="План приема"></el-table-column>
            <el-table-column prop="count_with_documents" label="Количество с оригиналами"></el-table-column>
            <el-table-column prop="count_with_out_documents" label="Количество без оригиналов"></el-table-column>
            <el-table-column prop="is_student_source" label="Источник статистики">
                <template slot-scope="scope">
                    <span v-if="scope.row.is_student_source">
                        Студенты
                    </span>
                    <span v-else>
                        Абитуриенты
                    </span>
                </template>
            </el-table-column>
            <el-table-column prop="percentage_of_completion" label="Процент комплектования">
                <template slot-scope="scope">
                    <el-progress type="circle" :percentage="scope.row.percentage_of_completion"
                                 :width="100"></el-progress>
                </template>
            </el-table-column>
            <el-table-column label="Действия">
                <template slot-scope="scope">
                    <el-button-group>
                        <router-link :to="{name:'detail_recruitment_program',params:{id:scope.row.id}}">
                            <el-button type="primary">
                                <i class="fa fa-list"></i>
                            </el-button>
                        </router-link>
                        <el-button type="warning" @click="handleEdit(scope.row)">
                            <i class="fa fa-edit"></i>
                        </el-button>
                        <el-button type="danger">
                            <i class="fa fa-trash"></i>
                        </el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>
        <no-report title="Нет активной приемной комиссии" v-if="noReport">
            Выберите нужную приемную комиссию в панели сверху и нажмите кнопку "Применить"
        </no-report>
    </div>
</template>

<script>
    import {fetchAll, getPrograms} from "../../api/selection-committies/committee";
    import {getProfessionPrograms} from "../../api/services";
    import NoReport from "../../components/NoReport/no-report";
    import CreateRecruitmentProgramModal from './CreateRecruitmentProgramModal'
    import EditRecruitmentProgramModal from './EditRecruitmentProgramModal'

    export default {
        name: "recruitment-programs-list",
        components: {NoReport},
        data() {
            return {
                committeeId: null,
                noReport: false,
                committees: [],
                profession_programs: [],
                programs: []
            }
        },
        mounted() {
            this.getActiveCommittee();
            this.getPrograms();
            this.$bus.on('update-recruitment-programs-list', data => {
                if (this.committeeId) {
                    this.getRecruitPrograms()
                }
            })
        },
        computed: {
            sortPrograms() {
                return _.sortBy(this.programs, 'program.name');
            }
        },
        methods: {
            getActiveCommittee() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Получаю список приемных комиссий, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                fetchAll().then(response => {
                    this.committees = response.data.items;
                    if (response.data.active_committe_id) {
                        this.committeeId = response.data.active_committe_id;
                        this.getRecruitPrograms()
                    } else {
                        this.noReport = true;
                    }
                }, error => {
                    this.showError(error.response.data.message);
                });
                loading.close();
            },
            getPrograms() {
                getProfessionPrograms().then(response => {
                    this.profession_programs = response.data;
                }, error => {
                    this.$alert(errorMessage, 'Внимание, ошибка', {
                        confirmButtonText: 'OK',
                    });
                });
            },
            getRecruitPrograms() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Получаю программы, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                getPrograms(this.committeeId).then(response => {
                    this.noReport = false;
                    this.programs = response.data.programs;
                }, error => {
                    this.showError(error.response.data.message);
                });
                loading.close();
            },
            handleCreate() {
                this.$modal.show(CreateRecruitmentProgramModal,
                    {
                        programs: this.profession_programs,
                        committees: this.committees
                    },
                    {
                        name: 'CreateRecruitmentProgramModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            },
            handleEdit(program) {
                console.dir(program);
                this.$modal.show(EditRecruitmentProgramModal,
                    {
                        programs: this.profession_programs,
                        committees: this.committees,
                        recruitment_program: program
                    },
                    {
                        name: 'EditRecruitmentProgramModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            },
            showError(errorMessage) {
                this.$alert(errorMessage, 'Внимание, ошибка', {
                    confirmButtonText: 'OK',
                });
            }
        }
    }
</script>

<style scoped>

</style>