<template>
    <!-- $t is vue-i18n global function to translate lang -->
    <div class="app-container">

        <label class="radio-label" style="padding-left:0;">Filename: </label>
        <el-input :placeholder="$t('excel.placeholder')" v-model="filename" style="width:340px;"
                  prefix-icon="el-icon-document"/>
        <label class="radio-label">Cell Auto-Width: </label>
        <el-radio-group v-model="autoWidth">
            <el-radio :label="true" border>True</el-radio>
            <el-radio :label="false" border>False</el-radio>
        </el-radio-group>
        <el-button :loading="downloadLoading" style="margin:0 0 20px 20px;" type="primary" icon="document"
                   @click="handleDownload">{{ $t('excel.export') }} Excel
        </el-button>

        <el-table v-loading="listLoading" :data="list" element-loading-text="拼命加载中" border fit highlight-current-row>
            <el-table-column align="center" label="Id" width="95">
                <template slot-scope="scope">
                    {{ scope.$index }}
                </template>
            </el-table-column>
            <el-table-column label="Title">
                <template slot-scope="scope">
                    {{ scope.row.title }}
                </template>
            </el-table-column>
            <el-table-column label="Author" width="110" align="center">
                <template slot-scope="scope">
                    <el-tag>{{ scope.row.author }}</el-tag>
                </template>
            </el-table-column>
            <el-table-column label="Readings" width="115" align="center">
                <template slot-scope="scope">
                    {{ scope.row.pageviews }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="Date" width="220">
                <template slot-scope="scope">
                    <i class="el-icon-time"/>
                    <span>{{ scope.row.timestamp | parseTime('{y}-{m}-{d} {h}:{i}') }}</span>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import {fetchList} from '@/api/article'
    import {parseTime} from '@/utils'

    export default {
        name: 'ExportExcel',
        data() {
            return {
                list: null,
                listLoading: true,
                downloadLoading: false,
                filename: '',
                autoWidth: true
            }
        },
        created() {
            this.fetchData()
        },
        methods: {
            fetchData() {
                this.listLoading = true
                fetchList().then(response => {
                    this.list = response.data.items
                    this.listLoading = false
                })
            },
            handleDownload() {
                this.downloadLoading = true
                import('@/vendor/Export2Excel').then(excel => {
                    const tHeader = ['Id', 'Title', 'Author', 'Readings', 'Date']
                    const filterVal = ['id', 'title', 'author', 'pageviews', 'display_time']
                    const list = this.list
                    const data = this.formatJson(filterVal, list)
                    console.dir(data);
                    excel.export_json_to_excel({
                        header: tHeader,
                        data,
                        filename: this.filename,
                        autoWidth: this.autoWidth
                    })
                    this.downloadLoading = false
                })
            },
            formatJson(filterVal, jsonData) {
                return jsonData.map(v => filterVal.map(j => {
                    if (j === 'timestamp') {
                        return parseTime(v[j])
                    } else {
                        return v[j]
                    }
                }))
            }
        }
    }
</script>

<style>
    .radio-label {
        font-size: 14px;
        color: #606266;
        line-height: 40px;
        padding: 0 12px 0 30px;
    }
</style>

