<template>
    <div>
        <h4>Дополнительные файлы</h4>
        <div class="filter-container text-right">
            <el-button type="primary" @click="addFile">
                <i class="fa fa-plus"></i> Добавить
            </el-button>
        </div>
        <table class="table is-bordered is-striped is-fullwidth">
            <tr>
                <th>№ П/П</th>
                <th>Наименование</th>
                <th>Действия</th>
            </tr>
            <tr v-if="value.length>0" v-for="(file,index) in value">
                <td>{{index+1}}</td>
                <td>{{file.name}}</td>
                <td>
                    <el-button type="danger" circle @click="handleDeleteFile(index)">
                        <i class="fa fa-trash"></i>
                    </el-button>
                </td>
            </tr>
            <tr v-else class="text-center">
                <td colspan="3">Файлы не добавлены</td>
            </tr>
        </table>
    </div>
</template>

<script>
    import AddFileModal from './AddFileModal'

    export default {
        name: "AdditionalFilesTable",
        props: {
            value: {},
        }, mounted() {
            this.$bus.on('attach-file', data => {
                this.value.push(data);
            });
        },
        methods: {
            addFile() {
                this.$modal.show(AddFileModal,
                    {},
                    {
                        name: 'AddFile',
                        width: 0,
                        height: 0,
                        'z-index': 1500
                    }
                )
            },
            handleDeleteFile(index) {
                this.value.splice(index, 1);
            }
        }
    }
</script>

<style scoped>

</style>