<template>
    <div>
        <div>
            <table class="table is-bordered is-fullwidth">
                <tr>
                    <td>Основной файл</td>
                    <td>
                        <a :href="file" v-if="hasFile" class="link">Открыть</a>
                        <span v-else>Не загружено</span>
                    </td>
                    <td>
                        <div v-if="hasFile">
                            <el-button type="primary" icon="el-icon-refresh" circle></el-button>
                            <el-button type="danger" icon="el-icon-delete" circle></el-button>
                        </div>
                        <div v-else>
                            <el-button type="primary" icon="el-icon-upload2" circle></el-button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin: 10px 0">
            <h3>Компоненты</h3>
            <el-button type="primary" @click="handleCreateComponent">
                <i class="fa fa-plus"></i> Добавить компонент
            </el-button>
            <el-button type="success" icon="el-icon-upload" @click="handleBuildFile" v-if="components.length>0">
                Собрать файл из компонентов
            </el-button>
            <file-components :components="components"></file-components>
        </div>
    </div>
</template>

<script>
    import CreateComponentModal from './create-component-modal'
    import {buildFile} from "../../../../api/education/education-plans";
    import FileComponents from "../../../../components/FileComponents/index";

    export default {
        name: "file-and-file-components",
        components: {FileComponents},
        props: {
            plan: {
                type: Object,
            }
        },
        data() {
            return {
                components: [],
                file: null,
                hasFile: false
            }
        },
        computed: {},
        updated() {

        },
        mounted() {
            this.$bus.on('refresh-components-table', data => {
                this.components.push(data);
                this.sortComponents();
            });

            this.$bus.on(`update-component-data-${this.plan.id}`, data => {
                // console.dir(this.components[data.index]);
                this.$set(this.components, data.index, data.component);
                this.sortComponents();
            });

            this.components = this.plan.components;
            this.file = this.plan.file;
            this.hasFile = this.plan.hasFile;
        },
        methods: {
            sortComponents() {
                this.components = _.sortBy(this.components, 'sort');
            },
            handleBuildFile() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Собираю файл, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                buildFile(this.plan.id).then(response => {
                    loading.close();
                    this.file = response.data.path;
                    this.hasFile = true;
                    this.$notify({
                        title: 'Успешно',
                        message: 'Файл был успешно пересобран',
                        type: 'success'
                    });
                }, error => {
                    loading.close();
                    this.$alert(error.response.data.message, 'Внимание, ошибка', {
                        confirmButtonText: 'OK',
                    });
                })
            },
            handleCreateComponent() {
                this.$modal.show(CreateComponentModal,
                    {
                        profession_program_id: this.plan.program.id,
                        id: this.plan.id
                    },
                    {
                        name: 'CreateComponentModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            },
        },

    }
</script>

<style scoped lang="scss">
    h3{
        font-size: 240%;
    }
</style>