.menu {
  background-color: #FFFFFF;
  position: relative;
  @include media-mix('max-width:768px') {
    display: none;
  }
  @include dark-style() {
    border-bottom: 2px solid #000;
  }
  @include yellow-style() {
    border-bottom: 2px solid $yellow-text-yellow;
    background-color: $yellow-bg-black;
  }
  @include blue-style() {
    border-bottom: 2px solid $blue-bg-blue;
    background-color: $blue-text-cyan;
  }
  &-icon {
    @include dark-style() {
      color: $dark-black-text;
    }
    @include yellow-style() {
      color: $yellow-text-yellow;
    }
    @include blue-style() {
      color: $blue-bg-blue;
    }
  }
  &_wrapper {
    padding: 0 15px;
    position: static !important;
  }
  &_items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    &_item {
      cursor: pointer;
      &:hover {
        color: #FFFFFF;
        background: #45a3ba;
        @include dark-style() {
          color: $dark-text-color;
          background: $dark-bg;
        }
        @include yellow-style() {
          color: $yellow-text-black;
          background: $yellow-bg-yellow;
        }
        @include blue-style() {
          color: $blue-text-cyan;
          background: $blue-bg-blue;
        }
        & > .menu_items_item_sub_items{
          height: auto;
          overflow: visible;
          opacity: 1;
        }
      }
      &_link {
        padding: 10px;
        font: normal 16px/30px "PT Sans", PTsans, Arial, sans-serif;
        text-decoration: none !important;
        display: block;
        color: $link_color;
        @include media-mix('max-width:906px') {
          font: normal 14px/30px "PT Sans", PTsans, Arial, sans-serif;
        }
        @include yellow-style() {
          color: $yellow-bg-yellow;
        }
        @include dark-style() {
          color: $dark-black-text;
        }
        &:hover {
          color: #FFFFFF;
          background: #45a3ba;
          @include dark-style() {
            color: $dark-text-color;
            background: $dark-bg;
          }
          @include yellow-style() {
            color: $yellow-text-black;
            background: $yellow-bg-yellow;
          }
          @include blue-style() {
            color: $blue-text-cyan;
            background: $blue-bg-blue;
          }
        }
      }
      &_sub_items {
        height: 0;
        overflow: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 200;
        background: #45a3ba;
        @include dark-style() {
          color: $dark-text-color;
          background: $dark-bg;
        }
        @include yellow-style() {
          color: $yellow-text-yellow;
          background: $yellow-bg-black;
        }
        @include blue-style() {
          background: $blue-bg-blue;
        }
        -webkit-transition-delay: .4s;
        transition-delay: .4s;
        &_item {
          display: inline-block;
          width: 20%;
          vertical-align: text-top;
          color: #FFFFFF;
          text-decoration: none;
          padding: 10px;
          @include dark-style() {
            color: $dark-text-color !important;
          }
          @include yellow-style() {
            color: $yellow-text-yellow !important;
          }
          @include blue-style() {
            color: $blue-text-cyan !important;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        .content {
          margin: 0 auto !important;
        }
        &--active {
          height: auto;
          overflow: visible;
          opacity: 1;
        }
      }
    }
  }
}