<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="EditEntrantPersonal" label-position="top">
                <v-card>
                    <v-card-title>
                        <span class="headline">Обновление персональной информации</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="errors.length > 0"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul>
                                        <li v-for="error in errors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.lastname')"
                                              prop="lastname">
                                    <el-input
                                            :placeholder="$t('label.lastname')"
                                            v-model="model.lastname" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.firstname')"
                                              prop="firstname">
                                    <el-input
                                            :placeholder="$t('label.firstname')"
                                            v-model="model.firstname" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.middlename')"
                                              prop="middlename">
                                    <el-input
                                            :placeholder="$t('label.middlename')"
                                            v-model="model.middlename" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.gender')" prop="gender">
                                    <el-select v-model="model.gender" :placeholder="$t('label.gender')"
                                               :disabled="loading"
                                               class="w100">
                                        <el-option
                                                v-for="(gender,key) in genders"
                                                :label="gender.name"
                                                :key="gender.id"
                                                :value="gender.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="birthday" :label="$t('label.birthday')">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.birthday')"
                                            v-model="model.birthday"
                                            class="w100"
                                            :picker-options="pickerOptions"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.snils')"
                                              prop="snils">
                                    <el-input v-mask="'###########'"
                                              :placeholder="$t('label.snils')"
                                              v-model="model.snils" :disabled="loading" :maxlength="11">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.inn')"
                                              prop="inn">
                                    <el-input
                                            :placeholder="$t('label.inn')"
                                            v-model="model.inn" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.phone')"
                                              prop="phone">
                                    <el-input
                                            :placeholder="$t('label.phone')"
                                            v-model="model.phone" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.email')"
                                              prop="email">
                                    <el-input
                                            :placeholder="$t('label.email')"
                                            v-model="model.email">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            &nbsp;
                            <el-col :span="12">
                                <el-form-item :label="$t('label.language')" prop="language">
                                    <el-select v-model="model.language" :placeholder="$t('label.language')"
                                               class="w100">
                                        <el-option
                                                v-for="(language,key) in languages"
                                                :label="language.name"
                                                :key="language.key"
                                                :value="language.key"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="start_date" label="Дата подачи документов">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            placeholder="Дата подачи документов"
                                            v-model="model.start_date"
                                            class="w100"
                                            :picker-options="pickerOptions"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>

                            <el-col :span="8">
                                <el-form-item :label="$t('label.how_find_out')" prop="how_find_out">
                                    <el-select v-model="model.how_find_out" :placeholder="$t('label.how_find_out')"
                                               class="w100" clearable filterable @change="handleSetHowFindOut">
                                        <el-option
                                                v-for="(source,key) in howFindOutSources"
                                                :label="source.text"
                                                :key="source.value"
                                                :value="source.value"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="16">
                                <el-form-item :label="$t('label.invited_student_id')" prop="invite_student_id"
                                              v-if="model.how_find_out===this.howFindOutSourses.fromStudent">
                                    <el-select v-model="model.invited_student_id" :loading="students.length===0"
                                               :placeholder="$t('label.invited_student_id')"
                                               class="w100" filterable clearable>
                                        <el-option
                                                v-for="(student,key) in students"
                                                :label="`${student.full_name} [${student.training_group.name}]`"
                                                :key="student.id"
                                                :value="student.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Программа" prop="recruitment_program_id">
                                    <el-select v-model="model.recruitment_program_id" filterable placeholder="Программа"
                                               class="w100">
                                        <el-option
                                                v-for="item in programs"
                                                :key="item.program.id"
                                                :label="item.program.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item
                                        prop="contract_target_set">
                                    <el-checkbox v-model="model.contract_target_set">Договор целевого набора
                                    </el-checkbox>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item
                                        prop="contract_target_set">
                                    <el-checkbox v-model="model.need_hostel">Нуждается в общежитии
                                    </el-checkbox>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" round
                                   @click.native="handleUpdate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {genders, languages, howFindOutSourses} from "@/constants";
    import {update} from "../../../api/contingent/entrants";
    import {enumirate} from "../../../filters";
    import {fetchAll} from "../../../api/contingent/student";
    import {getProgramsActiveCommittee} from "../../../api/selection-committies/recruitment-programs";

    export default {
        name: "EditEntrantModal",
        props: {
            entrant: {
                type: Object
            }
        },
        computed: {
            howFindOutSources() {
                return enumirate(howFindOutSourses, 'howFindOutSourse');
            }
        },
        data() {
            return {
                errors: [],
                hasError: false,
                loading: false,
                students: [],
                programs: [],
                howFindOutSourses,
                genders,
                languages,
                model: {},
                pickerOptions: this.$pickerConfig(),
                rules: {
                    lastname: [
                        {required: true, message: 'Заполните фамилию', trigger: 'blur'}
                    ],
                    enrollment_date: [
                        {required: true, message: 'Заполните дату зачисления', trigger: 'blur'}
                    ],
                    firstname: [
                        {required: true, message: 'Заполните имя', trigger: 'blur'}
                    ],
                    birthday: [
                        {required: true, message: 'Укажите дату рождения', trigger: 'blur'}
                    ],
                    start_date: [
                        {required: true, message: 'Не указана дата подачи документов', trigger: 'blur'}
                    ],
                    phone: [
                        {required: true, message: 'Не указан номер телефона', trigger: 'blur'}
                    ]
                },
            }
        },
        mounted() {
            let invited_student_id = null;

            if (!_.isNull(this.entrant.invited_student)) {
                invited_student_id = this.entrant.invited_student.id;
            }
            this.model = {
                id: this.entrant.id,
                lastname: this.entrant.lastname,
                firstname: this.entrant.firstname,
                middlename: this.entrant.middlename,
                birthday: this.entrant.birthday,
                gender: this.entrant.gender,
                snils: this.entrant.snils,
                inn: this.entrant.inn,
                phone: this.entrant.phone,
                email: this.entrant.email,
                language: this.entrant.language,
                start_date: this.entrant.start_date,
                contract_target_set: this.entrant.contract_target_set,
                need_hostel: this.entrant.need_hostel,
                how_find_out: this.entrant.how_find_out,
                recruitment_program_id: this.entrant.profession_program.id,
                invited_student_id: this.entrant.invited_student ? invited_student_id : null
            }
            this.getPrograms();
            fetchAll({filter: {}, limit: 5000, page: 1})
                .then(response => response.data)
                .then(data => {
                    this.students = data.students;

                }, error => {
                    let errorsToList = error.response.data.errors.map(item => {
                        return `<li>${item}</li>`
                    });

                    this.$alert(`<p>Студент список студентов не загружен. Возможность прикрепить пригласившего студента недоступна.<br>Список ошибок:</p><ul>${errorsToList}</ul>`, 'Произошла ошибка', {
                        confirmButtonText: 'OK',
                        dangerouslyUseHTMLString: true,
                        callback: action => {

                        }
                    });


                }).catch(e => {

            })
        },
        methods: {
            getPrograms() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Получаю список программ для приема, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                getProgramsActiveCommittee().then(response => {
                    this.programs = response.data.programs;
                    loading.close();
                }, error => {
                    loading.close();
                    this._showErrorAlert('Нет активных приемных комиссий. Пожалуйста, активируйте приемную комиссию для добавления абитуринетов', () => {
                        this.$router.push({name: 'entrants.list'})
                    })
                })
            },
            handleClose() {
                this.$modal.hide('EditEntrantModal')
            },
            handleSetHowFindOut(sourse) {
                if (sourse !== this.howFindOutSourses.fromStudent) {
                    this.model.invited_student_id = null;
                }
            },
            handleUpdate() {
                this.$refs.EditEntrantPersonal.validate(valid => {
                    if (valid) {
                        const loading = this.$lockScreen({text: 'Обновляю персональные данные'});


                        let data = {
                            id: this.model.id,
                            lastname: this.model.lastname,
                            firstname: this.model.firstname,
                            middlename: this.model.middlename,
                            birthday: this.model.birthday,
                            gender: this.model.gender,
                            snils: this.model.snils,
                            inn: this.model.inn,
                            phone: this.model.phone,
                            email: this.model.email,
                            language: this.model.language,
                            start_date: this.model.start_date,
                            contract_target_set: this.model.contract_target_set,
                            how_find_out: this.model.how_find_out,
                            invited_student_id: this.model.invited_student_id,
                            need_hostel: this.model.need_hostel,
                            recruitment_program_id: this.model.recruitment_program_id,
                        };

                        let current_recruitment_program = this.programs.find(program => {
                            return program.id === data.recruitment_program_id;
                        });

                        let profession_program = {
                            id: current_recruitment_program.id,
                            program: {
                                name_with_form: current_recruitment_program.program.name
                            }
                        };

                        data.profession_program_id = current_recruitment_program.program.id;
                        
                        update(this.model.id, data).then(response => {
                            let invited_student = null;
                            if (!_.isNull(this.model.invited_student_id)) {
                                invited_student = this.students.filter(student => {
                                    return student.id === this.model.invited_student_id;
                                })[0];
                            }

                            this.$bus.emit('update-entrant-personal', {...{invited_student}, ...{profession_program}, ...data});
                            this.$notify({
                                type: 'success',
                                title: 'Успешно',
                                message: 'Данные успешно обновлены'
                            });
                            this.handleClose();
                            loading.close();
                        }, error => {
                            this.errors = error.response.data.errors;
                            loading.close();
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>