<template>
    <div class="app-container entrant-profile" v-if="uploadEntrant">
        <div style="margin: 10px 0">
            <h2>{{entrant.lastname}} {{entrant.firstname}} {{entrant.middlename|empty}}</h2>
        </div>
        <el-row :gutter="10">
            <el-col :span="8">
                <basic-information :entrant="entrant"></basic-information>
            </el-col>
            <el-col :span="16">
                <additional-information :entrant="entrant"></additional-information>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {one} from "../../../api/contingent/entrants";
    import BasicInformation from "./components/basic-information";
    import AdditionalInformation from "./components/additional-information";

    export default {
        name: "entrant-profile",
        components: {AdditionalInformation, BasicInformation},
        data() {
            return {
                entrant: {},
                uploadEntrant: false
            }
        },
        created() {
            this.getEntrant();
            this.$bus.on('update-entrant-personal', data => {
                this.entrant = {...{}, ...data}
                console.dir(data);
            })
        },
        methods: {
            getEntrant() {
                const loading = this.$lockScreen({text: 'Загрузка профиля абитуриента'});
                let id = this.$route.params.id;
                one(id).then(response => {
                    loading.close();
                    this.uploadEntrant = true;
                    this.entrant = response.data.entrant;
                }, error => {
                    this.$alert(error.response.data.message, `Внимание, ошибка ${error.response.status}`, {
                        type: 'error',
                        callback: () => {
                            this.$router.push({name: 'entrants.list'})
                        }
                    });
                    loading.close();
                });
            }
        }
    }
</script>

<style scoped>

</style>