<template>
    <div>
        <div class="text-right" style="margin-bottom: 10px">
            <dropdown :class-name="'jes-dropdown'" align="left">
                <template slot="btn"><i class="fa fa-columns" aria-hidden="true"></i></template>
                <template slot="body">
                    <ul>
                        <li v-for="(item,key) in activeColumns" :key="key">
                            <el-checkbox v-model="activeColumns[key]">{{key|tableColumn}}</el-checkbox>
                        </li>
                        <li style="margin-top: 5px">
                            <el-button type="primary" @click="applyColumns">
                                Применить
                            </el-button>
                        </li>
                    </ul>
                </template>
            </dropdown>
        </div>
        <el-table
                :data="entrants"
                style="width: 100%"
                stripe
                border
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55" fixed>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="68px" fixed></el-table-column>
            <el-table-column label="ФИО" fixed>
                <template slot-scope="scope">
                    {{scope.row.lastname}} {{scope.row.firstname}} {{scope.row.middlename}}
                </template>
            </el-table-column>
            <el-table-column label="Незаполненные данные" fixed v-if="columns.blank_data">
                <template slot-scope="scope">
                    <el-button type="text" v-if="scope.row.blank_data.length > 0"
                               @click="handleOpenBlankDataModal(scope.row)">
                        Открыть
                    </el-button>
                    <span v-else>
                        Пустых данных нет
                    </span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.birthday')" v-if="columns.birthday">
                <template slot-scope="scope">
                    {{scope.row.birthday|dateFormat}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.gender')" v-if="columns.gender">
                <template slot-scope="scope">
                    {{scope.row.gender|gender}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.program')" v-if="columns.program">
                <template slot-scope="scope">
                    {{scope.row.profession_program.program.name_with_form}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.has_original')" v-if="columns.has_original">
                <template slot-scope="scope">
                    {{scope.row.has_original|logic}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.has_certificate')" v-if="columns.has_certificate">
                <template slot-scope="scope">
                    {{scope.row.has_certificate|logic}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.need_hostel')" v-if="columns.need_hostel">
                <template slot-scope="scope">
                    {{scope.row.need_hostel|logic}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.snils')" v-if="columns.snils">
                <template slot-scope="scope">
                    {{scope.row.snils|snils}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.inn')" v-if="columns.inn">
                <template slot-scope="scope">
                    {{scope.row.inn}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.avg')" v-if="columns.avg">
                <template slot-scope="scope">
                    {{scope.row.avg}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('label.phone')" v-if="columns.phone">
                <template slot-scope="scope">
                    {{scope.row.phone}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('table.actions')" fixed="right">
                <template slot-scope="scope">
                    <router-link :to="{name:'entrant.profile',params:{id:scope.row.id}}">
                        <el-button type="primary" round style="margin-bottom: 5px">
                            <i class="fa fa-user"></i>
                        </el-button>
                    </router-link>
                    <el-button type="danger" round>
                        <i class="fa fa-trash"></i>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination v-show="total>0" :current-page="listQuery.page" :page-sizes="[15,25,50,75,100,200]"
                           :page-size="listQuery.limit" :total="total" background
                           layout="total, sizes, prev, pager, next, jumper"
                           @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
        </div>
    </div>
</template>

<script>
    import {fetchAll} from "../../../api/contingent/entrants";
    import Dropdown from 'bp-vuejs-dropdown';

    export default {
        name: "entrants-list",
        components: {Dropdown},
        data() {
            return {
                entrants: [],
                multipleSelection: [],
                loading: true,
                columns: {
                    birthday: true,
                    gender: true,
                    program: true,
                    blank_data: true,
                    has_original: true,
                    has_certificate: true,
                    need_hostel: true,
                    snils: true,
                    inn: true,
                    avg: true,
                    phone: true,
                },
                activeColumns: {},
                total: 0,
                listQuery: {
                    page: 1,
                    limit: 15,
                    filter: {
                        id: null,
                        lastname: null,
                        profession_program_id: null,
                        document_status: null,
                        only_contract: false,
                        no_inn: false,
                        no_snils: false,
                        need_hostel: false
                    }
                },
            }
        },
        created() {
            this.getList();
        },
        mounted() {
            this.activeColumns = {...{}, ...this.columns};
            let columnsInStorage = JSON.parse(localStorage.getItem("activeEntrantTableColumns"));
            if (columnsInStorage) {
                this.activeColumns = {...this.columns, ...columnsInStorage};
                this.applyColumns();
            }

            this.$bus.on('filter-entrants-list', data => {
                if (!_.isUndefined(data)) {
                    this.$set(this.listQuery, 'filter', data);
                }
                this.getList();
            });

            this.$bus.on('refresh-entrants-list', data => {
                this.getList();
            })
        },
        methods: {
            getList() {
                const loading = this.$lockScreen({text: 'Загружаю абитуриентов'});
                fetchAll(this.listQuery).then(response => {
                    loading.close();
                    this.total = response.data.total;
                    this.entrants = response.data.entrants;
                }, error => {
                    loading.close();
                })
            },
            handleOpenBlankDataModal(entrant) {
                let data = '';

                entrant.blank_data.forEach((item, index) => {
                    data += `<li>${item}</li>`;
                });
                this.$alert(`<ul>${data}</ul>`, `Незаполненные данные абитуриента ${entrant.lastname} ${entrant.firstname} ${entrant.middlename}`, {
                    dangerouslyUseHTMLString: true,
                    confirmButtonText: 'OK',
                });
            },
            handleSelectionChange(val) {
                this.$store.dispatch('SET_ENTRANTS', val);
            },
            handleSizeChange(val) {
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.page = val;
                this.getList()
            },
            applyColumns() {
                this.columns = {...{}, ...this.activeColumns};
                localStorage.setItem("activeEntrantTableColumns", JSON.stringify(this.activeColumns));
            }
        }
    }
</script>

<style scoped>

</style>
