<template>
    <div>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <h3 style="display: inline-block">Основная информация</h3>
                <el-button style="float: right;" type="primary" @click="handleUpdate" round>
                    <i class="fa fa-edit"></i>
                </el-button>
            </div>
            <div>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Пол</el-col>
                    <el-col :span="12">{{_employee.gender|gender}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Дата рождения</el-col>
                    <el-col :span="12">{{_employee.birthday|dateFormat}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Возраст</el-col>
                    <el-col :span="12">
                        <time-period :start_date="_employee.birthday" :end_date="null" :block="['years']"></time-period>
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Категория</el-col>
                    <el-col :span="12">{{_employee.category|qualificationCategory}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Дата окн. категории</el-col>
                    <el-col :span="12">
                        <span v-if="_employee.category_date">{{_employee.category_date|dateFormat}}</span>
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Использовать динамический стаж</el-col>
                    <el-col :span="12">{{_employee.use_dynamic_exp|logic}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Общий стаж работы (статический)</el-col>
                    <el-col :span="12">{{_employee.general_experience|pluralize(['год','года','лет'])}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Общий стаж работы (динамический)</el-col>
                    <el-col :span="12">
                        {{_dynamicGeneralExp}}
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Cтаж работы по специальности</el-col>
                    <el-col :span="12">{{_employee.speciality_experience|pluralize(['год','года','лет'])}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Cтаж работы по специальности(динамический)</el-col>
                    <el-col :span="12">{{_dynamicSpecialExp}}</el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Cтаж работы в организации</el-col>
                    <el-col :span="12">
                        <time-period :start_date="_employee.start_work_date" :end_date="null"
                                     :block="['years','months','days']"></time-period>
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Ученая степень</el-col>
                    <el-col :span="12">
                        <span v-if="_employee.scientific_degree">{{_employee.scientific_degree|logic}}</span>
                        <span v-else>{{_employee.scientific_degree}}</span>
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="padding-bottom: 20px">
                    <el-col :span="12">Ученое звание</el-col>
                    <el-col :span="12">
                        {{_employee.academic_title}}
                    </el-col>
                </el-row>
            </div>
        </el-card>
    </div>
</template>

<script>
    import TimePeriod from "@/components/TimePeriod/index";
    import UpdateEmployeeData from './update-employee-data';
    import moment from 'moment';
    import {pluralize} from "../../../../filters";

    export default {
        name: "basic-information",
        components: {TimePeriod},
        props: ['employee'],
        data() {
            return {
                // data: {
                //     id: this.employee.id,
                //     lastname: this.employee.lastname,
                //     firstname: this.employee.firstname,
                //     middlename: this.employee.middlename,
                //     gender: this.employee.gender,
                //     birthday: this.employee.birthday,
                //     category: this.employee.category,
                //     category_date: this.employee.category_date,
                //     general_experience: this.employee.general_experience,
                //     specialty_exp: this.employee.speciality_experience,
                //     scientific_degree: this.employee.scientific_degree,
                //     academic_title: this.employee.academic_title,
                //     start_work_date: this.employee.start_work_date,
                // }
            }
        },
        computed: {
            _employee() {
                return this.$store.getters.currentEmployee;
            },
            _dynamicGeneralExp() {
                let positions = this.$store.getters.currentEmployeePreviousJobs;
                return this.calculateExp(positions);
            },
            _dynamicSpecialExp() {
                let positions = this.$store.getters.currentEmployeePreviousJobs.filter(position => position.is_speciality_exp);
                return this.calculateExp(positions);
            }
        },
        mounted() {
            this.$bus.on('update-employee-data', data => {
                this.data = data.employee;
            })
        },
        methods: {
            calculateExp(positions) {

                let cPositions = [...positions, ...[{
                    start_date: moment(this._employee.start_work_date),
                    end_date: moment()
                }]];
                let intPeriod = cPositions.map(position => {
                    return {start: moment(position.start_date), end: moment(position.end_date)}
                })
                    .map(({start, end}) => end.diff(start))
                    .reduce((prev, next) => prev + next);

                let duration = moment.duration(intPeriod);
                return `${pluralize(duration.years(), 'years')} ${pluralize(duration.months(), 'months')} ${pluralize(duration.days(), 'days')}`
            },
            handleUpdate() {
                this.$modal.show(UpdateEmployeeData,
                    {
                        data: {
                            id: this._employee.id,
                            lastname: this._employee.lastname,
                            firstname: this._employee.firstname,
                            middlename: this._employee.middlename,
                            gender: this._employee.gender,
                            birthday: this._employee.birthday,
                            category: this._employee.category,
                            category_date: this._employee.category_date,
                            general_experience: this._employee.general_experience,
                            specialty_exp: this._employee.speciality_experience,
                            scientific_degree: this._employee.scientific_degree,
                            academic_title: this._employee.academic_title,
                            start_work_date: this._employee.start_work_date,
                            use_dynamic_exp: this._employee.use_dynamic_exp
                        }
                    },
                    {
                        name: 'UpdateEmployeeData',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    }
                );
            }
        }
    }
</script>

<style scoped>

</style>
