<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="AddEducationToEmployeeForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить уровень образования</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Уровень образования" prop="position_id">
                                    <el-select v-model="model.education_id" placeholder="Уровень образования" filterable
                                               :disabled="loading"
                                               class="w100">
                                        <el-option
                                                v-for="(education,key) in educations"
                                                :label="education.name"
                                                :key="education.id"
                                                :value="education.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.direction_of_preparation')"
                                              prop="direction_of_preparation">
                                    <el-input
                                            :placeholder="$t('label.direction_of_preparation')"
                                            v-model="model.direction_of_preparation" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.qualification')" prop="qualification">
                                    <el-input
                                            :placeholder="$t('label.qualification')"
                                            v-model="model.qualification" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.graduation_organization_name')"
                                              prop="graduation_organization_name">
                                    <el-input
                                            :placeholder="$t('label.graduation_organization_name')"
                                            v-model="model.graduation_organization_name" :disabled="loading">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>

    import {educations} from "@/constants";
    import {addEducationToEmployee} from "@/api/contingent/employee";
    import {Message} from 'element-ui';

    export default {
        name: "create-employee-education-modal",
        props: ['employee_id'],
        data() {
            return {
                loading: false,
                educations,
                serverErrors: [],
                hasError: false,
                model: {
                    employee_id: this.employee_id,
                    education_id: 7,
                    qualification: null,
                    direction_of_preparation: null,
                    graduation_organization_name: null
                },
                rules: {
                    education_id: [
                        {required: true, message: 'Выберите уровень образования', trigger: 'change'}
                    ]
                }
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('AddEducationToEmployee');
            },
            handleCreate() {
                this.$refs['AddEducationToEmployeeForm'].validate(valid => {
                    if (valid) {
                        const loading = this.$loading({
                            lock: true,
                            text: 'Добавляю уровень образования, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        addEducationToEmployee(this.model).then(response => {
                            this.handleClose();
                            this.$bus.emit('update-education-list', {educationList: response.data.educations});
                            this.$store.dispatch('ADD_CURRENT_EMPLOYEE_EDUCATION', response.data.educations);
                            loading.close();
                            this.$notify({
                                type: 'success',
                                title: 'Успешно',
                                message: 'Уровень образования был успешно добавлен'
                            });
                        }, error => {
                            let response = error.response.data;
                            this.serverErrors = [];
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            if (response.errors) {
                                this.serverErrors = response.errors;
                            }
                            this.hasError = true;
                            loading.close();
                            this.loading = false;
                        })
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
