<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="AddEducationToEmployeeForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Обновление воинского учета</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="serverErrors.length"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul>
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Статус воинского учета" prop="military_status">
                                    <el-select filterable v-model="model.military_status"
                                               placeholder="Выберите статус ВУ"
                                               class="w100" clearable>
                                        <el-option
                                                v-for="status in militaryStatuses"
                                                :key="status.key"
                                                :label="status.name"
                                                :value="status.key">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Отдел ВК" prop="recruitment_center_id">
                                    <el-select filterable v-model="recruitment_center.id"
                                               placeholder="Выберите отдел ВК" clearable filterable
                                               class="w100" @change="handleChangeCenter">
                                        <el-option
                                                v-for="(center,key) in centers"
                                                :key="key"
                                                :label="center.name"
                                                :value="center.id">
                                            {{center.name}}
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Документ воинского учета" prop="military_document_type">
                                    <el-select filterable v-model="model.military_document_type"
                                               placeholder="Выберите документ ВУ" clearable
                                               class="w100">
                                        <el-option
                                                v-for="document in militaryDocumentTypes"
                                                :key="document.key"
                                                :label="document.text"
                                                :value="document.key">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Номер документа ВУ" prop="military_document_number">
                                    <el-input
                                            placeholder="Номер документа ВУ" clearable
                                            v-model="model.military_document_number">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Воинское звание" prop="military_rank">
                                    <el-select v-model="model.military_rank"
                                               placeholder="Воинское звание" filterable
                                               :disabled="loading"
                                               class="w100" clearable>
                                        <el-option
                                                v-for="(rank,key) in _militaryRanks"
                                                :label="rank.text"
                                                :key="rank.value"
                                                :value="rank.value"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Специальность" prop="military_speciality">
                                    <el-input
                                            placeholder="Номер Специальность"
                                            v-model="model.military_specialty">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Годность к ВС" prop="fitness_for_military_service">
                                    <el-select v-model="model.fitness_for_military_service"
                                               placeholder="Категория годности к ВС"
                                               :disabled="loading"
                                               class="w100" clearable>
                                        <el-option
                                                v-for="(fit,key) in fitnessForMilitaryServices"
                                                :label="fit.text"
                                                :key="fit.key"
                                                :value="fit.key"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Состав" prop="military_composition">
                                    <el-select v-model="model.military_composition"
                                               placeholder="Состав"
                                               :disabled="loading"
                                               class="w100" clearable>
                                        <el-option
                                                v-for="(composition,key) in _militaryCompositions"
                                                :label="composition.text"
                                                :key="composition.value"
                                                :value="composition.value"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Группа учета" prop="group_of_accounting">
                                    <el-select v-model="model.group_of_accounting"
                                               placeholder="Группа учета"
                                               :disabled="loading"
                                               class="w100" clearable>
                                        <el-option
                                                v-for="(group,key) in _groupOfAccounting"
                                                :label="group.text"
                                                :key="group.value"
                                                :value="group.value"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Категория запаса" prop="reserve_category">
                                    <el-select v-model="model.reserve_category"
                                               placeholder="Категория запаса"
                                               :disabled="loading"
                                               class="w100" clearable>
                                        <el-option
                                                v-for="(category,key) in _reserveCategories"
                                                :label="category.text"
                                                :key="category.value"
                                                :value="category.value"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-checkbox v-model="model.is_on_special_accounting"
                                             label="Состоит на спец. учете"></el-checkbox>
                            </el-col>
                            <el-col :span="24">
                                <el-checkbox v-model="model.has_military_preparation"
                                             label="Имеет военную подготовку"></el-checkbox>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleUpdate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {
        militaryStatuses,
        militaryDocumentTypes,
        militaryRanks,
        militaryCompositions,
        fitnessForMilitaryServices, groupOfAccounting, reserveCategories
    } from "../../../../constants";
    import {enumirate} from "../../../../filters";
    import {index} from "../../../../api/contingent/recruitentCenters";
    import {militaryRecord} from "../../../../api/contingent/employee";

    export default {
        name: "EditMilitaryRecordModal",
        data() {
            return {
                centers: [],
                militaryStatuses,
                fitnessForMilitaryServices,
                militaryDocumentTypes,
                loading: false,
                serverErrors: [],
                recruitment_center: {},
                model: {},
                rules: {}
            }
        },
        computed: {
            _groupOfAccounting() {
                return enumirate(groupOfAccounting, 'groupOfAccounting');
            },
            _reserveCategories() {
                return enumirate(reserveCategories, 'reserveCategory');
            },
            _militaryRanks() {
                return enumirate(militaryRanks, 'militaryRank');
            },
            _militaryCompositions() {
                return enumirate(militaryCompositions, 'militaryComposition');
            }
        },
        mounted() {
            this.model = {...this.$store.getters.currentEmployeeMilitaryRecord, ...{}};
            this.recruitment_center = {...this.$store.getters.currentEmployeeMilitaryRecord.recruitment_center, ...{}};
            this.handleGetRecruitmentCenters();
        },
        methods: {
            handleClose() {
                this.$modal.hide('EditMilitaryRecordModal');
            },
            handleChangeCenter(id) {

            },
            handleUpdate() {
                const recruitment_center = this.centers.find(center => center.id === this.recruitment_center.id);
                const id = this.$route.params.id;
                const employeeMilitaryData = {...this.model, ...{recruitment_center}};
                const data = {...{employeeMilitaryData}, ...{id}};

                const lockScreen = this.$lockScreen({text: 'Идет обновление данных воинского учета'});

                militaryRecord(data).then(response => {
                    let {data} = response;
                    this.$notify.success({title: 'Успешно', message: data.message});
                    this.$store.dispatch('UPDATE_CURRENT_MILITARY_DATA',employeeMilitaryData);
                    this.handleClose();
                }).finally(data => {
                    lockScreen.close();
                });

            },
            handleGetRecruitmentCenters() {
                index()
                    .then(response => response.data)
                    .then(data => {
                        this.centers = data;
                    })
            }
        }
    }
</script>

<style scoped>

</style>