<template>
    <div>
        <div class="" style="margin-bottom: 10px">
            <el-button type="primary" @click="handleCreate()" round>
                <i class="fa fa-plus"></i> Добавить уровень образования
            </el-button>
        </div>
        <el-table
                :data="_educations"
                border
                style="width: 100%">
            <el-table-column
                    prop="id"
                    :label="$t('table.id')"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="name"
                    :label="$t('table.name')">
                <template slot-scope="scope">
                    {{scope.row.education_id|education}}
                </template>
            </el-table-column>
            <el-table-column
                    :label="$t('label.direction_of_preparation')">
                <template slot-scope="scope">
                    {{scope.row.direction_of_preparation}}
                </template>
            </el-table-column>
            <el-table-column
                    prop="qualification"
                    :label="$t('label.qualification')">
                <template slot-scope="scope">
                    {{scope.row.qualification}}
                </template>
            </el-table-column>
            <el-table-column
                    :label="$t('label.graduation_organization_name')">
                <template slot-scope="scope">
                    {{scope.row.graduation_organization_name}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('table.actions')">
                <template slot-scope="scope">
                    <el-button type="primary" @click="handleEdit(scope.row,scope.$index)" circle>
                        <i class="fa fa-edit"></i>
                    </el-button>
                    <el-button type="danger" v-if="educations.length > 1" @click="handleDelete(scope.row,scope.$index)"
                               circle>
                        <i class="fa fa-trash"></i>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import CreateEmployeeEducationModal from './create-employee-education-modal'
    import UpdateEmployeeEducationModal from './update-employee-education-modal'

    import {deleteEmployeeEducation} from "@/api/contingent/employee";
    import {buttons} from "@/constants";
    import {Message} from 'element-ui';

    export default {
        name: "employee-educations",
        props: ['employee'],
        data() {
            return {
                educations: []
            }
        },
        created() {
            let vm = this;
        },
        mounted() {
            this.$bus.on('update-education-list', data => {
                this.educations = data.educationList;
            });

            this.$bus.on('update-employee-educations', data => {
                this.$set(this.educations, data.index, data.education)
            });

        },
        computed: {
            _educations() {
                return this.$store.getters.currentEmployeeEducations;
            }
        },
        methods: {
            handleCreate() {
                this.$modal.show(CreateEmployeeEducationModal,
                    {
                        employee_id: this.employee.id
                    },
                    {
                        name: 'AddEducationToEmployee',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    }
                )
            },
            handleEdit(education, index) {
                this.$modal.show(UpdateEmployeeEducationModal,
                    {
                        education,
                        index
                    },
                    {
                        name: 'UpdateEmployeeEducationModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    }
                )
            },
            handleDelete(education, index) {
                this.$swal({
                    title: 'Подтвердите удаление',
                    type: 'question',
                    html: `<b>Вы действительно хотите уровень образования с id ${education.id}?</b>`,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: buttons.delete,
                    cancelButtonText: buttons.cancel,
                }).then(result => {
                    if (result.value) {
                        deleteEmployeeEducation(education.id).then(response => {
                            if (response.data.success) {
                                this.$delete(this.educations, index);
                                Message({
                                    message: response.data.message,
                                    type: 'success',
                                    duration: 5 * 1000
                                });
                            } else {
                                this.$swal({
                                    title: 'Удаление невозможно',
                                    type: 'warning',
                                    html: `<b>${response.data.message}</b>`,
                                });
                            }
                        })
                    }
                }).catch(error => {
                    console.dir(error);
                });
            }
        },
        updateEducationList(data) {
            this.educations = data.educationList;
        },
        updateEducationOnList(data) {
            this.$set(this.educations, data.index, data.education)
        }


    }
</script>

<style scoped>

</style>
