<template>
    <div>
        <div class="" style="margin-bottom: 10px">
            <el-button type="primary" @click="handleCreate()" round>
                <i class="fa fa-plus"></i> Добавить должность
            </el-button>
        </div>
        <el-table
                :data="_positions"
                border
                style="width: 100%">
            <el-table-column
                    prop="id"
                    :label="$t('table.id')"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="name"
                    :label="$t('table.name')">
                <template slot-scope="scope">
                    {{scope.row.position.name}}
                </template>
            </el-table-column>
            <el-table-column
                    label="Период работы">
                <template slot-scope="scope">
                    {{scope.row.start_date|dateFormat}} -
                    <span v-if="scope.row.date_layoff">{{scope.row.date_layoff|dateFormat}}</span>
                    <span v-else>Н.В</span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="experience"
                    label="Стаж работы">
                <template slot-scope="scope">
                    <time-period
                            v-bind:start_date="scope.row.start_date" v-bind:end_date="scope.row.date_layoff"
                            :block="['months', 'days', 'years']"></time-period>
                </template>
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="Тип">
                <template slot-scope="scope">
                    {{scope.row.type|userPositionType}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('table.actions')">
                <template slot-scope="scope">
                    <el-button type="primary" @click="handleEdit(scope.row,scope.$index)" circle>
                        <i class="fa fa-edit"></i>
                    </el-button>
                    <el-button type="danger" v-if="_positions.length > 1" @click="handleDelete(scope.row,scope.$index)"
                               circle>
                        <i class="fa fa-trash"></i>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import TimePeriod from "@/components/TimePeriod/index";
    import AddPositionModal from './add-position-modal'
    import UpdatePositionModal from './update-position-modal'
    import {getPositions} from "@/api/services";

    export default {
        name: "employee-positions",
        components: {TimePeriod},
        props: ['employee'],
        data() {
            return {
                positions: [],
                positionsList: [],
            }
        },
        mounted() {
            this.$bus.on('update-position-list', this.updatePositionList);
            this.$bus.on('update-position-on-list', this.updatePositionOnList);

            this.positions = this.$store.getters.currentEmployeePositions;
            this.handleGetPositions();
        },
        computed: {
            _positions() {
                return this.$store.getters.currentEmployeePositions;
            }
        },
        methods: {
            handleGetPositions() {
                getPositions().then(response => {
                    this.positionsList = response.data;
                });
            },
            handleCreate() {
                this.$modal.show(AddPositionModal, {
                        positions: this.positionsList,
                        employee_id: this.employee.id
                    }, {
                        name: 'AddPositionOnEmployee',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    },
                    {
                        'before-close': (event) => {
                            if (event.params.success) {

                            }
                        }
                    })
            },
            handleEdit(position, index) {
                this.$modal.show(UpdatePositionModal, {
                        positions: this.positionsList,
                        position
                    }, {
                        name: 'UpdateEmployeePositionModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    },
                    {
                        'before-close': (event) => {
                            if (event.params.success) {
                                this.$set(this.positions, index, event.params.position);
                            }
                        }
                    })
            },
            handleDelete(position, index) {

            },
            updatePositionList(data) {
                this.positions = data.positions;
            },
            updatePositionOnList(data) {

            }
        },
        watch: {
            positions: function () {
                console.log('перерисовка таблицы с должностями')
            }
        }
    }
</script>

<style scoped>

</style>
