<template>
    <div>
        <div class="" style="margin-bottom: 10px">
            <el-button type="primary" @click="handleCreate()" round>
                <i class="fa fa-plus"></i> Добавить дисциплину/модуль
            </el-button>
        </div>
        <el-table
                :data="_subjects"
                border
                style="width: 100%">
            <el-table-column
                    prop="id"
                    :label="$t('table.id')"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="name"
                    :label="$t('table.name')">
                <template slot-scope="scope">
                    {{scope.row.subject.name}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('table.actions')">
                <template slot-scope="scope">
                    <el-button type="danger" @click="handleDelete(scope.row,scope.$index)"
                               circle>
                        <i class="fa fa-trash"></i>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import {getSubjects} from "@/api/services";
    import AddSubjectToEmployee from './AddSubjectToEmployee';
    import {buttons} from "@/constants";
    import {deleteEmployeeSubject} from "@/api/contingent/employee";
    import {Message} from 'element-ui';

    export default {
        name: "employee-subjects",
        props: ['employee'],
        data() {
            return {
                subjects: [],
                subjectsList: []
            }
        },
        mounted() {
            this.$bus.on('update-employee-subject', data => {
                this.subjects = data.subjects;
            });

            getSubjects().then(response => {
                this.subjectsList = response.data;
            });
        },
        computed: {
            _subjects() {
                return this.$store.getters.currentEmployeeSubjects;
            }
        },
        methods: {
            handleCreate() {
                this.$modal.show(AddSubjectToEmployee,
                    {
                        subjectsList: this.subjectsList,
                        employee_id: this.employee.id
                    },
                    {
                        name: 'AddSubjectToEmployee',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    })
            },
            handleDelete(row, index) {
                this.$swal({
                    title: 'Подтвердите удаление',
                    type: 'question',
                    html: `<b>Вы действительно хотите удалить дисциплину «${row.subject.name}»?</b>`,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: buttons.delete,
                    cancelButtonText: buttons.cancel,
                }).then(result => {
                    if (result.value) {
                        this.loading = true;
                        deleteEmployeeSubject(row.id).then(response => {
                            if (response.data.success) {
                                Message({
                                    message: response.data.message,
                                    type: 'success',
                                    duration: 5 * 1000
                                });
                                this.$delete(this.subjects, index);
                                this.loading = false;
                            } else {
                                this.loading = false;
                                this.$swal({
                                    title: 'Удаление невозможно',
                                    type: 'warning',
                                    html: `<b>${response.data.message}</b>`,
                                });
                            }
                        })
                    }
                }).catch(error => {
                    console.dir(error);
                });
            }
        },
    }
</script>

<style scoped>

</style>
