<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="UpdateEmployeePositionForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Обновить должность</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Должность" prop="position_id">
                                    <el-select v-model="model.position.id" placeholder="Должность"
                                               :disabled="true"
                                               class="w100">
                                        <el-option
                                                v-for="(positions,key) in positions"
                                                :label="positions.name"
                                                :key="positions.id"
                                                :value="positions.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="start_date" label="Дата приема">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.changeDate')"
                                            v-model="model.start_date"
                                            class="w100"
                                            :picker-options="pickerOptions"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="date_layoff" label="Дата увольнения">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.changeDate')"
                                            v-model="model.date_layoff"
                                            class="w100"
                                            :picker-options="pickerOptions" :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Тип" prop="type">
                                    <el-select v-model="model.type" :placeholder="$t('label.type')" filterable
                                               :disabled="loading"
                                               class="w100">
                                        <el-option
                                                v-for="(type,key) in types"
                                                :label="type.name"
                                                :key="type.id"
                                                :value="type.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.update')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {employeePositionType} from "@/constants";
    import {DateTime} from 'luxon';
    import {updateEmployeePosition} from "@/api/contingent/employee";
    import {Message} from 'element-ui';

    export default {
        name: "update-position-modal",
        props: ['positions', 'position'],
        data() {
            return {
                loading: false,
                types: employeePositionType,
                model: {
                    position_id: null,
                    start_date: DateTime.local().toISODate(),
                    date_layoff: null,
                    type: 0,
                },
                pickerOptions: {
                    firstDayOfWeek: 1,
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                },
                serverErrors: [],
                hasError: false,
                rules: {
                    start_date: [
                        {required: true, message: 'Заполните дату назначения', trigger: 'blur'}
                    ],
                    type: [
                        {required: true, message: 'Выберите тип', trigger: 'change'}
                    ],
                }
            }
        },
        mounted() {
            this.model = Object.assign({}, this.position);
        },
        methods: {
            handleClose(isAdd = false) {
                this.$modal.hide('UpdateEmployeePositionModal', {success: _.isBoolean(isAdd), position: this.model});
            },
            handleCreate() {
                this.$refs['UpdateEmployeePositionForm'].validate((valid) => {
                    if (valid) {
                        updateEmployeePosition(this.model).then(response => {
                            this.handleClose(response.data.success);
                            this.$bus.emit('update-position-on-list', {position: this.model});
                            Message({
                                message: response.data.message,
                                type: 'success',
                                duration: 5 * 1000
                            });
                        }, error => {
                            let response = error.response.data;
                            this.serverErrors = [];
                            if (response.message) {
                                this.serverErrors.push(response.message);
                            }
                            this.serverErrors = response.errors;
                            this.hasError = true;
                            this.loading = false;
                        }).catch(error => {
                            console.dir(error);
                        });
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>