.mobile-btn {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  padding: 12px;
  top: 0;
  right: 0;
  z-index: 500;
  touch-action: manipulation;
  box-sizing: border-box;
  color: white;
  text-align: center;
  @include media-small-device-down() {
    display: block;
    position: fixed;
  }
  @include spec-black-on-white() {
    color: black;
  }
  @include spec-yellow-on-black() {
    color: yellow;
  }
  @include spec-blue-on-blue() {
    color: $blue-cyan;
  }
}

.special-settings-on {
  .mobile-menu__wrapper {
    top: 0;
    z-index: 600;
    padding-top: 50px;
  }

  .mobile-btn {
    z-index: 601;
  }
}

.mobile-menu {
  &__wrapper {
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 250;
    position: fixed;
    display: none;
    width: 100%;
    background: #157fc4;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 0.4s;
    overflow-y: scroll;
    overflow-x: hidden;

    &.active {
      transform: scale(1);
    }

  }

  &__items {
    background: rgba(24, 24, 24, 0.3);
    margin: 30px 20px 20px;
    border-radius: 3px;
    list-style: none;
    padding-left: 0;
  }

  &__item {
    list-style: none;

    &:first-child {
      border-radius: 3px 3px 0 0;
    }

    &:last-child {
      border-radius: 0 0 3px 3px;
    }

    &-name {
      display: block;
      color: $text_color_white;
      font-size: 16px;
      line-height: 20px;
      padding: 15px 20px;
    }

    &.open {
      i {
        transform: rotate(180deg);
      }

      .mobile-sub-items {
        display: block;
      }
    }
  }
}

.mobile-sub-items {
  & ul {
    padding-left: 0;
    background: rgba(24, 24, 24, 0.1);
    list-style: none;
    text-transform: none;

    & a {
      color: $text_color_white;
      text-decoration: none;
      display: block;
      padding: 15px 20px;
      font-size: 16px;
      line-height: 20px;
      text-transform: none;
      @include spec-black-on-white() {
        color: black;
      }
      @include spec-yellow-on-black() {
        color: yellow;
      }
      @include spec-blue-on-blue() {
        color: $blue-cyan;
      }
    }
  }
}
