.sitebar {
  grid-column: 1/4;
  @include media-large-device-up() {
    grid-column: 1/3;
  }
  @include media-small-device-down() {
    display: none;
  }

  &-menu {
    padding: 20px;
    background-color: #FFFFFF;
    line-height: 20px;

    &__items {
      list-style: none;
      padding-left: 0;
    }

    &__item {
      margin-left: -20px;
      margin-right: -20px;

      &.active {
        border-left: 4px solid #157fc4;
        @include spec-black-on-white() {
          border-left: 4px solid #000;
        }

        @include spec-yellow-on-black() {
          border-left: 4px solid yellow;
        }
      }
    }

    &__link {
      display: block;
      padding: 5px 10px 5px 20px;
      border-left: solid 4px transparent;
      transition: all ease 0.3s;
      text-decoration: none;
      color: #157fc4;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}