.menu {
  position: relative;
  background-color: white;
  z-index: 500;
  @include media-small-device-down() {
    display: none;
  }
  @include spec-yellow-on-black() {
    background: black;
  }

  @include spec-blue-on-blue() {
    background: $blue;
  }

  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    position: static !important;
  }

  &_item {
    cursor: pointer;
    padding: 10px;
    color: #157fc4;
    word-break: break-all;
    display: block;
    @media only screen and (min-width: 768px) and (max-width: 867px) {
      font-size: .7em;
    }
    @media only screen and (min-width: 868px) and (max-width: 1199px) {
      font-size: .8em;
    }

    &:hover {
      color: $text_color_white;
      background-color: #45a3ba;
      @include spec-black-on-white() {
        background: black;
      }

      @include spec-yellow-on-black() {
        background: yellow;
        color: black;
      }
      @include spec-blue-on-blue() {
        background: $blue-cyan;
        color: $blue;
      }

      & > .menu-sub_items {
        height: auto;
        overflow: visible;
        opacity: 1;
      }
    }
  }

  &-full_name {
    display: block;
    @include media-medium-device-down() {
      display: none;
    }
  }

  &-short_name {
    display: none;
    @include media-medium-device-down() {
      display: block;
    }
  }

  &-sub_items {
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    //top: 100%;
    margin-top: 10px;
    left: 0;
    right: 0;
    z-index: 200;
    background: #45a3ba;
    transition-delay: .4s;
    @include spec-black-on-white() {
      background: black;
    }
    @include spec-blue-on-blue() {
      background: $blue;
      color: $blue-cyan;
    }

    div {
      @include spec-blue-on-blue() {
        background: $blue-cyan !important;
        color: $blue;
      }
      @include spec-black-on-white() {
        background: black !important;
      }
      @include spec-yellow-on-black() {
        background: black !important;
      }
    }
  }

  .sub-items-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 20px;
    list-style: none;

    &::before, &::after {
      content: " ";
      display: table;
    }

    li {
      flex-basis: 33.33%;
    }
  }

  .sub_item-link {
    vertical-align: text-top;
    color: $text_color_white;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    @include spec-blue-on-blue() {
      background: $blue-cyan !important;
      color: $blue;
    }
    @include spec-yellow-on-black() {
      color: yellow;
    }

    &:hover {
      border-left: 1px solid white;
      border-right: 1px solid white;
      @include spec-yellow-on-black() {
        border-right-color: yellow;
        border-left-color: yellow;
      }
      @include spec-blue-on-blue() {
        border-right-color: $blue-cyan;
        border-left-color: $blue-cyan;
      }
    }
  }
}