<template>
    <div>
        <v-dialog v-model="model" persistent max-width="500px">
            <el-form :model="model" :rules="rules" ref="GraduationGroupForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Выпуск учебных групп</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="errors.length > 0"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul>
                                        <li v-for="error in errors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <p>Введите дату и номер приказа о выпуске</p>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.decree_number')" prop="decree_number">
                                    <el-input
                                            :placeholder="$t('label.decree_number')"
                                            v-model="model.decree_number">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="decree_date" :label="$t('label.decree_date')">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            :picker-options="pickerOptions"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.decree_date')"
                                            v-model="model.decree_date"
                                            class="w100">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" round
                                   @click.native="handleGraduation">
                            Выпустить
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>

    import {DateTime} from 'luxon';
    import {graduation} from "../../../../api/contingent/training_groups";

    export default {
        name: "GraduationGroupModal",
        props: {
            periodsIds: {
                type: Array
            }
        },
        data() {
            return {
                errors: [],
                model: {
                    decree_number: null,
                    decree_date: DateTime.local().toISODate()
                },
                rules: {
                    decree_number: [
                        {required: true, message: 'Не указан номер приказа', trigger: 'blur'}
                    ],
                    decree_date: [
                        {required: true, message: 'Не указана дата приказа', trigger: 'blur'}
                    ]
                },
                pickerOptions: this.$pickerConfig()
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('GraduationGroupModal')
            },
            handleGraduation() {
                this.$refs['GraduationGroupForm'].validate(valid => {
                    if (valid) {
                        this.errors = [];
                        let loading = this.$lockScreen({text: 'Выпускаю группы'});
                        let data = {...this.model, ...{periodIds: this.periodsIds}};
                        graduation(data)
                            .then(response => response.data)
                            .then(data => {
                                loading.close();
                                this.handleClose();
                                this.$bus.emit('update-transfer-map');
                                this.$notify({
                                    type: 'success',
                                    title: 'Успешно',
                                    message: 'Группы были успешно выпущены'
                                });
                            }).catch(error => {
                            loading.close();
                            if (_.isObject(error.error)) {
                                this.errors.push(error.error.message)
                            } else {
                                this.errors = error.errors;
                            }
                        })
                    } else {
                        return false;
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>