<template>
    <div class="term-item">
        <dl>
            <dt>
                <h2>{{course}} курс</h2>
                <span>
                    Отметить все
                </span>
            </dt>
            <dd class="group-list">
                <el-checkbox v-for="(group,index) in year" :key="index" :label="group.period_id"> {{group.name}}
                </el-checkbox>
            </dd>
        </dl>
    </div>
</template>

<script>
    export default {
        name: "term-item",
        props: {
            year: {
                type: Array
            },
            course: {
                type: String
            }
        }
    }
</script>
<style scoped lang="scss">
    .term-item {
        border-top: 1px solid #ccc;
        padding: 1%;

        &:first-child {
            border-top: none;
        }

        dl {
            display: flex;

            dt {
                color: black;
                font-size: 14px;
                width: 15%;
                text-align: right;
                padding-right: 20px;

                h2 {
                    font-size: 250% !important;
                    height: auto;
                }
            }

            dd {
                vertical-align: middle;
                width: 85%;
            }
        }

    }

    .group-list {
        //padding: 1%;
        .el-checkbox + .el-checkbox {
            margin-left: 0;
        }

        label.el-checkbox {
            float: left;
            display: block;
            line-height: 1.3;
            transition: none;
            padding: .3em .5em;
            box-sizing: border-box;
            text-overflow: ellipsis;
        }
    }
</style>