<template>
    <div class="transfer-term">
        <hgroup>
            <h2>{{transfer|transferTitle}}</h2>
            <aside class="checkAll">
                <el-checkbox v-model="isCheckAll" @change="checkAll">
                    Отметить всех
                </el-checkbox>
            </aside>
            <aside>
                <el-button type="primary" @click="handleTransfer" :disabled="!_hasGroupOnTransfer">
                    {{transfer.target==='Graduation'?'Выпуск':'Перевод'}}
                    <i class="el-icon-arrow-right el-icon-right"></i>
                </el-button>
            </aside>
        </hgroup>
        <div class="terms">
            <el-checkbox-group v-model="checkedGroups">
                <term-item v-for="(year,key) in transfer.academicYears" :key="key" :year="year"
                           :course="key"></term-item>
            </el-checkbox-group>
        </div>
    </div>
</template>

<script>
    import TermItem from "./term-item";
    import {transferTargets} from "../../../../constants";
    import {transferNextTerm} from "../../../../api/contingent/training_groups";
    import TransferNextYearModal from './TransferNextYearModal';
    import GraduationGroupModal from './GraduationGroupModal';

    export default {
        name: "transfer-term",
        components: {TermItem},
        props: {
            transfer: {
                type: Object
            }
        },
        computed: {
            _hasGroupOnTransfer() {
                return this.checkedGroups.length > 0
            }
        },
        data() {
            return {
                isCheckAll: false,
                checkedGroups: []
            }
        },
        created() {
            this.$bus.on('update-transfer-map', data => {
                this.checkedGroups = [];
            });
        },
        methods: {
            checkAll(val) {
                let floatGroups = _.flatMap(this.transfer.academicYears);
                let groupPeriodIds = floatGroups.map(group => {
                    return group.period_id;
                })

                this.checkedGroups = val ? groupPeriodIds : [];
            },
            handleTransfer() {
                switch (this.transfer.target) {
                    case transferTargets.graduation:
                        this.handleGraduation();
                        break;
                    case transferTargets.academicTerm:
                        this.handleTransferNextTerm();
                        break;
                    case transferTargets.academicYear:
                        this.handleTransferNextYear();
                        break;
                    default:
                }
            },
            handleTransferNextTerm() {
                let loading = this.$lockScreen({text: 'Перевожу группы'});
                transferNextTerm({periodIds: this.checkedGroups})
                    .then(response => response.data)
                    .then(data => {
                        loading.close();
                        this.$notify({
                            message: 'Группы были успешно переведены',
                            type: 'success',
                            title: 'Успешно'
                        });
                        this.handleUpdateTransferMap();
                    }, error => {

                    })
            },
            handleTransferNextYear() {
                this.$modal.show(TransferNextYearModal,
                    {
                        yearNumber: this.transfer.year,
                        termType: this.transfer.termType,
                        checkedGroups: this.checkedGroups
                    },
                    {
                        name: 'TransferNextYearModal',
                        width: 0,
                        height: 0,
                        'z-index': '900'
                    }
                );
            },
            handleGraduation() {
                this.$modal.show(GraduationGroupModal,
                    {
                        periodsIds: this.checkedGroups
                    },
                    {
                        name: 'GraduationGroupModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            },
            handleUpdateTransferMap() {
                this.$bus.emit('update-transfer-map');
            }
        }
    }
</script>

<style scoped lang="scss">
    .transfer-term {
        hgroup {
            display: flex;

            h2 {
                flex-grow: 1.5;
                font-size: 200%;
            }
        }
    }

    .checkAll {
        display: flex;
        padding: 0 10px;

        label {
            align-self: center;
        }
    }

    .terms {
        margin-top: 1em;
        padding: 1%;
        border: 1px solid #ccc;
        margin-bottom: 2.5em;
    }
</style>