<template>
    <div>
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="TransferNextYearForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Перевод на следующий год</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="errors.length > 0"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul>
                                        <li v-for="error in errors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Учебный календарь" prop="training_calendar_id">
                                    <el-select v-model="model.training_calendar_id" placeholder="Учебный календарь"
                                               filterable
                                               clearable
                                               :disabled="calendars.length === 0"
                                               :loading="calendars.length === 0"
                                               class="w100">
                                        <el-option v-for="(calendar, index) in calendars" :label="calendar.name"
                                                   :value="calendar.id" :key="index"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.decree_number')" prop="decree_number">
                                    <el-input
                                            :placeholder="$t('label.decree_number')"
                                            v-model="model.decree_number">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="decree_date" :label="$t('label.decree_date')">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            :picker-options="pickerOptions"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.decree_date')"
                                            v-model="model.decree_date"
                                            class="w100">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" round
                                   @click.native="handleTransfer">
                            Перевести
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {all as getCalendars} from "../../../../api/education/training-calendars";
    import {DateTime} from 'luxon';
    import {transferNextYear} from "../../../../api/contingent/training_groups";

    export default {
        name: "TransferNextYearModal",
        props: {
            yearNumber: {},
            termType: {
                type: String
            },
            checkedGroups: {
                type: Array
            }
        },
        data() {
            return {
                errors: [],
                calendars: [],
                model: {
                    training_calendar_id: null,
                    decree_number: null,
                    decree_date: DateTime.local().toISODate()
                },
                rules: {
                    training_calendar_id: [
                        {required: true, message: 'Не выбран календарь', trigger: 'change'}
                    ],
                    decree_number: [
                        {required: true, message: 'Не указан номер приказа', trigger: 'blur'}
                    ],
                    decree_date: [
                        {required: true, message: 'Не указана дата приказа', trigger: 'blur'}
                    ]
                },
                pickerOptions: this.$pickerConfig()
            }
        },
        mounted() {
            this.getCalendars();
        },
        methods: {
            getCalendars() {
                this.errors = [];
                let loading = this.$lockScreen({text: 'Получаю учебные календари'});
                getCalendars()
                    .then(response => response.data.calendars)
                    .then(calendars => {
                        this.calendars = calendars.filter(calendar => {
                            return (calendar.year === this.yearNumber) && (calendar.termType === this.termType);
                        });
                        loading.close();
                    })
                    .catch(exception => {
                        let data = exception.response.data;
                        loading.close();
                        this.errors.push(data.error.message);
                    });
            },
            handleClose() {
                this.$modal.hide('TransferNextYearModal')

            },
            handleTransfer() {
                this.errors = [];
                this.$refs['TransferNextYearForm'].validate(valid => {
                    if (valid) {
                        let data = {
                            ...this.model, ...{periodIds: this.checkedGroups}
                        };
                        let loading = this.$lockScreen({text: 'Переводим учебные группы'});
                        transferNextYear(data)
                            .then(response => response.data)
                            .then(data => {
                                loading.close();
                                this.handleClose();
                                this.$bus.emit('update-transfer-map');
                            }).catch(error => {
                            loading.close();
                            if (_.isObject(error.error)) {
                                this.errors.push(error.error.message)
                            } else {
                                this.errors = error.errors;
                            }
                        });
                    } else {
                        return false;
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>