<script>
    export default {
        name: 'MenuItem',
        functional: true,
        props: {
            icon: {
                type: String,
                default: ''
            },
            title: {
                type: String,
                default: ''
            },
            aweIcon:{
                type: String,
                default:''
            },
        },
        render(h, context) {
            const {icon, title, aweIcon} = context.props
            const vnodes = []
            if (icon) {
                // if (aweIcon) {
                    vnodes.push(<v-icon name={icon}/>)
                // } else {
                //     vnodes.push(<svg-icon icon-class={icon}/>)
                // }
            }

            if (title) {
                vnodes.push(<span slot = 'title'> {title}</span>)
            }
            return vnodes
        }
    }
</script>
