<template>
    <el-form :model="value" :rules="rules" ref="CreateComponentModal" label-position="top"
             class="demo-ruleForm">
        <el-row :gutter="10">
            <el-col :span="24">
                <el-form-item :label="$t('label.name')" prop="name">
                    <el-select filterable
                               allow-create v-model="value.name" :placeholder="$t('label.name')"
                               class="w100">
                        <el-option
                                v-for="(filename,key) in fileNames"
                                :key="filename.text"
                                :label="filename.text"
                                :value="filename.text"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item :label="$t('label.sort')" prop="sort">
                    <el-input-number v-model="value.sort" :min="1" :max="500"
                                     class="w100"></el-input-number>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item :label="$t('label.file')" prop="file">
                    <el-button type="primary" round @click="handleOpenChangeFile">
                        <i class="fa fa-plus"></i> Добавить файл
                    </el-button>
                    <span>{{fileName}}</span>
                    <input type="file" ref="file" style="display: none" @change="handleChangeFile"
                           accept="application/pdf">
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
</template>

<script>
    export default {
        name: "create-component-form",
        props: {
            value: {
                type: Object
            }
        },
        data() {
            return {
                isValidFile: false,
                fileName: '',
                allowTypes: ['application/pdf'],
                fileNames: [
                    {text: 'Титульный лист'},
                    {text: 'Сводные данные'},
                    {text: 'Тело УП'},
                    {text: 'Список кабинетов'},
                    {text: 'Пояснительная записка'},
                    {text: 'Содержание РП'},
                    {text: 'Паспорт РП'},
                    {text: 'Структура и содержание РП'},
                    {text: 'Тематический план РП'},
                    {text: 'Реализация РП'},
                    {text: 'Контроль и оценка РП'},
                ],
                rules: {
                    name: [
                        {required: true, message: 'Не заполнено название компонента', trigger: 'change'}
                    ],
                    sort: [
                        {required: true, message: 'Не указан порядок сортировки', trigger: 'blur'}
                    ],
                    file: [
                        {required: true, message: 'Не выбран файл', trigger: 'change'}
                    ]
                }
            }
        },
        mounted() {
            this.$bus.on('valid-component-form', data => {
                this.$refs['CreateComponentModal'].validate((valid) => {
                    if (valid && this.isValidFile) {
                        this.$bus.emit('valid-component-form-status', true)
                    } else {
                        this.$bus.emit('valid-component-form-status', false)
                    }
                })
            });
        },
        methods: {
            handleOpenChangeFile() {
                this.$refs['file'].click();
            },
            handleChangeFile() {
                let file = this.$refs['file'].files[0];
                this.fileName = file.name;
                let fileType = file.type;
                if (this.allowTypes.includes(fileType)) {
                    this.value.file = file;
                    this.isValidFile = true;
                } else {
                    this.isValidFile = false;
                }
                this.$refs['file'].type = 'text';
                this.$refs['file'].type = 'file';
            }
        }
    }
</script>

<style scoped>

</style>