<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="createEducationPlanForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить учебный план</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="hasError"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul v-if="hasError">
                                        <li v-for="error in serverErrors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.program')" prop="profession_program_id">
                                    <el-select v-model="model.profession_program_id" :placeholder="$t('label.program')"
                                               :disabled="loading"
                                               class="w100" @change="handleBuildName()">
                                        <el-option
                                                v-for="(program,key) in sortPrograms"
                                                :label="program.name"
                                                :key="key"
                                                :value="program.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.name')" prop="name">
                                    <el-input
                                            :placeholder="$t('label.name')"
                                            v-model="model.name" :disabled="loading">
                                    </el-input>

                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="start_training" label="Начало обучения">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.changeDate')"
                                            v-model="model.start_training"
                                            class="w100"
                                            :picker-options="pickerOptions" @change="handleBuildName"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="end_training" label="Конец обучения">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.changeDate')"
                                            v-model="model.end_training"
                                            class="w100"
                                            :picker-options="pickerOptions" :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Кол-во семестров" prop="count_period">
                                    <el-input-number v-model="model.count_period" :min="6" :max="120"
                                                     :disabled="loading"
                                                     class="w100"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Показ на сайте">
                                    <el-switch :disabled="loading"
                                               v-model="model.active"
                                               active-text="Показывать"
                                               inactive-text="Не показывать">
                                    </el-switch>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.file')" prop="file">
                                    <el-button type="primary" :loading="loading" :disabled="loading" round
                                               @click="handleOpenFileWindow">
                                        Выбрать файл
                                    </el-button>
                                    {{filename}}
                                    <input type="file" ref="file" name="file" class="hide" @change="handleChangeFile">
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Дополнительные параметры">
                                    <el-checkbox :disabled="loading" v-model="model.options.dual_training">Дуальное
                                        обучение
                                    </el-checkbox>
                                    <el-checkbox :disabled="loading" v-model="model.options.adapted_program">Адаптивная
                                        ОПОП
                                    </el-checkbox>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleCreate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import moment from 'moment'
    import {createEducationPlan} from "@/api/education/education-plans";
    import {Message} from 'element-ui';

    export default {
        name: "create-education-plan-modal",
        props: ['programs'],
        data() {
            return {
                loading: false,
                hasError: false,
                serverErrors: null,
                filename: null,
                model: {
                    profession_program_id: null,
                    name: null,
                    start_training: moment().date(1).month(8).format('YYYY-MM-DD'),
                    end_training: null,
                    count_period: 6,
                    file: null,
                    active: true,
                    options: {
                        dual_training: false,
                        adapted_program: false,
                    }
                },
                rules: {
                    profession_program_id: [
                        {required: true, message: 'Выберите образовательную программу', trigger: 'change'}
                    ],
                    name: [
                        {required: true, message: 'Заполните наименование', trigger: 'blur'}
                    ],
                    start_training: [
                        {required: true, message: 'Выберите дату начала обучения', trigger: 'blur'}
                    ],
                    end_training: [
                        {required: true, message: 'Выберите дату окончания обучения', trigger: 'blur'}
                    ]
                },
                pickerOptions: {}
            }
        },
        computed: {
            sortPrograms() {
                return _.sortBy(this.programs, 'name');
            }
        },
        mounted() {

        },
        methods: {
            handleOpenFileWindow() {
                this.$refs['file'].click();
            },
            handleChangeFile() {
                let file = this.$refs['file'].files[0];
                this.model.file = file;
                this.filename = file.name;
            },
            handleClose() {
                this.$modal.hide('CreateEducationPlanModal');
            },
            handleBuildName() {
                let program = _.find(this.programs, program => {
                    return program.id === this.model.profession_program_id;
                });
                let duration = program.duration ? program.duration : 0;
                let prefix = program.reduction;
                let start_date = this.model.start_training;
                let year = start_date.substring(0, 4);
                this.model.end_training = moment(start_date).add(duration, 'M').add(-1, 'd').format('YYYY-MM-DD');
                this.model.name = `${prefix}-${year}`;
            },
            handleCreate() {
                this.$refs['createEducationPlanForm'].validate((valid) => {
                    if (valid) {
                        createEducationPlan(this.model).then(
                            response => {
                                this.hasError = false;
                                this.$notify({
                                    message: response.data.message,
                                    type: 'success',
                                    title: 'Успешно'
                                });
                                this.handleClose();
                                this.$bus.emit('update-education-plan-list');
                            }, error => {
                                let response = error.response.data;
                                this.serverErrors = [];
                                if (response.message) {
                                    this.serverErrors.push(response.message);
                                }
                                this.serverErrors = response.errors;
                                this.hasError = true;
                                this.loading = false;
                            }).catch(error => {
                            console.dir(error);
                        })
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>