<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="editEducationPlanForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Обновить учебный план</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="errors.length >0 "
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul>
                                        <li v-for="error in errors">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.program')" prop="profession_program_id">
                                    <el-select v-model="model.profession_program_id" :placeholder="$t('label.program')"
                                               disabled
                                               class="w100">
                                        <el-option
                                                v-for="(program,key) in programs"
                                                :label="program.name"
                                                :key="key"
                                                :value="program.id"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.name')" prop="name">
                                    <el-input
                                            :placeholder="$t('label.name')"
                                            v-model="model.name" :disabled="loading">
                                    </el-input>

                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="start_training" label="Начало обучения">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.changeDate')"
                                            v-model="model.start_training"
                                            class="w100"
                                            :picker-options="pickerOptions"
                                            :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item prop="end_training" label="Конец обучения">
                                    <el-date-picker
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.changeDate')"
                                            v-model="model.end_training"
                                            class="w100"
                                            :picker-options="pickerOptions" :disabled="loading">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Кол-во семестров" prop="count_period">
                                    <el-input-number v-model="model.count_period" :min="6" :max="120"
                                                     :disabled="loading"
                                                     class="w100"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Показ на сайте">
                                    <el-switch :disabled="loading"
                                               v-model="model.active"
                                               active-text="Показывать"
                                               inactive-text="Не показывать">
                                    </el-switch>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item label="Дополнительные параметры">
                                    <el-checkbox :disabled="loading" v-model="model.extra_options.dual_training">
                                        Дуальное
                                        обучение
                                    </el-checkbox>
                                    <el-checkbox :disabled="loading" v-model="model.extra_options.adapted_program">
                                        Адаптивная
                                        ОПОП
                                    </el-checkbox>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                            {{$t('form.cancel')}}
                        </el-button>
                        <el-button type="primary" :loading="loading" :disabled="loading" round
                                   @click.native="handleUpdate">
                            {{$t('form.add')}}
                        </el-button>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import moment from 'moment'
    import {updateEducationPlan} from "../../../api/education/education-plans";

    export default {
        name: "edit-education-plan-modal",
        props: {
            programs: {
                type: Object
            },
            plan: {
                type: Object
            }
        },
        data() {
            return {
                loading: false,
                errors: [],
                model: {
                    profession_program_id: null,
                    name: null,
                    start_training: moment().date(1).month(8).format('YYYY-MM-DD'),
                    end_training: null,
                    count_period: 6,
                    active: true,
                    extra_options: {
                        dual_training: false,
                        adapted_program: false,
                    }
                },
                rules: {
                    name: [
                        {required: true, message: 'Заполните наименование', trigger: 'blur'}
                    ],
                    start_training: [
                        {required: true, message: 'Выберите дату начала обучения', trigger: 'blur'}
                    ],
                    end_training: [
                        {required: true, message: 'Выберите дату окончания обучения', trigger: 'blur'}
                    ]
                },
                pickerOptions: this.$pickerConfig()
            }
        },
        mounted() {
            Reflect.deleteProperty(this.plan, 'file');
            this.model = {...{profession_program_id: this.plan.program.id}, ...this.plan}

        },
        methods: {
            handleClose() {
                this.$modal.hide('EditEducationPlanModal')
            },
            handleUpdate() {
                this.$refs['editEducationPlanForm'].validate((valid) => {
                    if (valid) {
                        const loading = this.$loading({
                            lock: true,
                            text: 'Обновляю УП, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        updateEducationPlan(this.model).then(response => {
                            this.$notify({
                                'type': 'success',
                                'title': 'Успешно',
                                'message': 'Учебный план был успешно обновлен'
                            });
                            loading.close();
                            this.handleClose();
                            this.$bus.emit('update-education-plan-list');
                        }, error => {
                            loading.close();
                            let response = error.response.data;
                            this.errors = [];
                            if (response.message) {
                                this.errors.push(response.message);
                            }
                            this.errors = response.errors;
                            this.loading = false;
                        })
                        setTimeout(function () {
                            loading.close();
                        }, 5000)
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>