<template>
    <div class="dashboard-statistic" v-loading="statisticLoading"
         element-loading-text="Loading..."
         element-loading-spinner="el-icon-loading">
        <ul class="shortcuts">
            <li class="shortcuts-item w-100">
                <router-link :to="{name:'training_groups.list'}"
                             class="shortcuts-link shortcuts-link--green">
                    {{statistic.trainingGroupsCount|pluralize([`учебная
                    группа`,'учебные группы','учебных групп'])}}
                </router-link>
            </li>
            <li class="shortcuts-item w-100">
                <router-link :to="{name:'students.list'}"
                             class="shortcuts-link shortcuts-link--green">
                    {{statistic.studentsCount|pluralize(['студент','студента','студентов'])}}
                </router-link>
            </li>
            <li class="shortcuts-item w-100">
                <router-link :to="{name:'entrants.list'}"
                             class="shortcuts-link shortcuts-link--green">
                    {{statistic.enrolleesCount|pluralize(['абитуриент','абитуриента','абитуриентов'])}}
                </router-link>
            </li>
            <li class="shortcuts-item w-100">
                <a href="#"
                   class="shortcuts-link shortcuts-link--green">{{statistic.parentsCount|pluralize(['родитель','родителя','родителей'])}}</a>
            </li>
            <li class="shortcuts-item w-100">
                <router-link :to="{name:'EmployeesList'}"
                             class="shortcuts-link shortcuts-link--green">
                    {{statistic.employeesCount|pluralize(['сотрудник','сотрудника','сотрудников'])}}
                </router-link>
            </li>
            <li class="shortcuts-item w-100">
                <router-link :to="{name:'opop'}"
                             class="shortcuts-link shortcuts-link--blue">
                    {{statistic.programsCount|pluralize(['образовательная программа',`образовательные
                    программы`,`образовательных программ`])}}
                </router-link>
            </li>
            <li class="shortcuts-item">
                <router-link :to="{name:'education-plans'}"
                             class="shortcuts-link shortcuts-link--blue">
                    {{statistic.educationsPlansCount|pluralize(['учебный план','учебных плана','учебных планов'])}}
                </router-link>
            </li>
            <li class="shortcuts-item">
                <router-link :to="{name:'training_calendars'}"
                             class="shortcuts-link shortcuts-link--blue">
                    Учебные календари
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    import {getStatistic} from '@/api/dashboard/statistic'

    export default {
        name: "DashboardStatistic",
        data() {

            return {
                statistic: null,
                statisticLoading: true,
            }
        },
        created() {
            this.getStatistic()
        },
        methods: {
            getStatistic() {
                getStatistic().then(response => {
                    this.statistic = response.data.statistic;
                    this.statisticLoading = false
                })
            }
        }
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    .dashboard-statistic {
        min-height: 100px;
    }

    .green {
        color: #590;
        background: #F0F9D9;
    }

    .blue {
        color: #07B;
        background: #D9F0FF;
    }

    .shortcuts {
        display: block;
        min-height: 1px;
        @media screen and(max-width: 992px) {
            padding-left: 0px;
        }

        &-item {
            list-style: none;
            width: 50%;
            float: left;
            padding: 3px;
        }

        &-link {
            padding: .5em;
            display: block;
            font-size: 130%;
            @media screen and(min-width: 992px) and(max-width: 1270px) {
                font-size: 16px;
            }
            line-height: 1.2;
            overflow: hidden;

            &--green {
                @extend .green
            }

            &--blue {
                @extend .blue
            }

            &:hover {
                color: #FFF !important;
                background: #09E !important;
            }
        }
    }
</style>