<template>
    <div class="app-container">
        <el-row :gutter="10">
            <el-alert
                    v-if="errors.length>0"
                    title="Что-то пошло не по плану"
                    type="error"
                    show-icon
                    :closable="false">
                <ul>
                    <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                </ul>
            </el-alert>
            <el-form ref="CreateUserForm" name="CreateUserForm" :rules="rules" :model="model">
                <el-col :span="16" :offset="4">
                    <el-form-item :label="$t('label.login')" prop="login">
                        <el-input v-model="model.login"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="16" :offset="4">
                    <el-form-item :label="$t('label.password')" prop="password">
                        <el-input v-model="model.password" disabled>
                            <el-button slot="append" @click="setPassword">
                                <i class="fa fa-refresh"></i>
                            </el-button>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="16" :offset="4">
                    <el-form-item label="Профиль сотрудника" prop="user_profile_id">
                        <el-select filterable v-model="model.user_profile_id" class="w100" clearable>
                            <el-option v-for="(employee,key) in employees" :value="employee.id"
                                       :label="employee.full_name" :key="key"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="16" :offset="4">
                    <el-checkbox-group v-model="model.permissions" class="custom-checkbox-group">
                        <div v-for="(permissionGroup,key) in permissionGroups" :key="key" class="permissions-group">
                            <h4>{{permissionGroup.name}}</h4>
                            <div class="permissions">
                                <el-checkbox v-for="(permission,key) in permissionGroup.permissions"
                                             :key="key" :label="key"> {{permission}}
                                </el-checkbox>
                            </div>
                        </div>
                    </el-checkbox-group>
                </el-col>
                <el-col :span="4" :offset="8">
                    <el-button type="primary" :disabled="model.permissions.length ===0" @click="handleCreate">
                        <i class="fa fa-plus"></i> Добавить
                    </el-button>
                </el-col>
            </el-form>
        </el-row>
    </div>
</template>

<script>
    import {getEmployees} from "../../api/services";
    import {permissionGroups} from "../../constants";
    import {createUser} from "../../api/users";

    export default {
        name: "create-user",
        data() {
            return {
                permissionGroups,
                employees: [],
                errors: [],
                model: {
                    login: null,
                    password: null,
                    user_profile_id: null,
                    permissions: []
                },
                rules: {
                    login: [
                        {required: true, message: 'Не заполнен логин', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: 'Не заполнен пароль', trigger: 'blur'}
                    ],
                    permissions: [
                        {
                            type: 'array',
                            required: true,
                            message: 'Выберите хотя бы одно право доступа',
                            trigger: 'change'
                        }
                    ]
                }
            }
        },
        mounted() {
            this.getEmployeesList();
        },
        methods: {
            setPassword() {
                this.model.password = this.createUniqueString(8);
            },
            getEmployeesList() {
                getEmployees().then(response => {
                    this.employees = response.data.filter(employee => {
                        return _.isNull(employee.credentials);
                    });
                }, error => {

                })
            },
            handleCreate() {
                this.$refs['CreateUserForm'].validate(valid => {
                    if (valid) {
                        this.errors = [];
                        const loading = this.$loading({
                            lock: true,
                            text: 'Создаю пользователя, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        createUser({...{name: this.model.login}, ...this.model}).then(response => {
                            this.$notify({
                                title: 'Успешно',
                                message: 'Пользователь был успешно добавлен',
                                type: 'success'
                            });
                            loading.close();
                            this.$router.push({name: 'users.list'});
                        }, error => {
                            let response = error.response.data;
                            this.errors = [];
                            if (response.message) {
                                this.errors.push(response.message);
                            }
                            if (response.errors) {
                                this.errors = response.errors;
                            }
                            loading.close();
                            this.$scrollTo('#main-content');
                        })
                    } else {
                        return false;
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>