<template>
    <div class="modal-content">
        <v-dialog v-model="model" persistent max-width="700px">
            <el-form :model="model" :rules="rules" ref="UserCredentialsForm" label-position="top"
                     class="demo-ruleForm">
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить данные для входа</span>
                    </v-card-title>
                    <v-card-text>
                        <el-row :gutter="10">
                            <el-col :span="24">
                                <el-alert v-if="errors.length>0"
                                          title="Произошла ошибка"
                                          type="error"
                                          show-icon>
                                    <ul>
                                        <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                                    </ul>
                                </el-alert>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.login')" prop="login">
                                    <el-input v-model="model.login"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                                <el-form-item :label="$t('label.password')" prop="password">
                                    <el-input v-model="model.password" disabled>
                                        <el-button slot="append" @click="setPassword">
                                            <i class="fa fa-refresh"></i>
                                        </el-button>
                                    </el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </v-card-text>
                    <v-card-actions>
                        <!--                        <v-spacer></v-spacer>-->
                        <el-row :gutter="10" class="w100">
                            <el-col :span="12" style="text-align: left;padding-left: 20px">
                                <el-button type="text" style="color: red;" @click="handleDeleteCredentials">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i> Удалить данные для входа
                                </el-button>
                            </el-col>
                            <el-col :span="12" style="text-align: right">
                                <el-button :loading="loading" :disabled="loading" round @click.native="handleClose">
                                    {{$t('form.cancel')}}
                                </el-button>
                                <el-button type="primary" :loading="loading" :disabled="loading" round
                                           @click="handleSetCredentials"
                                >
                                    {{$t('form.save')}}
                                </el-button>
                            </el-col>
                        </el-row>
                    </v-card-actions>
                </v-card>
            </el-form>
        </v-dialog>
    </div>
</template>

<script>
    import {updateUser, deleteCredentials} from "../../api/users";

    export default {
        name: "SetUserCredentialsModal",
        props: {
            user: {
                type: Object
            }
        },
        data() {
            return {
                loading: false,
                errors: [],
                model: {
                    id: null,
                    login: null,
                    password: null,
                    banned: false
                },
                rules: {
                    login: [
                        {required: true, message: 'Не заполнен логин', trigger: 'change'}
                    ],
                    password: [
                        {required: true, message: 'Не задан пароль', trigger: 'change'}
                    ]
                }
            }
        },
        mounted() {
            this.model.id = this.user.id;
            this.model.login = this.user.login;
        },
        methods: {
            handleClose() {
                this.$modal.hide('SetUserCredentialsModal')
            },
            setPassword() {
                this.model.password = this.createUniqueString(8);
            },
            handleSetCredentials() {
                this.$refs['UserCredentialsForm'].validate(valid => {
                    if (valid) {
                        const loading = this.$loading({
                            lock: true,
                            text: 'Обновляю пользователя, пожалуйста, подождите',
                            spinner: 'el-icon-loading',
                            background: 'rgba(240, 240, 240, 0.8)'
                        });
                        updateUser(this.model).then(response => {
                            this.$notify({
                                title: 'Успешно',
                                message: 'Данные были обновлены',
                                type: 'success'
                            });
                            loading.close();
                            this.handleClose();
                            this.$bus.emit('update-user-list');
                        },error=>{
                            let response = error.response.data;
                            this.errors = [];
                            if (response.message) {
                                this.errors.push(response.message);
                            }
                            if (response.errors) {
                                this.errors = response.errors;
                            }
                            loading.close();
                        });
                    }
                });
            },
            handleDeleteCredentials() {
                this.loading = true;
                const loading = this.$loading({
                    lock: true,
                    text: 'Удаляю данные пользователя, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                deleteCredentials(this.model.id).then(response => {
                    this.$notify({
                        title: 'Успешно',
                        message: 'Данные были удалены',
                        type: 'success'
                    });
                    loading.close();
                    this.handleClose();
                    this.$bus.emit('update-user-list');
                }, error => {
                    let response = error.response.data;
                    this.errors = [];
                    if (response.message) {
                        this.errors.push(response.message);
                    }
                    if (response.errors) {
                        this.errors = response.errors;
                    }
                    loading.close();
                    this.loading = false;
                });
            }
        }
    }
</script>

<style scoped>

</style>