<template>
    <div class="app-container">
        <div class="filter-container" style="text-align: right">
            <router-link :to="{name:'users.create'}">
                <el-button type="primary" v-if="checkPermission(['super.admin'])">
                    <i class="fa fa-plus"></i> Добавить пользователя
                </el-button>
            </router-link>
        </div>
        <div>
            <el-table
                    v-loading="loading"
                    element-loading-text="Загружаю список пользователей..."
                    element-loading-spinner="el-icon-loading"
                    :data="users"
                    style="width: 100%"
                    stripe
                    border>
                <el-table-column prop="id" label="ID" width="80px" fixed></el-table-column>
                <el-table-column label="Имя" fixed width="300">
                    <template slot-scope="scope">
                        {{scope.row.name}}
                    </template>
                </el-table-column>
                <el-table-column label="Права пользования">
                    <template slot-scope="scope">
                        <ul>
                            <li v-for="(permission,key) in scope.row.permissions" :key="key">
                                {{permission|userPermission}}
                            </li>
                        </ul>
                    </template>
                </el-table-column>
                <el-table-column label="Статус блокировки">
                    <template slot-scope="scope">
                        <span v-if="scope.row.isBlocked">Заблокирован</span>
                        <span v-if="!scope.row.isBlocked">Не заблокирован</span>
                    </template>
                </el-table-column>
                <el-table-column :label="$t('table.actions')" fixed="right">
                    <template slot-scope="scope">
                        <div>
                            <el-button type="primary" round @click="handleSetLoginData(scope.row)">
                                <i class="fa fa-key"></i>
                            </el-button>
                            <el-button type="primary" round>
                                <i class="fa fa-edit"></i>
                            </el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>

<script>
    import {fetchUsers} from "../../api/users";
    import SetUserCredentialsModal from './SetUserCredentialsModal';

    export default {
        name: "users-list",
        data() {
            return {
                loading: true,
                users: []
            }
        },
        mounted() {
            this.fetchUsers();
            this.$bus.on('update-user-list', data => {
                this.fetchUsers();
            });
        },
        methods: {
            fetchUsers() {
                this.loading = true;
                fetchUsers().then(response => {
                    this.loading = false;
                    this.users = response.data;
                }, error => {

                })
            },
            handleSetLoginData(user) {
                this.$modal.show(SetUserCredentialsModal,
                    {user},
                    {
                        name: 'SetUserCredentialsModal',
                        width: 0,
                        height: 0,
                    })
            }
        }
    }
</script>

<style scoped>

</style>