<template>
    <el-card class="box-card custom-card" v-loading="loading">
        <div slot="header" class="clearfix">
            <span>Студенты у которых закончился срок действия паспорта</span>
            <el-button style="float: right;" type="primary" round @click="handleOpen" v-if="data.length">
                <i class="fa" :class="{
                    'fa-plus': !isOpen,
                    'fa-minus':isOpen
                }"></i>
            </el-button>
        </div>
        <div :class="{'open':isOpen}" class="text card-body">
            <div style="text-align: right">
                <el-button type="danger" round @click="handlePrint">
                    <i class="fa fa-print"></i>
                </el-button>
            </div>
            <table class="table table-bordered table-striped w100">
                <tr>
                    <th>ФИО</th>
                    <th>Группа</th>
                    <th>Дата рождения</th>
                    <th>Дата окончания</th>
                </tr>
                <tr v-for="(student,key) in data" :key="key">
                    <td>
                        <router-link :to="{ name: 'student.profile', params: { id: student.id }}" class="link">
                            {{student.full_name}}
                        </router-link>

                    </td>
                    <td>{{student.group}}</td>
                    <td>{{student.birthday}}</td>
                    <td>{{student.passport_end}}</td>
                </tr>
            </table>
        </div>
    </el-card>

</template>

<script>
    import {expiredPassports, printExpiredPassports} from "../../../../api/dashboard/statistic";

    export default {
        name: "student-dismiss-passport",
        data() {
            return {
                loading: true,
                isOpen: false,
                data: [],
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            handleOpen() {
                this.isOpen = !this.isOpen;
            },
            getData() {
                expiredPassports().then(response => {
                    this.data = response.data;
                    this.loading = false;
                }, error => {

                });
            },
            handlePrint() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Формируем файл, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                printExpiredPassports({data: this.data}).then(response => {
                    let pdfTab = window.open('', '_blank');
                    //pdfTab.document.body.append(`<embed width="100%" height="100%" name="plugin" id="plugin" src="data:application/pdf;base64,${response.data}" type="application/pdf" internalinstanceid="9">`)
                    let win = pdfTab.document.createElement('embed');
                    win.width = "100%";
                    win.height = "100%";
                    win.src = `data:application/pdf;base64,${response.data}`;
                    win.type = `application/pdf`;
                    win.name = `plugin`;
                    pdfTab.document.body.style = "height: 100%; width: 100%; overflow: hidden; margin: 0px; background-color: rgb(82, 86, 89);";
                    pdfTab.document.body.appendChild(win);
                    loading.close()
                }, error => {
                    loading.close();
                    this.$notify.error({
                        title: 'Ошибка',
                        dangerouslyUseHTMLString: true,
                        message: 'Произошла ошибка при печати списка<br>' +
                            `${error.response.data.message}`
                    });
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .card-body {
        height: 0;
        padding: 20px;
        margin-top: -40px;
        transition: all ease .7s;

        &.open {
            margin-top: 0;
            height: auto;
        }
    }
</style>