<template>
    <div class="app-container">
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="21">
                    <el-row :gutter="10" style="margin-bottom: 10px">
                        <el-col :span="6">
                            <el-select clearable filterable v-model="listQuery.filter.term"
                                       placeholder="Период"
                                       class="w100" :loading="loading">
                                <el-option
                                        v-for="(year,key) in academicYears"
                                        :key="year.key"
                                        :value="year.key"
                                        :label="year.label"
                                >
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="10">
                            <el-date-picker
                                    v-model="listQuery.filter.date"
                                    type="daterange"
                                    value-format="yyyy-MM-dd"
                                    format="dd.MM.yyyy"
                                    align="right"
                                    unlink-panels
                                    range-separator="по"
                                    start-placeholder="Начало периода"
                                    end-placeholder="Конец периода"
                                    :picker-options="pickerOptions">
                            </el-date-picker>
                        </el-col>
                        <el-col :span="3">
                            <el-input clearable="" v-model="listQuery.filter.number"
                                      placeholder="Номер приказа" :loading="loading"></el-input>
                        </el-col>
                        <el-col :span="5">
                            <el-input clearable="" v-model="listQuery.filter.student_lastname"
                                      placeholder="ФИО" :loading="loading"></el-input>
                        </el-col>
                    </el-row>
                </el-col>
                <el-col :span="3" style="padding: 0 10px">
                    <el-button v-waves class="filter-item" type="primary" icon="el-icon-search"
                               @click="handleFilter"
                               @keypress.enter="handleFilter" :loading="loading" :disabled="!listQuery.filter.term">
                        {{$t('form.apply')}}
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <div class="content">
            <div class="no-report" v-if="!setDecreeParam">
                <h2>Параметры поиска не заданы</h2>
                <p>Выберите необходимые параметры поиска с помощью формы в верхней части и нажмите кнопку
                    «Применить»</p>
            </div>
            <div class="no-report" v-if="decrees.length===0&&setDecreeParam">
                <h2>Приказы не найдены</h2>
                <p>Не было найдено ни одного приказа, удовлетворяющего заданным условиям поиска</p>
            </div>
            <el-row :gutter="10">
                <el-col :span="16">
                    <el-table
                            v-if="decrees.length>0"
                            v-loading="loading"
                            element-loading-text="Приказы крутятся, лавеха мутится..."
                            element-loading-spinner="el-icon-loading"
                            :data="decrees"
                            style="width: 100%"
                            stripe
                            border
                            highlight-current-row
                            @current-change="handleCurrentChangeRow">
                        <el-table-column prop="id" label="ID" width="80px" fixed></el-table-column>
                        <el-table-column prop="number" label="Номер" width="150"></el-table-column>
                        <el-table-column label="Дата">
                            <template slot-scope="scope">
                                <span>{{scope.row.date|dateFormat}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="Тип">
                            <template slot-scope="scope">
                                <span>{{scope.row.type|decreesType}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="Файл">
                            <template slot-scope="scope">
                                <span v-if="scope.row.file_path">
                                    <a :href="scope.row.file_path" class="link" target="_blank">Открыть</a>
                                </span>
                                <span v-else>Файл не загружен</span>
                            </template>
                        </el-table-column>
                        <el-table-column :label="$t('table.actions')" fixed="right">
                            <template slot-scope="scope">
                                <div>
                                    <el-button type="success" round @click="handleOpenUploadWindow(scope.row.id)">
                                        <i class="fa fa-refresh"></i>
                                    </el-button>
                                    <input type="file" style="display: none" :ref="scope.row.id"
                                           @change="handleUploadFile(scope.row.id)"
                                           accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                    <el-button type="warning" round @click="handleEditDecree(scope.row)">
                                        <i class="fa fa-edit"></i>
                                    </el-button>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination v-show="total>0" :current-page="listQuery.page"
                                       :page-sizes="[15,25,50,75,100,200]"
                                       :page-size="listQuery.limit" :total="total" background
                                       layout="total, sizes, prev, pager, next, jumper"
                                       @size-change="handleSizeChange" @current-change="handleCurrentChange"/>
                    </div>
                </el-col>
                <el-col :span="8">
                    <current-decree :decree="currentDecree"
                                    v-if="decrees.length>0 && currentDecree"></current-decree>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
    import {academicYears} from "../../constants";
    import {fetchAll, uploadFile, detailDecree} from "../../api/contingent/decrees";
    import EditDecreeModel from './components/EditDecreeModal';
    import CurrentDecree from "./components/current-decree";


    export default {
        name: "decrees-list",
        components: {CurrentDecree},
        data() {
            return {
                academicYears,
                decrees: [],
                loading: false,
                setDecreeParam: false,
                total: 0,
                listQuery: {
                    page: 1,
                    limit: 15,
                    filter: {
                        term: null,
                        number: null,
                        date: null,
                        student_lastname: null,
                    }
                },
                pickerOptions: this.$pickerConfig(),
                currentDecree: null
            }
        },
        mounted() {
            this.$bus.on('update-decrees-list', data => {
                this.getList();
            })
        },
        methods: {
            getList() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Приказы грузятся, лавеха мутится',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                fetchAll(this.listQuery).then(response => {
                    this.decrees = response.data.decrees;
                    this.total = response.data.total;
                    this.setDecreeParam = true;
                    loading.close();
                }, error => {
                    loading.close();
                })

            },
            handleSizeChange(val) {
                this.currentDecree = null;
                this.listQuery.limit = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.currentDecree = null;
                this.listQuery.page = val
                this.getList()
            },
            handleFilter() {
                this.getList();
            },
            handleEditDecree(decree) {
                this.$modal.show(EditDecreeModel,
                    {decree},
                    {
                        name: 'EditDecreeModal',
                        width: 0,
                        height: 0,
                        'z-index': 1500
                    }
                );
            },
            handleCurrentChangeRow(val) {
                if (val) {
                    const loading = this.$loading({
                        lock: true,
                        text: 'Приказ грузится, зарплата мутится',
                        spinner: 'el-icon-loading',
                        background: 'rgba(0, 0, 0, 0.7)'
                    });
                    detailDecree(val.id).then(response => {
                        this.currentDecree = {...val, ...response.data};
                        loading.close();
                    }, error => {
                        this.$swal({
                            title: 'Внимание! Ошибка!',
                            type: 'error',
                            html: `<b>${error.response.data.message}</b>`,
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ок',
                        });
                        loading.close();
                    });
                }
            },
            handleUploadFile(id) {
                const loading = this.$loading({
                    lock: true,
                    text: 'Файл грузится, лавеха мутится',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                let inputField = this.$refs[id];
                let file = inputField['files'][0];
                let allowTypes = ['application/pdf', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/msword'];
                console.dir(file);
                let input = {id, file};
                uploadFile(input).then(response => {
                    this.$notify({
                        title: 'Успешно',
                        message: response.data.message,
                        type: 'success'
                    });
                    loading.close();
                    this.$refs[id].type = 'text';
                    this.$refs[id].type = 'file';
                    this.getList();
                }, error => {
                    this.$swal({
                        title: 'Внимание! Ошибка!',
                        type: 'error',
                        html: `<b>${error.response.data.message}</b>`,
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ок',
                    });
                    loading.close();
                })


            },
            handleOpenUploadWindow(id) {
                this.$refs[id].click();
            }
        }
    }
</script>

<style scoped>

</style>