<template>
    <div class="app-container">
        <el-row :gutter="10">
            <el-col :span="18">
                <report-table :reportData="reportData" :message="message"></report-table>
            </el-col>
            <el-col :span="6">
                <report-form></report-form>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import ReportForm from "./components/report-form";
    import ReportTable from "./components/report-table";

    export default {
        name: "report-page",
        components: {ReportTable, ReportForm},
        data() {
            return {
                columns: {},
                reportData: {
                    entrants: [],
                    columns: {}
                },
                message: {
                    title: 'Параметры отчета не заданы',
                    text: 'Выберите необходимые параметры отчёта с помощью формы в правой части и нажмите кнопку «Сформировать отчёт»'
                }
            }
        },
        mounted() {
            this.$bus.on('update-entrants-report-table', data => {
                this.reportData = data;
            });
        }
    }
</script>

<style scoped>

</style>
