<template>
    <v-dialog persistent max-width="900px">
        <v-card>
            <v-card-title>
                <span class="headline">Добавить программу</span>
            </v-card-title>
            <v-card-text>
                <el-form ref="AddRecruitmentProgram" :model="model" :rules="rules" label-position="top">
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-alert v-if="errors.length>0"
                                      title="Произошла ошибка"
                                      type="error"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <recruitment-program-form v-model="model" :is-edit="false"></recruitment-program-form>
                    </el-row>
                </el-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <el-button round @click="handleClose">
                    {{$t('form.cancel')}}
                </el-button>
                <el-button type="primary" round
                           @click="handleCreate">
                    {{$t('form.add')}}
                </el-button>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import RecruitmentProgramForm from "./components/RecruitmentProgramForm";
    import {store as storeRecruitmentProgram} from "../../../api/contingent/entrants/recruitmentPrograms";

    export default {
        name: "AddRecruitmentProgramModal",
        components: {RecruitmentProgramForm},
        data() {
            return {
                errors: [],
                model: {
                    recruitment_program_id: null,
                    is_priority: false,
                    sum_of_grades_of_specialized_disciplines: 0
                },
                rules: {
                    recruitment_program_id: [
                        {required: true, message: 'Не выбрана программа', trigger: 'change'}
                    ]
                }
            }
        },
        computed: {
            _programs() {
                return this.$store.getters.recruitmentProgramsList;
            }
        },
        methods: {
            handleClose() {
                this.$modal.hide('AddRecruitmentProgramModal');
            },
            handleCreate() {
                this.$refs.AddRecruitmentProgram.validate(valid => {
                    if (valid) {
                        const lockScreen = this.$lockScreen({text: 'Идёт добавление программы'});
                        const entrantId = this.$route.params.id;

                        storeRecruitmentProgram(entrantId, this.model)
                            .then(response => {
                                this.$notify({
                                    type: 'success',
                                    title: 'Успешно',
                                    message: 'Программа успешно добавлена'
                                });
                                const {id} = response.data;
                                const recruitment_program = this._programs.find(recruitment_program => recruitment_program.id === this.model.recruitment_program_id);
                                const data = {
                                    ...this.model,
                                    ...{id},
                                    ...{
                                        program_name: recruitment_program.program.name,
                                        duration: recruitment_program.program.duration
                                    },
                                };
                                this.$store.dispatch('ADD_RECRUITMENT_PROGRAM', data);
                                this.handleClose();
                            })
                            .catch(e => {

                            })
                            .finally(data => {
                                lockScreen.close();
                            })
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
