<template>
    <div class="app-container">
        <h2>Добавить абитуриента</h2>
        <div class="text-right">
            <el-button type="primary" v-if="hasFormDataInStorage" @click="recoverForm">
                <i class="fa fa-wrench"></i> Восстановить данные
            </el-button>
        </div>
        <div>
            <form-wizard @on-complete="_onComplete" title="" subtitle="" shape="tab" color="#20a0ff"
                         error-color="#ff4949" ref="entrant_wizard">
                <tab-content title="Персональная информация" icon="fa fa-user"
                             :before-change="_validatePersonal">
                    <el-form :model="model" :rules="rules.personal"
                             label-position="right"
                             name="EntrantPersonal"
                             ref="EntrantPersonal">
                        <user-personal-data v-model="model"></user-personal-data>
                        <el-form-item label="Программа" prop="recruitment_program_id">
                            <el-select v-model="model.recruitment_program_id" filterable placeholder="Программа"
                                       class="w100">
                                <el-option
                                        v-for="item in programs"
                                        :key="item.program.id"
                                        :label="item.program.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-row :gutter="10">
                            <el-col :span="12">
                                <el-form-item prop="start_date" label="Дата подачи документов">
                                    <el-date-picker
                                            v-mask="'##.##.####'"
                                            :picker-options="pickerOptions"
                                            value-format="yyyy-MM-dd"
                                            format="dd.MM.yyyy"
                                            type="date"
                                            :placeholder="$t('label.start_date')"
                                            v-model="model.start_date"
                                            class="w100"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item :label="$t('label.phone')"
                                              prop="phone">
                                    <el-input
                                            :placeholder="$t('label.phone')"
                                            v-model="model.phone">
                                    </el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                </tab-content>
                <tab-content title="Данные паспорта" icon="fa fa-address-card" :before-change="validatePassport">
                    <el-form :model="model.passport" :rules="rules.passport"
                             label-position="right"
                             name="EntrantPassport"
                             ref="EntrantPassport">
                        <user-passport-form v-model="model.passport"></user-passport-form>
                    </el-form>
                </tab-content>
                <tab-content title="Адреса" icon="fa fa-map-marker">
                    <user-addresses v-model="model.addresses"></user-addresses>
                </tab-content>
                <tab-content title="Образование" icon="fa fa-university" :before-change="validateEducation">
                    <el-form :model="model" :rules="rules.education"
                             label-position="right"
                             name="EntrantEducation"
                             ref="EntrantEducation">
                        <el-checkbox v-model="model.has_original" @change="setRequiredStatusInEducationForm">
                            Подан оригинал документа
                        </el-checkbox>
                        <user-education-form v-model="model"></user-education-form>
                    </el-form>
                </tab-content>
                <tab-content title="Родители" icon="fa fa-user" :before-change="validateParents">
                    <el-form :model="model.parents"
                             label-position="right"
                             name="EntrantParents"
                             ref="EntrantParents">
                        <user-parents-form v-model="model.parents"></user-parents-form>
                    </el-form>
                </tab-content>
                <tab-content title="Здоровье и льготы" icon="fa fa-plus-square">
                    <el-form :model="model" ref="EntrantHealth">
                        <user-health-form v-model="model"></user-health-form>
                    </el-form>
                </tab-content>
                <tab-content title="Дополнительная информация" icon="fa fa-list" :before-change="validateAdditional">
                    <el-form ref="additionalInformation" name="additionalInformation" :model="model" :rules="rules.additionalInformation">
                        <base-additional-information v-model="model"></base-additional-information>
                    </el-form>
                </tab-content>
                <el-button type="primary" slot="prev" round>Назад
                </el-button>
                <el-button type="primary" slot="next" round @click="putInStorage">Далее
                </el-button>
                <el-button type="primary" slot="finish" round>Добавить
                </el-button>
            </form-wizard>
        </div>
    </div>
</template>

<script>
    import UserPersonalData from "../../../components/ContingentForms/user-personal-data";
    import {getProgramsActiveCommittee} from "../../../api/selection-committies/recruitment-programs";
    import {checkUnique, store} from "../../../api/contingent/entrants";
    import {DateTime} from 'luxon';
    import UserPassportForm from "../../../components/ContingentForms/user-passport-form";
    import UserAddresses from "../../../components/User/user-addresses";
    import UserEducationForm from "../../../components/ContingentForms/user-education-form";
    import UserParentsForm from "../../../components/ContingentForms/user-parents-form";
    import UserHealthForm from "../../../components/ContingentForms/user-health-form";
    import BaseAdditionalInformation from "../../../components/ContingentForms/base-additional-information";

    export default {
        name: "create-entrant-page",
        components: {
            BaseAdditionalInformation,
            UserHealthForm,
            UserParentsForm, UserEducationForm, UserAddresses, UserPassportForm, UserPersonalData
        },
        data() {
            return {
                programs: [],
                selectedProgram: null,
                hasFormDataInStorage: false,
                pickerOptions: this.$pickerConfig(),
                defaultModel: {
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    gender: 0,
                    birthday: null,
                    recruitment_program_id: null,
                    inn: null,
                    snils: null,
                    phone: null,
                    email: null,
                    need_hostel: false,
                    contract_target_set: false,
                    status: 'enrollee',
                    start_date: DateTime.local().toISODate(),
                    passport: {
                        nationality: 'russia',
                        documentType: 21,
                        series: null,
                        number: null,
                        issuanceDate: DateTime.local().toISODate(),
                        subdivisionCode: null,
                        issued: null,
                        birthPlace: null,
                    },
                    addresses: {
                        isAddressSimilar: false, //Адрес регистрации совпадает с адресом проживания
                        isAddressPlaceOfStay: false, //Адрес регистрации совпадает с адресом регистрации по месту пребывания
                        registration: {//Адрес регистрации
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                        residential: {//Адрес проживания
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                        place_of_stay: {//Адрес регистрации по месту пребывания
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                    },
                    education_id: 2,
                    has_original: false,
                    graduation_organization_name: null,
                    graduation_organization_place: null,
                    graduation_date: DateTime.fromObject({month: 6, day: 30}).toISODate(),
                    avg: null,
                    ratings_map: {
                        threes: 0,
                        fours: 0,
                        fives: 0,
                    },

                    parents: [],
                    how_find_out:null,
                    invited_student_id:null,
                    preferential_categories: [],
                    disability: null,
                    health_category: null,
                    person_with_disabilities: false,
                    has_certificate: false,
                    medical_policy_number: null
                },
                model: {
                    lastname: null,
                    firstname: null,
                    middlename: null,
                    gender: 0,
                    birthday: null,
                    recruitment_program_id: null,
                    inn: null,
                    snils: null,
                    phone: null,
                    email: null,
                    need_hostel: false,
                    contract_target_set: false,
                    status: 'enrollee',
                    start_date: DateTime.local().toISODate(),
                    passport: {
                        nationality: 'russia',
                        documentType: 21,
                        series: null,
                        number: null,
                        issuanceDate: DateTime.local().toISODate(),
                        subdivisionCode: null,
                        issued: null,
                        birthPlace: null,
                    },
                    addresses: {
                        isAddressSimilar: false, //Адрес регистрации совпадает с адресом проживания
                        isAddressPlaceOfStay: false, //Адрес регистрации совпадает с адресом регистрации по месту пребывания
                        registration: {//Адрес регистрации
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                        residential: {//Адрес проживания
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                        place_of_stay: {//Адрес регистрации по месту пребывания
                            area: null,
                            city: null,
                            index: null,
                            region: null,
                            street: null,
                            housing: null,
                            settlement: null,
                            house_number: null,
                            apartment_number: null
                        },
                    },
                    education_id: 2,
                    has_original: false,
                    graduation_organization_name: null,
                    graduation_organization_place: null,
                    graduation_date: DateTime.fromObject({month: 6, day: 30}).toISODate(),
                    avg: null,
                    ratings_map: {
                        threes: 0,
                        fours: 0,
                        fives: 0,
                    },
                    parents: [],
                    how_find_out:null,
                    invited_student_id:null,
                    preferential_categories: [],
                    disability: null,
                    health_category: null,
                    person_with_disabilities: false,
                    has_certificate: false,
                    medical_policy_number: null

                },
                rules: {
                    personal: {
                        lastname: [
                            {required: true, message: 'Заполните фамилию', trigger: 'blur'}
                        ],
                        firstname:
                            [
                                {required: true, message: 'Заполните имя', trigger: 'blur'}
                            ],
                        birthday:
                            [
                                {required: true, message: 'Укажите дату рождения', trigger: 'blur'}
                            ],
                        recruitment_program_id:
                            [
                                {required: true, message: 'Выберите программу', trigger: 'change'}
                            ],
                        start_date: [
                            {required: true, message: 'Не указана дата подачи документов', trigger: 'change'}
                        ],
                        phone: [
                            {required: true, message: 'Не указан номер телефона', trigger: 'change'}
                        ]
                    },
                    passport: {
                        documentType: [
                            {required: true, message: 'Не выбран тип документа', trigger: 'change'}
                        ],
                        number:
                            [
                                {required: true, message: 'Не заполнен номер документа', trigger: 'blur'},
                            ],
                        issuanceDate:
                            [
                                {required: true, message: 'Не указана дата выдачи документа', trigger: 'change'}
                            ],
                        subdivisionCode:
                            [
                                {required: true, message: 'Не указан Код подразделения', trigger: 'change'}
                            ],
                        issued:
                            [
                                {required: true, message: 'Не указан орган выдавший документ', trigger: 'blur'}
                            ],
                        birthPlace:
                            [
                                {required: true, message: 'Не указано место рождения', trigger: 'change'}
                            ]
                    },
                    education: {
                        education_id: [
                            {required: true, message: 'Не выбран уровень образования', trigger: 'change'}
                        ],
                        graduation_organization_name:
                            [
                                {
                                    required: true,
                                    message: 'Не заполнена предыдущая образовательная организация',
                                    trigger: 'blur'
                                }
                            ],
                        graduation_organization_place:
                            [
                                {
                                    required: true,
                                    message: 'Не указано местоположение предыдущей образовательной организации',
                                    trigger: 'blur'
                                }
                            ]
                    },
                    additionalInformation: {
                        slins: [
                            {min: 11, message: 'СНИЛС должен быть 11 символов', trigger: 'blur'}
                        ],
                        email: [
                            {type: 'email', message: 'Некорректный email', trigger: 'blur'}
                        ]
                    }
                }
            }
        },
        created() {
            this.setRequiredStatusInEducationForm();
        },
        mounted() {
            this._getPrograms();
            this.hasFormDataInStorage = !!localStorage.getItem("createEntrantForm");
        },
        methods: {
            _getPrograms() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Получаю список программ для приема, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                getProgramsActiveCommittee().then(response => {
                    this.programs = response.data.programs;
                    loading.close();
                }, error => {
                    loading.close();
                    this._showErrorAlert('Нет активных приемных комиссий. Пожалуйста, активируйте приемную комиссию для добавления абитуринетов', () => {
                        this.$router.push({name: 'entrants.list'})
                    })
                })
            },
            _onComplete() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Добавляю абитуриента, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });

                store(this.model).then(response => {
                    loading.close();
                    this.$confirm('Абитуриент был успешно добавлен', 'Успешно', {
                        confirmButtonText: 'Добавить еще',
                        cancelButtonText: 'Вернуться к списку',
                        type: 'success'
                    }).then(() => {
                        this.$refs.entrant_wizard.reset();
                        this.model = {...{}, ...this.defaultModel};
                        this.$refs.EntrantPersonal.resetFields();
                        this.$refs.EntrantPassport.resetFields();
                        this.$refs.EntrantEducation.resetFields();
                        this.$refs.EntrantParents.resetFields();
                        localStorage.removeItem('createEntrantForm');
                        this.hasFormDataInStorage = false;
                    }).catch(() => {
                        this.$router.push({name: 'entrants.list'})
                    });
                }, error => {
                    loading.close()
                })
            },
            _validatePersonal() {
                this.serverErrors = [];
                return new Promise((resolve, reject) => {
                    this.$refs.EntrantPersonal.validate((valid) => {
                        if (valid) {
                            let data = {
                                lastname: this.model.lastname,
                                middlename: this.model.middlename,
                                firstname: this.model.firstname,
                                birthday: this.model.birthday,
                            };
                            const loading = this.$loading({
                                lock: true,
                                text: 'Проверяю налииче человека в базе, пожалуйста, подождите',
                                spinner: 'el-icon-loading',
                                background: 'rgba(240, 240, 240, 0.8)'
                            });
                            checkUnique(data).then(response => {
                                resolve(valid);
                                loading.close();
                            }, error => {
                                loading.close();
                                reject(valid);
                                this._showErrorAlert(error.response.data.message)
                            });
                        } else {
                            reject(valid);
                        }
                    });
                });
            },
            validatePassport() {
                return new Promise((resolve, reject) => {
                    this.$refs.EntrantPassport.validate((valid) => {
                        console.dir(valid);
                        if (valid) {
                            resolve(valid);
                        } else {
                            reject(valid);
                        }
                    });
                });
            },
            validateEducation() {
                return new Promise((resolve, reject) => {
                    this.$refs.EntrantEducation.validate((valid) => {
                        if (valid) {
                            resolve(valid);
                        } else {
                            reject(valid);
                        }
                    });
                });
            },
            validateParents() {
                return new Promise((resolve, reject) => {
                    this.$refs.EntrantParents.validate((valid) => {
                        if (valid) {
                            resolve(valid);
                        } else {
                            reject(valid);
                        }
                    });
                });
            },
            validateAdditional() {
                return new Promise((resolve, reject) => {
                    this.$refs.additionalInformation.validate((valid) => {
                        if (valid) {
                            resolve(valid);
                        } else {
                            reject(valid);
                        }
                    });
                });
            },
            setRequiredStatusInEducationForm() {
                let data = {
                    education_id: [
                        {
                            required: this.model.has_original,
                            message: 'Не выбран уровень образования',
                            trigger: 'change'
                        }
                    ],
                    graduation_organization_name: [
                        {
                            required: this.model.has_original,
                            message: 'Не выбран уровень образования',
                            trigger: 'blur'
                        }
                    ],
                    graduation_organization_place: [
                        {
                            required: this.model.has_original,
                            message: 'Не указано местоположение предыдущей образовательной организации',
                            trigger: 'blur'
                        }
                    ]
                }

                this.$set(this.rules, 'education', data);
            },
            _showErrorAlert(message, callback = null) {
                this.$alert(message, 'Внимание, ошибка', {
                    confirmButtonText: 'OK',
                    callback
                });
            },
            putInStorage() {
                if (this.model.lastname) {
                    localStorage.setItem("createEntrantForm", JSON.stringify(this.model));
                }
            },
            recoverForm() {
                this.model = JSON.parse(localStorage.getItem("createEntrantForm"));
                this.setRequiredStatusInEducationForm();
            }
        }
    }
</script>

<style scoped>

</style>