<template>
    <v-dialog persistent max-width="900px">
        <v-card>
            <v-card-title>
                <span class="headline">Редактировать программу</span>
            </v-card-title>
            <v-card-text>
                <el-form ref="EditRecruitmentProgram" :model="model" :rules="rules" label-position="top">
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-alert v-if="errors.length>0"
                                      title="Произошла ошибка"
                                      type="error"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in errors" :key="key">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <recruitment-program-form v-model="model" :is-edit="true"></recruitment-program-form>
                    </el-row>
                </el-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <el-button round @click="handleClose">
                    {{$t('form.cancel')}}
                </el-button>
                <el-button type="primary" round
                           @click="handleUpdate">
                    {{$t('form.update')}}
                </el-button>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import RecruitmentProgramForm from "./components/RecruitmentProgramForm";
    import {update as updateRecruitmentProgram} from "../../../api/contingent/entrants/recruitmentPrograms";

    export default {
        name: "EditRecruitmentProgramModal",
        props: {
            recruitment_program: {
                type: Object
            }
        },
        components: {RecruitmentProgramForm},
        data() {
            return {
                errors: [],
                model: {},
                rules: {
                    recruitment_program_id: [
                        {required: true, message: 'Не выбрана программа', trigger: 'change'}
                    ]
                }
            }
        },
        mounted() {
            this.model = {...{}, ...this.recruitment_program};
            this.model.recruitment_program = this.recruitment_program.recruitment_program_id;
        },
        methods: {
            handleClose() {
                this.$modal.hide('EditRecruitmentProgramModal');
            },
            handleUpdate() {
                this.$refs.EditRecruitmentProgram.validate(valid => {
                    this.errors = [];
                    if (valid) {
                        const lockScreen = this.$lockScreen({text: 'Обновляю программу'});
                        const params = {
                            entrant_id: this.$route.params.id,
                            recruitment_program: this.model.id
                        }
                        updateRecruitmentProgram(params, this.model)
                            .then(response => {
                                this.$notify({
                                    type: 'success',
                                    title: 'Успешно',
                                    message: 'Программа успешно обновлена'
                                });

                                this.$store.dispatch('UPDATE_RECRUITMENT_PROGRAM', this.model);

                                this.handleClose();
                            }).catch(e => {
                            this.errors.push(e.error.message);
                        }).finally(e => {
                            lockScreen.close();
                        })
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
