<template>
    <div style="margin-bottom: 10px">
        <div style="margin-bottom: 10px">
            <el-row :gutter='10'>
                <el-col :span="12" class="text-left">
                    <el-dropdown split-button type="primary" @command="handleCommand">
                        Действия
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item v-if="checkPermission(['enrollees.actions'])"
                                              command="enrollmentEntrants" :disabled="_hasSelected">
                                Зачислить
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['enrollees.actions'])" command="deleteEntrants"
                                              :disabled="_hasSelected">
                                Удалить
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['enrollees.actions'])"
                                              command="refreshEntrantsCount" divided>
                                Пересчет количества абитуриентов
                            </el-dropdown-item>
                            <el-dropdown-item v-if="checkPermission(['enrollees.actions'])" command="reportOfManning">
                                Отчет комплектования
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>
                <el-col :span="12" class="text-right">
                    <router-link :to="{name:'entrants.create'}">
                        <el-button type="primary">
                            <i class="fa fa-plus"></i> Добавить абитуриента
                        </el-button>
                    </router-link>
                </el-col>
            </el-row>
        </div>
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="21">
                    <el-row :gutter="10">
                        <el-col :span="3">
                            <el-input v-model="filter.id" placeholder="ID" clearable></el-input>
                        </el-col>
                        <el-col :span="7">
                            <el-input v-model="filter.lastname" placeholder="Фамилия" clearable></el-input>
                        </el-col>
                        <el-col :span="9">
                            <el-select v-model="filter.profession_program_id" placeholder="Программа" filterable
                                       clearable class="w100">
                                <el-option
                                        v-for="program in recruitmentPrograms"
                                        :key="program.id"
                                        :label="`${program.program.name} (${program.program.duration})`"
                                        :value="program.id">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="5">
                            <el-select v-model="filter.document_status" placeholder="Документ об образовании" filterable
                                       clearable class="w100">
                                <el-option
                                        v-for="item in documentStatuses"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                    <el-row :gutter="10" class="additional-filter" v-bind:class="{'open':openAdditionalPanels}"
                            style="margin-top: 10px">
                        <el-col :span="6">
                            <el-select v-model="filter.sortByStartDate" placeholder="Сортировка по дате подачи" filterable
                                       clearable class="w100" allow-create>
                                <el-option
                                        v-for="item in sortByStartDateItems"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="4">
                            <el-checkbox v-model="filter.only_contract">Только целевики</el-checkbox>
                        </el-col>
                        <el-col :span="4">
                            <el-checkbox v-model="filter.no_snils">Нет СНИЛС</el-checkbox>
                        </el-col>
                        <el-col :span="4">
                            <el-checkbox v-model="filter.no_inn">Нет ИНН</el-checkbox>
                        </el-col>
                        <el-col :span="6">
                            <el-checkbox v-model="filter.need_hostel">Нуждается в общежитии</el-checkbox>
                        </el-col>
                    </el-row>
                </el-col>
                <el-col :span="3" class="text-right">
                    <el-button type="primary" @click="handleFilter">
                        <i class="fa fa-search"></i> Применить
                    </el-button>
                </el-col>
                <el-col :span="24" class="showFilterButton">
                    <span @click="showFilters" class="showButton" v-if="!openAdditionalPanels">
                       <i class="fa fa-caret-down" aria-hidden="true"></i> Еще фильтры
                    </span>
                    <span @click="hideFilters" class="showButton" v-if="openAdditionalPanels">
                       <i class="fa fa-caret-up" aria-hidden="true"></i> Скрыть фильтры
                    </span>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
    import {getProgramsActiveCommittee} from "../../../api/selection-committies/recruitment-programs";
    import ManningReportModal from './components/ManningReportModal';
    import DeleteEntrantsModal from './components/DeleteEntrantsModal';
    import EnrollmentEntrantModal from './components/enrollment-entrant-modal'
    import {refreshEntrantsCount} from "../../../api/contingent/entrants";

    export default {
        name: "entrant-filter-panel",
        props: {
            selected: {}
        },
        data() {
            return {
                openAdditionalPanels: false,
                documentStatuses: [
                    {id: 'onlyHasNotOriginal', name: 'Только без оригиналов'},
                    {id: 'onlyHasOriginal', name: 'Только с оригиналами'},
                ],
                sortByStartDateItems: [
                    {id: 'asc', name: 'По возрастанию'},
                    {id: 'desc', name: 'По убыванию'},
                    {id: 'today', name: 'Подали документы сегодня'}
                ],
                recruitmentPrograms: [],
                additionalParams: {
                    only_contract: false,
                    no_inn: false,
                    no_snils: false,
                    need_hostel: false,
                    sortByStartDate: null
                },
                filter: {
                    id: null,
                    lastname: null,
                    profession_program_id: null,
                    document_status: null,
                    only_contract: false,
                    no_inn: false,
                    no_snils: false,
                    need_hostel: false,
                    sortByStartDate: null
                }
            }
        },
        computed: {
            _selectedEntrants() {
                return this.$store.getters.selectedEntrants;
            },
            _hasSelected() {
                return !(this._selectedEntrants.length > 0);
            }
        },
        mounted() {
            this.getRecruitmentPrograms()
        },
        methods: {
            getRecruitmentPrograms() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Получаю список программ для приема, пожалуйста, подождите',
                    spinner: 'el-icon-loading',
                    background: 'rgba(240, 240, 240, 0.8)'
                });
                getProgramsActiveCommittee().then(response => {
                    this.recruitmentPrograms = response.data.programs;
                    loading.close();
                }, error => {
                    loading.close();
                    this._showErrorAlert('Нет активных приемных комиссий. Пожалуйста, активируйте приемную комиссию для добавления абитуринетов')
                })
            },
            handleCommand(command) {
                switch (command) {
                    case 'reportOfManning':
                        this.handleReportOfManning();
                        break;
                    case 'deleteEntrants':
                        this.handleDeleteEntrants();
                        break;
                    case 'refreshEntrantsCount':
                        this.handleRefreshEntrantsCount();
                        break;
                    case 'enrollmentEntrants':
                        this.handleEnrollmentEntrants();
                        break;
                }
            },
            handleRefreshEntrantsCount() {
                const loading = this.$lockScreen({text: 'Идет пересчет абитуриентов'});

                refreshEntrantsCount()
                    .then(response => response.data)
                    .then(data => {
                        loading.close();

                        this.$notify({
                            type: 'success',
                            title: 'Успешно',
                            message: `Абитуриенты успешно пересчитаны. Текущее количество ${data.count_entrants}`
                        });
                    }).catch(error => {
                    loading.close();
                    this.$notify({
                        type: 'error',
                        title: 'Ошибка',
                        message: error.error.message
                    });
                })
            },
            handleReportOfManning() {
                this.$modal.show(ManningReportModal,
                    {},
                    {
                        name: 'ManningReportModal',
                        width: 0,
                        height: 0,
                        'z-index': 0
                    })
            },
            handleDeleteEntrants() {
                this.$modal.show(DeleteEntrantsModal,
                    {},
                    {
                        name: 'DeleteEntrantsModal',
                        width: 0,
                        height: 0,
                        'z-index': 1500
                    });
            },
            handleEnrollmentEntrants() {
                this.$modal.show(EnrollmentEntrantModal,
                    {},
                    {
                        name: 'EnrollmentEntrantModal',
                        width: 0,
                        height: 0,
                        'z-index': 1500
                    }
                )
            },
            handleFilter() {
                this.$bus.emit('filter-entrants-list', this.filter);
            },
            showFilters() {
                this.openAdditionalPanels = true;
            },
            hideFilters() {
                this.openAdditionalPanels = false;
                this.filter = {...this.filter, ...this.additionalParams}
            }
        }
    }
</script>

<style scoped lang="scss">
    .additional-filter {
        opacity: 0;
        display: none;
        transition: 1s;

        &.open {
            opacity: 1;
            display: block;
            transition: 1s;
        }
    }

    .showFilterButton {
        text-align: center;
        cursor: pointer;
        padding: 10px 0;
        color: #0d95e8;
        font-size: 15px;
        font-weight: bold;

        .showButton {
            margin: 0 auto;
            display: block;
        }
    }
</style>
