<template>
    <div class="app-container">
        <entrant-filter-panel :selected="selectedEntrants"></entrant-filter-panel>
        <entrants-list></entrants-list>
    </div>
</template>

<script>
    import EntrantFilterPanel from "./entrant-filter-panel";
    import EntrantsList from "./entrants-list";

    export default {
        name: "entrants-page",
        components: {EntrantsList, EntrantFilterPanel},
        data() {
            return {
                selectedEntrants: []
            }
        },
        mounted() {
            this.$bus.on('update-entrants-actions-list', data => {
                this.selectedEntrants = data;

            })
        }
    }
</script>

<style scoped>

</style>