<template>
    <div>
        <v-dialog persistent max-width="700px">
            <v-card>
                <v-card-title>
                    <span class="headline">Добавление учебной группы</span>
                </v-card-title>
                <v-card-text>
                    <el-row :gutter="10">
                        <el-col :span="24">
                            <el-alert v-if="_hasErrors"
                                      title="Произошла ошибка"
                                      type="error"
                                      show-icon>
                                <ul>
                                    <li v-for="(error,key) in errors" :key="Math.random()">{{error}}</li>
                                </ul>
                            </el-alert>
                        </el-col>
                        <el-form :model="_trainingGroupState" :rules="rules" ref="CreateTrainingGroupForm"
                                 label-position="top">
                            <training-group-form></training-group-form>
                        </el-form>
                    </el-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <el-button round @click="handleClose">
                        {{$t('form.cancel')}}
                    </el-button>
                    <el-button type="primary" round
                               @click="handleCreate">
                        {{$t('form.add')}}
                    </el-button>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import TrainingGroupForm from "./training-group-form";
    import {store} from "../../../../api/contingent/training_groups";

    export default {
        name: "CreateTrainingGroupModal",
        components: {TrainingGroupForm},
        data() {
            return {
                errors: [],
                rules: {
                    profession_program_id: [
                        {required: true, message: 'Не выбрана профессиональная программа', trigger: 'change'}
                    ],
                    education_plan_id: [
                        {required: true, message: 'Не выбран учебный план', trigger: 'change'}
                    ],
                    unique_code: [
                        {required: true, message: 'Не заполнен уникальный код', trigger: 'blur'}
                    ],
                    pattern: [
                        {required: true, message: 'Не заполнен шаблон наименования', trigger: 'blur'}
                    ],
                    calendar_id: [
                        {required: true, message: 'Не выбран календарь', trigger: 'change'}
                    ],
                    employee_id: [
                        {required: true, message: 'Не выбран куратор', trigger: 'change'}
                    ]
                }
            }
        },
        computed: {
            _hasErrors() {
                return this.errors.length > 0;
            },
            _trainingGroupState() {
                return this.$store.getters.trainingGroupFormState;
            }
        },
        mounted() {
            this.$store.dispatch('SET_CURRENT_TRAINING_GROUP_FORM_STATE', null);
        },
        methods: {
            handleClose() {
                this.$modal.hide('CreateTrainingGroupModal');
            },
            handleCreate() {
                this.$refs['CreateTrainingGroupForm'].validate(valid => {
                    if (valid) {
                        const loading = this.$lockScreen({text: 'Создаю учебную группу'});
                        let groupData = this._trainingGroupState;
                        this.errors = [];
                        store(groupData)
                            .then(response => response.data)
                            .then(data => {
                                loading.close();
                                this.$notify({
                                    type: 'success',
                                    title: 'Успешно',
                                    message: data.message
                                });
                                this.handleClose();
                                this.$bus.emit('update-training-groups-list');
                            }).catch(e => {
                            this.errors = e;
                            loading.close();
                        });
                    } else {
                        return false;
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
