<template>
    <div class="training-group-contingent">
        
    </div>
</template>

<script>
    export default {
        name: "training-group-contingent"
    }
</script>

<style scoped>

</style>