<template>
    <div>
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="24" class="text-right">
                    <el-button type="primary" @click="handleCreateGroup">
                        <i class="fa fa-plus"></i> Добавить группу
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <div class="filter-container">
            <el-row :gutter="10">
                <el-col :span="21">

                </el-col>
                <el-col :span="3">
                    <el-button type="primary">
                        <i class="fa fa-search"></i> Применить
                    </el-button>
                </el-col>
            </el-row>
        </div>
    </div>
</template>

<script>
    import CreateTrainingGroupModal from './CreateTrainingGroupModal'
    import {getProfessionPrograms} from "../../../../api/services";

    export default {
        name: "training-groups-filter",
        props: {
            groups: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                groupsOnRelease: [],
                groupsForTransfer: [],
            }
        },
        computed: {},
        mounted() {
            this.getProfessionPrograms();
            this.$store.dispatch('SET_EDUCATION_PLANS_TO_SELECT');
            this.$store.dispatch('SET_EMPLOYEES_TO_SELECT');
        },
        methods: {
            getProfessionPrograms() {
                getProfessionPrograms()
                    .then(response => response.data)
                    .then(data => {
                        this.$store.dispatch('SET_PROGRAMS_TO_SELECT', data)
                    }, error => {

                    });
            },
            handleCreateGroup() {
                this.$modal.show(CreateTrainingGroupModal, {},
                    {
                        name: 'CreateTrainingGroupModal',
                        width: 0,
                        height: 0,
                        'z-index': 900
                    })
            }
        }
    }
</script>

<style scoped>

</style>
