<template>
    <div>
        <div class="" style="margin-bottom: 10px">
            <el-button type="primary" @click="handleCreate()" round>
                <i class="fa fa-plus"></i> Добавить курс
            </el-button>
        </div>
        <el-table
                :data="sortCourses"
                style="width: 100%"
                border
                stripe>
            <el-table-column prop="id" label="ID" width="70px"></el-table-column>
            <el-table-column prop="title" label="Наименование" align="center"></el-table-column>
            <el-table-column label="Период прохождения" align="center">
                <template slot-scope="scope">
                    <span>{{ scope.row.start_date|dateFormat}}</span>
                    <span v-if="scope.row.end_date"> - </span>
                    <span v-if="scope.row.end_date">{{ scope.row.end_date|dateFormat}}</span>
                </template>
            </el-table-column>
            <el-table-column label="Количество часов" align="center" width="110px">
                <template slot-scope="scope">
                    <span>{{ scope.row.hours|pluralize(['час','часа','часов'])}}</span>
                </template>
            </el-table-column>

            <el-table-column label="Действия" width="100px">
                <template slot-scope="scope">
                    <div>
                        <el-button type="danger" icon="el-icon-delete" @click="handleDelete(scope.row,scope.$index)"
                                   circle></el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>

    import AddCourse from './add-course';
    import {deleteCourse} from "@/api/contingent/employee";
    import {buttons} from "@/constants";
    import {Message} from 'element-ui';

    export default {
        name: "qualification-courses",
        props: ['employee'],
        data() {
            return {
                courses: []
            }
        },
        computed: {
            sortCourses() {
                let courses = this.$store.getters.currentEmployeeCourses;
                return _.sortBy(courses, 'start_date').reverse();
            }
        },
        mounted() {
            this.$bus.on('update-course-list', data => {
                let index = (this.courses.length)++;
                this.$set(this.courses, index, data.course);
            });
        },
        methods: {
            handleCreate() {
                this.$modal.show(AddCourse, {
                        employee_id: this.employee.id
                    },
                    {
                        name: 'AddCourseModal',
                        height: 0,
                        width: 0,
                        'z-index': 100
                    })
            },
            handleDelete(row, index) {
                this.$swal({
                    title: 'Подтвердите удаление',
                    type: 'question',
                    html: `<b>Вы действительно хотите курсы с id ${row.id}?</b>`,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: buttons.delete,
                    cancelButtonText: buttons.cancel,
                }).then(result => {
                    if (result.value) {
                        deleteCourse(row.id).then(response => {
                            if (response.data.success) {
                                this.$delete(this.courses, index);
                                Message({
                                    message: response.data.message,
                                    type: 'success',
                                    duration: 5 * 1000
                                });
                            } else {
                                this.$swal({
                                    title: 'Удаление невозможно',
                                    type: 'warning',
                                    html: `<b>${response.data.message}</b>`,
                                });
                            }
                        })
                    }
                }).catch(error => {
                    console.dir(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>
