<template>
    <div class="user-health-form">
        <el-row :gutter="10">
            <el-col :span="24">
                <el-checkbox v-model="value.person_with_disabilities">Является лицом с ОВЗ</el-checkbox>
            </el-col>
            <el-col :span="24">
                <el-checkbox v-model="value.has_certificate">Справка 086-у</el-checkbox>
            </el-col>
            <el-col :span="24">
                <el-form-item :label="$t('label.privilegedCategory')" prop="preferential_categories">
                    <el-select v-model="value.preferential_categories" multiple
                               :placeholder="$t('label.privilegedCategory')"
                               class="w100" clearable>
                        <el-option
                                v-for="(category,key) in privilegedCategories"
                                :label="category.name"
                                :key="category.id"
                                :value="category.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item :label="$t('label.health_category')" prop="health_category">
                    <el-select v-model="value.health_category"
                               :placeholder="$t('label.health_category')"
                               class="w100" clearable>
                        <el-option
                                v-for="(category,key) in healthCategories"
                                :label="category.name"
                                :key="category.key"
                                :value="category.key"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item :label="$t('label.disability')" prop="disability">
                    <el-select v-model="value.disability"
                               :placeholder="$t('label.disability')"
                               class="w100" clearable>
                        <el-option
                                v-for="(disability,key) in disabilities"
                                :label="disability.name"
                                :key="disability.id"
                                :value="disability.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item :label="$t('label.medical_policy_number')" prop="medical_policy_number">
                    <el-input v-model="value.medical_policy_number"
                              :placeholder="$t('label.medical_policy_number')"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {privilegedCategories, healthCategories, disabilities} from "../../constants";

    export default {
        name: "user-health-form",
        props: ['value'],
        data() {
            return {
                privilegedCategories,
                healthCategories,
                disabilities
            }
        }
    }
</script>

<style scoped>
</style>