<template>
    <el-row :gutter="10">
        <el-col :span="24">
            <el-form-item :label="$t('label.lastname')"
                          prop="lastname" class="w100">
                <el-input :value="value.lastname"
                          :placeholder="$t('label.lastname')"
                          v-model="value.lastname">
                </el-input>
            </el-form-item>
        </el-col>
        <el-col :span="24">
            <el-form-item :label="$t('label.firstname')"
                          prop="firstname" class="w100">
                <el-input class="w100"
                          :placeholder="$t('label.firstname')"
                          v-model="value.firstname" id="firstname">
                </el-input>
                <uiv-typeahead v-model="value.firstname"
                               target="#firstname"
                               :data="formdata.firstnames" class="full-width">
                    <template slot="item" slot-scope="props">
                        <li v-for="(item, index) in props.items"
                            :class="{active:props.activeIndex===index}"
                        >
                            <a role="button" @click="props.select(item)">
                                {{item}}
                            </a>
                        </li>
                    </template>
                </uiv-typeahead>
            </el-form-item>
        </el-col>
        <el-col :span="24">
            <el-form-item :label="$t('label.middlename')"
                          prop="middlename">
                <el-input class="w100" id="middlename"
                          :placeholder="$t('label.middlename')"
                          v-model="value.middlename">
                </el-input>
                <uiv-typeahead v-model="value.middlename"
                               target="#middlename"
                               :data="formdata.middlenames" class="full-width">
                    <template slot="item" slot-scope="props">
                        <li v-for="(item, index) in props.items"
                            :class="{active:props.activeIndex===index}"
                        >
                            <a role="button" @click="props.select(item)">
                                {{item}}
                            </a>
                        </li>
                    </template>
                </uiv-typeahead>
            </el-form-item>
        </el-col>
        <el-col :span="12">
            <el-form-item :label="$t('label.gender')" prop="gender">
                <el-select v-model="value.gender" :placeholder="$t('label.gender')"
                           class="w100">
                    <el-option
                            v-for="(gender,key) in genders"
                            :label="gender.name"
                            :key="gender.id"
                            :value="gender.id"></el-option>
                </el-select>
            </el-form-item>
        </el-col>
        <el-col :span="12">
            <el-form-item prop="birthday" :label="$t('label.birthday')">
                <el-date-picker
                        v-mask="'##.##.####'"
                        :picker-options="pickerOptions"
                        value-format="yyyy-MM-dd"
                        format="dd.MM.yyyy"
                        type="date"
                        :placeholder="$t('label.birthday')"
                        v-model="value.birthday"
                        class="w100"
                >
                </el-date-picker>
            </el-form-item>
        </el-col>
    </el-row>
</template>

<script>
    import {genders} from "../../constants";
    import {personalFormData} from "../../api/cache";

    export default {
        name: "user-personal-data",
        props: ['value'],
        data() {
            return {
                genders,
                formdata: [],
                pickerOptions: this.$pickerConfig({
                    disabledDate: function (date) {
                        return new Date() < date;
                    }
                }),
            }
        },
        mounted() {
            this.getFormData();
        },
        methods: {
            getFormData() {
                personalFormData().then(response => {
                    console.dir(response.data);
                    this.formdata = response.data;
                }, error => {

                });
            }
        }
    }
</script>

<style scoped>

</style>