<template>
    <div class="user-passport-data">
        <el-row :gutter="10" style="margin: 0">
            <el-col :span="24">
                <el-form-item :label="$t('label.nationality')" prop="nationality">
                    <el-select filterable v-model="value.nationality"
                               :placeholder="$t('label.nationality')"

                               class="w100">
                        <el-option
                                v-for="(country,key) in countries"
                                :label="country.name"
                                :key="country.key"
                                :value="country.key"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item :label="$t('label.documentType')" prop="documentType">
                    <el-select filterable v-model="value.documentType"
                               :placeholder="$t('label.documentType')"

                               class="w100">
                        <el-option
                                v-for="(type,key) in _sortDocumentsTypes"
                                :label="type.name"
                                :key="type.id"
                                :value="type.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('label.series')"
                              prop="series">
                    <el-input
                            :placeholder="$t('label.series')"
                            v-model="value.series">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('label.number')"
                              prop="number">
                    <el-input
                            :placeholder="$t('label.number')"
                            v-model="value.number">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item :label="$t('label.subdivisionCode')"
                              prop="subdivisionCode">
                    <el-input
                            :placeholder="$t('label.subdivisionCode')"
                            id="subdivision"
                            v-mask="'###-###'"
                            v-model="value.subdivisionCode">
                    </el-input>
                    <!--<input id="subdivision" class="form-control" type="text"-->
                    <!--:placeholder="$t('label.subdivisionCode')">-->
                    <uiv-typeahead v-model="value.subdivisionCode"
                                   target="#subdivision"
                                   :data="subdivisionCodes" item-key="code">
                        <template slot="item" slot-scope="props">
                            <li v-for="(item, index) in props.items"
                                :class="{active:props.activeIndex===index}"
                                @click="handleSelect(item)">
                                <a role="button" @click="props.select(item)">
                                    {{item.code}} {{item.issued}}
                                </a>
                            </li>
                        </template>
                    </uiv-typeahead>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item prop="issuanceDate" :label="$t('label.issuanceDate')">
                    <el-date-picker
                            v-mask="'##.##.####'"
                            value-format="yyyy-MM-dd"
                            format="dd.MM.yyyy"
                            type="date"
                            :placeholder="$t('label.issuanceDate')"
                            v-model="value.issuanceDate"
                            class="w100"
                            :picker-options="pickerOptions"
                    >
                    </el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item :label="$t('label.issued')"
                              prop="issued">
                    <el-input type="textarea"
                              :placeholder="$t('label.issued')"
                              v-model="value.issued">
                    </el-input>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item :label="$t('label.birthPlace')"
                              prop="birthPlace">
                    <el-input
                            style="width: 100%"
                            :placeholder="$t('label.birthPlace')"
                            v-model="value.birthPlace" id="birthPlace">
                    </el-input>
                    <uiv-typeahead v-model="value.birthPlace"
                                   target="#birthPlace"
                                   :data="birthPlaces" class="full-width">
                        <template slot="item" slot-scope="props">
                            <li v-for="(item, index) in props.items"
                                :class="{active:props.activeIndex===index}">
                                <a role="button" @click="props.select(item)">
                                    {{item}}
                                </a>
                            </li>
                        </template>
                    </uiv-typeahead>
                </el-form-item>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import {
        subdivision,
        birthPlaces,
    } from "@/api/cache";
    import {documentsTypes,countries} from "../../constants";

    export default {
        name: "user-passport-form",
        props: {
            value: {}
        },
        data() {
            return {
                documentsTypes,
                countries,
                subdivisionCodes: [],
                birthPlaces: [],
                pickerOptions: this.$pickerConfig()
            }
        },
        computed: {
            _sortDocumentsTypes() {
                return _.sortBy(documentsTypes, 'name')
            }
        },
        mounted() {
            subdivision().then(response => {
                this.subdivisionCodes = response.data;
            });

            birthPlaces().then(response => {
                this.birthPlaces = response.data.filter(item => {
                    return _.isString(item);
                });
                console.dir(response);
            });
        },
        methods: {
            handleSelect(item) {
                this.value.subdivisionCode = item.code;
                this.value.issued = item.issued;
            }
        }
    }
</script>

<style scoped>

</style>