<template>
    <div class="user-education-form">
        <el-row :gutter="10">
            <el-col :span="24">
                <el-form-item :label="$t('label.education_level')" prop="education_id">
                    <el-select v-model="value.education_id"
                               :placeholder="$t('label.education_level')"
                               class="w100">
                        <el-option
                                v-for="(education,key) in _sortEducations"
                                :label="education.name"
                                :key="education.id"
                                :value="education.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item :label="$t('label.organization_name')"
                              prop="graduation_organization_name">
                    <el-input
                            style="width: 100%"
                            id="graduation_organization_name"
                            :placeholder="$t('label.organization_name')"
                            v-model="value.graduation_organization_name"
                    >
                        <uiv-typeahead v-model="value.graduation_organization_name"
                                       target="#graduation_organization_name"
                                       :data="educationalOrganizations" class="full-width">
                            <template slot="item" slot-scope="props">
                                <li v-for="(item, index) in props.items"
                                    :class="{active:props.activeIndex===index}"
                                >
                                    <a role="button" @click="props.select(item)">
                                        {{item}}
                                    </a>
                                </li>
                            </template>
                        </uiv-typeahead>
                    </el-input>

                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item :label="$t('label.organization_place')"
                              prop="graduation_organization_place">
                    <el-input
                            style="width: 100%"
                            id="graduation_organization_place"
                            :placeholder="$t('label.organization_place')"
                            v-model="value.graduation_organization_place"
                    >
                    </el-input>
                    <uiv-typeahead v-model="value.graduation_organization_place"
                                   target="#graduation_organization_place"
                                   :data="locationsOfEducationalInstitutions" class="full-width">
                        <template slot="item" slot-scope="props">
                            <li v-for="(item, index) in props.items"
                                :class="{active:props.activeIndex===index}"
                            >
                                <a role="button" @click="props.select(item)">
                                    {{item}}
                                </a>
                            </li>
                        </template>
                    </uiv-typeahead>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item prop="avg" label="Ср.балл" class="no-float-label">
                    <el-col :span="20">
                        <el-input-number class="w100" v-model="value.avg" :step="0.0001"
                                         :max="5"></el-input-number>
                    </el-col>
                    <el-col :span="4">
                        <el-button type="primary" @click="handleCalculateAverageScoreModal">
                            <i class="fa fa-calculator"></i>
                        </el-button>
                    </el-col>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item prop="graduation_date" :label="$t('label.graduation_date')">
                    <el-date-picker
                            v-mask="'##.##.####'"
                            :picker-options="pickerOptions"
                            value-format="yyyy-MM-dd"
                            format="dd.MM.yyyy"
                            type="date"
                            :placeholder="$t('label.graduation_date')"
                            v-model="value.graduation_date"
                            class="w100"
                    >
                    </el-date-picker>
                </el-form-item>
            </el-col>
        </el-row>
    </div>
</template>

<script>

    import {educations} from "../../constants";
    import {
        educationalOrganization,
        locationsOfEducationalInstitutions
    } from "@/api/cache";

    import CalculateAverageScore from "../User/CalculateAverageScore";

    export default {
        name: "user-education-form",
        props: {
            value: {}
        },
        data() {
            return {
                educationalOrganizations: [],
                locationsOfEducationalInstitutions: [],
                pickerOptions: this.$pickerConfig()
            }
        },
        computed: {
            _sortEducations() {
                return _.sortBy(educations, 'name')
            }
        },
        mounted() {
            this.$bus.on('end-calculate-average-score', data => {
                this.value.avg = data.average;
                this.value.ratings_map = data.ratingMap;
            });
            educationalOrganization().then(response => {
                this.educationalOrganizations = response.data;
            }, error => {
                this.$notify.error({
                    title: 'Ошибка',
                    message: 'Произошла ошибка при загрузке списка организаций. Автозаполнение недоступно'
                });
            });
            locationsOfEducationalInstitutions().then(response => {
                this.locationsOfEducationalInstitutions = response.data;
            }, error => {
                this.$notify.error({
                    title: 'Ошибка',
                    message: 'Произошла ошибка при загрузке списка мест обр. организаций. Автозаполнение недоступно'
                });
            })
        },
        methods: {
            handleCalculateAverageScoreModal() {
                this.$modal.show(CalculateAverageScore, {
                    ratings: this.value.ratings_map
                }, {
                    name: 'CalculateAverageScoreModal',
                    height: 0,
                    width: 0,
                    'z-index': 100
                })
            }
        }
    }
</script>

<style scoped>

</style>